{% extends "base/page.html" %}

{% block section %}id="desk"{% endblock %}

{% block main %}

    <div class="ui page grid doubling two column">

        <div class="column">

            <h2 class="ui header inverted center aligned" id="desk_teach">
                Dein Lernen
            </h2>

            <div class="ui cards">

                {% for courseevent in study_courseevents %}

                    <div class="ui card fluid">

                        <div class="content">

                            <div class="header">{{ courseevent.title }} von {{ courseevent.course.teachers_display }}</div>

                            <div class="description">

                                {% if courseevent.start_date %}
                                    gestartet vor {{ courseevent.start_date | timesince }}
                                    <p>{{ courseevent.start_date }} - {{ courseevent.end_date }}</p>
                                {% endif %}

                                {{ courseevent.get_status_external_display }}

                            </div>

                        </div>

                        <a class="ui bottom attached button" href="{% url 'classroom:start' slug=courseevent.slug %}">
                            <i class="arrow right icon"></i>
                            Zum Klassenzimmer gehen
                        </a>

                    </div>

                {% endfor %}

            </div>

        </div>

        <div class="column">

            <!-- teach only -->
            {% if teach_courses %}

                <h2 class="ui header inverted center aligned">
                    Dein Unterricht
                </h2>

                <div class="ui cards">

                    {% for course in teach_courses %}

                        <div class="ui card fluid">

                            <div class="content">
                                <div class="header">{{ course.title }}</div>
                                Zur Unterrichtsvorbereitung gehen
                            </div>

                            <a class="ui bottom attached  button"
                               href="{% url 'coursebackend:course:detail' course_slug=course.slug %}">
                                <i class="wrench icon"></i>
                                Kursvorlage bearbeiten
                            </a>

                            <a class="ui bottom attached  button"
                               href="{% url 'coursebackend:lesson:start' course_slug=course.slug %}">
                                <i class="wrench icon"></i>
                                Unterricht vorbereiten
                            </a>

                        </div>

                    {% endfor %}

                </div>

            {% endif %}
            <!-- end teach only -->

            <!-- staff only -->
            {% if request.user.is_staff %}

                <h2 class="ui header center inverted aligned">
                    Verwaltung
                </h2>
                <div class="ui cards">
                    <div class="ui card fluid">
                        <div class="content">
                            <div class="header">Newsletter</div>
                        </div>
                        <a class="ui bottom attached  button" href="{% url 'newsletter:admin' %}">
                            <i class="wrench icon"></i>
                            Zur Newsletter-Verwaltung gehen
                        </a>
                    </div>
                </div>

            {% endif %}
            <!-- end staff only -->

        </div>

    </div>

{% endblock %}


