{% extends 'base_semantic/base_page.html' %}
{% block body %}
<body id="standard_public_page_body_1" >
{% endblock %}
{% block main %}
{% load i18n %}
    <div class="ui grid page stackable two column centered">
        <div class="column center aligned">
            <div class="segment ui" id="standard_public_segment">
                <h2 class="ui header large">In Bearbeitung ...</h2>
                <p>
                    {% trans "We've emailed you instructions for setting your password. You should be receiving them shortly." %}
                </p>
                <h4 class="ui header small">
                    ... bitte prüfen Sie Ihre Email
                </h4>
                <p>
                    {% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
