{% extends "base/public_page_nofollow.html" %}

{% block page_content %}

    <h2 class="ui header">Passwort zurücksetzen</h2>
    <p>Sie haben Ihr Passwort vergessen?
            Geben Sie bitte Ihre Email unten ein und wir schicken Ihnen
            Ihstruktionen für ein neues Passwort zu.
    </p>

    {% if form.errors %}
        {{ form.email.errors }}
    {% endif %}

    <form class="ui form fluid" method="post" action="">
        {% csrf_token %}
        <div class="required field">
            <label>Email Adresse:</label>
            <div class="ui input">
                {{ form.email }}
            </div>
        </div>
          <input class="ui button teal" type="submit" value="Mein Passwort zurücksetzen" />
    </form>

{% endblock %}
