{% extends "classroombackend/base.html" %}
{% block whereami %}
    {% include 'classroombackend/rules/_breadcrumb_rules.html' %}
{% endblock %}
{% block class_content %}
    <form id="rule_delete_form" method="post" action="">
        <h4>{{ rule.title }}</h4>

        <p class="pull-right">(Status: {{ rule.get_status_display }})</p>

        <p>{{ rule.text | safe }}</p>
        {% csrf_token %}
    <button type="submit" value="post" class="btn btn-default" >
        Wollen Sie diese Regeln löschen?
      </button>
    </form>
{% endblock %}