{% load mptt_tags %}

<div class="ui divided list">

    {% recursetree nodes %}

        <div class="item">

            {% block node_icon %}

                <i class="top aligned icon">
                   {{ node.lesson_nr }}
                </i>

            {% endblock %}

            <div class="content">

                <div class="header" href="{% url "coursebackend:lesson:step" course_slug=course.slug pk=node.pk %}">

                    <a href="{% url "coursebackend:lesson:step" course_slug=course.slug pk=node.pk %}">
                       {{ node.title }}
                    </a>
                    <a class="worklink"
                        href="{% url 'coursebackend:lesson:update' course_slug=course.slug pk=node.pk %}">
                        <i class="write blue icon"></i>
                    </a>
                    <a class="worklink"
                        href="{% url 'coursebackend:lesson:material' course_slug=course.slug pk=node.pk %}">
                        <i class="plus blue icon"></i>
                    </a>

                </div>

                <div>
                    {{ node.text | safe }}
                </div>

            </div>

        </div>

    {% endrecursetree %}

</div>
