<h1 class="ui header center aligned mentoki_nice_font">
    mentoki<sub>&reg;</sub> Lehr- und Lern-Plattform
</h1>
<div class="ui header center aligned large mentoki_nice_font">
    <div class="ui list">
        <div class="item mentoki_color">Wir verstehen uns als Lerngemeinschaft.</div>
        <div class="item mentoki_color">Wir begleiten Lernprojekte, statt zu belehren.</div>
        <div class="item mentoki_color">Wir engagieren uns in Themen, die gesellschaftlich relevant sind.</div>
        <div class="item mentoki_color">Wir sind für Sie da!</div>
        <div class="item mentoki_color">Wir glauben daran, dass Sie in jedem Alter noch lernen können!</div>
    </div>
</div>