<h1 class="ui header center aligned mentoki_nice_font" id="homepage_title">
    mentoki<sub>&reg;</sub> Lehr- und Lern-Plattform
</h1>
<div class="ui header center aligned  large" style="color:teal;
font-family: 'Montserrat', sans-serif;
padding-top:0px;
margin-top:0px;
font-size: 1.5em;
font-weight: 400;
line-height: 1.2em;
-webkit-font-smoothing: antialiased;
padding-bottom:30px;
">
    <div class="ui list">
        <div class="item">Wir verstehen uns als Lerngemeinschaft.</div>
        <div class="item">Wir begleiten Lernprojekte, statt zu belehren.</div>
        <div class="item">Wir engagieren uns in Themen, die gesellschaftlich relevant sind.</div>
        <div class="item">Wir sind für Sie da!</div>
        <div class="item">Wir glauben daran, dass Sie in jedem Alter noch lernen können!</div>
    </div>
</div>