<div class="homepage_fixed">
    <div class="ui header center aligned mentoki_nice_font">
        Mit unseren Online-Kursen<br>
        stehen wir für<br>
        projektbegleitendes<br>
        unterstützendes Lernen
    </div>
</div>
<div class="image_container">
    <img class="ui image centered medium image"
         src="/static/img/public/mentoki/zusammen-online-studieren.jpg"
         title="Zusammen online lernen"
         alt="Zwei Menschen, die zusammensitzen und lernen">
</div>
<div class="ui header centered aligned button_container">
    <a class="ui basic button large public_button" href="{{ courselist_url }}">
        Zu unserem <br>Kursprogramm
    </a>
</div>

