<div class="homepage_fixed">
    <div class="ui header center aligned mentoki_nice_font">
        Wir bilden Online-Mentoren aus<br> und unterstützen Sie<br> bei Ihrem
        Einstieg<br> in den Online-Unterricht
    </div>
</div>
<div class="image_container">
    <img class="ui image centered medium image"
        src="/static/img/public/mentoki/online-unterrichten-bei-mentoki.jpg"
        title="Unterrichten macht Spass"
        alt="Ein Becher mit Stiften vor einer beschriebenen Tafel">
</div>
<div class="ui header centered aligned button_container">
    <a class="ui basic button large public_button" href="{{ teachonline_url }}">
        Zum Angebot: <br>Online-Unterrichten
    </a>
</div>
