{% extends "base/base_newsletter_1col.html" %}
{% load django_markdown %}
{% block content %}
    <h1 class="ui header aligned center" id="mainheader">
        {{ newsletter.title }}
        <div class="sub header">

        </div>
    </h1>

    <div class="ui segment">
    <div class="ui grid">
    <div class="column">

    <p>
        <a href="{% url 'newsletter:list' %}">
            <i class="ui angle double left icon"></i> zurück
        </a>
        <a href="{% url 'newsletter:update' pk=newsletter.id %}">
           <i class="ui pencil icon"></i> bearbeiten
        </a>
    </p>

       {{ newsletter.published_at_date |date:'d.m.Y' }}

    <div>
        {{ newsletter.content | markdown }}
    </div>
{% endblock %}
    </div>
    </div>
    </div>



