<div class="h3 ui header">Kursleitung</div>
<p>Die Kurse können mehrere Kursleiter haben.
</p>
<div class="header medium ui">Felder:</div>
<div class="ui list">
    <div class="item">
        <div class="header">Text</div>
        Das erste Feld ist eine freie Beschreibung zu Deiner Person. Du kannst Dir aussuchen,
        ob Du Deine Schüler direkt anreden willst, oder ob Du über Dich in der 3. Person berichtest.
        Es sollte klar werden, was Dich für die Kursleitung qualifiziert.
    </div>
    <div class="item">
        <div class="header">Anzeigen bei der Kursausschreibung?</div>
        Mit dem Ankreuzfeld steuerst Du, ob das Profil bei der Kursausschreibung angezeigt
        wird. Ein Kursleiter sollte immer angezeigt werden. Aber die Detaianzeige jedes weiteren Kursleiters ist optional.
    </div>
    <div class="item">
        <div class="header">Anzeigereihenfolge bei mehreren Kursleitern</div>
        Mit diesem Feld bestimmst Du bei mehreren Kursleitern in welcher Reihenfolge
        sie angezeigt werden.
    </div>
    <div class="item">
        <div class="header">Foto</div>
        Hier kannst ein Foto von Dir hochladen und speichern.
    </div>
</div>