{% extends "coursebackend/base.html" %}
{% block help %}
{% include 'coursebackend/courseowner/_help_update.html' %}
{% endblock %}
{% block page_content %}
    <div class="ui piled segment">
        <h2 class="ui header">Kursleitung: {{ owner.user.first_name }} {{ owner.user.last_name }}</h2>
        <div class="ui tabular menu">
            <a class="item active">
                Bearbeiten
            </a>
        </div>
        {% include 'coursebackend/_form_multipart.html' %}
    </div>
{% endblock %}

