{% url 'coursebackend:lesson:blockupdate'  course_slug=cs pk=lessonblock.pk as blockupdate_url %}
{% url 'coursebackend:lesson:delete'  course_slug=cs pk=lessonblock.pk as delete_url %}
{% url 'coursebackend:lesson:block' course_slug=cs pk=next_node.pk as forward_url %}
{% url 'coursebackend:lesson:block' course_slug=cs pk=previous_node.pk as backward_url %}

<!-- forward -->
{% if next_node %}
    <a href="{{ forward_url }}" class="ui button basic right floated">
        <i class="right arrow icon"></i>
    </a>
{% endif %}

<!-- back -->
{% if previous_node %}
    <a href="{{ backward_url }}" class="ui button basic right floated">
        <i class="left arrow icon"></i>
    </a>
{% endif %}


<div class="ui header medium">

    <i class="icon cube"></i>
    <div class="ui content">
    ({{ lessonblock.nr }}) {{ lessonblock.title }}

    <a href="{{ blockupdate_url }}">
       <i class="icon write"></i>
    </a>

    <a href="{{ delete_url }}">
       <i class="icon trash"></i>
    </a>
    <span style="color:gray; font-weight: normal; font-size:0.8em;">
    {{ lessonblock.modified |date:'d.m.Y' }}</span>
    </div>
</div>

    <div>{{ lessonblock.description }}</div>
{% if lessonblock.text != '' %}

    <!-- froala -->
    <div class="fr-view">
       {{ lessonblock.text | safe }}
    </div>

{% endif %}