{% url 'coursebackend:lesson:stepupdate'  course_slug=cs pk=lessonstep.pk as stepupdate_url %}
{% url 'coursebackend:lesson:delete'  course_slug=cs pk=lessonstep.pk as delete_url %}
{% url 'coursebackend:lesson:step' course_slug=cs pk=next_node.pk as forward_url %}
{% url 'coursebackend:lesson:step' course_slug=cs pk=previous_node.pk as backward_url %}

<!-- forward -->
{% if next_node %}
    <a href="{{ forward_url }}" class="ui button basic right floated">
        <i class="right arrow icon"></i>
    </a>
{% endif %}
{% if lessonstep.show_number %}
  <div class="ui right floated button">

        {{ lessonstep.lesson_nr }}.
</div>
{% endif %}
<!-- back -->
{% if previous_node %}
    <a href="{{ backward_url }}" class="ui button basic right floated">
        <i class="left arrow icon"></i>
    </a>
{% endif %}

<div class="ui header medium">

    <!-- title -->

    {% if lessonstep.show_number %}
    <!-- title -->
    {{ lessonstep.lesson_nr }}. {{ lessonstep.title }}
    {% else %}
    ({{ lessonstep.nr }}) {{ lessonstep.title }}
    {% endif %}

    <!-- homework -->
    {% if lessonstep.is_homework %}
       <a class="ui orange label">interaktiv</a>
    {% endif %}
    {% if lessonstep.show_work_area %}
       <i style="display:inline;" class="ui orange icon privacy"></i>
    {% endif %}
    {% if lessonstep.allow_questions %}
       <a class="ui orange label">nachgefragt</a>
    {% endif %}
    <!-- update -->
    <a href="{{ stepupdate_url }}">
       <i class="icon write"></i>
    </a>

    <!-- delete -->
    <a href="{{ delete_url }}">
       <i class="icon trash"></i>
    </a>
    <span style="color:gray; font-weight: normal; font-size:0.8em;">
    {{ lessonstep.modified |date:'d.m.Y' }}</span>
    <!-- material links -->
    {% if lessonstep.material %}

        <!-- link to file -->
        <a href="{{ lessonstep.material.file.url }}">
            <i class="icon file pdf outline"></i>
        </a>

        <!-- download-link -->
        {% if lessonstep.material.pdf_download_link %}
            <a href="{% url 'download' slug=lessonstep.material.slug %}">
                <i class="download icon blue"></i>
            </a>
        {% endif %}

    {% endif %}


</div>


    <!-- froala -->
    <div class="fr-view">
       {{ lessonstep.text | safe }}
    </div>


<!-- material viewer -->
{% if lessonstep.material %}

        {% if lessonstep.material.pdf_viewer %}
            <object data="{{ lessonstep.material.file.url }}"
                    type="application/pdf" width="100%" height="800px">
            </object>
        {% endif %}

{% endif %}
