{% extends "coursebackend/base_courseevent.html" %}

{% block page_content %}


    <div class="row coursebackend_background">
        <div class="sixteen wide column">

            <div class="ui large breadcrumb" id ="page-breadcrumb">

                {% include 'coursebackend/classlesson/fragments/_breadcrumbs.html' %}
                <a class="item">
                    Löschen
                </a>

            </div>

        </div>
    </div>

    <div class="row classroom_emphasis">
        <div class="sixteen wide column">

            <div class="ui message warning">
                Vorsicht: Der gesamte abgebildetet Baum wird bei dieser Aktion gelöscht!
            </div>

            {% include 'coursebackend/classlesson/fragments/_recursetree_nodes.html' %}

        </div>
    </div>

    <div class="row classroom_white">
        <div class="sixteen wide column">

            {% include 'coursebackend/forms/delete/_lesson.html' %}

        </div>
    </div>
{% endblock %}