{% extends "coursebackend/base_courseevent.html" %}

{% block courseevent_menu_items %}
    {% include 'coursebackend/classlesson/fragments/_top_links.html' %}
{% endblock %}

{% block breadcrumbs %}
    {% include 'coursebackend/classlesson/fragments/_breadcrumbs.html' %}
{% endblock %}

{% block page_content %}

    <div class="row coursebackend_white">
        <div class="sixteen wide column" id="whitepaper">

            <!-- messages -->
            {% include 'base/fragments/_messages.html' %}

            <!-- lessonstep -->
            {% include 'coursebackend/classlesson/fragments/_instance_classlessonstep.html' %}

            <!-- homework -->
            {% if classlessonstep.is_homework %}

                <h4 class="ui horizontal divider header">
                     <i class="users icon"></i>
                </h4>

                {% for homework in classlessonstep.homework %}
                    {% include 'coursebackend/classlesson/fragments/_instance_homework.html' %}
                {% endfor %}
            {% endif  %}

        </div>
    </div>

{% endblock %}