{% extends "coursebackend/base_courseevent.html" %}

{% block page_content %}


    <div class="row coursebackend_background">
        <div class="sixteen wide column">

             <div class="ui large breadcrumb" id ="page-breadcrumb">

                {% include 'coursebackend/classlesson/fragments/_breadcrumbs.html' %}

            </div>

        </div>
    </div>

    <div class="row coursebackend_white">
        <div class="sixteen wide column">

            {% include 'coursebackend/forms/update_create/_classlessonstep.html' %}

        </div>
    </div>

{% endblock %}

