{% extends "coursebackend/base_courseevent.html" %}

{% block courseevent_menu_items %}
    {% include 'coursebackend/classlesson/fragments/_top_links.html' %}
{% endblock %}

{% block breadcrumbs %}
    {% include 'coursebackend/classlesson/fragments/_breadcrumbs.html' %}
{% endblock %}

{% block page_content %}

    <div class="row coursebackend_white">
        <div class="sixteen wide column" id="whitepaper">

            <!-- copy -->
            {% include 'coursebackend/forms/other/_lessoncopy.html' %}

        </div>
    </div>

{% endblock %}

