{% extends "coursebackend/base_courseevent.html" %}

{% block courseevent_menu_items %}
    {% include 'coursebackend/classlesson/fragments/_link_copy.html' %}
{% endblock %}

{% block breadcrumbs %}
    {% include 'coursebackend/classlesson/fragments/_breadcrumbs.html' %}
{% endblock %}

{% block page_content %}

    <div class="row coursebackend_white">
        <div class="sixteen wide column">

            {% include 'base/fragments/_messages.html' %}
            {% include 'coursebackend/classlesson/fragments/_instance_classlessonstep.html' %}

            {% if classlessonstep.homework_set.all %}

                <h4 class="ui horizontal divider header">
                     <i class="users icon"></i>
                </h4>

                {% for homework in classlessonstep.homework %}
                    {% include 'coursebackend/classlesson/fragments/_instance_homework.html' %}
                {% endfor %}
            {% endif  %}


        </div>
    </div>

{% endblock %}