{% extends "base_semantic/base_page.html" %}
{% block body %}
    <body id="classroom" >
{% endblock %}
{% block custom_menu_item %}
    {% if user.is_superuser or participant.is_owner %}
        <a href="{% url 'course:start' slug=courseevent.course_slug %}" class="item">
            Unterrichtsvorbereitung
        </a>
    {% endif %}
{% endblock %}
{% block main %}
    <div class="ui page grid" id="classroom_page_grid">
    <div class="column">
    {% block classroom_header %}
        <h2 class="ui block header" id="classroomheader">
            Klassenzimmer
            {{ courseevent.title }}
        </h2>
    {% endblock %}
    <div class="ui grid regularpage" >
        <div class="five wide column">
            {% include 'classroom_base/_menu.html' %}
        </div>
        <div class="eleven wide column">
            {% block regular_page_content %}
            {% endblock %}
        </div>
    </div>
    <div class="ui grid widepage" >
    <div class="column">
        {% block wide_page_content %}
        {% endblock %}
    </div>
    </div>
    </div>
    </div>
{% endblock %}

