{% for teacherinfo in teachersinfo %}
    {% if teacherinfo.display %}
    <div class="ui card fluid">
        <div id="courseowner_img">
        <div class="ui image aligned center" >
            {% if teacherinfo.foto %}
                <img src="{{ teacherinfo.foto.url }}">
            {% endif %}
        </div>
        </div>
        <div class="content">
            <div class="ui header aligned center">
                Über {{ teacherinfo.user.first_name }} {{ teacherinfo.user.last_name }}
            </div>
            <div class="description">
                {{ teacherinfo.text | safe }}
            </div>
        </div>
    </div>
    {% endif %}
{% endfor %}