{% url 'classroom:classlesson:start' slug=es as start_url %}

<div class="ui large breadcrumb" id ="page-breadcrumb">

    {% if not breadcrumbs %}

        {% if url_name == 'start' %}

            <!-- section active: lesson start -->
            <div class="section active">
                Unterricht {{ courseevent.title }}
            </div>

        {% endif %}

    {% else %}

        <!-- section link -->
        <a href="{{ start_url }}" class="section">
            <i class="home icon"></i>
        </a>

        {% for breadcrumb in breadcrumbs %}

            <!-- get links -->
            {% if breadcrumb.is_lesson %}
                {% url 'classroom:classlesson:lesson' slug=es pk=breadcrumb.pk as detail_url %}
            {% elif breadcrumb.is_step %}
                {% url 'classroom:classlesson:step' slug=es pk=breadcrumb.pk as detail_url %}
            {% endif %}

                 <i class="right chevron icon divider"></i>

                {% if forloop.last and not studentswork %}

                     <!-- active breadcrumb -->
                     <div class="section active">
                         {{ breadcrumb.breadcrumb }}
                     </div>

                {% else %}

                     <!-- link breadcrumb -->
                     <a href="{{ detail_url }}" class="section">
                         {{ breadcrumb.breadcrumb }}
                     </a>

                {% endif %}

        {% endfor %}

        {% if studentswork %}

            <i class="right chevron icon divider"></i>

             <!-- active breadcrumb -->
             <div class="section active">
                 {{ studentswork.title }}
             </div>

        {% endif %}

    {% endif %}

</div>
