{% url 'classroom:classlesson:comment' slug=es pk=lessonstep.pk work_pk=studentswork.pk as comment_url %}

<h4 class="ui horizontal divider header">
    <i class="comments outline icon"></i>
    Kommentare
</h4>

<div class="ui comments">

    {% for comment in comments %}

        <div class="comment">

            <a class="avatar">

                    <img src="{{ comment.author.profile_image.url }}">

            </a>

            <div class="content">

                <a class="author">{{ comment.author }}: {{ comment.title }}</a>

                <div class="metadata">
                    <span class="date">{{ comment.created }}</span>
                </div>

                <div class="froala-view">
                    {{ comment.text | safe }}
                </div>

            </div>

        </div>

    {% endfor %}

</div>

<a href="{{ comment_url }}" class="ui button">
    <i class="write icon blue"></i>Kommentar anfügen?
</a>