
    {% url 'classroom:classlesson:updatepublic' slug=es work_pk=studentswork.pk pk=studentswork.homework.pk as work_url %}
    {% url 'classroom:classlesson:delete' slug=es work_pk=studentswork.pk pk=lessonstep.pk as delete_url %}
    {% url 'classroom:classlesson:addteam' slug=es work_pk=studentswork.pk pk=lessonstep.pk as addteam_url %}

    <div class="ui card fluid">
      <div class="content">
        <div class="header">
            {{ studentswork.title }}
              <a href="{{ work_url }}">
                  bearbeiten
                  <i class="icon write"></i>
              </a>
        </div>
        <div class="meta">
          {% if studentswork.publish_count != 0 %}
          <span class="right time">Erstabgabe am {{ studentswork.published_at | date:'d.m.Y' }}
              {{ studentswork.published_at|time:"H:i" }},</span>
          {% else %}
              (Entwurf)
          {% endif %}
          {% if studentswork.publish_count > 1 %}
          <span class="right time">{{ studentswork.publish_count }}. Abgabe {{ studentwork.publish_count }}:
              {{ studentswork.republished_at | date:'d.m.Y' }}{{ studentswork.republished_at|time:"H:i" }}</span>
          {% endif %}
          <br>
            von:
          <div class="ui horizontal list">
              {% for worker in studentswork.workers.all %}
                  <div class="item">
                     <img class="ui mini image" src="{{ worker.profile_image.url }}">
                    <div class="content">
                      <div class="header">{{ worker.username }}</div>
                    </div>
                  </div>
              {% endfor %}
          </div>
        </div>
        <div class="description">


        </div>
      <div class="extra content">

          <h4 class="ui horizontal divider header">
          </h4>

          <div class="froala-view">
            {{ studentswork.text | safe }}
          </div>
          <p></p>
          {% if request.user in studentswork.workers.all and url_name != 'delete' and url_name != 'addteam' %}

            {% if studentswork.publish_count == 0  %}
                <a class="ui button" href="{{ delete_url }}">
                    <i class="trash blue icon"></i>
                </a>
                <a class="ui button" href="{{ addteam_url }}">
                    <i class="add user icon blue"></i>
                </a>
            {% endif %}
          {% endif %}

      </div>
   </div>
</div>
