{% url 'classroom:classlesson:lesson' slug=es pk=next_node.pk as forward_url %}
{% url 'classroom:classlesson:lesson' slug=es pk=previous_node.pk as backward_url %}
{% url 'classroom:classlesson:lesson' slug=es pk=classlesson.pk as detail_url %}

<!-- forward -->
{% if next_node %}
    <a href="{{ forward_url }}" class="ui button basic right floated">
        <i class="right arrow icon"></i>
    </a>
{% endif %}
{% if lesson.show_number %}
  <div class="ui right floated button">

        {{ lesson.lesson_nr }}.
</div>
{% endif %}
{% if previous_node %}
    <a href="{{ backward_url }}" class="ui button basic right floated">
        <i class="left arrow icon"></i>
    </a>
{% endif %}


<div class="ui header medium">

    <!-- title -->
    {% if lesson.show_number %}
    {{ lesson.lesson_nr }}.
    {% endif %}
    {{ lesson.title }}

</div>

{% if lesson.text != '' %}

    <!-- froala -->
    <div class="fr-view">
       {{ lesson.text | safe }}
    </div>

{% endif %}

