<div class="ui header medium">
    {{ lessonstep.lesson_nr }} {{ lessonstep.title }}

    {% if lessonstep.material %}
        <a href="{{ lessonstep.material.file.url }}">
            <i class="icon file"></i>
        </a>

        {% if lessonstep.material.pdf_download_link %}
            <a href="{% url 'download' slug=lessonstep.material.slug %}">
                <i class="download icon blue"></i>
            </a>
        {% endif %}
    {% endif %}

</div>

<div class="froala-view">
{{ lessonstep.text | safe }}
</div>

{% if lessonstep.material %}

    {% with material=lessonstep.material %}

        {% if lessonstep.material.pdf_viewer %}
            <object data="{{ lessonstep.material.file.url }}"
                    type="application/pdf" width="100%" height="800px">
            </object>
        {% endif %}

    {% endwith %}

{% endif %}
