<div class="ui list relaxed divided">

    {% for lessonstep in lessonsteps %}

       {% url "classroom:classlesson:step" slug=es pk=lessonstep.pk as step_url %}

        <div class="item">

                <i class="top aligned icon">{{ lessonstep.lesson_nr }}</i>

            <div class="content">
                <div class="header">
                    <a href="{{ step_url }}" class="header">
                       {{ lessonstep.title }}
                    </a>
                </div>
                <div>
                    {{ lessonstep.description }}
                </div>
            </div>

        </div>

    {% endfor %}

</div>
