<div class="ui list relaxed divided">

    {% for lessonstep in lessonsteps %}

       {% url "classroom:classlesson:step" slug=es pk=lessonstep.pk as step_url %}
       {% url 'classroom:classlesson:publiclist' slug=es pk=lessonstep.pk as turnedin_url %}

        <div class="item">

            <i class="top aligned icon">{{ lessonstep.lesson_nr }}</i>

            <div class="content">
                <div class="header">
                    <a href="{{ step_url }}" >
                       {{ lessonstep.title }}
                        <!-- homework -->
                    </a>
                    {% if lessonstep.is_homework %}
                        <a class="ui orange label">interaktiv</a>
                        <a href="{{ turnedin_url }}">
                            <div class="ui label medium">
                                {{ lessonstep.studentswork_count }}
                                Beiträge abgegeben
                            </div>
                        </a>
                    {% endif %}
                </div>
                <div>
                    {{ lessonstep.description }}
                </div>
            </div>

        </div>

    {% endfor %}

</div>
