<div class="fields">
    <div class="two wide field">
        <label>Lektions-Nr.</label>
        {{ form.nr.errors }}
        {{ form.nr }}
    </div>
    <div class="six wide field">
        <label>Titel</label>
        {{ form.title.errors }}
        {{ form.title }}
    </div>
</div>
<div class="fields">
    <div class="sixteen wide field">
        <label>Kurze Beschreibung</label>
        {{ form.description.errors }}
        {{ form.description }}
    </div>
</div>
<div class="fields">
    <div class="sixteen wide field">
        <label>Lektions-Text</label>
        {{ form.text.errors }}
        {{ form.text }}
    </div>
</div>