{% extends "coursebackend/base_courseevent.html" %}

{% block page_content %}

    <div class="row coursebackend_background">
        <div class="sixteen wide column">

            {% include 'coursebackend/participant/fragments/_breadcrumb.html' %}

        </div>
    </div>

    <div class="row coursebackend_white">
        <div class="sixteen wide column">

            {% include 'coursebackend/participant/fragments/_list_participants.html' %}

        </div>
    </div>

{% endblock %}

{% block rows %}{% endblock %}