{% extends "coursebackend/base_courseevent.html" %}

{% block courseevent_menu_items %}
        {% url 'classroom:participant:list' slug=es as back_link %}

        <a href="{{ back_link }}" class="item" >
            <i class="student icon blue"></i>
        </a>
{% endblock %}

{% block breadcrumbs %}
    {% include 'coursebackend/participant/fragments/_breadcrumbs.html' %}
{% endblock %}

{% block page_content %}

    <div class="row coursebackend_white">
        <div class="sixteen wide column">

            {% include 'base/fragments/_messages.html' %}
            {% include 'coursebackend/participant/fragments/_list_participants.html' %}

        </div>
    </div>

{% endblock %}

{% block rows %}{% endblock %}