{% extends "base/base_account.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <h1>Wollen Sie Ihr Passwort zurücksetzen?</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Bitte gebe Sie Ihre Email-Adresse an und wir schicken Ihnen einen Link dafür." %}</p>

    <form class="ui form" method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
    <div class="fields inline">
         <label>Ihre Email-Adresse</label>
        <div class="field twelve wide">
            {{ form.email }}
        </div>
    </div>
    {% if form.email.errors %}
        <div class="ui negative floating message">
            {{ form.email.errors }}
        </div>
    {% endif %}
        <div class="field">
            <input class="ui button" type="submit" value="Bitte das Passwort zurücksetzen!" />
        </div>
    </form>
    <p></p>
    <p>{% blocktrans %}Falls das Zurücksetzen Ihres Passworts nicht klappen sollte, können Sie uns gerne
        kontaktieren.{% endblocktrans %}</p>
{% endblock %}
