{% extends "base/base_account.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1>{% trans "Sign Up" %}</h1>

<div class="ui header medium">Hallo
  {{ customer.first_name }}{{ customer.last_name }},
</div>
<p>Willkommen bei Mentoki! </p>
<p>Wir haben von Dir folgende email-Addresse gespeichert: <strong>{{ customer.email }}</strong>
Bitte benachrichtige uns falls Sie falsch ist oder unsere Email nicht bei Dir ankommt.
<p>Hier kannst DU Dich jetzt anmelden:</p>
<form class="signup ui form" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}

  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="ui button" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

{% endblock %}
