{% extends "base/base_account.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
    {% url 'contact:contact' as contact_url  %}

    <h1>Bitte bestätigen Sie Ihre Email-Adresse</h1>

    <p>Wir haben Ihnen eine Email geschickt. Bitte klicken Sie auf den Link darin, um
    Ihre Email-Adresse zu bestätigen.<p>

    <p>Falls die Email nicht bei Ihnen ankommt, sehen Sie bitte auch in Ihrem in
        Spam-Ordner nach, oder
        <a href="{{ contact_url }}">kontaktiere Sie uns</a>.
    </p>

{% endblock %}
