{% extends "base/base_account.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
    {% url 'contact:contact' as contact_url  %}

    <h1>{% trans "Verify Your E-mail Address" %}</h1>

    <p>Wir haben Dir eine email geschickt, damit Du Deine email-Adresse verfizieren kannst.<p>

    <p>Falls Sie nicht ankommt, sieh in Deinem Spam-Folder nach, oder
        <a href="{{ contact_url }}">kontaktiere uns</a>.
    </p>

{% endblock %}
