{{ form.media }}

{% if stundentswork %}
    {% url 'classroom:classlesson:step' slug=es pk=request.resolvermatch.pk as back_url %}
{% else %}
    {% url 'classroom:classlesson:privatelist' slug=es pk=studentswork.homework.pk  as back_url %}
{% endif %}

<form class="ui form" method="post" action="" >{% csrf_token %}

    {% include 'classroom/forms/form_fields/_form_non_field_errors.html' %}


    <div class="fields inline">
    <div class="field sixteen wide">

        {% if form.title.errors %}
            <div class="ui negative floating message">
                {{ form.homework.errors }}
            </div>
        {% endif %}
        <label>{{ form.homework.label_tag }}</label>

        {{ form.homework }}

    </div>
    </div>

    <div class="fields inline">
    <div class="field sixteen wide">

        {% if form.title.errors %}
            <div class="ui negative floating message">
                {{ form.title.errors }}
            </div>
        {% endif %}
        <label>{{ form.title.label_tag }}</label>

        {{ form.title }}

    </div>
    </div>

    <div class="field sixteen wide">
        {% if form.text.errors %}
            <div class="ui negative floating message">
                {{ form.text.errors }}
            </div>
        {% endif %}
        <br>

        {{ form.text }}

    </div>

    <div class="ui dividing medium header">Diese Arbeit veröffentlichen?</div>

    {% if form.published.errors %}
        <div class="ui negative floating message">
            {{ form.published.errors }}
        </div>
    {% endif %}

      <div class="field eigth wide">

          <label>{{ form.published.label_tag }}</label>

          {{ form.published }}

      </div>

    <button type="submit" value="post" class="ui button" id="formsubmitonce">
        Speichern
    </button>
    <a class="ui button" href="{{ back_url }}">
        Zurück
    </a>

</form>