{% url 'classroom:classlesson:privatelist' slug=es pk=lessonstep.pk as back_url %}

<form class="ui form" method="post" action="" >{% csrf_token %}


    {% include 'classroom/forms/form_fields/_form_non_field_errors.html' %}

    <div class="field sixteen wide">

        {% if form.workers.errors %}
            <div class="ui negative floating message">
                {{ form.workers.errors }}
            </div>
        {% endif %}
        <p>Wer bearbeitet das Dokument mit Dir zusammen?</p>


        {{ form.workers }}

    </div>

    <button type="submit" value="post" class="ui button" id="formsubmitonce">
        Speichern
    </button>
    <a class="ui button" href="{{ back_url }}">
        Zurück
    </a>

</form>