<form class="ui form" method="post" action="" >{% csrf_token %}

    {% include 'classroom/forms/form_fields/_form_non_field_errors.html' %}

    <div class="field sixteen wide">

        {% if form.workers.errors %}
            <div class="ui negative floating message">
                {{ form.workers.errors }}
            </div>
        {% endif %}
        <br>

        {{ form.workers }}

    </div>

    <button type="submit" value="post" class="ui button">
        Speichern
    </button>
    <a class="ui button" href="{% url 'classroom:studentswork:detail' slug=courseevent.slug pk=studentswork.pk %}">
        Zurück
    </a>

</form>