{% extends "base_semantic/base.html" %}
{% block title %}
   Mentoki Kontaktseite
{% endblock %}
{% block body %}
   <body id="contact" >
{% endblock %}
{% block main %}
    <div class="ui two column doubling grid" style="height:600px;">
        <div class="eight wide column">
            <div class="ui segment piled" id="handwriting" >
                <h2>Danke für Dein Interesse!</h2>
                <p>Du hörst von uns innerhalb der nächsten 48 Stunden.</p>
                <p>Sabine Maennel und Anette Pekrul</p>
            </div>
        </div>
        <div class="eight wide column">
             <img id="pageImage" src="/static/img/contactus.jpg">
        </div>
    </div>
{% endblock %}
