{% extends "base_semantic/base_public.html" %}
{% block title %}
   Mentoki Kontaktseite
{% endblock %}
{% block body %}
   <body id="application" >
{% endblock %}
{% block main %}
    <main class="ui grid">
    <div class="column">
    <div class="ui piled segment" id="thankyou_letter">
        <div class="ui row">
            <div class="ui column">
                <h1 class="ui header center aligned">
               <img id="logo_big" src="/static/img/mentoki_logo_untertitel.jpg">
                </h1>
  {% if messages %}

    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message | safe }}</p>
    {% endfor %}
{% endif %}

                <p>Mit lieben Grüssen</p>
                <p id="signature">Sabine Maennel und Anette Pekrul</p>
            </div>
        </div>
    </div>
    </div>
    </div>
    </main>
{% endblock %}