{% extends "base_semantic/base_page.html" %}
{% block title %}
   Mentoki Kontaktseite
{% endblock %}
{% block body %}
   <body id="standard_public_page_body_2" >
{% endblock %}
{% block main %}
    <main class="ui page centered grid">
    <div class="column">
    <div class="ui piled segment">
        <div class="ui row">
            <div class="ui column">
                <h1 class="ui header center aligned">
               <img id="logo_answer_page" src="/static/img/mentoki_logo_untertitel.jpg">
                </h1>
                  {% if messages %}

                    {% for message in messages %}
                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message | safe }}</p>
                    {% endfor %}
                {% endif %}

                <p>Mit lieben Grüssen</p>
                <p id="signature">Sabine Maennel und Anette Pekrul</p>
            </div>
        </div>
    </div>
    </div>
    </div>
    </main>
{% endblock %}