{% load activelink %}

<div class="ui fluid vertical menu" id="coursebackend_menu">

    <div class="header item huge" style="font-size:1.5em;">
        Hallo {{ user.username }}!
    </div>
    <a  href="{% url 'desk:start' %}" class="item
        {% ifactive "desk:start" %}
              active
        {% endifactive %}
        ">
        Zurück zum Schreibtisch
    </a>

    <a href="{% url "logout" %}" class="item">
        Ausloggen
    </a>


    <div class="header item huge" style="font-size:1.5em;">
        Dashboard {{ course.title }}
    </div>

    <a class="item
        {% ifstartswith 'coursebackend:course:detail' course_slug=course.slug %}
           active
        {% endifstartswith %}
        " href="{% url 'coursebackend:course:detail' course_slug=course.slug %}">
        Kursvorlage
    </a>

    <a class="item completed
        {% ifstartswith 'coursebackend:courseowner:list' course_slug=course.slug %}active {% endifstartswith %}
        " href="{% url 'coursebackend:courseowner:list' course_slug=course.slug %}">
        Kursleitung
    </a>

    <a class="item completed
        {% ifstartswith 'coursebackend:courseevent:list' course_slug=course.slug %}active {% endifstartswith %}
        " href="{% url 'coursebackend:courseevent:list' course_slug=course.slug %}">
        Kursereignisse
    </a>

    <a class="item
        {% ifstartswith "coursebackend:lesson:start" course_slug=course.slug %}
            active
        {% endifstartswith %}
        " href="{% url "coursebackend:lesson:start" course_slug=course.slug %}">
        <i class="list icon"></i>Unterricht
    </a>

    <a class="item
        {% ifstartswith "coursebackend:material:list" course_slug=course.slug %}
          active
        {% endifstartswith %}
        " href="{% url 'coursebackend:material:list' course_slug=course.slug %}">
        <i class="list icon"></i>Material
    </a>

    {% for courseevent in courseevents %}

        <div class="header item huge" style="font-size:1.5em;">
            Klassenzimmer {{ courseevent }}
        </div>

        <a class="item"
            href="{% url 'classroom:start' slug=courseevent.slug %}">
            <i class="icon student blue"></i>ins Klassenzimmer gehen
        </a>

        <a class="item
            {% ifactive 'coursebackend:participant:list' course_slug=course.slug slug=courseevent.slug  %}
            active
            {% endifactive %}"
            href="{% url 'coursebackend:participant:list' course_slug=course.slug slug=courseevent.slug %}">
            <i class="list icon"></i>Teilnehmerliste ansehen
        </a>

        <a class="item
            {% ifstartswith 'coursebackend:forum:list' course_slug=course.slug slug=courseevent.slug  %}
             active
            {% endifstartswith %}
            " href="{% url 'coursebackend:forum:list' course_slug=course.slug slug=courseevent.slug %}">
            <i class="list icon"></i>Forum
        </a>

        <a class="item
            {% ifstartswith 'coursebackend:announcement:list' course_slug=course.slug slug=courseevent.slug %}
            active
            {% endifstartswith %}"
            href="{% url 'coursebackend:announcement:list' course_slug=course.slug slug=courseevent.slug  %}">
            <i class="list icon"></i>Ankündigungen
        </a>

        <a class="item
            {% ifstartswith 'coursebackend:homework:list' course_slug=course.slug slug=courseevent.slug %}
              active
            {% endifstartswith %}
            " href="{% url 'coursebackend:homework:list' course_slug=course.slug slug=courseevent.slug %}">
            <i class="list icon"></i>Aufgaben
        </a>

        <a class="item
            {% ifstartswith 'coursebackend:menu:list' course_slug=course.slug slug=courseevent.slug %}
              active
            {% endifstartswith %}
            " href="{% url 'coursebackend:menu:list' course_slug=course.slug slug=courseevent.slug %}">
            <i class="list icon"></i>Klassenzimmer-Menü
        </a>

    {% endfor %}

</div>

