{% load activelink %}
{% url 'coursebackend:classlesson:copy'  slug=es course_slug=cs as copy_url %}

{% url 'coursebackend:courseevent:detail' course_slug=cs slug=es as courseevent_url %}
{% url 'coursebackend:participant:list' course_slug=cs slug=es as participants_url %}
{% url 'coursebackend:forum:list' course_slug=cs slug=es as forum_url %}
{% url 'coursebackend:announcement:list' course_slug=cs slug=es as announcements_url %}
{% url 'coursebackend:menu:preview' course_slug=cs slug=es as menu_url %}
{% url "coursebackend:classlesson:start" course_slug=cs slug=es as lesson_url %}

{% url 'coursebackend:classlesson:start' course_slug=cs slug=es as classlesson_url %}
{% url 'coursebackend:classlesson:copy' course_slug=cs slug=es as lessoncopy_url %}
{% url 'coursebackend:course:detail' course_slug=cs as course_url %}
{% url 'coursebackend:lesson:start' course_slug=cs as lesson_url %}
{% url 'coursebackend:material:list' course_slug=cs as material_url %}
{% url 'classroom:start' slug=es as classroom_url %}

<!-- copy lessons -->
{% if url_name != 'copy' %}

{% endif %}
{% url 'coursebackend:courseevent:detail' course_slug=cs slug=es as checklist_url %}


<!-- work link in coursebackend -->
<a href="{{ copy_url }}" class="item
{% ifactive copy_url %} active{% endifactive %}
">
    <i class="icon copy  purple"></i>
</a>

<a href="{{ courseevent_url }}" class="item
{% ifactive courseevent_url %} active{% endifactive %}
" >
    <i class="rocket icon green"></i>
</a>

<a class="item
{% ifactive menu_url %} active{% endifactive %}
" href="{{ menu_url }}">
    <i class="sidebar icon blue"></i>
</a>

<a class="item
{% ifactive classlesson_url %} active{% endifactive %}
" href="{{ classlesson_url }}">
    <i class="book icon blue"></i>
</a>
<a class="item
{% ifactive announcements_url %} active{% endifactive %}
" href="{{ announcements_url }}">
    <i class="announcement icon blue"></i>
</a>
<a class="item
{% ifactive forum_url %} active{% endifactive %}
" href="{{ forum_url }}">
    <i class="comments outline blue icon "></i>
</a>
<a class="item
{% ifactive participants_url %} active{% endifactive %}
" href="{{ participants_url }}">
    <i class="users icon blue"></i>
</a>
<a class="item
{% ifactive classroom_url %} active{% endifactive %}
" href="{{ classroom_url }}">
    <i class="student icon teal"></i>
</a>

