{% load activelink %}

{% url 'coursebackend:courseevent:detail' course_slug=cs slug=es as courseevent_url %}
{% url 'coursebackend:participant:list' course_slug=cs slug=es as participants_url %}
{% url 'coursebackend:forum:list' course_slug=cs slug=es as forum_url %}
{% url 'coursebackend:announcement:list' course_slug=cs slug=es as announcements_url %}
{% url 'coursebackend:menu:preview' course_slug=cs slug=es as menu_url %}
{% url "coursebackend:classlesson:start" course_slug=cs slug=es as lesson_url %}
{% url "coursebackend:material:list" course_slug=cs slug=es as material_url %}
{% url 'coursebackend:classlesson:start' course_slug=cs slug=es as classlesson_url %}
{% url 'coursebackend:classlesson:copy' course_slug=cs slug=es as lessoncopy_url %}
{% url 'coursebackend:course:detail' course_slug=cs as course_url %}
{% url 'coursebackend:lesson:start' course_slug=cs as lesson_url %}
{% url 'coursebackend:material:list' course_slug=cs as material_url %}
{% url 'classroom:start' slug=es as classroom_url %}

<div class="ui popup bottom fluid left transition hidden"  style="max-width:350px;">

    <div class="ui one column relaxed divided grid">

        <div class="column">

            <h4 class="ui header" id="coursebackend_menu_header">
                Kursereignis {{ courseevent }}
            </h4>

            <div class="ui link list">

                <a href="{{ courseevent_url }}" class="item
                    {% ifstartswith courseevent_url %}teal active{% endifstartswith %}">
                    Checkliste <i class="icon rocket"></i>
                </a>

                <a href="{{ announcements_url }}" class="item
                    {% ifstartswith announcements_url %}teal active{% endifstartswith %}">
                    Ankündigungen
                </a>

                <a href="{{ menu_url }}" class="item
                    {% ifstartswith menu_url %}teal active{% endifstartswith %}">
                    Klassenzimmer-Menü
                </a>


                <a href="{{ classlesson_url }}" class="item
                    {% ifstartswith classlesson_url %}teal active{% endifstartswith %}">
                    Unterricht
                </a>


                <a href="{{ forum_url }}" class="item
                    {% ifstartswith forum_url %}teal active{% endifstartswith %}">
                    Forum
                </a>


                <a href="{{ participants_url }}" class="item
                    {% ifstartswith participants_url %}teal active{% endifstartswith %}">
                    Teilnehmer
                </a>


                <a href="{{ lesson_url }}" class="item" >
                    Unterricht (Vorlage) <i class="icon external"></i>
                </a>

                <a href="{{ material_url }}" class="item" >
                    Material (Vorlage) <i class="icon external"></i>
                </a>

                <a href="{{ classroom_url }}" class="item" >
                    Unterrichtsraum<i class="icon student"></i>
                </a>

            </div>

        </div>

    </div>

</div>