{% extends "base/base_pusher.html" %}
{% load activelink %}

{% block page_section_css_id %}coursebackend{% endblock %}

{% block page_header %}Kursereignis {{ courseevent.title }}: {{ course.teachersrecord }}{% endblock %}

{% block top_attached_menu %}

    <div class="ui top attached menu">

        <!-- menu button  -->

        <a class="item" id="sidebar_button">
            <i class="sidebar icon"></i>
            Menu
        </a>

        <a class="browse item">
            Kursereignis
            <i class="dropdown icon"></i>
        </a>

        <div class="ui popup bottom left transition hidden"
             style="top: 555px; left: 1px; bottom: auto; right: auto; width: 300px;">

            <div class="ui one column relaxed divided grid">

                <div class="column">

                    <h4 class="ui header" id="coursebackend_menu_header">Kursereignis {{ courseevent }}</h4>

                    <div class="ui link list">

                        <a href="{% url 'coursebackend:courseevent:detail' slug=courseevent.slug course_slug=course.slug %}"
                            class="item
                            {% ifstartswith 'coursebackend:courseevent:detail' slug=courseevent.slug course_slug=course.slug %}
                               active
                            {% endifstartswith %}
                            ">Kurseereignisbeschreibung</a>

                        <a href="{% url 'coursebackend:announcement:list' slug=courseevent.slug course_slug=course.slug %}"
                            class="item
                            {% ifstartswith 'coursebackend:announcement:list' slug=courseevent.slug course_slug=course.slug %}
                               active
                            {% endifstartswith %}
                            ">Ankündigungen</a>

                        <a href="{% url 'coursebackend:forum:list' slug=courseevent.slug course_slug=course.slug %}"
                            class="item
                            {% ifstartswith 'coursebackend:forum:list' slug=courseevent.slug course_slug=course.slug %}
                               active
                            {% endifstartswith %}
                            ">Forum</a>

                        <a href="{% url 'coursebackend:homework:list' slug=courseevent.slug course_slug=course.slug %}"
                            class="item
                            {% ifstartswith 'coursebackend:homework:list' slug=courseevent.slug course_slug=course.slug %}
                               active
                            {% endifstartswith %}
                            ">Aufgaben</a>

                        <a href="{% url 'coursebackend:menu:list' slug=courseevent.slug course_slug=course.slug %}"
                            class="item
                            {% ifstartswith 'coursebackend:menu:list' slug=courseevent.slug course_slug=course.slug %}
                               active
                            {% endifstartswith %}
                            ">Klassenzimmer-Menü</a>

                        <a href="{% url 'coursebackend:participant:list' slug=courseevent.slug course_slug=course.slug %}"
                            class="item
                            {% ifstartswith 'coursebackend:participant:list' slug=courseevent.slug course_slug=course.slug %}
                               active
                            {% endifstartswith %}
                            ">Teilnehmer</a>

                        <a href="{% url 'coursebackend:classlesson:start' course_slug=course.slug slug=courseevent.slug %}"
                            class="item
                            ">Unterricht
                        </a>

                        <a href="{% url 'coursebackend:classlesson:copy' course_slug=course.slug slug=courseevent.slug %}"
                            class="item
                            ">Kopieren
                        </a>

                       <div class="ui divider"></div>
                            <a href="{% url 'coursebackend:lesson:start' course_slug=course.slug %}"
                                class="item
                                ">Unterricht (Vorlage) <i class="icon external"></i>
                            </a>
                        <a href="{% url 'coursebackend:material:list' course_slug=course.slug %}"
                            class="item
                            ">Material (Vorlage) <i class="icon external"></i>
                        </a>
                            <a href="{% url 'coursebackend:course:detail' course_slug=course.slug %}"
                                class="item
                                ">Kursbeschreibung (Vorlage)<i class="icon external"></i>
                            </a>
                        <div class="ui divider"></div>
                            <a href="{% url 'classroom:start' slug=es %}"
                                class="item
                                ">zum Unterrichtsraum<i class="icon external"></i>
                            </a>
                    </div>

                </div>

            </div>

        </div>

       {% block courseevent_menu_items %}{% endblock %}

    </div>

{% endblock %}

{% block sidebar_menu %}

    <!-- BLOCK: sidebar: filled! -->

    {% include 'coursebackend/_menu.html' %}

{% endblock %}
