{% extends "base/base_pusher.html" %}
{% load activelink %}

{% block page_section_css_id %}coursebackend{% endblock %}

{% block page_header %}Kurs {{ course.title }}: {{ course.teachersrecord }}{% endblock %}

{% block top_attached_menu %}

    <div class="ui top attached menu fluid">

        <!-- menu button  -->

        <a class="item" id="sidebar_button">
            <i class="sidebar icon"></i>
            Menu
        </a>

        <a class="browse item">
            Kursvorlage
            <i class="dropdown icon"></i>
        </a>

        <div class="ui popup bottom left transition hidden"
             style="top: 555px; left: 1px; bottom: auto; right: auto; width: 300px;">

            <div class="ui one column relaxed divided grid">

                <div class="column">

                    <h4 class="ui header" id="coursebackend_menu_header">Kursvorlage</h4>

                    <div class="ui link list">

                        <a href="{% url 'coursebackend:course:detail' course_slug=course.slug %}"
                            class="item
                            {% ifstartswith 'coursebackend:course:detail' course_slug=course.slug %}
                               active
                            {% endifstartswith %}
                            ">Kursvorlage</a>

                        <a href="{% url 'coursebackend:courseowner:list' course_slug=course.slug %}"
                            class="item
                            {% ifstartswith 'coursebackend:courseowner:list' course_slug=course.slug %}
                               active
                            {% endifstartswith %}                                ">Kursleitung</a>

                        <a href="{% url 'coursebackend:courseevent:list' course_slug=course.slug %}"
                            class="item
                            {% ifstartswith 'coursebackend:courseevent:list' course_slug=course.slug %}
                               active
                            {% endifstartswith %}                                ">Liste der Kurseereignisse</a>

                        <a href="{% url 'coursebackend:lesson:start' course_slug=course.slug %}"
                            class="item
                            {% ifstartswith 'coursebackend:lesson:start' course_slug=course.slug %}
                               active
                            {% endifstartswith %}
                            ">Unterricht</a>

                        <a href="{% url 'coursebackend:lesson:work' course_slug=course.slug %}"
                            class="item
                            {% ifstartswith 'coursebackend:lesson:work' course_slug=course.slug %}
                               active
                            {% endifstartswith %}
                            "> - bearbeiten</a>

                        <a href="{% url 'coursebackend:material:list' course_slug=course.slug %}"
                            class="item
                            {% ifstartswith 'coursebackend:material:list' course_slug=course.slug %}
                               active
                            {% endifstartswith %}
                            ">Materialien</a>

                        {% for courseevent in courseevents %}

                            <a href="{% url 'coursebackend:courseevent:detail' slug=courseevent.slug course_slug=course.slug %}"
                                class="item
                                ">{{ courseevent }} <i class="icon external"></i>
                            </a>
                        {% endfor %}

                    </div>

                </div>

            </div>

        </div>

        {% block course_menu_items %}{% endblock %}

    </div>

{% endblock %}

{% block sidebar_menu %}

    <!-- BLOCK: sidebar: filled! -->

    {% include 'coursebackend/_menu.html' %}

{% endblock %}
