{% extends "base/base_pusher.html" %}
{% load activelink %}

{% block background_image %}
    background-image: url('/static/img/45169729_ml.jpg');
{% endblock %}

{% block page_header %}
     <h2 style="
         padding:20px;
         margin:0px -20px;
         opacity:0.5;
         background:white;
         ">
         {{ courseevent.title }}
         {% if courseevent.start_date %}
             {{ courseevent.start_date }}
         {% endif %}
     </h2>
{% endblock %}

{% block css_breadcrumbs %}coursebackend_background{% endblock %}

{% block stackable_menu %}

    <div class="ui stackable menu">

        <a class="item" id="sidebar_button">
            <i class="sidebar icon"></i>
            Menu
        </a>

        <a class="browse item">
            Kurs
            <i class="dropdown icon"></i>
        </a>

        {% include 'coursebackend/_popup_menu_courseevent.html' %}

        {% block courseevent_menu_items %}{% endblock %}

    </div>

{% endblock %}

{% block sidebar_menu %}

    <!-- BLOCK: sidebar: filled! -->

    {% include 'coursebackend/_menu.html' %}

{% endblock %}
