{% extends "base/page.html" %}

{% comment %}
Inherited blocks:
-----------------
cutomized:

   custom_menu_item: expected: <a class=item>...</a> or <div class=item>...</div>

   section: expected: id="..."

   main: expected: <div class="ui page grid">...</div>

Inherited, as is:
   footer

New blocks:
-----------
with defaults:
   page_topic: has default: Unterricht
   controls: has default: help-checkbox

empty:
   page_header
   help
   page_content

{% endcomment %}

{% block section %}
    id="classroombackend"
{% endblock %}

{% block main %}

    <div class="ui page grid" >

        <div class="content classroombackend ui column">

            <div class="ui top attached demo menu">

                <a class="item" id="sidebar_button">
                  <i class="sidebar icon"></i>
                  Menu
                </a>

                {% block page_topic %}
                    <div class="item">
                        Unterricht {{ course.title }}
                    </div>
                {% endblock %}

                {% block controls %}
                    {% include 'coursebackend/_checkbox_help.html' %}
                {% endblock %}

            </div>

            <div class="ui bottom attached segment" >

                <div class="ui labeled icon left inline vertical sidebar menu" id="coursemenu">
                    {% include 'coursebackend/_menu.html' %}
                </div>

                <div class="pusher">

                    <div class="ui basic segment">
                        {% comment %}
                        <h2 class="ui header" id="page-header">
                            {% block page_header %}
                            {% endblock %}
                        </h2>
                        {% endcomment %}
                        <div id="helpinstructions">
                            <div class="ui segment message">
                                {% block help %}
                                {% endblock %}
                            </div>
                        </div>
                        {% block page_content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}