{% extends "coursebackend/base_courseevent.html" %}

{% block courseevent_menu_items %}
    {% include 'coursebackend/lesson_courseevent/fragments/_link_worklinks.html' %}
{% endblock %}

{% block page_content %}

    <div class="row coursebackend_background">
        <div class="sixteen wide column">

            {% include 'coursebackend/lesson_courseevent/fragments/_breadcrumbs.html' %}

        </div>
    </div>

    <div class="row coursebackend_white">
        <div class="sixteen wide column">

            {% include 'base/fragments/_messages.html' %}
            {% include 'coursebackend/lesson_courseevent/fragments/_recursetree_nodes_start.html' %}

        </div>
    </div>

{% endblock %}