<div class="h4 ui header">Blöcke</div>
<p>Rechts siehst Du Blöcke.
    Sie sind die gröbste Einheit von Unterricht.
</p>
<div class="ui divided list">
    <div class="item">
        <i class="map marker icon"></i>
        <div class="content">
          <a class="header">Blöcke steuern später das Menü im Klassenzimmer.</a>
          <div class="description">Diese Steuerung ist nocht nicht realisiert, wird aber bald kommen.
          Blöcke werden als Block im Klassenzimmer angezeigt. Beispiel ist der Unterricht zu einem Kurs.
          </div>
        </div>
    </div>
        <div class="item">
        <i class="map marker icon"></i>
        <div class="content">
          <a class="header">Numerierung</a>
          <div class="description">Lektionen haben immer Nummern, da diese die Anzeige-Reihenfolge
          steuern. Aber dass Feld "is_numbered" steuert, ob die Lektionsnummern auch nach aussen angezeigt
          werden sollen. Wenn ja werden alle Lektionen und Materialen durchnummeriert:
          <p>1</p>
          <p>1.1</p>
          <p>...</p>
          </div>
        </div>
    </div>
    <div class="item">
        <i class="map marker icon"></i>
        <div class="content">
          <a class="header">Voraussetzungen</a>
          <div class="description">Welche Kenntnisse setzt Du beim Teilnehmer voraus?</div>
        </div>
    </div>
    <div class="item">
        <i class="map marker icon"></i>
        <div class="content">
          <a class="header">Freie Beschreibung</a>
          <div class="description">Hier kannst Du jetzt Deinen Kurs ausführlich beschreiben.
          Bei dieser Beschreibung geht es noch nicht um das Format des Kurses. Das kommt erst später
          beim Kursereignis.</div>
        </div>
    </div>
    <div class="item">
        <i class="map marker icon"></i>
        <div class="content">
          <a class="header">Teilnehmerprojekt</a>
          <div class="description">Was nimmt der Teilnehmer aus Deinem Projekt mit?</div>
        </div>
    </div>
</div>
