    <div class="h4 ui header">Kursbeschreibung bearbeiten</div>
        <p>Über die Checkbox oben in der Titelleiste werden Dir die
        Bearbeitungslinks alle eingeblendet. Du kannst jeden Abschnitt
        einzeln bearbeiten.
        </p>
        <div class="h4 ui header">Zu den einzelnen Abschnitte: (sie
        erscheinen alle in der öffentlichen Beschreibung Deines Kurses</div>
        <div class="ui divided list">
  <div class="item">
    <i class="map marker icon"></i>
    <div class="content">
      <a class="header">Abstrakt</a>
      <div class="description">Beschreibe Deinen Kurs in wenigen Sätzen.</div>
    </div>
  </div>
  <div class="item">
    <i class="map marker icon"></i>
    <div class="content">
      <a class="header">Zielgruppe</a>
      <div class="description">Beschreibe Deine Zielgruppe in wenigen Sätzen.</div>
    </div>
  </div>
  <div class="item">
    <i class="map marker icon"></i>
    <div class="content">
      <a class="header">Voraussetzungen</a>
      <div class="description">Welche Kenntnisse setzt Du beim Teilnehmer voraus?</div>
    </div>
  </div>
  <div class="item">
    <i class="map marker icon"></i>
    <div class="content">
      <a class="header">Freie Beschreibung</a>
      <div class="description">Hier kannst Du jetzt Deinen Kurs ausführlich beschreiben.
      Bei dieser Beschreibung geht es noch nicht um das Format des Kurses. Das kommt erst später
      beim Kursereignis.</div>
    </div>
  </div>
  <div class="item">
    <i class="map marker icon"></i>
    <div class="content">
      <a class="header">Teilnehmerprojekt</a>
      <div class="description">Was nimmt der Teilnehmer aus Deinem Projekt mit?</div>
    </div>
  </div>
</div>
