<div class="h3 ui header">Kursbeschreibung</div>
<p>
    Das Kursereignis ist der eigentliche Kurs der ausgeschrieben wird. Auf einer Kursvorlage können beliebig
    viele Kursereignisse verschiedenden Formats basieren.
</p>
<p>
    Kursereignisse kannst Du nicht selbst anlegen. Sie werden Dir durch den Administrator eingerichtet.
    Dieser trägt dabei auch Dein Kursformat ein und schaltet Deine Kursbeschreibung später für die Buchung frei.
    Was Du hier einträgst wird später bei der Ausschreibung Deines Kurses veröffentlicht.
</p>
<div class="h3 ui header">Kursausschreibung ansehen</div>
<p>
    Wenn Du auf das Auge klickst, kannst Du sehen, wie die Ausschreibung für Deinen Kurs aussieht.
</p>