<div class="h3 ui header">Kursereignis</div>
<div class="ui list">
    <div class="item">
        <div class="header">Das Kursereignis ist der eigentliche Kurs</div>
        Alles was Du hier schreibst wird veröffentlicht bei der Ausschreibung Deines Kurses.
        Wenn Du auf das Auge klickst siehst Du wie die Ausschreibung Deines Kurses aussieht.
    </div>
    <div class="item">
        <div class="header">Kursereignisse anlegen und veröffentlichen</div>
           Kursereignisse kannst Du nicht selbst anlegen. Sie werden Dir durch den Administrator eingerichtet.
           Dieser trägt dabei auch Dein Kursformat ein. Dasselbe gilt später für die Ausschreibung
           Deines Kurses. Auch die Veröffentlichung geschieht durch den Administrator.
    </div>
</div>