<div class="h4 ui header">Kursleitung</div>
<p>Die Kurse können mehrere Kursleiter haben.
</p>
<div class="ui bulleted list">
    <a class="item">Die Leiterprofile erscheinen genau, wie Du
    sie hier siehst auf unserer öffentlichen Kursseite</a>
    <a class="item">Bei mehreren Kursleitern kannst Du steuern, ob beide
    oder nur ein Leiterprofil bei der Kursausschreibung angezeigt werden.</a>
    <a class="item">Du kannst auch steuern in welcher Reihenfolge die Kursleiter
        gelistet werden.</a>
</div>