{% extends "base_semantic/base_page.html" %}
{% block body %}
    <body id="classroombackend" >
{% endblock %}
</body>
{% block main %}
    <div class="ui page grid">
    <div class="ui column">
    <h2 class="ui header" id="backendheader">
        {% block header %}
        {% endblock %}
        {% block header_controls %}
        {% endblock %}
        {% block controls %}
        {% endblock %}
    </h2>
    <div class="ui grid" style="border 5px solid red;">
    <div class="five wide column">
        <div id="helpinstructions">
            <div class="ui segment info message">
            {% block help %}
            {% endblock %}
            </div>
        </div>
        <div id="coursemenu">
            {% include 'base_course/_course_menu.html' %}
        </div>
    </div>
    <div class="eleven wide column">
        {% block breadcrumb %}
        {% endblock %}
        {% block page_content %}
        {% endblock %}
    </div>
    </div>
    </div>
    </div>
{% endblock %}