{% url 'coursebackend:lesson:start' course_slug=cs as back_url %}

{{ form.media }}

<form id="edit" class="ui form" method="post" action="#target" onsubmit="return checkForm(this);">

    {% csrf_token %}

    {% include 'coursebackend/forms/fragments/_form_non_field_errors.html' %}

    <div class="inline fields">
        <div class="field sixteen wide">

            {% if lessonblock_to.parent.errors %}
                <div class="ui negative floating message">
                    {{ lessonblock_to.parent.errors }}
                </div>
            {% endif %}
            {{ form.lessonblock_to.label_tag }}
            {{ form.lessonblock_to }}

        </div>
    </div>
    <button type="submit" value="post" class="ui button" id="formsubmitonce">
        Jetzt Kopieren!
    </button>
    <a href="{{ request.session.last_url }}" class="ui button">
        Abbruch
    </a>

</form>