{% extends "classroom/base.html" %}

{% block classroom_menu_items %}
    {% include 'classroom/studentswork/fragments/_link_create_studentswork.html' %}
{% endblock %}

{% block breadcrumbs %}
   {% include 'classroom/studentswork/fragments/_breadcrumbs.html' %}
{% endblock %}

{% block page_content %}

    <div class="row classroom_white">
        <div class="sixteen wide column">

            {% include 'classroom/studentswork/fragments/_instance_stundentswork_work.html' %}

        </div>
    </div>

{% endblock %}
