{% extends "classroom/base.html" %}

{% block page_subsection %}
    {% include 'classroom/studentswork/fragments/_link_subsection.html' %}
{% endblock %}

{% block breadcrumbs %}
   {% include 'classroom/studentswork/fragments/_breadcrumbs.html' %}
{% endblock %}

{% block page_content %}

    <div class="row classroom_white">
        <div class="sixteen wide column">

            {% include 'classroom/studentswork/fragments/_instance_classlessonstep.html' with classlessonstep=studentswork.homework.classlesson %}
        </div>
    </div>

    <div class="row classroom_white">
        <div class="sixteen wide column">

            {% include 'classroom/studentswork/fragments/_instance_studentswork_meta.html' %}
            {% include 'classroom/forms/_form_studentswork.html' %}

        </div>
    </div>

{% endblock %}

{% block rows %}{% endblock %}