{% url 'coursebackend:lesson:start' course_slug=cs as back_url %}

{{ form.media }}

<form class="ui form" method="post" action="#target" onsubmit="return checkForm(this);">

    {% csrf_token %}

    <div class="ui dividing large header">Lernschritt</div>

    <div class="fields inline">
        <div class="field eight wide">
            {{ form.parent.label_tag }}
            <p>{{ form.parent.help_text }}</p>

            {% if form.parent.errors %}
                <div class="ui negative floating message">
                    {{ form.parent.errors }}
                </div>
            {% endif %}
            <br>

            {{ form.parent }}

        </div>
    </div>
    <div class="fields inline">

        <div class="field four wide">
            {{ form.nr.label_tag }}
            <p>{{ form.nr.help_text }}</p>

            {% if form.nr.errors %}
                <div class="ui negative floating message">
                    {{ form.nr.errors }}
                </div>
            {% endif %}
            <br>

            {{ form.nr }}

        </div>

        <div class="field four wide">
            {{ form.show_number.label_tag }}
            <p>{{ form.show_number.help_text }}</p>

            {% if form.show_number.errors %}
                <div class="ui negative floating message">
                    {{ form.show_number.errors }}
                </div>
            {% endif %}
            <br>

            {{ form.show_number }}

        </div>

        <div class="field twelve wide">
            <p>Titel</p>

            {% if form.title.errors %}
                <div class="ui negative floating message">
                    {{ form.title.errors }}
                </div>
            {% endif %}
            <br>

            {{ form.title }}

        </div>

    </div>

    <div class="field sixteen wide">
        {{ form.description.label_tag }}
        {{ form.description.help_text }}
        {% if form.description.errors %}
            <div class="ui negative floating message">
                {{ form.description.errors }}
            </div>
        {% endif %}

        {{ form.description }}

    </div>

    <div class="field sixteen wide">
        {% if form.text.errors %}
            <div class="ui negative floating message">
                {{ form.text.errors }}
            </div>
        {% endif %}

        {{ form.text }}


    </div>

    <div class="ui dividing large header">Zugeordnetes Lernmaterial</div>

    <div class="field sixteen wide">
        {{ form.material.label_tag }}
        {{ form.material.help_text }}
        {% if form.material.errors %}
            <div class="ui negative floating message">
                {{ form.material.errors }}
            </div>
        {% endif %}
        <br>

        {{ form.material }}

    </div>

    <div class="ui dividing medium header">Aufgabe?</div>

    {% if form.is_homework.errors %}
        <div class="ui negative floating message">
            {{ form.is_homework.errors }}
        </div>
    {% endif %}
     <p>{{ form.is_homework }} Beinhaltet dieser Lernabschnitt eine Aufgabe?

    </p>
    {% if form.show_work_area.errors %}
        <div class="ui negative floating message">
            {{ form.show_work_area.errors }}
        </div>
    {% endif %}
    <p>{{ form.show_work_area }} Soll der private Arbeitsbereich benutzt werden?</p>

    <button type="submit" value="post" class="ui button" id="formsubmitonce">
        Speichern
    </button>
    <a href="{{ request.session.last_url }}" class="ui button">
        Abbruch
    </a>

</form>