tmp/**

master.sql
.idea
*.pyc
**/*.pyc
*.pyc

# extra files for the project
projectdocs/**

# all tmp files
tmp/**

# media files
media/**
htdocs/media/**

# some hidden toplevel files
.idea
.DS_Store

mentoki/settings_production.py
mentoki/settings_test.py
configuration
paramiko*

# static
static/themes/**
static/sites/**
static/src/**
static/components/**
static/less/**
static/img-reserve/**
static/tasks/**
static/themes/**
static/semantic/**
static/redactor/**