# git ignore file
# hidden files
.idea
.idea
.DS_Store
.env
*.pyc
**/*.pyc

# extra files for the project
projectdocs/**

#tools
reload-database.sh
live.sql

# paramico: What is this?
paramiko*

# test coverage
htmlcov/**

# log-files
*.log
logfiles/**

#static
static/font-awesome-4.4.0/**
!static/font-awesome-4.4.0/css/font-awesome.min.css

static/froala_editor/**
!static/froala_editor/css/froala_editor.min.css
!static/froala_editor/css/froala_style.min.css
!static/froala_editor/js/froala_editor.min.js

static/Semantic-UI-2.0.7_2/**
!static/Semantic-UI-2.0.7_2/dist/semantic.min.js
!static/Semantic-UI-2.0.7_2/dist/semantic.min.css
!static/Semantic-UI-2.0.7_2/dist/themes/default/assets/fonts/icons.eot