{% extends "classroom/base.html" %}
{% load crispy_forms_tags %}
{% block classroom_header %}
    <h2 class="ui inverted header"  id="classroomheader">
        {{ courseevent.courseevent_title }} :
        <a href="{% url 'classroom:subforum' subforum=match.kwargs.subforum slug=match.kwargs.slug %} ">
            {{ thread.subforum_title }}
        </a>
        / Beitrag  {{ thread.thread.title }}
    </h2>
{% endblock %}
{% block regular_page_content %}
    <div class="ui segment">
        <h3 class="ui header">
            {{ thread.thread.title }}
            <div class="ui circular label">
                {{ thread.postcount }}
            </div>
        </h3>
        <p>begonnen vor {{ thread.thread.created | timesince }}</p>
        <div>
            <p>{{ thread.thread.text | safe }}</p>
        </div>
        <div class="ui comments">
            <h3 class="ui dividing header">
                Kommentare
            </h3>
            {% for post in posts %}
                <div class="comment">
                    <a class="avatar">
                        <img src="/static/img/happyface.jpeg">
                    </a>
                    <div class="content">
                        <a class="author">{{ post.author }}</a>
                        <div class="metadata">
                            <span class="date"> {{ post.created | timesince}}</span>
                        </div>
                        <div class="text">
                            {{ post.text | safe }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <form id="post_create_form" method="post" action="">
            {% crispy form %}
            <button type="submit" value="posten" class="ui blue button" >
                Posten
            </button>
        </form>
    </div>
{% endblock %}
