<h4>Inhaltlich Verantwortliche:</h4>
<p> Sabine Maennel, Leimbachstr.223, 8041 Zürich</p>

<p>
    Alle Rechte vorbehalten. Urheberrechtlich geschützt.
    Die Vervielfältigung oder Verbreitung der hier bereitgestellten Texte bedarf der vorherigen
    schriftlichen Genehmigung.
</p>

<h4>Konzept und Design, Webumsetzung und Texte</h4>
<p>Sabine Maennel</p>

<h4>Bildmaterial</h4>
<p>
    Die Fotomotive auf dieser Website stammen von <a href=" ">de.123rf.com</a>
    und wurden für die Benutzung auf dieser Webseite käuflich erworben.
</p>

<h4>Verlinkung</h4>
<p>
    Haftungshinweis: Trotz sorgfältiger inhaltlicher Kontrolle zum Zeitpunkt der Verlinkung
    und regelmäßiger Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links.
    Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
</p>
<h4>Datenschutz</h4>
<p>
    Datenschutz: Für die Anmeldung zu unserer Kursen benötigen wir personenbezogene Daten von Ihnen.
    Wir verpflichten uns, diese Daten nicht an Dritte weiterzugeben, sondern ausschliesslich zur
    Kontaktaufnahme mit Ihnen im Rahmen der Vorbereitung und Abwicklung unserer Kurse zu benutzen.
</p>