                <div class="ui two column doubling grid">
                    <div class="column">
<div class="ui list">
  <div class="item">
    <img class="ui top aligned avatar image" src="/static/img/christine.jpg">
    <div class="content">
      <div class="header ui medium"> Christine Radomsky, Leadership Coach, Berlin</div>
      <a href="http://alcudina.de/" target="blank">
                              alcudina.de
                            </a>
      </div>
    </div>
  </div>
 <div class="ui list">
  <div class="item">
    <img class="ui top aligned avatar image" src="/static/favicon/favicon-96x96.png">
    <div class="content">
      <div class="header ">Demnächst bei Mentoki:


      </div>
                              <a class="header ui medium" href="{% url 'courseevent:publicdetail' slug="selbstfuehrung" %}">
                                 Kurs Selbstführung
                              </a>
      </div>
    </div>
  </div>





 <blockquote><h3 style="font-family: 'Helvetica Neue Light', 'HelveticaNeue-Light',
                            'Helvetica Neue', Calibri, Helvetica, Arial; font-weight:normal;">

                            "Obwohl ich bereits über
                                eine Ausbildung als Virtual Teacher verfüge,
                                habe ich noch viel Neues gelernt."</h3></blockquote>




                        <div class="ui segemt raised">
                            {% include 'public/_text_christine.html' %}
                        </div>

<div class="ui list" style="padding-top:60px;">
  <div class="item">
    <img class="ui top aligned avatar image" src="/static/img/bea3.jpg">
    <div class="content">
      <div class="header ui medium"> Bea Ribaux, Logopädin & Trainerin, Zürich</div>
     <a href="http://www.bea-ribaux.ch" target="blank">
                              www.bea-ribaux.ch
                            </a>
      </div>
    </div>
  </div>
 <div class="ui list">
  <div class="item">
    <img class="ui top aligned avatar image" src="/static/favicon/favicon-96x96.png">
    <div class="content">
      <div class="header ">Demnächst bei Mentoki:


      </div>
                             <a class="header ui medium" href="{% url 'courseevent:publicdetail' slug="schnellerlesen" %}">
                                  Kurs: Schneller Lesen</a>
      </div>
    </div>
  </div>






                        <blockquote><h3 style="font-family: 'Helvetica Neue Light', 'HelveticaNeue-Light',
                            'Helvetica Neue', Calibri, Helvetica, Arial; font-weight:normal;">
"Ich bin begeistert! Sabine Maennel hat mich toll unterstützt,
                            sie war spontan, schnell und hat für jede Frage eine Antwort gewusst. "</h3></blockquote>


                        <div class="ui segemt raised">
                            {% include 'public/_text_bea.html' %}
                        </div>
                    </div>

                    <div class="column">

<div class="ui list">
  <div class="item">
    <img class="ui top aligned avatar image" src="/static/img/franz3.jpg">
    <div class="content">
      <div class="header ui medium">Franz Neff, Schreibcoach, Bern</div>
       <a  href="http://www.schreibcoach.ch/" target="blank">
                              www.schreibcoach.ch
                            </a>
      </div>
    </div>
  </div>
 <div class="ui list">
  <div class="item">
    <img class="ui top aligned avatar image" src="/static/favicon/favicon-96x96.png">
    <div class="content">
      <div class="header">Demnächst bei Mentoki:


      </div>
       <a class="ui medium header" href="{% url 'courseevent:publicdetail' slug="schreibwerkstatt" %}">
                                  Kurs: Schreibwerkstatt 24/7</a>
      </div>
    </div>
  </div>


                        <blockquote><h3 style="font-family: 'Helvetica Neue Light', 'HelveticaNeue-Light',
                            'Helvetica Neue', Calibri, Helvetica, Arial; font-weight:normal;">

                            "Der Starterkurs ... bot mir da die nötige Entlastung.
                            Einerseits wurde ich in die Technik und die Werkzeuge des Online-Teaching eingeführt.
                            Andererseits konnte ich mich voll und ganz auf die Inhalte konzentrieren. "</h3></blockquote>


                        <div class="ui segemt raised">
                            {% include 'public/_text_franz.html' %}
                        </div>



                    </div>
                </div>
            </div>
        </div>