<h3 class="teal">Bist Du ein unabhängiger Spezialist, der
sein Know How vermarkten will?
</h3>
<p>
    Dann hast Du vielleicht schon länger über folgende Frage nachgedacht::
</p>

<div class="ui two column grid middle aligned relaxed fitted stackable">
    <div class="column">
        <h3 class="ui header">
            Was bringt es für mich online zu gehen?
        </h3>
        <p>
            Durch ein Online-Angebot kannst Du Deinen Wirkungskreis enorm verbreitern. Online-Kurse,
            wie Mentoki sie anbietet, operieren nach den neuesten Erkenntnissen der Lerntheorie
            und können hoch effektiv dabei helfen, Menschen beim lebenslangen Lernen zu begleiten
            und zu unterstützen. Dieses Lernen nach der Schule wird in der sich heute so schnell
            entwickelnden Gesellschaft immer wichtiger.
        </p>
        <h3 class="ui header">
            Warum solltest Du Dein Wissen online und auf Mentoki anbieten?
        </h3>
        <img src="/static/img/crossroads.jpg" style="height:200px;">
        <h3 class="ui header">
            Warum auf einer Plattform wie Mentoki?
        </h3>
        <div class="ui divided list">
          <div class="item">
            <i class="thumbs up marker icon"></i>
            <div class="content">
              <a class="header">Weil Schüler Kurse über Plattformen suchen ...</a>
              <div class="description">... wird Deine Vermarktung einfacher,
                  wenn Du einer Plattform angehörst.</div>
            </div>
          </div>
          <div class="item">
            <i class="thumbs up marker icon"></i>
            <div class="content">
              <a class="header">Weil wir Dir die Abrechnung abnehmen ...</a>
              <div class="description">... kannst Dich ganz aufs Unterrichten konzentrieren.</div>
            </div>
          </div>
          <div class="item">
            <i class="thumbs up marker icon"></i>
            <div class="content">
              <a class="header">Weil Du Teil einer innovativen Gemeinschaft bist ...</a>
              <div class="description">... sind Deine Unterrichtswerkzeuge immer auf dem neusten Stand
                  und Du hast schnell Hilfe, wenn mal die Technik versagt.</div>
            </div>
          </div>
        </div>
        <h3 class="ui header">
            Aber behalte ich dann meine Selbstständigkeit?
        </h3>
        <p>
            Dazu gibt es ein klares Ja. Wir stellen hier Infrastruktur, Know-how und Werkzeuge
            für selbstständige Mentoren zur Verfügung. Dein Material inklusive Urheberrecht,
            gehört Dir und Du bestimmst später selbst Deinen Preis.
        </p>

    </div>
    <div class="column">
        <h3 class="ui header">
            Warum solltest Du den Starterkurs buchen?
        </h3>
        <img src="/static/img/pilotkurs.jpg" style="height:200px;">
        <h3 class="ui header">
            Kann ich das denn nicht alleine? Warum brauche ich einen Kurs zum Online unterrichten?
        </h3>
        <p>
            Online-Unterricht muss gut vorbereitet werden. Er ist heute im Trend. Selbst grosse Universitäten
            setzen darauf und sie investieren grosse Summen, um Ihren Online-Unterricht möglichst attraktiv
            zu gestalten. Das Problem: Du siehst Deine Schüler während des Unterrichts nicht. Er muss so
            gut aufbereitet sein, dass Schüler auch alleine ihren Weg dadurch finden können.
        </p>
        <p>
            Selbst wenn Du es könntest. Wir wollen Dich bei Mentoki kennenlernen, bevor wir Dir eine virtuelles
            Unterrichtszimmer aufschliessen. Der Grund: Schüler werden uns nur vertrauen, wenn alle unsere Lehrer
            gut sind. Die Qualitätskontrolle kommt später auch Dir zu Gute, wenn Du durch unseren guten Ruf neue
            Schüler findest.
        </p>
        <h3 class="ui header">
            Was erwartet mich ganz konkret im Starterkurs?
        </h3>
        <p>
            Sieh Dir die Kursausschreibung an. Du findest Sie hier:
            <a href="{% url 'courseevent:publicdetail' slug='starterkurs2' %}">
                Starterkurs-Ausschreibung
            </a>
            Buchen kannst Du den Starterkurs von dort!
        </p>
    </div>
</div>
<h5 class="ui horizontal header divider">
<p>
    Wenn das alles für Dich gut klingt, dann freuen wir uns sehr, wenn Du über das
    Starterkursformular Kontakt zu uns aufnimmst.
</p>
<p>
    Mit lieben Grüssen
</p>
<div id="handwriting">
    <p>
        Sabine Maennel und Anette Pekrul
    <p>
</div>
</h5>