<div class="ui accordion field">
         <div class="title" style="padding-left:40px;">


          Den ganzen Erfahrungsbericht lesen
              <i class="icon angle double right"></i>
        </div>
        <div class="content field" style="padding-left:40px;">

<p>
    Ich bin begeistert! Sabine Maennel hat mich toll unterstützt, sie war spontan,
    schnell  und hat für jede Frage eine Antwort gewusst. Ich habe mich sehr gut
    aufgehoben gefühlt und bin nach dem Einführungskurs motiviert und habe Spass daran,
    den Kurs durchzuführen. Ich bin mir auch sicher, dass für weitere Fragen, die anfallen
    werden, Sabine immer ein offenes Ohr hat. Das ist ein gutes Gefühl. Danke Sabine.
</p>
</div>
</div>