<div class="ui accordion">
    <div class="active title">
        <h3 class="header ui  large">
          <i class="dropdown icon"></i>
          Bist Du ein unabhängiger Spezialist, Coach oder Trainer?
        </h3>
    </div>
    <div class="active content">
        <div class="ui grid">
             <div class="column">
                <p>
                    Dann hast Du vielleicht schon länger über Deinen Einstieg in den Online-Unterricht
                    nachgedacht. </p><p>Vielleicht hast Du auch schon erste Schritte online unternommen?

                </p>
                  <div class="column"><img class="ui image" src="/static/img/3062926_s.jpg"></div>
                <h5 class="ui header">Vielleicht stellst Du Dir gerade folgende Frage:</h5>
             </div>

        </div>
    </div>
    <div class="ui divider"></div>
    <div class="title">
        <h3 class="header ui  medium">
          <i class="dropdown icon"></i>
          Solltest Du mit Deinem Angebot online gehen?
        </h3>
    </div>
    <div class="content">
        <div class="ui two column doubling grid">
             <div class="ten wide column">
                <p>
                    Durch ein Online-Angebot kannst Du Deinen Wirkungskreis enorm verbreitern.</p>
                <h4 class="ui header medium">Und der Bedarf ist da:</h4>
                 <p>   Heute kommen zwei Faktoren zusammen, warum immer mehr Menschen sich zum Lernen jenseits
                    der Schulbildung entscheiden:
                </p>
                <div class="ui ordered list">
                    <div class="item">Es ist wissenschaftlich erwiesen, dass der Mensch bis ins hohe Altern lernfähig
                        ist und sich das Trainieren des Gehirns positiv auf die Gesundheit auswirkt.</div>
                    <div class="item">Die Technologien entwickeln und verändern sich so schnell,
                        dass permanente Weiterbildung ein absolutes Muss ist.</div>
                </div>
             </div>
            <div class="column six wide"><img class="ui image" src="/static/img/14719981_s.jpg" ></div>
        </div>
    </div>
    <div class="ui divider"></div>
    <div class="title">
        <h3 class="header ui  medium">
          <i class="dropdown icon"></i>
          Es gibt heute eine Vielfalt an Online-Plattformen. <br>Warum ist Mentoki eine gute Option für Dich?
        </h3>
    </div>
    <div class="content">
        <div class="ui two column doubling grid">
             <div class="column">
            <p>Ja, es gibt heute zahlreiche Möglichkeiten wie Webinare, Blogs und vieles mehr.
                Aber aus lerntheoretischer Sicht sind vor allem diejenigen Möglichkeiten nachhaltig,
                die über das Präsentieren von Inhalten hinausgehen und zwar dadurch, dass Du Menschen bei der
                Anwendung von Wissen hilfst und sie bei ihrem Lernerlebnis als Mentor begleitest.</p>
                 <p style="font-weight: bold;"> Frontalunterricht war gestern, heute geht es
                um projektbasiertes Lernen!</p>
            </p>
         <h3 class="header ui">
          Diese Vorteile bietet Dir Mentoki:
        </h3>
        <div class="ui divided list">
          <div class="item">
            <i class="thumbs up marker icon"></i>
            <div class="content">
              <div class="header">Wir kennen uns im Online-Unterricht aus, ...</div>
              <div class="description">...  deshalb können wir Dir helfen, einen möglichst
                  guten Einstieg in diese boomende neue Unterrichtsform zu finden.</div>
            </div>
          </div>
          <div class="item">
            <i class="thumbs up marker icon"></i>
            <div class="content">
              <div class="header">Werde Teil unserer innovativen und sich gegenseitig
                  unterstützenden Gemeinschaft, ...</div>
              <div class="description">... und Deine Unterrichtswerkzeuge werden
                  immer auf dem neuesten Stand sein. Außerdem hast Du schnell Hilfe, wenn die Technik mal versagt.</div>
            </div>
          </div>
          <div class="item">
            <i class="thumbs up marker icon"></i>
            <div class="content">
              <div class="header">Schüler suchen sich ihre Kurse über Plattformen, ...</div>
              <div class="description">... also wird die Vermarktung Deines Angebots einfacher,
                  wenn Du unserer Plattform angehörst.</div>
            </div>
          </div>
          <div class="item">
            <i class="thumbs up marker icon"></i>
            <div class="content">
              <div class="header">Die Abrechnung nehmen wir Dir ab; wir unterstützen Dich bei der Vermarktung
                  und Du behältst Deine Urheberrechte, ...</div>
              <div class="description">... also kannst Du Dich ganz aufs Unterrichten konzentrieren. </div>
            </div>
          </div>
        </div>
             </div>
            <div class="column"><img class="ui image" src="/static/img/23865010_s.jpg"></div>
        </div>
    </div>
    <div class="ui divider"></div>
    <div class="title">
        <h3 class="header ui  medium">
          <i class="dropdown icon"></i>
          Wusstest Du, dass ...?
        </h3>
    </div>

    <div class="content">
     <div class="ui two column doubling grid">
    <div class="column eleven wide">

        <div class="ui list">
          <div class="item">

            <div class="content">
              <div class="header ui medium">... Online-Unterricht effizienter sein kann als Präsenzunterricht?</div>
              <div class="description">Denn die Schüler haben mehr Zeit, das Erlernte zu vertiefen
                  und gewöhnen sich gleich daran,
                  es auch in ihrem Alltag anzuwenden.</div>
            </div>
          </div>
          <div class="item">

            <div class="content">
              <div class="header ui medium">... Online-Unterricht zu Gleichstellung, Inklusion und Integration beiträgt?</div>
              <div class="description">Denn online sind wir alle gleich!
                  Es geht ausschließlich um das, was wir beitragen und als unser Herzensanliegen vorantreiben.
</div>
            </div>
          </div>
          <div class="item">

            <div class="content">
              <div class="header ui medium">... die Uni München 60.000 Euro für die Erstellung von vier Online-Kursen
                  ausgegeben hat?</div>
              <div class="description">Denn online muss der Unterricht anders und besser aufbereitet werden, sodass er
                  sich auch im Selbststudium erschließt.
                  (Quelle: "MOOCS statt Hörsaal - Der Unterricht im Zeitalter seiner technischen Reproduzierbarkeit",
                  Mathias Becker)</div>
            </div>
          </div>
          <div class="item">

            <div class="content">
              <div class="header ui medium">... dass der Trend heute zu SPOCs geht?</div>
              <div class="description">SPOCs sind "small private online courses". Eine Kleingruppe bietet
                  die ideale Unterstützung im Lernprozess. (Quelle: ETC Journal "SPOCs are MOOC Game Changers")
              </div>
            </div>
          </div>
        </div>
        </div>
        <div class="column five wide">
            <div class="column"><img class="ui image" src="/static/img/26585295_s.jpg"></div>
        </div>
        </div>
    </div>
    <div class="ui divider"></div>
    <div class="title">
        <h3 class="header ui  medium">
          <i class="dropdown icon"></i>
          Hm, vielleicht bist jetzt von Mentoki überzeugt.
Aber warum der Starterkurs?
        </h3>
    </div>
    <div class="content">
        <div class="ui two column doubling grid">
             <div class="column eleven wide">

        <div class="ui list">
          <div class="item">

            <div class="content">
              <div class="header ui medium">Der Starterkurs vermittelt Know-how und Erfahrung. Er sichert die Qualität
                  der Plattform. Mentokis guter Ruf kommt auch Dir und der Vermarktung Deines Kurses zugute.
                </div>
              <div class="description">Eine Plattform ist nur so gut wie ihr schlechtester Lehrer.
                  Deshalb achten wir auf Qualität und wollen alle unsere Mentoren selbst kennenlernen und
                  selbst ausbilden, damit wir sie mit gutem Gewissen unseren Schülern weiterempfehlen und
                  vermarkten können. Deshalb der Starterkurs!</div>
            </div>

          </div>
          <div class="item">

            <div class="content">
              <div class="header ui medium">Online Unterrichten ist ein Handwerk! Dieses Handwerk lernst Du im Starterkurs.</div>
              <div class="description">Guter Online Unterricht ist schwierig zu erstellen und zu proben,
                  weil Du Deine Schüler nicht direkt siehst. Deshalb ist es gut, Hilfe und frühes Feedback dabei zu haben.
                  Auch das Abholen und Zusammenbringen Deiner Schüler ist nicht so einfach wie im Präsenzunterricht.
                  Aber es gibt eine Menge Tricks, die Dir helfen können. Und die lernst Du im Starterkurs.
                  Auch das Erlebnis, selbst mal Online-Schüler gewesen zu sein, hilft Dir später dabei, Dich in die
                  Perspektive Deiner Schüler hineinzudenken. Der Starterkurs bringt Dir also das Handwerk des
                  Online-Unterrichtens bei.
                </div>
            </div>
          </div>
           <div class="item">

            <div class="content">
              <div class="header ui medium">Der Starterkurs ist eine Investition in Deine berufliche Zukunft.</div>
              <div class="description">Universitäten investieren heute in den Online Unterricht,
                  weil sie die Möglichkeiten des Internets für sich entdeckt haben. Das Internet hat gerade
                  im Bildungsbereich viel zu bieten. Aber, um diese Möglichkeiten auszuschöpfen, muss man in
                  Vorleistung gehen. Es geht dabei nicht nur um die Kosten des Starterkurses. Noch wichtiger
                  ist Dein eigener Einsatz. Der Starterkurs vermittelt Dir zwar das notwendige Handwerkszeug,
                  aber aufbauen musst Du Deinen Kurs immer noch selbst. Der Starterkurs ist Deine Investition
                  in Dich und Dein Thema, ein persönliches Zukunftsinvestment basierend auf den Möglichkeiten,
                  die das Internet heute bietet.
              </div>
            </div>
            </div>
          </div>


        </div>
        <div class="column five wide">
            <div class="column"><img class="ui image" src="/static/img/pilotkurs.jpg"></div>
        </div>
    </div>
</div>
    <div class="ui divider"></div>
    <div class="title">
        <h3 class="header ui  medium">
          <i class="dropdown icon"></i>
          Noch Fragen?
        </h3>
    </div>
    <div class="content">
        <div class="ui two column doubling grid">
             <div class="column">
        <div class="ui divided list">
          <div class="item">
            <i class="checkmark icon"></i>
            <div class="content">
              <div class="header ui medium">Bleibst Du unabhängig?</div>
              <div class="description">Dazu gibt es ein klares Ja. Wir stellen hier Infrastruktur,
                  Know-how und Werkzeuge für selbstständige Mentoren zur Verfügung. Dein Material
                  inklusive Urheberrecht, gehört Dir und Du bestimmst später selbst Deinen Preis.</div>
            </div>
          </div>
          <div class="item">
            <i class="calendar icon"></i>
            <div class="content">
              <div class="header ui medium">Garantiert der Starterkurs meinen Platz auf der Plattform?</div>
              <div class="description">
                 Mit dem Bestehen des Starterkurs hast Du Dein Ticket für den eigenen Unterrichtsstart bei Mentoki
                  in der Tasche und zwar für soviele eigene Kurse, wie Deine Zeit und Sachkenntnis es erlauben.
                  Du kannst Deinen Kurs später auch parallel in mehreren Kursformaten anbieten.
              </div>
            </div>
          </div>
          <div class="item">
            <i class="pin icon"></i>
            <div class="content">
              <div class="header ui medium">Welche Kursformate unterstützt ihr?</div>
              <div class="description">Unser Lieblingsformat ist die geführte Kleingruppe, aber wir unterstützen
                  auch andere Kursformate – da, wo das Sinn macht: Aktuell haben wir etwa beispielsweise auch
                  einen Kurs mit Einzelcoaching im Programm und einen reinen Selbstlernkurs mit nur geringer
                  Unterstützung durch den Mentor, weil das thematisch dort gut passt.
              </div>
            </div>
          </div>
          <div class="item">
            <i class="pin icon"></i>
            <div class="content">
              <div class="header ui medium">Was verlangt ihr als Gegenleistung?</div>
              <div class="description">Der Starterkurs kostet 1480 €. Beim Unterrichten auf der Plattform nehmen
                  wir einen Anteil von etwa 20 Prozent für unseren Service und die Benutzung der Infrastruktur.
                  Support in jeder Hinsicht wird bei uns groß geschrieben. Wir sind bei Problemen jederzeit ansprechbar.
              </div>
            </div>
          </div>
          <div class="item">
            <i class="shopping cart icon"></i>
            <div class="content">
              <div class="header ui medium">Wie buche ich den Starterkurs?</div>
              <div class="description">Klicke auf den Link unten. Du kommst dann zu einem Formular, wo Du
                  Deine Kursidee für uns skizzierst. Schicke sie an uns ab und wir nehmen Kontakt mit Dir auf,
                  um herauszufinden, ob unser Angebot etwas für Dich ist. Wir beantworten dabei auch gerne andere
                  Fragen, die Du zum Online-Unterrichten hast.</div>
            </div>
          </div>
        </div>

    </div>
        <div class="column">
            <div class="column"><img class="ui image" src="/static/img/15743592_s.jpg"></div>
        </div>
</div>
        </div>

    </div>
<p></p>
{% include 'mailchimp/_mailchimp_starterkurs.html' %}
