<div class="ui accordion field">
        <div class="title" style="padding-left:40px;">


          Den ganzen Erfahrungsbericht lesen
              <i class="icon angle double right"></i>
        </div>

<div class="content field" style="padding-left:40px;">
<p>
    Schon seit einiger Zeit dachte ich darin, meine bis jetzt im Präsenzunterricht
    vermittelte Schreibwerkstatt für Studierende auch online anzubieten. Ich hatte
    jedoch grossen Respekt vor dem damit verbundenen Aufwand mit der Einrichtung der
    Lernumgebung, von der ganzen administrativen Seite (E-Payment etc.) ganz zu schweigen.
    Der Starterkurs von netTeachers bot mir da die nötige Entlastung.
    Einerseits wurde ich in die Technik und die Werkzeuge des Online-Teaching eingeführt.
    Andererseits konnte ich mich voll und ganz auf die Inhalte konzentrieren.
    Da liegen ja auch meine Stärken.
</p>
<p>
    Sehr geschätzt habe ich zudem den Austausch mit anderen Kursteilnehmenden und deren
    Feedbacks auf meine ersten Lektionen. Das bringt einen weiter und motiviert.
    Wichtig zu wissen ist, dass der Hauptteil der Arbeit erst nach dem Starterkurs kommt.
    Der Starterkurs vermittelt einem in wenigen Wochen die Grundlagen für das Konzept und
    das Einrichten eines Online-Kurses. Den ersten eigenen Kurs entwickelt man im Anschluss,
    kann dabei aber immer noch vom Kontakt mit der Kursleiterin und den anderen
    Teilnehmenden profitieren. Vielen Dank! Franz Neff, Soziologe und Schreibcoach
</p>
</div>
</div>