{% extends "base_semantic/base_public.html" %}
{% block body %}
<body id="public" >
{% endblock %}
{% block main %}
    <main class="ui grid">
        <div class="row">
        </div>
        <div class="row">
                <h1 class="ui header block">Impressum
                </h1>
                <div class=""column">
                <div class="ui segment">
                       <div class="ui list">
                                  <div class="item">
                                    <div class="header">Inhaltlich Verantwortlich:</div>
                                    Sabine Maennel, Leimbachstr.223, 8041 Zürich
                                  </div>
                                  <div class="item">
                                    <div class="header"></div>
                                    Alle Rechte vorbehalten. Urheberrechtlich geschützt.
                Die Vervielfältigung oder Verbreitung der hier bereitgestellten Texte bedarf der vorherigen
                schriftlichen Genehmigung.
                                  </div>
                                  <div class="item">
                                    <div class="header">Motivation:</div>
                                    Sabine ist bereits bei den Pioneeren in die Lehre gegangen und ihre Träume von
                                    einer eigenen deutschsprachigen Lernplattform haben bereits begonnen,
                                    als sie sich ehrenamtlich dafür engagierte die Khan-Akademie ins Deutsche zu
                                    übersetzen. Eigene Erfahrungen auf zahlreichen Lernplattformen haben die Idee reifen lassen,
                                    dass diese neue Form des Unterrichts enormes Potential hat und perfekt dazu
                                    geeeignet ist in unserem schnelllebigen Zeitalter, indem wie nie zuvor
                                    lebenslagens Lernen angesagt ist, eine Bildungs-Lücke zu füllen.
                                  </div>
                                </div>
                    </div>
            <h4>Inhaltlich Verantwortliche:</h4>
            <p> Sabine Maennel, Leimbachstr.223, 8041 Zürich</p>

            <p>
                Alle Rechte vorbehalten. Urheberrechtlich geschützt.
                Die Vervielfältigung oder Verbreitung der hier bereitgestellten Texte bedarf der vorherigen
                schriftlichen Genehmigung.
            </p>

            <h4>Konzept und Design, Webumsetzung und Texte</h4>
            <p>Sabine Maennel</p>

            <h4>Bildmaterial</h4>
            <p>
                Die Fotomotive auf dieser Website stammen von <a href=" ">de.123rf.com</a>
                und wurden für die Benutzung auf dieser Webseite käuflich erworben.
            </p>

            <h4>Verlinkung</h4>
            <p>
                Haftungshinweis: Trotz sorgfältiger inhaltlicher Kontrolle zum Zeitpunkt der Verlinkung
                und regelmäßiger Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links.
                Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
            </p>
            <h4>Datenschutz</h4>
            <p>
                Datenschutz: Für die Anmeldung zu unserer Kursen benötigen wir personenbezogene Daten von Ihnen.
                Wir verpflichten uns, diese Daten nicht an Dritte weiterzugeben, sondern ausschliesslich zur
                Kontaktaufnahme mit Ihnen im Rahmen der Vorbereitung und Abwicklung unserer Kurse zu benutzen.
            </p>
      </div>
    </div>
    </main>
{% endblock %}
