{% extends "base_semantic/base_public.html" %}
{% block body %}
<body id="team" >
{% endblock %}
{% block main %}
    <h1 class="ui header block" id="mainheader">Impressum
    </h1>
    <main class="ui two column doubling grid">
        <div class="row">
            <div class="column">
                <div class="ui segment">
                    <div class="ui list">
                        <div class="item">
                            <div class="ui header">Inhaltlich Verantwortlich:</div>
                            <p>
                                Sabine Maennel, Leimbachstr.223, 8041 Zürich
                            </p>
                            <p>
                                Alle Rechte vorbehalten. Urheberrechtlich geschützt.
                                Die Vervielfältigung oder Verbreitung der hier bereitgestellten Texte
                                bedarf der vorherigen schriftlichen Genehmigung.
                            </p>
                        </div>
                        <div class="item">
                            <div class="ui header">Konzept und Design, Webumsetzung und Texte:</div>
                            <p>
                                Sabine Maennel
                            </p>
                        </div>
                        <div class="item">
                            <div class="ui header">Bildmaterial:</div>
                            <p>
                                Die Fotomotive auf dieser Website stammen von de.123rf.com
                                und wurden für die Benutzung auf dieser Webseite käuflich erworben.
                            </p>
                        </div>
                        <div class="item">
                            <div class="ui header">Verlinkung:</div>
                            <p>
                                Haftungshinweis: Trotz sorgfältiger inhaltlicher Kontrolle zum Zeitpunkt
                                der Verlinkung und regelmäßiger Kontrolle übernehmen wir keine Haftung für
                                die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind
                                ausschließlich deren Betreiber verantwortlich.
                            </p>
                        </div>
                        <div class="item">
                            <div class="ui header">Datenschutz:</div>
                            <p>
                                Datenschutz: Für die Anmeldung zu unserer Kursen benötigen wir personenbezogene
                                Daten von Ihnen. Wir verpflichten uns, diese Daten nicht an Dritte weiterzugeben,
                                sondern ausschliesslich zur Kontaktaufnahme mit Ihnen im Rahmen der Vorbereitung
                                und Abwicklung unserer Kurse zu benutzen.
                            </p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
