{% extends "base_semantic/base_public.html" %}
{% block body %}
<body id="webinar" >
{% endblock %}
{% block main %}
    <main class="ui two column doubling grid" id="#newscolumn">
        <div class="row">
                <h1 class="ui header aligned center" id="mainheader">Gratis Webinar zum Einstieg in den Online-Unterricht"
                    <div class="sub header">


                                             <a class="ui button fluid" href="https://attendee.gotowebinar.com/rt/3072651580813542657">
                             Sehen wir uns morgen bei unserem ersten gratis Webinar?
                        Hier kannst Du Dich anmelden!
                         </a>
                        </div>
                </h1>
            <div class="eight wide column">
                                             <a  href="https://attendee.gotowebinar.com/rt/3072651580813542657">

                       <img class="ui image" src="/static/img/webinar_5.jpg">
</a>

            </div>
            <div class="eight wide column">
                <div class="ui piled segment">
                     <h3 class="ui header large">Warum Du jetzt mit Deinem Wissen online gehen solltest ...</h3>
                         <h4>...
                             erfährst Du in unserem gratis Webinar.
                         </h4>
                        <p>Nach der Anmeldung erhältst Du eine Bestätigungs-E-Mail mit den genauen Instruktionen für Deine Teilnahme am Webinar.</p>

                        <h4 class="ui header">Das Programm:</h4>
                        <p>
                        Wenn Du schon längere Zeit darüber nachgedacht hast, ob und wie Du mit Deinem Fachwissen online gehen kannst, dann bekommst Du in diesem Webinar Antworten und ein Angebot!
                        </p>

                        <p>Im Detail werden folgende Fragen geklärt:</p>
                                             <ul class="ui list">
                        <li>Warum ist gerade heute eine gute Zeit, mit dem Unterrichten online zu gehen?</li>
                        <li>Welche Nische füllt der Online-Unterricht?</li>
                        <li>Welche Formate gibt es und welches davon passt für Dich?</li>
                        </ul>
                    <a href="https://attendee.gotowebinar.com/rt/3072651580813542657">
                    <h4 class="ui header medium">Die Termine</h4>
                    <div class="ui divided list">
                      <div class="item">
                       <i class="calendar icon black"></i>
                        <div class="content">
                          <div class="header" >Mittwoch, 6.5.: 20:00 Uhr</div>
                        </div>
                      </div>
                      <div class="item">
                       <i class="calendar icon black"></i>
                        <div class="content">
                          <div class="header" >Montag, 11.5.: 10:00 Uhr</div>
                        </div>
                      </div>
                      <div class="item">
                        <i class="calendar icon black"></i>
                        <div class="content">
                          <div class="header" >Dienstag, 12.5: 20 Uhr</div>
                        </div>
                      </div>
                      <div class="item">
                        <i class="calendar icon black"></i>
                        <div class="content">
                          <div class="header" >Mittwoch, 13.5: 13 Uhr</div>
                        </div>
                      </div>
                    </div></a>
                    <p></p>
                                            <h4>
                        Lerne die faszinierenden Möglichkeiten und Chancen kennen, die wir Dir im Online-Lehren/Mentoring bieten.</p>

                    <p>Wir freuen uns auf Dich!</h4>
                      </div>
            </div>
        </div>
    </main>
{% endblock %}
