{% extends "base_semantic/base_public.html" %}
{% block body %}
<body id="public" >
{% endblock %}
{% block main %}
    <main class="ui two column doubling grid">
        <div class="row">
                <h1 class="ui header block" id="mainheader">Gratis Webinar
                    <div class="sub header">

                                            <p>Sehen wir uns morgen bei unserem ersten gratis Webinar?
                        Jetzt anmelden und zu den Ersten gehören:</p>
                                             <a class="ui button teal" href="https://attendee.gotowebinar.com/rt/3072651580813542657">
                             Anmeldung
                         </a>
                        </div>
                </h1>
            <div class="eight wide column">
                 <div class="ui piled segment">
                     <h3 class="ui header">Warum Du jetzt mit Deinem Wissen online gehen solltest ...</h3>
                         <p>...
                             erfährst Du in einem unserer gratis Webinare.
                         </p>
                        <p>Nach der Anmeldung erhältst Du eine Bestätigungs-E-Mail mit Informationen zur Teilnahme am Webinar.</p>
                       <img class="ui image" src="/static/img/Webinar_4.jpg">

                 </div>
            </div>
            <div class="eight wide column">
                <div class="ui piled segment">
                        <h4 class="ui header">Das Programm:</h4>
                        <p>
                        Wenn Du schon längere Zeit darüber nachdenkst, ob und wie Du mit Deinem Fachwissen online gehen kannst, dann bekommst Du in diesem Webinar eine Antwort!
                        </p>

                        <p>Im Detail werden folgende Fragen geklärt:</p>
                                             <ul class="ui list">
                        <li>Warum ist gerade heute eine gute Zeit, online zu gehen?</li>
                        <li>Welche Nische füllt der Online-Unterricht?</li>
                        <li>Welche Formate gibt es und welches davon passt für Dich?</li>
                        </ul>

                    <h4 class="ui header">Die Termine</h4>
                    <div class="ui divided list">
                      <div class="item">
                        <i class="map marker icon"></i>
                        <div class="content">
                          <a class="header">Mittwoch, 6.5.: 20:00 Uhr</a>
                        </div>
                      </div>
                      <div class="item">
                        <i class="map marker icon"></i>
                        <div class="content">
                          <a class="header">Sonntag, 10.5.: 10:00 Uhr</a>
                        </div>
                      </div>
                      <div class="item">
                        <i class="map marker icon"></i>
                        <div class="content">
                          <a class="header">Montag, 11.5: 20 Uhr</a>
                        </div>
                      </div>
                      <div class="item">
                        <i class="map marker icon"></i>
                        <div class="content">
                          <a class="header">Dienstag, 12.5: 13 Uhr</a>
                        </div>
                      </div>
                    </div>
                                            <p>
                        Lerne die faszinierenden Möglichkeiten und Chancen kennen, die wir Dir im Online-Lehren/Mentoring bieten.</p>

                    <p>Wir freuen uns auf Dich!</p>
                      </div>
            </div>
        </div>
    </main>
{% endblock %}
