{% extends "base_semantic/base_public.html" %}
{% load activelink %}
{% block title %}Mentoki Starterkurs{% endblock %}
{% block body %}
<body id="application" >
{% endblock %}
{% block main %}
    <h2 class="ui block header" id="mainheader">Starterkurs, Start: 28.5.2015, Dauer: 8 Wochen
        <div class="sub header">
            <a href="{% url 'contact:application' %}">
                Jetzt zum Vorgespräch anmelden.
            </a>
        </div>
    </h2>
    <div class="ui grid">
        <div class="column">
            <div class="ui top attached tabular menu">
                <a class="
                {% if match.kwargs.tab == "video" %}
                   active
                {% endif %}
                 item" data-tab="first">Ist der Starterkurs etwas für Dich?</a>
                <a class="item
                {% if match.kwargs.tab == "detail" %}
                   active
                {% endif %}
                " data-tab="second">Deine Perspektive</a>
                <a class="item
                {% if match.kwargs.tab == "testimonials" %}
                   active
                {% endif %}
                " data-tab="third">Was die ersten Teilnehmer sagen</a>
            </div>
            <div class="ui bottom attached tab segment
                {% if match.kwargs.tab == "video" %}
                   active
                {% endif %}
            " data-tab="first">
                <div class="ui segment">
                    <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
                    <div class='embed-container'>
                    <iframe src='http://www.youtube.com/embed/hH9bPbEpDYs?rel=0&controls=0&showinfo=0' frameborder='0' allowfullscreen></iframe>
                    </div>
                    
                </div>
            </div>
            <div class="ui bottom attached tab segment
            {% if match.kwargs.tab == "detail" %}
                 active
            {% endif %}
            " data-tab="second">
                <div class="ui segment">
                    {% include 'public/_text3.html' %}
                </div>
            </div>
            <div class="ui bottom attached tab segment
                {% if match.kwargs.tab == "testimonials" %}
                   active
                {% endif %}
            " data-tab="third">
                <div class="ui grid two columns">
                    <div class="column">
                        <h4 class="ui horizontal header divider">
                           <i class="comment outline icon"></i>
                            <a href="http://alcudina.de/" target="blank">
                              Christine Radomsky, Leadership Coach, Berlin
                            </a>
                        </h4>
                        <div class="ui segemt raised">
                            {% include 'public/_text_christine.html' %}
                        </div>
                    </div>
                    <div class="column">
                        <h4 class="ui horizontal header divider">
                           <i class="comment outline icon"></i>
                          <a href="http://www.schreibcoach.ch/" target="blank">
                          Franz Neff, Schreibcoach, Bern
                          </a>
                        </h4>
                        <div class="ui segemt raised">
                            {% include 'public/_text_franz.html' %}
                        </div>
                        <h4 class="ui horizontal header divider">
                           <i class="comment outline icon"></i>
                          <a href="http://www.bea-ribaux.ch" target="blank">
                          Bea Ribaux, Logopädin, Zürich
                          </a>
                        </h4>
                        <div class="ui segemt raised">
                            {% include 'public/_text_bea.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}