{% extends "newsletter/base.html" %}
{% load django_markdown %}
{% block main %}
<main class="ui page grid centered main" id="newsletter_admin_main_grid">
    <div class="row">
        <div class="column ">
            <div class="ui segment piled" id="newsletter_admin_main_segment">
                <h1 class="ui header center aligned" id="newsletter_admin_mainheader">
                    Mentoki Newsletter Verwaltung
                </h1>
                <a href="{% url 'newsletter:index' %}">
                   <i class="ui eye open icon"></i>öffentliche Seite ansehen
                </a>
                <a href="{% url 'newsletter:create' %}">
                   <i class="ui plus icon"></i>neuen Newsletter anlegen
                </a>
                     {% for newsletter in newsletters %}
                        <div class="ui segment piled">
                            <h3 class="ui header">
                                  <a href="{% url 'newsletter:detail' slug=newsletter.slug %}" >
                                      {{ newsletter.title }}
                                  </a>
                            </h3>
                            <p class="meta">
                                Erscheinungsdatum: {{ newsletter.published_at_date | date:'d.m.Y' }}
                            </p>
                            <p class="meta">
                                Status: {{ newsletter.published |yesno:"veröffentlicht, Entwurf"  }}
                            </p>
                            <div>
                                <h3 class="ui header">Abstrakt</h3>
                                {{ newsletter.excerpt | safe }}

                            </div>
                            <a href="{% url 'newsletter:update' slug=newsletter.slug %}">
                               <i class="ui wrench icon"></i> bearbeiten
                            </a>
                            <a href="{% url 'feed' %}">
                               <i class="ui rss icon"></i>feed
                            </a>
                            <a href="{% url 'newsletter:detail' slug=newsletter.slug %}">
                               <i class="ui eye open icon"></i>ansehen
                            </a>
                          </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
