{% extends "newsletter/base_admin.html" %}
{% block main %}
    <h2 class="ui header">
        Newsletter
    </h2>
    <div class="ui tabular menu">
        <a class="item" href="{% url 'newsletters:list' %}">
            Liste
        </a>
        <a class="active blue item">
            Einzelansicht
        </a>
    </div>
    <div class="segment raised ui">
       {{ announcement.published_at_date |date:'d.m.Y' }}
       <h3 class="ui header">
            {{ newsletter.title }}
       </h3>
       <div>{{ newsletter.text | safe }}</div>
    </div>
{% endblock %}