{% extends "coursebackend/base.html" %}

{% block header %}
   Unterricht {{ course.title }}
{% endblock %}

{% block help %}
    {% include 'coursebackend/material/_help_material.html' %}
{% endblock %}

{% block controls %}

    {% include 'coursebackend/_control_help.html' %}
    {% include 'coursebackend/_control_worklinks.html' %}

{% endblock %}

{% block page_topic %}
    <a class="item" href="{% url 'coursebackend:material:list' course_slug=course.slug %}">
        Material {{ course.title }}
    </a>
{% endblock %}

{% block page_content %}

    {% include 'coursebackend/material/_material_view.html' %}

{% endblock %}

