{% extends 'base/base_public.html' %}

{% load i18n %}

{% block main_content %}

    <!-- text page -->
    <!-- grid -->
    <div class="ui grid one column centered" style="padding-bottom:50px;">

         <!-- one column -->
         <div class="sixteen center aligned wide column" style="padding-top:0px;">

             {% block contact_page_image %}{% endblock %}

         </div>


         <div class="center aligned fourteen wide tablet eight wide computer column" id="whitepaper">

             {% block contact_content %}{% endblock %}

         </div>

    </div>


{% endblock %}