{% extends "base/base_public.html" %}
{% load i18n %}
{% block background_image %}background: url('/static/img/45169729_l_l.jpg');{% endblock %}
{% block meta_title %}Kontakt | Mentoki{% endblock %}

{% block meta_description %}Kontaktiere uns, wenn Du Fragen zu unseren Online-Kursen hast oder, wenn Du auf Mentoki unterrichten möchtest.{% endblock %}
{% block meta_keywords %}online lernen, online unterrichten, lernen und lehren lebenslang{% endblock %}


{% block main_content %}
<!-- onlineunterrichten.html -->
<div class="ui grid container centered" style="padding-bottom:100px;">

    <div class="sixteen wide tablet twelve wide computer column">
       <div class="ui segment">
           <img class="ui image fluid" src="/static/img/anette_and_sabine.jpg">


            <div class="ui header center aligned  large" style="color:#19aaa6;
            font-family: 'Montserrat', sans-serif;
            font-size: 2em;
            font-weight: 400;
            line-height: 1.5em;
            padding-top:0px; margin-top:0px;
            -webkit-font-smoothing: antialiased;
            ">
                {% trans 'Kontaktiere Sie uns!' %}
        <div class="sub header">Wir freuen uns auf Ihre Nachricht.</div>
            </div>




    <!-- form -->
    <form class="ui form" method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" value="post" class="ui button">
            Abschicken
        </button>
    </form>

            </div>
    </div>
</div>




{% endblock %}

