{% extends "contact/pages/base.html" %}
{% load i18n %}

{% block page_section_css_id %}standard_public_page_body_2{% endblock %}

{% block meta_title %}Kontakt | Mentoki {% endblock %}

{% block meta_description %}Kontaktiere uns, wenn Du online lernen oder unterrichten willst{% endblock %}
{% block meta_keywords %}online lernen, online unterrichten {% endblock %}

{% block contact_page_image %}
    <img class="ui image centered huge image" src="/static/img/anette_and_sabine.jpg">
{% endblock %}

{% block contact_content %}

    <!--page content -->
    <h2 class="ui header ">{% trans 'Kontaktiere uns!' %}
        <div class="sub header">Wir freuen uns auf Deine Nachricht.</div>
    </h2>

    <!-- form -->
    <form class="ui form" method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" value="post" class="ui button">
            Abschicken
        </button>
    </form>

{% endblock %}

