{% url 'coursebackend:announcement:list' course_slug=cs slug=es as list_url %}
{% url 'coursebackend:announcement:detail' course_slug=cs slug=es pk=announcement.pk as detail_url %}

<div class="ui large breadcrumb" id ="page-breadcrumb">

    {% if url_name == 'list' %}

        <!-- section active -->
        <div class="section active">
            Ankündigungen
        </div>

    {% else %}

        <!-- section link -->
        <a href="{{ list_url }}" class="section">
            Ankündigungen
        </a>
        <i class="right chevron icon divider"></i>

        <!-- announcement active -->
        {% if announcement %}

            <div class="section active">
                {{ announcement }}
            </div>

        {% endif %}

    {% endif %}

</div>