{% comment %}

announcement detail

for detail/delete

{% endcomment %}


<div class="ui card fluid">
  <div class="content">
    <div class="header">
        {{ announcement.title }}
        {% if not announcement.published and url_name == "detail" %}
        <a href="update_url">
            <i class="icon write"></i>
        </a>
        <a href="delete_url">
            <i class="icon trash"></i>
        </a>
        {% endif %}
    </div>
    <div class="meta">
    {% if announcement.published %}
        wurde am {{ announcement.published_at |date:'d.m.Y' }} verschickt an:

    {% else %}
        unveröffentlicht
    {% endif %}
    </div>
    <div class="description">
      <p>{{ announcement.text | safe }}</p>
    </div>
  </div>
</div>