{% comment %}

announcement table

for list

{% endcomment %}

<table class="ui table">

    <thead>
        <tr>
            <tr>
                <th>veröffentlicht?</th>
                <th>archivieren?</th>
                <th>Titel</th>

            </tr>
        </tr>
    </thead>

    <tbody>
        {% for announcement in announcements_unpublished %}

            {% url 'coursebackend:announcement:update' course_slug=cs slug=es pk=announcement.pk as update_url %}
            {% url 'coursebackend:announcement:delete' course_slug=cs slug=es pk=announcement.pk as delete_url %}
            <tr>
                <td>
                    <a href="{{ update_url }}">
                        <i class="icon write blue"></i>
                    </a>
                    <a href="{{ delete_url }}">
                        <i class="icon trash blue"></i>
                    </a>
                </td>
                <td>-</td>
                <td>
                    <a href="{{ delete_url }}">
                        {{ announcement.title }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        {% for announcement in announcements_published %}

            {% url 'coursebackend:announcement:detail' course_slug=cs slug=es pk=announcement.pk as detail_url %}
            {% url 'coursebackend:announcement:archive' course_slug=cs slug=es pk=announcement.pk as archive_url %}

            <tr>
                <td>
                    {{ announcement.published_at | date:'d.m.Y'  }}
                    <i class="icon checkmark green"></i>
                </td>
                <td>
                    <a href="{{ archive_url }}">
                        archivieren
                    </a>
                </td>
                <td>
                    <a href="{{ detail_url }}">
                        {{ announcement.title }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        {% for announcement in announcements_archived %}

            {% url 'coursebackend:announcement:unarchive' course_slug=cs slug=es pk=announcement.pk as unarchive_url %}
            <div class="meta:data">
                <td><span class="meta_data">
                    {{ announcement.published_at | date:'d.m.Y'  }}</span>
                </td>
                <td>
                    <a href="{{ unarchive_url }}">
                        <i class="unhide icon"></i>
                    </a>
                </td>
                <td>
                    <span class="meta_data">
                        {{ announcement.title }}</span>
                </td>
            </tr>
            </div>
        {% endfor %}
    </tbody>
</table>
