{% extends "coursebackend/base.html" %}

{% block controls %}
    {{ block.super }}
    {% include 'coursebackend/_checkbox_worklinks.html' %}
{% endblock %}

{% block help %}
{% include 'coursebackend/courseowner/_help_list.html' %}
{% endblock %}

{% block page_topic %}
    {% include 'coursebackend/courseowner/_page_topic.html' %}
{% endblock %}

{% block page_content %}

        <h2 class="ui header">Kursleitung</h2>
        <div class="ui grid doubling two column">
            {% for owner in owners %}
                <div class="column">
                    <h3>
                        {{ owner.user }}
                         <a class= "header worklink item"
                           href="{% url 'coursebackend:courseowner:update' course_slug=course.slug pk=owner.pk %}">
                           <i class="write blue icon"></i>
                        </a>

                    </h3>
                    <div class="ui card">

                        <div class="image">
                            {% if owner.foto %}
                                <img src="{{ owner.foto.url }}">
                            {% endif %}
                        </div>
                        <div class="content">
                            <a class="header">{{ owner.name }}

                            </a>


                            <div class="description">
                               {{ owner.text | safe }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

{% endblock %}
