{% extends "base/base_x.html" %}

{% block page_section_css_id %}standard_public_page_body_2{% endblock %}

{% block main_content %}

    <!-- text page -->
    <div class="ui grid container" style="padding-bottom:100px; padding-top:50px;">
        <div class="content ui column sixteen wide">
            <div class="sixteen wide column" id="whitepaper">

                    <!-- page content -->
                    <div class="ui header">Die Zahlung war erfolgreich</div>
                <p>Vielen Dank, wir melden uns bald!</p>

                <p>Mit lieben Grüssen</p>
                <p id="signature">Sabine Maennel und Anette Pekrul</p>

            </div>
        </div>
    </div>

{% endblock %}