{% extends "base/base_public.html" %}

{% block page_section_css_id %}standard_public_page_body_2{% endblock %}

{% block main_content %}

    <!-- text page -->
    <div class="ui grid container" style="padding-bottom:100px;
          padding-top:40px;>

        <div class="content ui column sixteen wide">

            <div class="ui two column stackable grid">

                <div class="column five wide">

                    <!-- courseevent detail -->

                    <div class="ui cards centered">
                        {% include 'courseoffer/fragments/_coursecard_details.html' with product=courseeventproduct %}
                    </div>

                </div>

                <div class="column ten wide">

                    {% include 'courseoffer/fragments/_3steps_checkout.html' %}

                    <form id="checkout-form" method="post" class="ui form" autocomplete="off">
                      {% csrf_token %}

                      <div id="dropin-container"></div>
                      <input class="ui button" type="submit" value="jetzt zahlen">
                    </form>
                </div>

                <script src="https://js.braintreegateway.com/v2/braintree.js"></script>

                <script type="text/javascript">
                    // Execute on DOM Ready ($(function(){}))
                    braintree.setup("{{ client_token }}", "dropin", {
                      container: "dropin-container",  // id of the container div
                      form: "checkout-form"  // id of the form
                    });
                </script>
            </div>
        </div>


{% endblock %}
