{% extends "base/base_public.html" %}

{% block page_section_css_id %}standard_public_page_body_2{% endblock %}

{% block main_content %}

    <!-- text page -->
    <div class="ui grid container" style="padding-bottom:100px;
          padding-top:40px;"  >

        <div class="content ui column sixteen wide">


            <div class="ui two column stackable grid">

                <div class="column five wide">

                    <!-- courseevent detail -->

                    <div class="ui cards centered">
                        {% include 'courseoffer/fragments/_coursecard_details.html' with product=courseeventproduct %}
                    </div>

                </div>

                <div class="column ten wide">

                    {% include 'courseoffer/fragments/_3steps_checkout.html' %}

                    <h4 class="ui dividing header">Zahlung und Anmeldung</h4>

                    <h4 class="ui header">Zahlungsart</h4>
                    <p>Zur Zeit ist nur die Zahlung per Paypal aktiviert. Schreiben Sie uns, wenn Sie damit Schwierigkeiten
                    haben. Dan finden wir Alternativen für Sie</p>
                    <h4 class="ui header">Zahlungsvorgang</h4>
                    <p>Um sicher zu gehen, dass sie unsere Emails erhalten werden,
                        haben wir uns folgendes Verfahren ausgedacht: Wir schicken Ihnen einen Zahlungslink per Email mit
                       einer Rechungsnummer. Sobald Sie bezahlt haben, erhalten Sie Ihre Zugangsdaten von uns per Email.
                    </p>

                    <form id="checkout-form" method="post" class="ui form">
                      {% csrf_token %}
                      <div class="fields">
                        <div class="field eight wide">
                         <label>Vorname</label>
                         {{ form.first_name }}
                      </div>
                      <div class="field eight wide">
                         <label>Nachname</label>
                         {{ form.last_name }}
                      </div>
                      </div>
                      <div class="field">
                         <label>Ihre Email</label>
                         {{ form.customer_email }}
                      </div>
                      <input class="ui button" type="submit" value="Jetzt den Bezahlvorgang auslösen">
                    </form>
                </div>


            </div>
        </div>
    </div>

{% endblock %}
