{% extends "base/base_x.html" %}

{% block page_section_css_id %}standard_public_page_body_2{% endblock %}

{% block main_content %}

    <!-- text page -->
    <div class="ui grid container" style="padding-bottom:100px; padding-top:50px;">
        <div class="content ui column sixteen wide">
            <div class="sixteen wide column" id="whitepaper">
<div class="ui header">Kursbuchung:</div>
<p>Kurs XY, Start Z, Teilnehmerzahl 15 ...</p>

<div class="ui three steps">
  <div class="active  step">
    <i class="truck icon"></i>
    <div class="content">
      <div class="title">Kundenregistrierung</div>
    </div>
  </div>
  <div class="step">
    <i class="payment icon"></i>
    <div class="content">
      <div class="title">Bezahlung</div>
    </div>
  </div>
  <div class="disabled step">
    <i class="info icon"></i>
    <div class="content">
      <div class="title">Buckung bestätigen</div>
    </div>
  </div>
</div>
<form id="checkout-form" method="post" class="ui form">
  {% csrf_token %}
  <h4 class="ui dividing header">Kundenanmeldung</h4>
    {%  %}
    {{ form.first_name.errors }}{{ form.last_name.errors }}
  <div class="field">
    <label>Name</label>
    <div class="two fields">
      <div class="field">
         {{ form.first_name }}
      </div>
      <div class="field">
         {{ form.last_name }}
      </div>
    </div>
  </div>

  <br>
  {{ form.amount.errors }}
  {{ form.amount.label_tag }}
  {{ form.amount }}
  <div id="dropin-container"></div>
  <input type="submit" value="Bezahlung abschliessen">
</form>

<script src="https://js.braintreegateway.com/v2/braintree.js"></script>

<script type="text/javascript">
    // Execute on DOM Ready ($(function(){}))
    braintree.setup("{{ client_token }}", "dropin", {
      container: "dropin-container",  // id of the container div
      form: "checkout-form"  // id of the form
    });
</script>
            </div>
        </div>
    </div>

{% endblock %}
