{% extends "base/base_public.html" %}

{% block page_section_css_id %}standard_public_page_body_2{% endblock %}

{% block main_content %}

    {% url 'account_reset_password' as password_reset_url %}
    <!-- text page -->
    <div class="ui grid container" style="padding-bottom:100px;
          padding-top:40px;"  >

        <div class="content ui column sixteen wide">


            <div class="ui two column stackable grid">

                <div class="column five wide">

                    <!-- courseevent detail -->

                    <div class="ui cards centered">
                        {% include 'courseoffer/fragments/_coursecard_details.html' with product=courseeventproduct %}
                    </div>

                </div>
                <div class="column ten wide">
                    <!-- page content -->


                    <div class="ui header">Hallo {{ transaction.customer.first_name }} {{ transaction.customer.last_name }}</div>
                <p>Vielen Dank, wir haben Ihre Zahlung erhalten
                    und Sie sind jetzt angemeldet für {{ transaction.product.courseevent.title }}.</p>
                {% if not request.user.is_authenticated %}
                    <div class="ui header medium">Setzen Sie Ihr Passwort!</div>
                    <p>Sie sind bereits im System registriert. Damit sie sich einloggen können
                    fordern sie bitte einen Link zum Setzen Ihres Passworts an.
                    </p>
                    <a href="{{ password_reset_url }}" class="ui button medium">Link zu Setzen des Passworts anfordern</a>

                        <p></p>
                        <p>Wenn Sie sonst noch Fragen haben, schreiben Sie gerne an uns:
                        <strong>mentoki@mentoki.com</strong></p>
                    </p>
                {% endif %}
                <p>Mit lieben Grüssen</p>
                <p id="signature">Sabine Maennel und Anette Pekrul</p>

                </div>
            </div>

        </div>

    </div>
{% endblock %}