
    <p>
        {% if studentswork.published %}
            {{ studentswork.published | yesno:"abgegeben, " }}: {{ studentswork.published_at | date:'d.m.Y' }}
            <i class="green icon check"></i>
        {% else %}
            <i class="red icon warning"></i>
        {% endif %}

        , Team: {{ studentswork.team | join:', ' }}
    </p>
<h4 class="ui horizontal divider header">
    <i class="comments write icon"></i>
    Die Arbeit
</h4>

    <h3 class="ui header">
        {{ studentswork.title }}
    </h3>
    {{ studentswork.text | safe }}

