{% url 'classroom:classlesson:step'  slug=es pk=classlessonstep.pk as lesson_url %}

<div class="ui header medium">
<a href="{{ lesson_url }}">
    <span style="color:teal;">{{ classlessonstep.lesson_nr }}

        {{ classlessonstep.title }}
</span>
</a>

    {% if classlessonstep.material %}
        <a href="{{ classlessonstep.material.file.url }}">
            <i class="icon file"></i>
        </a>

        {% if classlessonstep.material.pdf_download_link %}
            <a href="{% url 'download' slug=classlessonstep.material.slug %}">
                <i class="download icon blue"></i>
            </a>
        {% endif %}
    {% endif %}

</div>

<div class="froala-view">

    {{ classlessonstep.text | safe }}
</div>

{% if classlessonstep.material %}

    {% with material=classlessonstep.material %}

        {% if classlessonstep.material.pdf_viewer %}
            <object data="{{ classlessonstep.material.file.url }}"
                    type="application/pdf" width="100%" height="800px">
            </object>
        {% endif %}

    {% endwith %}

{% endif %}

