{% for studentswork in studentsworks %}
    <div class="ui segment raised">

        <p>
            {% if studentswork.published %}
                {{ studentswork.published | yesno:"abgegeben, " }}: {{ studentswork.published_at | date:'d.m.Y' }}
                <i class="green icon check"></i>
            {% else %}
                <i class="red icon warning"></i>
            {% endif %}
            , Team: {{ studentswork.team | join:', ' }}
        </p>
        <h3 class="ui header">
            <a href="{% url 'classroom:homework:studentswork' slug=courseevent.slug pk=homework.pk work_pk=studentswork.pk %}">
                {{ studentswork.title }}
            </a>
        </h3>
        <div >
            {{ studentswork.text | safe }}
        </div>
    </div>
{% empty %}
     Es hat noch niemand abgegeben.
{% endfor %}
