<!DOCTYPE html>
<html>
<head>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">

    <title>{% block meta_title %}{% endblock %}</title>

   {% include 'base_semantic/head.html' %}
</head>
{% block body %}
   <body id="mentoki">
{% endblock %}
{% load activelink %}

{% comment %}menu {% endcomment %}
    <!-- pc and tablet version of the navbar -->

    <div class="ui menu fixed center aligned top" id="pc_navbar">
        {% include 'base_semantic/_pc_logo.html' %}
        {% if user.is_authenticated %}

            {% include 'base_semantic/_main_menu_authenticated_left.html' %}

            {% if is_owner %}
               <a  href="{% url 'course:courseevent' ce_slug=courseevent.slug slug=course.slug %}" class="item
                    ">
                    Kursbearbeitung
                </a>
            {% endif %}

            {% block custom_menu_item %}
            {% endblock %}

            <div class="right menu">
                {% include 'base_semantic/_main_menu_authenticated_right.html' %}
            </div>

        {% else %}

            {% include 'base_semantic/_main_menu_public_left.html' %}

            <div class="right menu">
                {% include 'base_semantic/_social_media_icons.html' %}
                {% include 'base_semantic/_main_menu_public_right.html' %}
            </div>

        {% endif %}
    </div>

    {% comment %}menu{% endcomment %}
    <div class="ui top attached menu fluid six item" id="mobile_navbar">

        {% comment %}mobile button{% endcomment %}
        <a class="item" id="mobile_button">
          <i class="sidebar icon"></i>
        </a>
        {% include 'base_semantic/_home_icon.html' %}
        {% include 'base_semantic/_social_media_icons.html' %}
        {% include 'base_semantic/_main_menu_public_right.html' %}
    </div>

    {% comment %}sidebar{% endcomment %}
    <div class="ui labeled icon wide left inline vertical sidebar menu mobile only" id="mobile_menu">
        {% include 'base_semantic/_mobile_menu.html' %}
    </div>
    <!-- Section of the Website -->
    <div {% block section %}id="section"{% endblock %} >
    {% comment %}section{% endcomment %}
    <div id="content">


        {% comment %}main page{% endcomment %}
        <div id="base_page">
        {% block main %}
        {% endblock %}
        </div>

    </div>

    {% comment %}footer{% endcomment %}
    <div class="ui bottom attached menu fluid three item">
        <a class="item"  href="{% url 'contact:contact' %}">Kontakt</a>
        <a class="item"  href="{% url 'home:team' %}">Team</a>
        <a class="item"  href="{% url 'home:impressum' %}">Impressum</a>
    </div>
    </div>
</body>
</html>