{% extends "base/base_pusher.html" %}

{% comment %}

    Blocks filled here:
    -------------------
    {% block page_section_css_id %}classroombackend{% endblock %}

    {% block sidebar_menu %}{% include 'coursebackend/_menu.html' %}{% endblock %}

    Additional inherited blocks: see base_pusher.html, they still have to be filled
    -------------------------------------------------------------------------------
    {% block page_subsection %}{% endblock %}
    {% block controls %}{% endblock %}
    {% block page_content %}{% endblock %}

{% endcomment %}

<!-- BLOCK: css id subsection: filled! -->

{% block page_section_css_id %}classroom{% endblock %}

{% block sidebar_menu %}

    <!-- BLOCK: sidebar: filled! -->

    {% include 'classroom/_menu.html' %}

{% endblock %}

