{% extends "classroom/base.html" %}

{% block page_subsection %}
    {% include 'classroom/homework/fragments/_subsection.html' %}
{% endblock %}

{% block page_subsection_css_id %}homework{% endblock %}

{% block breadcrumb_row_css_class %}classroom_display_none{% endblock %}
{% block form_content_row_css_class %}classroom_white{% endblock %}
{% block top_content_row_css_class %}classroom_background{% endblock %}
{% block middle_content_row_css_class %}classroom_emphasis{% endblock %}
{% block detail_content_row_css_class %}classroom_display_none{% endblock %}

{% block top_content_row %}

    {% include 'classroom/homework/fragments/_homework.html' %}

{% endblock %}

{% block middle_content_row %}
    {% include 'classroom/homework/fragments/_stundentswork_detail.html' %}
{% endblock %}

{% block form_content_row %}

    {% include 'classroom/forms/_form_studenswork_comment.html' %}

{% endblock %}