{% for studentswork in studentsworks %}

    <div class="row classroom_emphasis">
        <div class="sixteen wide column">

            <div class="ui raised segment">

                <h3 class="ui header">
                    <a href="{% url 'classroom:studentswork:detail' slug=courseevent.slug pk=studentswork.pk %}">
                        {{ studentswork.title }}
                    </a>
                    {%  include 'classroom/studentswork/fragments/_links_update_delete_addteam.html' %}
                </h3>
                {%  include 'classroom/studentswork/fragments/_instance_studentswork_meta.html' %}
                <div class="fullcontent">
                    <div class="fullcontent">{{ studentswork.text | safe }}</div>
                </div>

            </div>

        </div>
    </div>

{% endfor %}