{% extends 'base/base_public.html' %}

{% load i18n %}

{% block main_content %}

    <!-- text page -->
    <!-- grid -->
    <div class="ui grid one column centered" style="padding-bottom:50px;">

         <!-- one column -->
         <div class="sixteen wide column" style="padding-top:0px;">

             <!-- logo -->
             <img class="ui image centered huge image" src="/static/img/mentoki_start_account.jpg">
             <!-- image -->
         </div>


            <div class="ten wide column" id="whitepaper">

                {% block content %}{% endblock %}

            </div>

    </div>


{% endblock %}
