{% extends "base/base.html" %}

{% block head %}

    <!-- Meta information -->
    {% include 'base/fragments/meta/_meta.html' %}

    <!-- CSS -->
    {% include 'base/fragments/vendor/_semantic_css.html' %}
    {% include 'base/fragments/custom/_custom_css.html' %}

    <!-- favicon -->
    {% include 'base/fragments/menu/_favicon.html' %}

    {% include 'base/fragments/vendor/_jquery.html' %}
    {% include 'base/fragments/vendor/_froala_head.html' %}

{% endblock %}

{% block bottom_js %}
    {% include 'base/fragments/vendor/_semantic_js.html' %}
    {% include 'base/fragments/vendor/_froala.html' %}
    {% include 'base/fragments/custom/_custom_js.html' %}
{% endblock %}

{% block sidebar %}

    <div class="ui wide left labeled vertical menu sidebar" id="coursemenu">

        <!-- BLOCK: sidebar menu -->

        {% block sidebar_menu %}{% endblock %}

    </div>

{% endblock %}

{% block pusher %}

    <div class="pusher">

        <div id="{% block page_section_css_id %}{% endblock %}">

            <div class="ui grid container" >

                <div class="content ui column sixteen wide">

                    <h3></h3>
                    <h2 style="padding:20px; margin:0px -20px;">{% block page_header %}{% endblock %}</h2>
                    <div style="padding-bottom:40px;  margin:0px -20px;">
                        {% block stackable_menu %}{% endblock %}
                    </div>

                    <div class="ui vertical grid white" style="background:white;margin-bottom:50px;">

                        {% block page_content %}{% endblock %}

                    </div>

                </div>

            </div>

        </div>

    </div>

{% endblock %}


