{% extends 'base/base.html' %}
{% load activelink %}
{% load i18n %}

{% block meta %}

    <!-- BLOCK: Meta description -->
    <meta name="description" content="{% block meta_description %}{% endblock %}">

    <!-- BLOCK: Meta keywords -->
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">

    <!-- BLOCK: Meta title -->
    <title>{% block meta_title %}{% endblock %}</title>

{% endblock %}

{% block head_extra_css %}
    <link href="/static/css/styles-public.css" rel="stylesheet">
{% endblock %}
<!-- BLOCK: Navbar -->

{% block page %}
    {% url 'home:impressum'  as impressum_url %}
    {% url 'home:about'  as about_url %}
    {% url 'contact:contact' as contact_url %}

    <!-- pc and tablet version of the navbar -->
    <div class="ui menu fixed center aligned top" id="pc_navbar">
        {% include 'base/fragments/_navbar.html' %}
    </div>

    {% comment %}menu{% endcomment %}
    <div class="ui top attached menu fluid six item" id="mobile_navbar">

        {% comment %}mobile button{% endcomment %}
        <a class="item" id="mobile_button">
          <i class="sidebar icon"></i>
        </a>
        {% include 'base_semantic/_home_icon.html' %}
        {% include 'base_semantic/_social_media_icons.html' %}
        {% include 'base_semantic/_main_menu_public_right.html' %}
    </div>

    {% comment %}sidebar{% endcomment %}
    <div class="ui labeled icon wide left inline vertical sidebar menu mobile only" id="mobile_menu">
        {% comment %}{% include 'base_semantic/_mobile_menu.html' %}{% endcomment %}
    </div>

    <div id="content">

        {% block main_content %}{% endblock %}

    </div>

    <div class="ui bottom attached menu fluid three item">
        <a class="item"  href="{{ contact_url }}">AGB</a>
        <a class="item"  href="{{ about_url }}">
            Team
        </a>
        <a class="item"  href="{{ impressum_url }}">Impressum</a>
    </div>

{% endblock %}