{% extends 'base/base.html' %}
{% load activelink %}
{% load i18n %}
{% block pre_html %}
    {% load seo_helper %}
    {% seo_helper request.path as meta %}
{% endblock %}

{% block meta %}
    <title>{{ meta.title }}</title>
    <meta name="description" content="{{ meta.description }}" />
    <meta name="keywords" content="{{ meta.keywords }}" />
    <meta name="robots" content="{{ meta.robot_tags }}" />
{% endblock %}

{% block head_extra_css %}
    <link href="/static/css/styles-public.css" rel="stylesheet">
{% endblock %}


{% block page %}
     {% block main_content %}{% endblock %}
{% endblock %}



{% block footer %}
    {% include 'base/fragments/_footer.html' %}

{% endblock %}
