{% extends 'base/base.html' %}
{% load activelink %}
{% load i18n %}
{% block background_image %}

{% endblock %}
{% block meta %}
    <meta name="robots" content="noindex nofollow" />
{% endblock %}
{% block head_extra_css %}
    <link href="/static/css/styles-public.css" rel="stylesheet">
{% endblock %}
{% block page %}
    {% url 'home:home' as home_url%}
    <div class="ui grid two column stackable">
    <div class="column" style="position: relative;">
    <div class="ui header center aligned" style="width: 300px;
  height: 100px;
  padding: 20px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -70px 0 0 -170px;">
    <a class=item" href="{{ home_url }}">
         <img  class="ui image center aligned
            " src="/static/img/logo/mentoki_logo_navbar.png">

     </a></div>

        </div>
        <div class="column">

    <h1 class="item ui header huge" >

    {{ courseproductgroup.title }}         <a href="">
    <img class="ui image medium "
         src="{{ courseproductgroup.foto.url }}">
   </a>

      </h1>
        </div>

     </div>


    <main id="base_public_main" style="background: {{ courseproductgroup.background_color_hex }};">



    <div class="ui grid container stackable two column"  style="padding-bottom:100px;">
     <div class="ui one column row">
    <div class="column">

    <div class="ui embed" data-url="https://www.youtube.com/embed/rv0sC-eVaZ8" data-placeholder="/static/img/schreibwerkstatt_intro.jpg">
        <img class="placeholder ui image fr-dib fr-fin" src="/static/img/schreibwerkstatt_intro.jpg">
    </div>

    </div></div>
    <div class="ui one column row">
    <div class="column" >
        <h2>Sind Sie Stundent, kurz vor dem Abschluss?</h2>
        <h1>Brauchen Sie Hilfe bei Ihren akademischen Arbeiten?</h1>
        <p>Stehen Sie kurz vor der Abgabe Ihrer Studeinarbeit? Sie sind nervös, wie
        Sie es bis zum Abgabe termin schaffen sollen? Haben Sie richtig zitiert?
        Wie gehen Sie mit Quellen um?

        </p>
    </div>

      </div>
    <div class="ui two column stackable row">
    <div class="column ten wide">
        <h2 class="ui header medium">Die Schreibwerkstatt gibt Ihnen den inneren Rückhalt!</h2>
        <p>Hier finden Sie nach Themenblöcken geordent alles was Sie zum Abschluss Ihrer Arbeit
        brauchen. Sie können in Ruhe eine Thema nach dem anderen angehen und checken,
            dass Sie auch alles berücksichtigt haben
        </p>
        <h2 class="ui header medium">

            Wäre es nicht schön für Sie gelassen der Abgabe entgegenblicken zu können?
        </h2>
        <p>In der Schreibwerkstatt gibt es eine Forum, wo Sie Ihre Fragen stellen können
        und von Ihrem Mentor Franz Neff kompetente Antworten auf Ihre Fragen erhalten.
        </p>
        <h2 class="ui header medium">Aber ...</h2>
        <p>Ja ich weiss, Sie machen das zum ersten Mal, so eine grosse wissenschaftliche
        Arbeit und keiner hat Sie richtig darauf vorbereitet. Ich erlebe das in meinen
        Präsenzseminaren, die ich für Studenten an den Universitäten gebe täglich. Sie sind nicht der
        einzige, der mit der Abschlussarbeit Mühe hat</p>
        <h2 class="ui header medium">Wollen Sie nach Bern reisen?</h2>
        <p>Sie könnten zu mir in einen Präsenzseminar reisen, dort bekommen erzähle ich Ihnen das alles
            live in zwei Tagen</p>
        <h2 class="ui header medium">Oder ist online für Sie die bessere Option?</h2>
        <p>Online können Sie das Studium praktisch projektbegleitend machen. Sie erarbeiten sich einen
        Abschnitt, stellen ihr Fragen im Forum und los gehts: glcih bei der eigenen Arbeit umsetzen.
            Und wenn dann etwas unklar geblieben ist der Kurs ist dann ja anders als der Seminarraum
            immer noch da und ich warte dort auf Ihre Praxis Fragen.</p>

        <h2 class="ui header medium">

            Und das alles zu Studentenpreisen!
        </h2>
        <p>Wissen Sie ich kenne die Situation von Studenten und ihr Budget. Deshalb habe ich mein Angebot
            exakt für Ihre Situation zugeschnitten. Den besten Deal erhalten Sie bei den Gruppenkursen.
            Denn dann haben Sie noch Mitstudenten und können sich mit Ihnen gegenseitig helfen.
        </p>

    </div>

    <div class="ui column">
        <div class="ui button large blue">Ja, ich möchte die Angebote sehen!</div>



        </div>
    </div>
    </div>
    </main>
{% endblock %}
{% block footer %}
    <footer id="footer">
        {% include 'base/fragments/_footer.html' %}
    </footer>
{% endblock %}