{% extends "base/base.html" %}

{% comment %}

    Blockstructure:
    --------------
    {% block meta %}
       {% block meta_description %}{% endblock %}: meta information for public pages

       {% block meta_keywords %}{% endblock %}

       {% block meta_title %}{% endblock %}
    {% endblock %}

    {% block main %}

       {% block page_content %}{% endblock %}: inner page

       {% block page_grid_class %}stackable two column centered{% endblock %}: not in use so far
       {% block main_segment_id %}standard_public_segment{% endblock %}: not in use so far

    {% endblock %}

    Additional inherited blocks: see base.html
    ------------------------------------------
    {% block page_section_css_id %}{% endblock %}
    {% block custom_menu_item %}{% endblock %}

    to do: employ the two blocks that are not in use into the public pages!!!

{% endcomment %}

<!-- BLOCK: Meta data for the page -->

{% block meta %}

    <!-- BLOCK: Meta description -->

    <meta name="description" content="{% block meta_description %}{% endblock %}">

    <!-- BLOCK: Meta keywords -->

    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">

    <!-- BLOCK: Meta title -->

    <title>{% block meta_title %}{% endblock %}</title>

{% endblock %}

<!-- BLOCK: Main page -->

{% block main %}

    <div class="ui grid page {% block page_grid_class %}stackable two column centered{% endblock %}">

        <div class="column center aligned">

            <div class="segment ui" id="{% block main_segment_id %}standard_public_segment{% endblock %}">

                {% include 'base/fragments/_messages.html' %}

                <!-- BLOCK: Inner page -->

                {% block page_content %}{% endblock %}

            </div>

        </div>

    </div>

{% endblock %}







