<!DOCTYPE html>
<html>
{% comment %}
Empty blocks:
-------------
   Meta-Information: (only used for public pages)
   "block meta_title": expected: plain text ..| ... | Mentoki
   "block meta_description":
   "block meta-keywords":

   Menu-Addition:
   "block custom_menu_item": expected: <a class=item>...</a> or <div class=item>...</div>

   Page-css-id:
   "block section": expected: id="..."

   Main-Content:
   "block main": expected: <div class="ui page grid">...</div>

Blocks with default:
--------------------
   footer: if a page doesenot come with a footer: replace empty
{% endcomment %}
<head>
    <!-- Meta information -->
    {% include 'base/fragments/_meta.html' %}

    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">

    <title>{% block meta_title %}{% endblock %}</title>

    <!-- Google Verification -->
    <meta name="google-site-verification" content="mxd7wHh8P4QFFW-V0tYqmHAUB5Yz3MydQOpyiRiyGbg" />

    <!-- CSS -->
    {% include 'base/fragments/_css.html' %}

    <!-- favicon -->
    {% include 'base/fragments/_favicon.html' %}

    {% include 'base/fragments/_head.html' %}

</head>
{% block body %}
   <body id="mentoki">
{% endblock %}
{% load activelink %}

{% comment %}menu {% endcomment %}
    <!-- pc and tablet version of the navbar -->

    <div class="ui menu fixed center aligned top" id="pc_navbar">
        {% include 'base/fragments/_pc_logo.html' %}
        {% if user.is_authenticated %}

            {% include 'base/fragments/_main_menu_authenticated_left.html' %}

            {% if is_owner %}
               <a  href="{% url 'course:courseevent' ce_slug=courseevent.slug slug=course.slug %}" class="item
                    ">
                    Kursbearbeitung
                </a>
            {% endif %}

            {% block custom_menu_item %}
            {% endblock %}

            <div class="right menu">
                {% include 'base/fragments/_main_menu_authenticated_right.html' %}
            </div>

        {% else %}

            {% include 'base/fragments/_main_menu_public_left.html' %}

            <div class="right menu">
                {% include 'base/fragments/_social_media_icons.html' %}
                {% include 'base/fragments/_main_menu_public_right.html' %}
            </div>

        {% endif %}
    </div>

    {% comment %}menu{% endcomment %}
    <div class="ui top attached menu fluid six item" id="mobile_navbar">

        {% comment %}mobile button{% endcomment %}
        <a class="item" id="mobile_button">
          <i class="sidebar icon"></i>
        </a>
        {% include 'base/fragments/_home_icon.html' %}
        {% include 'base/fragments/_social_media_icons.html' %}
        {% include 'base/fragments/_main_menu_public_right.html' %}
    </div>

    {% comment %}sidebar{% endcomment %}
    <div class="ui labeled icon wide left inline vertical sidebar menu mobile only" id="mobile_menu">
        {% include 'base/fragments/_mobile_menu.html' %}
    </div>
    <!-- Section of the Website -->
    <div {% block section %}id="section"{% endblock %} >
    {% comment %}section{% endcomment %}
    <div id="content">


        {% comment %}main page{% endcomment %}
        <div id="base_page">
        {% block main %}
        {% endblock %}
        </div>

    </div>

    {% comment %}footer{% endcomment %}
    <div class="ui bottom attached menu fluid three item">
        <a class="item"  href="{% url 'contact:contact' %}">Kontakt</a>
        <a class="item"  href="{% url 'home:team' %}">Team</a>
        <a class="item"  href="{% url 'home:impressum' %}">Impressum</a>
    </div>

    </div>
</body>
</html>








