{% url 'coursebackend:announcement:list' course_slug=cs slug=es as back_url %}

{{ form.media }}

<form class="ui form" method="post" action="" >{% csrf_token %}

    {% include 'coursebackend/forms/fragments/_form_non_field_errors.html' %}

    <div class="ui dividing large header">Ankündigung</div>

    <div class="fields inline">

        <div class="field sixteen wide">

            {{ form.title.label_tag }}

            {% if form.title.errors %}
                <div class="ui negative floating message">
                    {{ form.title.errors }}
                </div>
            {% endif %}
            <br>

            {{ form.title }}

        </div>

    </div>

    <div class="field sixteen wide">

        {% if form.text.errors %}
            <div class="ui negative floating message">
                {{ form.text.errors }}
            </div>
        {% endif %}
        <br>

        {{ form.text }}

    </div>

    <div class="ui dividing medium header">Ankündigung veröffentlichen?</div>

    {% if form.published.errors %}
        <div class="ui negative floating message">
            {{ form.published.errors }}
        </div>
    {% endif %}

      <div class="field eigth wide">

          <label>{{ form.published.label_tag }}</label>
          <p><i class="icon mail"></i>{{ form.published.help_text }}<br>
         (Teilnehmer:
              {% for email in participants_emails %}
                  {{ email }},
              {% endfor %}<br>
              Lehrer:
              {% for email in teachers_emails %}
                  {{ email }}
                  {% if not forloop.last %}, {% else %}){% endif %}
              {% endfor %}
          </p>
          {{ form.published }}
      </div>

    <button type="submit" value="post" class="ui button">
        Speichern bzw. Abschicken
    </button>

    <a href="{{ back_url }}" class="ui button" type="submit" value="post">
        Zurück zur Übersicht
    </a>

</form>