{{ form.media }}
<form class="ui form" method="post" action="" >{% csrf_token %}

    {% include 'coursebackend/forms/form_fields/_form_non_field_errors.html' %}

    {% include 'coursebackend/forms/form_fields/_form_field_loop.html' %}

    <button type="submit" value="post" class="ui button">
        Speichern
    </button>

    <a class="ui button"
       href="{% url 'coursebackend:forum:list' course_slug=course.slug slug=courseevent.slug %}"
       type="submit" value="post">
        Zurück zur Übersicht
    </a>

</form>