{% url 'coursebackend:lesson:start' course_slug=cs as back_url %}

{{ form.media }}

<form class="ui form" method="post" >

    {% csrf_token %}

    {% include 'coursebackend/forms/fragments/_form_non_field_errors.html' %}

    <div class="ui dividing large header">Unterichtsblock</div>
    <div class="ui info floating message">
        <div class="ui list">
            <div class="item">
                <i class="info icon"></i>
                <div class="content">
                Blöcke dienen der Internen Organisation Deiner Lektionen.
                </div>
            </div>
            <div class="item">
                <i class="info icon"></i>
                <div class="content">
                Im Unterrichtsraum werden nur Lektionen veröffentlicht, nicht Blöcke.
                </div>
            </div>
        </div>
    </div>
    <div class="fields inline">

        <div class="field four wide">
            {{ form.nr.label_tag }}
            <p>{{ form.nr.help_text }}</p>

            {% if form.nr.errors %}
                <div class="ui negative floating message">
                    {{ form.nr.errors }}
                </div>
            {% endif %}
            <br>

            {{ form.nr }}

        </div>


        <div class="field fourteen wide">

            <p>Blocktitel</p>

            {% if form.title.errors %}
                <div class="ui negative floating message">
                    {{ form.title.errors }}
                </div>
            {% endif %}
            <br>

            {{ form.title }}

        </div>

    </div>

    <div class="field sixteen wide">
        {{ form.description.label_tag }}
        {{ form.description.help_text }}
        {% if form.description.errors %}
            <div class="ui negative floating message">
                {{ form.description.errors }}
            </div>
        {% endif %}
        <br>

        {{ form.description }}

    </div>

    <div class="field sixteen wide">
        {% if form.text.errors %}
            <div class="ui negative floating message">
                {{ form.text.errors }}
            </div>
        {% endif %}
        <br>

        {{ form.text }}

    </div>

    <button type="submit" value="post" class="ui button" id="formsubmitonce">
        Speichern
    </button>
    <a href="{{ back_url }}" class="ui button">
        Abbruch
    </a>

</form>