{% extends "base/base_public.html" %}
{% load i18n %}

{% block meta_title %}{{ courseevent.title }} | Mentoki - Lehr- und Lernplattform{% endblock %}

{% block meta_description %}{{ courseeventproduct.meta_description }}{% endblock %}
{% block meta_keywords %}{{ courseeventproduct.meta_keywords }}{% endblock %}


{% block page_section_css_id %}home{% endblock %}

{% block main_content %}

    <!-- text page -->
    <div class="ui grid container" style="padding-bottom:100px;
          padding-top:40px;"  >

        <div class="content ui column sixteen wide">

                <div class="ui two column stackable grid">
                    <div class="column five wide">

                        <!-- course card -->
                        <div class="ui cards centered">
                            {% include 'courseoffer/fragments/_coursecard_details.html' with product=courseevent.courseeventproduct %}
                        </div>
                        <a id="btn-payrexx-modal" href="#" data-href="https://mentoki.payrexx.com/pay?tid=2&appview=1">
                            <img src="https://media.payrexx.com/v1/button-pay-de.svg" border="0" width="200" />
                        </a>
                        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
                        <script type="text/javascript" src="https://media.payrexx.com/modal/v1/modal.js"></script>
                        <script type="text/javascript">
                            jQuery("#btn-payrexx-modal").payrexxModal();
                        </script>

                    </div>

                <div class="column ten wide">

                    <div class="ui header center aligned large" style="color:#19aaa6;
                font-family: 'Montserrat', sans-serif;
                font-size: 1.5em;
                font-weight: 400;
                line-height: 1.2em;
                -webkit-font-smoothing: antialiased;
                ">
                    Mentoki Kurs: {{ courseevent.title }}<br>
                    von {{ courseevent.teachersrecord }}
                </div>
                        <div class="ui header center aligned  large" style="color:#19aaa6;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 1.2em;
                        font-weight: 400;
                        line-height: 1.5em;
                        -webkit-font-smoothing: antialiased;
                        ">
                            Abstrakt
                        </div>

                         <div class="froala-view">
                             {{ courseevent.excerpt |safe }}
                         </div>

                        <div class="ui header center aligned  large" style="color:#19aaa6;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 1.2em;
                        font-weight: 400;
                        line-height: 1.5em;
                        -webkit-font-smoothing: antialiased;
                        ">
                            Videoeinführung
                        </div>
                        {% if courseevent.video_url %}
                            <div class="ui segment">
                                <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe,
                                       .embed-container object,
                                       .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
                                </style>
                                <div class='embed-container'>
                                    <iframe src='http://www.youtube.com/embed/{{ courseevent.video_url }}?rel=0&controls=0&showinfo=0' frameborder='0' allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                        {% endif %}
                        {% if courseevent.target_group %}

                <div class="ui header  large" style="color:#19aaa6;
                font-family: 'Montserrat', sans-serif;
                font-size: 1.2em;
                font-weight: 400;
                line-height: 1.2em;
                -webkit-font-smoothing: antialiased;
                ">                                Zielgruppe
                            </div>
                            {{ courseevent.target_group | safe }}
                        {% endif %}
                        {% if courseevent.project %}
                                           <div class="ui header center aligned  large" style="color:#19aaa6;
                font-family: 'Montserrat', sans-serif;
                font-size: 1.2em;
                font-weight: 400;
                line-height: 1.2em;
                -webkit-font-smoothing: antialiased;
                ">
                                Was Du aus diesem Kurs mitnimmst
                            </div>
                            {{courseevent.project | safe }}
                        {% endif %}
                        {% if courseevent.format %}
                                            <div class="ui header center aligned  large" style="color:#19aaa6;
                font-family: 'Montserrat', sans-serif;
                font-size: 1.2em;
                font-weight: 400;
                line-height: 1.2em;
                -webkit-font-smoothing: antialiased;
                ">
                                Kursformat
                            </div>
                            {{ courseevent.format | safe}}
                        {% endif %}
                        {% if courseevent.structure %}
                                            <div class="ui header center aligned  large" style="color:#19aaa6;
                font-family: 'Montserrat', sans-serif;
                font-size: 1.2em;
                font-weight: 400;
                line-height: 1.2em;
                -webkit-font-smoothing: antialiased;
                ">
                                Gliederung
                            </div>
                            {{courseevent.structure | safe }}
                        {% endif %}
                        {% if courseevent.prerequisites %}
                                            <div class="ui header center aligned  large" style="color:#19aaa6;
                font-family: 'Montserrat', sans-serif;
                font-size: 1.2em;
                font-weight: 400;
                line-height: 1.2em;
                -webkit-font-smoothing: antialiased;
                ">
                                Voraussetzungen
                            </div>
                            {{ courseevent.prerequisites | safe }}
                        {% endif %}
                        {% if courseevent.workload %}
                                            <div class="ui header center aligned  large" style="color:#19aaa6;
                font-family: 'Montserrat', sans-serif;
                font-size: 1.2em;
                font-weight: 400;
                line-height: 1.2em;
                -webkit-font-smoothing: antialiased;
                ">
                                Arbeitsaufwand
                            </div>
                            {{ courseevent.workload | safe }}
                        {% endif %}
                        {% if courseevent.text %}
                                            <div class="ui header center aligned  large" style="color:#19aaa6;
                font-family: 'Montserrat', sans-serif;
                font-size: 1.2em;
                font-weight: 400;
                line-height: 1.2em;
                -webkit-font-smoothing: antialiased;
                ">
                                Kursbeschreibung
                            </div>
                            {{courseevent.text | safe }}
                        {% endif %}
                     <div>
                  </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}