<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<a id="btn-payrexx-modal" href="#" data-href="https://mentoki.payrexx.com/pay?tid=2&appview=1">
    <img src="https://media.payrexx.com/v1/button-pay-de.svg" border="0" width="200" />
</a>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="https://media.payrexx.com/modal/v1/modal.js"></script>
<script type="text/javascript">
    jQuery("#btn-payrexx-modal").payrexxModal();
</script>


<a href="https://mentoki.payrexx.com/pay?tid=2">Zahlungslink</a>
</body>
</html>