{% extends "coursebackend/base_lesson.html" %}

{% block page_header %}
    Unterrichtsblöcke {{ course.title }}
{% endblock %}

{% block help %}
    {% include 'coursebackend/lessons_view/_help_lessons.html' %}
{% endblock %}

{% block controls %}
    {% include 'coursebackend/_checkbox_help.html' %}
    {% include 'coursebackend/_checkbox_worklinks.html' %}
    {% include 'coursebackend/lessons_view/_checkbox_structure.html' %}
{% endblock %}

{% block recursetree_item_header %}
    {% if not node.is_block %}
       {% include 'coursebackend/lessons_view/_item_header_lesson.html' %}
   {% endif %}
{% endblock %}

{% block recursetree_item_content %}

    {% if node.is_block %}
       {% include 'coursebackend/lessons_view/_node_header_block.html' %}
       {{ node.description }}
       {{ node.text | safe }}
   {% else %}
       {% if node.is_lesson %}
           {% include 'coursebackend/lessons_view/_node_header_lesson.html' %}
       {% else %}
           {% include 'coursebackend/lessons_view/_node_header_lesson_step.html' %}
       {% endif %}
   {% endif %}

{% endblock %}

{% block item_class %}
    {% if not node.is_block %}
       contentdescription
   {% endif %}
{% endblock %}

