{% extends "coursebackend/lessons_view/base.html" %}

{% block page_header %}
    Alle Unterrichtsblöcke:
{% endblock %}

{% block page_help %}
    <div id="helpinstructions">
        <div class="ui segment message">
            {% include 'coursebackend/lessons_view/_help_start.html' %}
        </div>
        <p></p>
    </div>
{% endblock %}

{% block controls %}
    {% include 'coursebackend/_control_help.html' %}
    {% include 'coursebackend/_control_worklinks.html' %}
    {% include 'coursebackend/_control_structure.html' %}
{% endblock %}

{% block recursetree_item_header %}
    {% if not node.is_block %}
       {% include 'coursebackend/lessons_view/_item_header_lesson.html' %}
   {% endif %}
{% endblock %}

{% block recursetree_item_content %}

    {% if node.is_block %}
       {% include 'coursebackend/lessons_view/_node_header_block.html' %}
       {{ node.description }}
       {{ node.text | safe }}
   {% else %}
       {% if node.is_lesson %}
           {% include 'coursebackend/lessons_view/_node_header_lesson.html' %}
       {% else %}
           {% include 'coursebackend/lessons_view/_node_header_lesson_step.html' %}
       {% endif %}
   {% endif %}

{% endblock %}

{% block item_class %}
    {% if not node.is_block %}
       contentdescription
   {% endif %}
{% endblock %}

