{% comment %}

instance courseevent

for detail

{% endcomment %}

{% url 'coursebackend:course:update' course_slug=cs slug=es field="max_participants" as update_particpants_url %}
{% url 'coursebackend:course:update' course_slug=cs slug=es field="title" as update_title_url %}
{% url 'coursebackend:course:update' course_slug=cs slug=es field="excerpt" as update_excerpt_url %}
{% url 'coursebackend:course:update' course_slug=cs slug=es field="target_group" as update_target_group_url %}
{% url 'coursebackend:course:update' course_slug=cs slug=es field="prerequisites" as update_prerequisites_url %}
{% url 'coursebackend:course:update' course_slug=cs slug=es field="text" as update_text_url %}
{% url 'coursebackend:course:update' course_slug=cs slug=es field="project" as update_project_url %}
{% url 'coursebackend:course:update' course_slug=cs slug=es field="structure" as update_structure_url %}
{% url 'coursebackend:course:update' course_slug=cs slug=es field="workload" as update_work_url %}
{% url 'coursebackend:course:update' course_slug=cs slug=es field="event_type" as update_type_url %}
{% url 'coursebackend:course:update' course_slug=cs slug=es field="status_internal" as update_internal_url %}
{% url 'coursebackend:course:update' course_slug=cs slug=es field="nr_weeks" as update_weeks_url %}
{% url 'coursebackend:course:update' course_slug=cs slug=es field="start_date" as update_start_url %}
{% url 'coursebackend:course:update' course_slug=cs slug=es field="video_url" as update_video_url %}
{% url 'coursebackend:course:update' course_slug=cs slug=es field="format" as update_format_url %}


<div class="ui header huge">
    Kurs {{ courseevent.title }}
</div>

<h3 class="ui header">
    Titel
    <a href="{{ title_url }}" class= "item">
       <i class="write blue icon"></i>
    </a>
</h3>
{{ courseevent.title }}

<h3 class="ui header">
    Maximale Teilnehmerzahl
    <a href="{{ update_particpants_url }}" class= "item">
       <i class="write blue icon"></i>
    </a>
</h3>
{{ courseevent.max_participants }}

<div class="ui fitted divider"></div>

<h3 class="ui header">
    Wochenanzahl
    <a href="{{ update_weeks_url }}" class="item">
       <i class="write blue icon"></i>
    </a>
</h3>
{{ courseevent.nr_weeks }}

<div class="ui fitted divider"></div>

<h3 class="ui header">
    Interner Status
    <a href="{{ update_internal_url }}" class="item">
       <i class="write blue icon"></i>
    </a>
</h3>
{{ courseevent.get_status_internal_display }}

<div class="ui fitted divider"></div>

<h3 class="ui header">
    Kursart
    <a href="{{ update_type_url }}" class="item">
       <i class="write blue icon"></i>
    </a>
</h3>
{{ courseevent.get_event_type_display }}

<div class="ui fitted divider"></div>

<h3 class="ui header">
    Startdatum
    <a href="{{ update_start_url }}" class="item">
       <i class="write blue icon"></i>
    </a>
</h3>
{{ courseevent.start_date }}

<div class="ui fitted divider"></div>

<h3 class="ui header">
    Abstrakt
    <a href="{{ update_excerpt_url }}" class="item">
       <i class="write blue icon"></i>
    </a>
</h3>
{{ courseevent.excerpt | safe }}

<div class="ui fitted divider"></div>

<h3 class="ui header">
    Video:
    <a href="{{ update_video_url }}" class="item">
       <i class="write blue icon"></i>
    </a>
</h3>

{% if courseevent.video_url %}

    <div class="ui segment">

        <style>
            .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
        </style>

        <div class='embed-container'>

            <iframe src='http://www.youtube.com/embed/{{ courseevent.video_url }}?rel=0&controls=0&showinfo=0' frameborder='0' allowfullscreen>
            </iframe>

        </div>

    </div>

{% endif %}

<div class="ui fitted divider"></div>

<h3 class="ui header">
    Zielgruppe:
    <a href="{{ update_target_group_url }}" class="item">
       <i class="write blue icon"></i>
    </a>
</h3>
{{ courseevent.target_group | safe }}

<div class="ui fitted divider"></div>

<h3 class="ui header">
    Voraussetzungen:
    <a href="{{ update_prerequisites_url }}" class="item">
       <i class="write blue icon"></i>
    </a>
</h3>
{{ courseevent.prerequisites | safe }}

<div class="ui fitted divider"></div>

<h3 class="ui header">
    Was nimmt der Teilnehmer aus dem Kurs mit:
    <a href="{{ update_project_url }}" class="item">
       <i class="write blue icon"></i>
    </a>
</h3>
{{ courseevent.project | safe }}

<div class="ui fitted divider"></div>

<h3 class="ui header">
    Gliederung:
    <a href="{{ update_structure_url }}" class="item">
       <i class="write blue icon"></i>
    </a>
</h3>
{{ courseevent.structure | safe  }}

<div class="ui fitted divider"></div>

<h3 class="ui header">
    Freie Kursbeschreibung:
    <a href="{{ update_text_url }}" class="item">
       <i class="write blue icon"></i>
    </a>
</h3>
{{ courseevent.text | safe }}

<div class="ui fitted divider"></div>

<h3 class="ui header">
    Kursformat:
    <a href="{{ update_format_url }}" class="item">
       <i class="write blue icon"></i>
    </a>
</h3>
{{ courseevent.format | safe }}

<div class="ui fitted divider"></div>

<h3 class="ui header">
    Arbeitsbelastung:
    <a href="{{ update_work_url }}" class="item">
       <i class="write blue icon"></i>
    </a>
</h3>
{{ courseevent.workload | safe }}