{% load activelink %}

{% if item.item_type == item.MENU_ITEM_TYPE.forum_item %}
    {% url 'classroom:forum:detail' slug=es pk=item.forum_id as item_url %}
{% elif item.item_type == item.MENU_ITEM_TYPE.lesson_item %}
    {% url 'classroom:classlesson:lesson' slug=es pk=item.classlesson_id as item_url %}
{% elif item.item_type == item.MENU_ITEM_TYPE.lessonstep_item %}
    {% url 'classroom:classlesson:step' slug=es pk=item.classlesson_id as item_url %}
{% elif item.item_type == item.MENU_ITEM_TYPE.announcements_item %}
    {% url 'classroom:announcement:list' slug=es as item_url %}
{% elif item.item_type == item.MENU_ITEM_TYPE.participants_item %}
    {% url 'classroom:participant:list' slug=es as item_url %}
{% elif item.item_type == item.MENU_ITEM_TYPE.last_posts_item %}
    {% url 'classroom:forum:newposts' slug=es as item_url %}
{% elif item.item_type == item.MENU_ITEM_TYPE.private_item %}
    {% url 'classroom:studentswork:list' slug=es as item_url %}
{% endif %}

<a class="item
{% if item_url %}
    {% ifstartswith item_url %}active{% endifstartswith %}"  style="font-size:1.1em;"
    href="{{ item_url }}
{% endif %}
">
        {% if item.icon %}
            {{ item.icon.as_html }}
        {% endif %}
    {{ item.display_title }}
    <br>
</a>
