{% load activelink %}
{% load i18n %}

<div class="ui fluid vertical menu" id="classroom_menu">
    <div class="header item">
        Hallo {{ user.username }}!
    </div>
    <a  href="{% url 'desk:start' %}" class="item
        {% ifactive "desk:start" %}
              active
        {% endifactive %}
        ">
        {% trans 'Zurück zum Schreibtisch' %}
    </a>

    <a href="{% url "logout" %}" class="item">
        Ausloggen
    </a>

    {% if request.user in course.teachers or request.user.is_superuser %}
        <div class="header item">
          nur für Lehrer sichtbar
        </div>

        <a class="item
          {% ifstartswith 'coursebackend:course:detail' course_slug=course.slug %}
               active
          {% endifstartswith %}
          " href="{% url 'coursebackend:course:detail' course_slug=course.slug %}">
          Kursvorlage<i class="wrench icon"></i>
        </a>

    {% endif %}

    <div class="header item active" id="classroom_header">
      {{ courseevent.title }}
    </div>

    {% for item in menu_items %}

        {% if item.item_type == item.MENU_ITEM_TYPE.announcements %}
            <a class="item"
                href="{% url 'classroom:announcement:list' slug=courseevent.slug %}">
                <i class="announcement icon"></i>
                {{ item.display_title }}
            </a>

        {% elif item.item_type == item.MENU_ITEM_TYPE.forum_item %}
            <a class="item"
                href="{% url 'classroom:forum:detail' slug=courseevent.slug pk=item.forum_id %}">
                <i class="comments outline icon"></i>{{ item.display_title }}
            </a>

        {% elif item.item_type == item.MENU_ITEM_TYPE.homework %}
            <a class="item"
                href="{% url 'classroom:homework:list' slug=courseevent.slug pk=item.homework_id %}">
                <i class="write icon"></i>{{ item.display_title }}
            </a>

        {% elif item.item_type == item.MENU_ITEM_TYPE.forum_last_posts %}
            <a class="item"
                href="{% url 'classroom:forum:newposts' slug=courseevent.slug %}">
                <i class="find icon"></i>{{ item.display_title }}
            </a>

        {% elif item.item_type == item.MENU_ITEM_TYPE.student_private %}
            <a class="item"
                href="{% url 'classroom:studentswork:list' slug=courseevent.slug %}">
                <i class="privacy icon"></i>{{ item.display_title }}
            </a>

        {% elif item.item_type == item.MENU_ITEM_TYPE.lesson_item %}
            <a class="item"
                href="{% url 'classroom:lesson:lesson_detail' slug=courseevent.slug pk=item.lesson_id %}">
                <i class="student icon"></i>{{ item.display_title }}
            </a>

        {% elif item.item_type == item.MENU_ITEM_TYPE.participants_list %}
            <a class="item"
                href="{% url 'classroom:participant:list' slug=courseevent.slug %}">
                <i class="users icon"></i>{{ item.display_title }}
            </a>

        {% elif item.item_type == item.MENU_ITEM_TYPE.header %}
            <div class="header item">
                {{ item.display_title }}
            </div>

        {% endif %}

    {% endfor %}

</div>