{% load activelink %}
{% load i18n %}

{% url "logout" as logout_url %}
{% url 'desk:start' as desk_url %}
{% url 'coursebackend:menu:preview' course_slug=cs slug=es as coursebackend_url %}

<div class="ui fluid vertical menu" id="coursebackend_menu">

    <div class="header item huge" style="font-size:1.5em;">
        Hallo {{ user.username }}!
    </div>
    <a  href="{% url 'desk:start' %}" class="item" style="font-size:1.1em;">
        Zurück zum Schreibtisch
    </a>

    <a href="{% url "logout" %}" class="item" style="font-size:1.1em;">
        Ausloggen
    </a>


    {% if request.user in course.teachers or request.user.is_superuser %}

    <div class="header item huge" style="font-size:1.5em;">
        Für Lehrer:
    </div>


        <a class="item"  style="font-size:1.1em;"
        href="{{ coursebackend_url }}">
          Kursvorbereitung<i class="wrench icon"></i>
        </a>

    {% endif %}

    <div class="header item huge" style="font-size:1.5em;">
        {{ courseevent.title }}:
    </div>

    {% for item in menu_items %}

         {% include 'classroom/_item_menu_representation.html' %}

    {% endfor %}

</div>