{% load activelink %}

<div class="ui popup bottom fluid left transition hidden">

    <div class="ui one column relaxed grid">

        <div class="column sixteen wide">

            <h4 class="ui header" id="coursebackend_menu_header">Kursereignis {{ courseevent }}</h4>

            <div class="ui link list">

                {% for item in menu_items_shortlinks %}

                     {% include 'classroom/_item_menu_representation.html' %}

                {% endfor %}

            </div>

        </div>

    </div>

</div>
