{% extends "base/base_pusher.html" %}
{% load activelink %}

{% block page_section_css_id %}classroom{% endblock %}

{% block page_header %}Kurs {{ courseevent.title }}: {{ courseevent.teachersrecord }}{% endblock %}

{% block stackable_menu %}

    <div class="ui stackable menu">

        <a class="item" id="sidebar_button">
            <i class="sidebar icon"></i>
            Menu
        </a>

        <a class="browse item">
            Klassenzimmer
            <i class="dropdown icon"></i>
        </a>

        {% include 'classroom/_popup_menu_classroom.html' %}

        {% block classroom_menu_items %}{% endblock %}

    </div>

{% endblock %}

{% block sidebar_menu %}

    <!-- BLOCK: sidebar: filled! -->

    {% include 'classroom/_menu.html' %}

{% endblock %}