{% extends "base/plain.html" %}

{% block plain %}
    <h1>Classroom Startpage for {{ courseevent.title }}</h1>
    <hr>
    <h2>Pages dependent on Courseevent only:</h2>

    <hr>
    <ul>
        <li><a href="{% url 'classroom:forum:start' slug=courseevent.slug %}">
            Forum Startpage
        </a></li>
        <li><a href="{% url 'classroom:forum:newposts' slug=courseevent.slug %}">
            Forum: letzte Beiträge
        </a></li>
        <li><a href="{% url 'classroom:announcement:list' slug=courseevent.slug %}">
            Ankündigungen
        </a></li>
        <li><a href="{% url 'classroom:lesson:start' slug=courseevent.slug %}">
            Unterricht Startpage
        </a></li>
        <li><a href="{% url 'classroom:participant:list' slug=courseevent.slug %}">
            Teilnehmerliste
        </a></li>
        <li><a href="{% url 'classroom:studentswork:list' slug=courseevent.slug %}">
            Studenten Arbeiten
        </a></li>
    </ul>

    <hr>
    <h2>Published Forums with pages dependent on them:</h2>

    <h2>forum contributions</h2>
    <ul>
    {% for forum in forums %}
        <li>{{ forum.title }}</li>
    {% endfor %}
    </ul>

    <hr>
    <h2>Published Homeworks with pages dependent on them:</h2>

    <h2>Homeworks</h2>
    <ul>
    {% for homework in homeworks %}
        <li><a href="{% url 'classroom:homework:list' slug=courseevent.slug pk=homework.pk %}">
            {{ homework.title }}
        </a></li>
    {% endfor %}
    </ul>
{% endblock %}


