{% extends "coursebackend/lessons/base.html" %}

{% comment %}
   Only the highest level of nodes is shown.
{% endcomment %}

{% block page_header %}
    Unterrichtsblöcke {{ course.title }}
{% endblock %}

{% block controls %}

    {% include 'coursebackend/_checkbox_help.html' %}
    {% include 'coursebackend/_checkbox_worklinks.html' %}

{% endblock %}

{% block node_header %}

    <div class="header ui medium" href="{% url "coursebackend:lesson:block" course_slug=course.slug pk=node.pk %}">

        <a href="{% url "coursebackend:lesson:block" course_slug=course.slug pk=node.pk %}">
           <i class="icon cube"></i> {{ node.title }}
        </a>

        <a class="worklink"
            href="{% url 'coursebackend:lesson:update' course_slug=course.slug pk=node.pk %}">
            <i class="write blue icon"></i>
        </a>

    </div>

{% endblock %}

{% block node_main %}

     <p>
         {{ node.description }}
     </p>
     <p>
         {{ node.text | safe }}
     </p>

{% endblock %}
