{% extends "base_course/base.html" %}
{% block header %}
    Vorlage {{ course.title }} / Unterricht
{% endblock %}
{% block header_controls %}
    {% include 'base_course/_helpcheckbox.html' %}
{% endblock %}
{% block help %}
    {% include 'base_course/_help_materials.html' %}
{% endblock %}
{% block breadcrumb %}
    <div class="ui breadcrumb">
        <a class="section" href="{% url 'course:lessons' slug=match.kwargs.slug %}">
            {{ course.title }}
        </a>
        <i class="right chevron icon divider"></i>
        <div class="active section">Material anlegen</div>
    </div>
{% endblock %}
{% block page_content %}
    {% include 'base_course/_course_form.html' %}
{% endblock %}