{% extends "coursebackend/base.html" %}

{% block header %}
   Unterricht {{ course.title }}
{% endblock %}

{% block help %}
    {% include 'coursebackend/lessons/_help_lessons.html' %}
{% endblock %}

{% block controls %}

    {% include 'coursebackend/_checkbox_help.html' %}
    {% include 'coursebackend/_checkbox_worklinks.html' %}

{% endblock %}

{% block page_content %}
<h1 class="ui header">Material-Liste</h1>
<table class="ui table">
  <thead>
    <tr>
      <th>
      </th>
      <th>Titel</th>
      <th>Datei</th>
      <th>Typ</th>
      <th>verfügbar als</th>
    </tr>
  </thead>
  <tbody>
  {% for material in materials %}
    <tr>
      <td>
          <a class="worklink"
            href="{% url 'coursebackend:material:update' course_slug=course.slug pk=material.pk %}">
            <i class="write blue icon"></i>
          </a>
      </td>
      <td>
          <a href={% url 'coursebackend:material:detail' course_slug=course.slug pk=material.pk %}>
          {{ material.title }}
          </a>
      </td>
      <td>{{ material.file  }}</td>
      <td>{{ material.document_type }}</td>
      <td>{{ material.pdf_download_link | yesno:"download,,"}}
          {{ material.pdf_viewer | yesno:"view,,"}}
          {{ material.pdf_link | yesno:"link,," }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}

