{% extends "coursebackend/base.html" %}

{% comment %}
Inherited blocks:
-----------------
cutomized:

   custom_menu_item: expected: <a class=item>...</a> or <div class=item>...</div>

   section: expected: id="..."

   main: expected: <div class="ui page grid">...</div>

Inherited, as is:
   footer

with defaults:
   page_topic: has default: Unterricht
   controls: has default: help-checkbox
   page_header
   help

filled:
   page_content:

new:
   nodes_breadcrumb
   recursetree
   material_view
   form

{% endcomment %}

{% load mptt_tags %}

{% block help %}
    {% include 'coursebackend/lessons/_help_lessons.html' %}
{% endblock %}

{% block controls %}
    {% include 'coursebackend/_checkbox_help.html' %}
{% endblock %}

{% block page_topic %}
    <a class="item" href="{% url 'coursebackend:lesson:start' course_slug=course.slug %}">
        Unterricht {{ course.title }}
    </a>
{% endblock %}

{% block page_content %}

    {% block nodes_breadcrumb %}
    {% endblock %}

    {% block node %}
    {% endblock %}

    {% block recursetree %}

        <div class="ui divided list">

            {% recursetree nodes %}

                <div class="item {% block item_class %}{% endblock %}">

                    {% block recursetree_item_header %}
                    {% endblock %}

                    <div class="content">

                        {% block recursetree_item_content %}
                        {% endblock %}

                        <div class="contentdescription">
                            {% block recursetree_item_more %}
                            {% endblock %}
                        </div>

                        {% if not is_leaf %}

                            <div class="list">

                                {{ children }}

                            </div>

                        {% endif %}

                    </div>

                </div>

            {% endrecursetree %}

        </div>

    {% endblock %}

    <div class="{% block view_material_class %}{% endblock %}">
        {% block material_view %}
        {% endblock %}
    </div>

    {% block form %}
    {% endblock %}

{% endblock %}