{% url 'coursebackend:forum:list' slug=es course_slug=cs as list_url %}
{% url 'coursebackend:forum:detail' slug=es course_slug=cs pk=breadcrumb.pk as detail_url %}

<a href="{{ list_url }}"
   class="section">
    Forum
</a>

{% for breadcrumb in breadcrumbs %}

    {% url 'coursebackend:forum:detail' slug=es course_slug=cs pk=breadcrumb.pk as detail_url %}

    <i class="right chevron icon divider"></i>

    <a href="{{ detail_url }}"
       class="section">
        {{ breadcrumb.title }}
    </a>

{% endfor %}

