{% url 'coursebackend:forum:list' slug=es course_slug=cs as list_url %}
{% url 'coursebackend:forum:detail' slug=es course_slug=cs pk=breadcrumb.pk as detail_url %}

<div class="ui large breadcrumb" id ="page-breadcrumb">

    {% if url_name == 'list' %}
        <div class="section active">
            Forum {{ courseevent.title }}
        </div>
    {% else %}

        <a href="{{ list_url }}" class="section">
            Forum
        </a>
        <i class="right chevron icon divider"></i>

        {% for breadcrumb in breadcrumbs %}

            {% url 'coursebackend:forum:detail' slug=es course_slug=cs pk=breadcrumb.pk as detail_url %}

            {% if not forloop.last %}
                <a href="{{ detail_url }}" class="section">
                    {{ breadcrumb.title }}
                </a>
                <i class="right chevron icon divider"></i>
            {% else %}
                <div class="section active">
                    {{ breadcrumb.title }}
                </div>
            {% endif %}

        {% endfor %}

    {% endif %}

</div>