{% load mptt_tags %}
<div class="ui divided list">

    {% recursetree nodes %}

        <div class="item">
            <i class="top aligned folder outline icon"></i>
            <div class="content">
                <div class="header">
                <a href="{% url "coursebackend:forum:detail" course_slug=course.slug slug=courseevent.slug pk=node.pk %}">
                    {{ node.title }}
                    {% if node.can_have_threads %}
                        <div class="ui circular label">
                            {{ node.thread_count }}
                        </div>
                    {% endif %}
                    <a class= "item"
                       href="{% url "coursebackend:forum:update" course_slug=course.slug slug=courseevent.slug pk=node.pk %}">
                        <i class="write blue icon"></i>
                    </a>
                    <a class= "item"
                       href="{% url "coursebackend:forum:delete" course_slug=course.slug slug=courseevent.slug pk=node.pk %}">
                        <i class="trash blue icon"></i>
                    </a>
                    {% if node.published %}
                        <i class="icon green checkmark"></i>
                    {% endif %}
                </div>
                <div class="description">
                {% if node.decription != "" %}
                    <p>
                        {{ node.description }}
                    </p>
                {% endif %}

                </div>
                {% if not is_leaf %}
                    <div class="list">
                        {{ children }}
                    </div>
                {% endif %}

            </div>
        </div>

    {% endrecursetree %}

</div>