{% load mptt_tags %}
<div class="ui divided list">

    {% recursetree nodes %}

        <div class="item">

            <i class="top aligned folder outline icon"></i>

            <div class="content">

                <div class="header">

                   {%  include 'coursebackend/forum/fragments/_instance_node_header.html' %}

                </div>

                <div class="description">
                {% if node.decription != "" %}
                    <p>
                        {{ node.description }}
                    </p>
                {% endif %}

                </div>
                {% if not is_leaf %}
                    <div class="list">
                        {{ children }}
                    </div>
                {% endif %}

            </div>
        </div>

    {% endrecursetree %}

</div>