{% extends "base_semantic/base_page.html" %}
{% block title %}
    {{ courseevent.title }}
{% endblock %}
{% block body %}
   <body id="courseevent_public" >
{% endblock %}
{% block main %}
    <main class="ui two column doubling page grid">
        <div class="row">
            <div class="five wide column">
                {% for courseowner in courseowners %}
                    {% if courseowner.display %}
                    <div class="ui card fluid">
                       <div id="courseowner_img">
                        <div class="ui image aligned center" >
                            {% if courseowner.foto %}
                                <img src="{{ courseowner.foto.url }}">
                            {% endif %}
                        </div>
                       </div>
                        <div class="content">
                            <div class="ui header aligned center">
                                {{ courseowner.user.first_name }} {{ courseowner.user.last_name }}
                            </div>

                            <div class="description">
                                {{ courseowner.text | safe }}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="eleven wide column">
                <div class="ui piled segment" >
                    <h2 class="ui aligned center header">
                        {{ courseevent.title }} mit  {{ course.teachers_display }}
                    </h2>
                    <div class="ui card fluid">
                        <div class="content">
                            <div class="description">
                            <div class="ui grid two columns">
                            <div class="column">
                            <div class="ui divided list">
                                <div class="item">
                                    <i class="ticket icon"></i>
                                    <div class="content">
                                        <div class="header">Kursformat:
                                        {{ courseevent.get_event_type_display }}</div>
                                    </div>
                                </div>
                                {% if courseevent.event_type == courseevent.EVENTTYPE_TIMED_COURSE  %}
                                 {% if courseevent.nr_weeks %}
                                <div class="item">
                                    <i class="map marker icon"></i>
                                    <div class="content">
                                      <div class="header">Dauer: {{ courseevent.nr_weeks }} Wochen</div>
                                    </div>
                                </div>
                                 {% endif %}
                                {% if courseevent.status_external == courseevent.EXTEVENT_OPEN_FOR_BOOKING  %}
                                <div class="item">
                                    <i class="calendar icon"></i>
                                    <div class="content">
                                      <div class="header" >Start nach Absprache
                                      </div>
                                      <p></p>
                                    </div>
                                </div>
                                {% endif %}
                                {% endif %}
                            </div>
                            </div>
                            <div class="column">
                            <div class="ui divided list">
                                {% if courseevent.event_type == courseevent.EVENTTYPE_TIMED_COURSE  %}
                                {% if courseevent.max_participants %}
                                <div class="item">
                                    <i class="users icon"></i>
                                    <div class="content">
                                      <div class="header">maximale Teilnehmerzahl:
                                      {{ courseevent.max_participants }}</div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endif %}
                            {% comment %}
                                 {% if courseevent.status_external == courseevent.EXTEVENT_OPEN_FOR_BOOKING %}
                                <div class="item">
                                    <i class="tag icon"></i>
                                    <div class="content">
                                      <div class="header">Preis:
                                      1.480,- €</div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endcomment %}
                            </div>
                            </div>
                            </div>
                        </div>
                        <div style="height:5px;"></div>
                        {% if courseevent.status_external == courseevent.EXTEVENT_OPEN_FOR_BOOKING %}
                            <a class="ui button fluid teal" href="http://eepurl.com/bnHpAP">
                                Jetzt zum Vorgespräch anmelden
                            </a>
                        {% else %}
                            <a class="ui button fluid teal" href="http://eepurl.com/bnHpAP">Jetzt als Interessent anmelden</a>
                        {% endif %}
                    </div>
                </div>
                    {% if courseevent_info.video_url %}
                        <div class="ui segment">
                            <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe,
                                   .embed-container object,
                                   .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
                            </style>
                            <div class='embed-container'>
                                <iframe src='http://www.youtube.com/embed/{{ courseevent_info.video_url }}?rel=0&controls=0&showinfo=0' frameborder='0' allowfullscreen>
                                </iframe>
                            </div>
                        </div>
                    {% endif %}
                    {% if courseevent_info.target_group %}
                    <h3 class="ui header">
                        Zielgruppe
                    </h3>
                    {{ courseevent_info.target_group | safe }}
                    {% endif %}
                    {% if courseevent_info.project %}
                    <h3 class="ui header">
                        Was Du aus diesem Kurs mitnimmst
                    </h3>
                    {{courseevent_info.project | safe }}
                    {% endif %}
                    {% if courseevent_info.format %}
                    <h3 class="ui header">
                        Kursformat
                    </h3>
                    {{ courseevent_info.format | safe}}
                    {% endif %}
                    {% if courseevent_info.project %}
                    <h3 class="ui header">
                        Gliederung
                    </h3>
                    {% endif %}
                    {% if courseevent_info.project %}
                    {{courseevent_info.structure | safe }}
                    <h3 class="ui header">
                        Voraussetzungen
                    </h3>
                    {% endif %}
                    {% if courseevent_info.project %}
                    {{ courseevent_info.prerequisites | safe }}
                    <h3 class="ui header">
                        Arbeitsaufwand
                    </h3>
                    {{ courseevent_info.workload | safe }}
                    {% endif %}
                    {% if courseevent_info.project %}
                    <h3 class="ui header">
                        Kursbeschreibung
                    </h3>
                    {{courseevent_info.text | safe }}
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
