{% extends "base_semantic/base_page.html" %}
{% block title %}Kursliste{% endblock %}
{% block body %}
<body id="publiclist" >
{% endblock %}
{% block main %}
    <h2 class="ui block header" id="mainheader">Kursübersicht
        <div class="sub header">Jetzt buchbar: Der Mentoki Starterkurs</div>
    </h2>
    <main class="ui two column page doubling grid">
        <div class="row">
            <div class="five wide column">
                <div class="ui fluid vertical menu" id="courselist_menu">
                    <div class="header item">
                        Jetzt buchen
                    </div>
                    <div class="item">
                        <div class="menu" >
                              {% for item in courseevent_list_now %}
                              <a class="item" href="{% url 'courseevent:publicdetail' slug=item.courseevent.slug %}">
                                  {{ item.courseevent.title }}
                              </a>
                              {% endfor %}
                        </div>
                    </div>
                    <div class="header item">
                        Vorschau Herbst-Kurse
                    </div>
                    <div class="item">
                        <div class="menu">
                            {% for item in courseevent_list_preview %}
                            <a class="item" href="{% url 'courseevent:publicdetail' slug=item.courseevent.slug %}">
                                {{ item.courseevent.title }}
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="eleven wide column">
                {% for item in courseevent_list_now %}
                    <div class="ui fluid segment">
                    <h3 class="ui header" id="courseheader">
                        <a class="ui header" href="{% url 'courseevent:publicdetail' slug=item.courseevent.slug %}">
                            {{ item.courseevent.title }} mit {{ item.courseevent_teachers }}
                        </a>
                        <a class="ui tag teal label" href="{% url 'courseevent:publicdetail' slug=item.courseevent.slug %}">
                            jetzt buchbar
                        </a>
                    </h3>
                    {{ item.courseevent.excerpt |safe}}
                    </div>
                {% endfor %}
                {% for item in courseevent_list_preview %}
                    <div class="ui fluid segment">
                    <h3 class="ui header">
                        <a class="ui header"
                           href="{% url 'courseevent:publicdetail' slug=item.courseevent.slug %}">
                           {{ item.courseevent.title }} mit {{ item.courseevent_teachers }}
                        </a>
                        <a class="ui tag teal label" href="{% url 'courseevent:publicdetail' slug=item.courseevent.slug %}">
                            Vorankündigung
                        </a>
                    </h3>
                    {{ item.courseevent.excerpt |safe}}
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}