                      <div class="ui middle aligned divided list">

                          {% url 'checkout:braintree' slug=courseproduct.slug as pay_url %}

                      <div class="item" >
                        <div class="content">
                    <div class="right floated content">
                            {% if courseproduct.sales_price != courseproduct.price %}
                                jetzt<span style="color:#eb3d00">
                                {{ courseproduct.sales_price }}</span>
                                statt
                                {{ courseproduct.price }}
                            {% else %}
                                Preis
                                {{ courseproduct.price }}
                            {% endif %}
                            {{ item.courseproduct.currency }}
                    </div>

                            <div class="header">
                          {{ courseproduct.name }}
                            </div>
                           <p>{{ courseproduct.description | safe }}</p>
                        </div>
                      </div>
                      </div>