

<div class="card">
    <a class="image" href="#">
        {% if courseproductgroup.foto %}
            <img src="{{ courseproductgroup.foto.url }}">
        {% endif %}
    </a>
    <div class="content">
        <div class="header">
            {{ courseproductgroup.course.title }}
        </div>
        <div class="meta">
            <a>
                Mentoren: {{ courseproductgroup.course.teachersrecord }}
            </a>
        </div>

        <div class="description">
            {{ courseproductgroup.in_one_sentence }}
        </div>
    </div>
 {% if courseproductgroup.discount_text %}
     <!-- red: #eb3d00; -->
          <div class="extra content" style="color:#eb3d00;">
              <img class="ui small image" src="/static/img/einfuehrungsrabatt.png">
               <br> {{ courseproductgroup.discount_text }}

          </div>
 {% endif %}
</div>