{% if request.user.is_authenticated %}

     <h3>Hallo {{ request.user.get_full_name }}. </h3>
     <p>Schön, dass Du dich anmelden willst.</p>
     <p>Wir haben Deine Teilnehmerdaten aufgenommen.</p>

{% else %}

    <div class="fields">

        <label>Vorname</label>
        {{ form.first_name.errors }}
        <div class="field eight wide">
            {{ form.first_name }}
        </div>

        <label>Nachname</label>
        {{ form.last_name.errors }}
        <div class="field eight wide">
            {{ form.last_name }}
        </div>

    </div>

    <div class="fields">

        <label>Benutzername</label>
        {{ form.username.errors }}
         <div class="field eight wide">
             {{ form.username }}
        </div>

        <label>Email</label>
        {{ form.email.errors }}
         <div class="field eight wide">
             {{ form.email }}
        </div>

    </div>

{% endif %}