{% if request.user.is_authenticated %}
     <h3>Hallo {{ request.user.get_full_name }}. </h3>
         <p>Schön, dass Du dich anmelden willst.</p>
    <p>

    Wir haben Deine Teilnehmerdaten aufgenommen.

    </p>

{% else %}

    <p>Ansonsten fülle bitte die Teilnehmerdaten aus.</p>
    <div class="fields">
        <label>Vorname</label>
        {{ form.participant_first_name.errors }}
        <div class="field eight wide">
            {{ form.participant_first_name }}
        </div>
        <label>Nachname</label>
        {{ form.participant_last_name.errors }}
        <div class="field eight wide">
            {{ form.participant_last_name }}
        </div>
    </div>
    <div class="fields">
        <label>Benutzername</label>
        {{ form.participant_username.errors }}
         <div class="field eight wide">
             {{ form.participant_username }}
        </div>
        <label>Email</label>
        {{ form.participant_email.errors }}
         <div class="field eight wide">
             {{ form.participant_email }}
        </div>
    </div>

{% endif %}