{% if courseproductgroup.can_be_booked_now %}
    {% url 'storefront:detail' slug=courseproductgroup.slug as offer_url %}
{% else %}
    {% url 'storefront:detail' slug=courseproductgroup.slug as offer_url %}
{% endif %}
<div class="card">

    <a class="image" href="#">
        {% if courseproductgroup.foto %}

          <img src="{{ courseproductgroup.foto.url }}">
        {% endif %}
    </a>

    <div class="content">

        <div class="header">
            {{ courseproductgroup.course.title }}
        </div>


        <div class="meta">
            <a>
                Mentoren: {{ courseproductgroup.course.teachersrecord }}
            </a>
        </div>
        <div class="description">
            {{ courseproductgroup.in_one_sentence }}
        </div>
    </div>
    <a class="ui bottom attached button" href="{{ offer_url }}">

        Angebote ansehen
    </a>
</div>