
{% url 'desk:bookings' as desk_url %}
{% url 'checkout:redirect_to_product' pk=item.courseproduct.id as pay_url %}
{% if item.payment_complete %}

    <div style="padding: 10px;">

        <i class="icon green checkmark"></i>
        Buchung komplett<br>
        <a href="{{ desk_url }}">Zum Schreibtisch</a>
    </div>
{% else %}
    {% if not item.has_parts  %}

        <a class="ui button"
           {% if item.is_on_sale %}
                style="
                color:white;
                background:#819a91;"
           {% else %}
            style="

                color:white;
                background:#819a91;"
           {% endif %}
        href="{{ pay_url }}">

            {% if item.is_on_sale %}
                jetzt buchen für
                <span style="color:#ffc2a8;"> {{ item.amount_sale |floatformat:2 }}</span>
                statt
                {{ item.amount_original|floatformat:2 }}
            {% else %}
                jetzt buchen für
                {{ item.amount_original|floatformat:2 }}
            {% endif %}

            {{ item.courseproduct.get_currency_display }}

        </a>

    {% else %}

         {% if  item.payment_started  %}
              <i class="icon green checkmark"></i>
              bereits bezahlt bis zu {{ item.order.nr_parts_paid }}. Etappe
         {% endif %}

         <a class="ui button "
           {% if item.is_on_sale %}
            style="
                background:#819a91;
                color:white;"
           {% else %}
            style="
                background:#819a91;
                color:white;"
           {% endif %}
        href="{{ pay_url }}">
            {{ item.buy_part_nr}}. Etappe:
            {% if item.is_on_sale %}
                jetzt buchen für <span style="color:#ffc2a8;">
                {{ item.amount_sale |floatformat:2 }}</span>
                statt

                {{ item.amount_original|floatformat:2 }}

            {% else %}
                jetzt buchen für
                {{ item.amount_original|floatformat:2 }}
            {% endif %}

            {{ item.courseproduct.get_currency_display }}

        </a>

    {% endif %}
{% endif %}

