{% extends "base_course/base.html" %}
{% load tz %}
{% block header %}
        Kursereignis {{ courseevent.title }}
{% endblock %}
{% block header_controls %}
    {% include 'base_course/_helpcheckbox.html' %}
{% endblock %}
{% block help %}
    {% include 'base_course/_help_announcements.html' %}
{% endblock %}
{% block controls %}
{% endblock %}
{% block page_content %}
    <div class="ui segment">
        <h1 class="ui header">Ankündigungen</h1>
        <div class="ui tabular menu">
            <a class="active blue item">
            Ansehen
            </a>
            <a class="item" href="{% url 'course:createannouncement' slug=match.kwargs.slug ce_slug=match.kwargs.ce_slug %}">
            <i class="write blue icon"></i>Neue Ankündigung verfassen
            </a>
        </div>
        <table class="ui table">
          <thead>
            <tr>
            <tr>
            <th>veröffentlicht?</th>
            <th>wann?</th>
            <th>Titel</th>
            </tr>
            </tr>
          </thead>
          <tbody>
          {% for announcement in announcements_unpublished %}
            <tr>
              <td>
                  <a href="{% url 'course:updateannouncement' ce_slug=match.kwargs.ce_slug slug=match.kwargs.slug announcement=announcement.id %}">
                        <i class="icon write blue"></i>
                    </a>
                    <a href="{% url 'course:deleteannouncement' ce_slug=match.kwargs.ce_slug slug=match.kwargs.slug announcement=announcement.id %}">
                        <i class="icon remove blue"></i>
                    </a>
              </td>
              <td>-</td>
              <td>
                  {{ announcement.title }}
              </td>
            </tr>
          {% endfor %}
            {% for announcement in announcements_published %}
            <tr>
              <td>
                  <i class="icon checkmark green"></i>
              </td>
              <td>{{ announcement.published_at_date |date:'d.m.Y'  }}</td>
              <td>

                        <div class="ui accordion field">
        <div class="title">
          {{ announcement.title }}
          <i class="icon dropdown"></i>
        </div>

        <div class="content field">
            <hr class="divider fitted">
          {{ announcement.text | safe }}
        </div>
                            </div>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
{% endblock %}