{% url 'coursebackend:lesson:start' course_slug=cs as start_url %}

{% if object.is_block %}
    <a href="{{ start_url }}" class="section">
    Startseite Unterricht
    </a>

    <i class="right chevron icon divider"></i>
{% endif %}

{% for breadcrumb in breadcrumbs %}

    {% if not forloop.first %}
         <i class="right chevron icon divider"></i>
    {% endif %}

    {% if forloop.last %}

        {% if previous_node %}
            {% with node=previous_node %}
                <a
                    {% include 'coursebackend/lesson/fragments/_link_node_detail.html' %}
                >
                    <i class="icon angle double left"></i>
                </a>
            {% endwith %}
        {% endif %}

    {% endif %}

    {% with node=breadcrumb %}
        {% if forloop.last %}
             <div class="section active">
                 {% if node.is_block %}<i class="icon cube"></i>{% endif %}
                 {{ node.breadcrumb }}
             </div>
        {% else %}
         <a
         {% include 'coursebackend/lesson/fragments/_link_node_detail.html' %}
         class="section">
             {% if node.is_block %}<i class="icon cube"></i>{% endif %}
             {{ node.breadcrumb }}
         </a>
        {% endif %}
    {% endwith %}

    {% if forloop.last %}

        {% if next_node %}
            {% with node=next_node %}
                <a
                {% include 'coursebackend/lesson/fragments/_link_node_detail.html' %}
                >
                    <i class="icon angle double right"></i>
                </a>
            {% endwith %}
        {% endif %}

        </a>

    {% endif %}

{% endfor %}
