{% url 'coursebackend:lesson:blockupdate'  course_slug=cs pk=lessonblock.pk as blockupdate_url %}
{% url 'coursebackend:lesson:delete'  course_slug=cs pk=lessonblock.pk as delete_url %}

<div class="ui header medium">
    <i class="icon cube"></i>
    <div class="content">
        {{ lessonblock.title }}
        <a href="{{ blockupdate_url }}">
           <i class="icon write"></i>
        </a>
        <a href="{{ delete_url }}">
           <i class="icon trash"></i>
        </a>
        <p style="font-size: 0.6em; color:grey; font-weight:normal;">
           (zuletzt geändert {{ lessonblock.modified |date:'d.m.Y' }})
        </p>
    </div>
</div>
{% if lessonblock.text != '' %}
<div class="froala-view">
   {{ lessonblock.text | safe }}
</div>
{% endif %}