{% url 'coursebackend:lesson:lessonupdate'  course_slug=cs pk=lesson.pk as lessonupdate_url %}
{% url 'coursebackend:lesson:delete'  course_slug=cs pk=lesson.pk as delete_url %}
{% url 'coursebackend:lesson:lesson' course_slug=cs pk=next_node.pk as forward_url %}
{% url 'coursebackend:lesson:lesson' course_slug=cs pk=previous_node.pk as backward_url %}

<!-- forward -->
{% if next_node %}
    <a href="{{ forward_url }}" class="ui button basic right floated">
        {% if node.show_number %}
        {{ next_node.lesson_nr }}.
        {% endif %}
        <i class="right arrow icon"></i>
    </a>
{% endif %}

<!-- back -->
{% if previous_node %}
    <a href="{{ backward_url }}" class="ui button basic right floated">
        <i class="left arrow icon"></i>
        {% if node.show_number %}
        {{ previous_node.lesson_nr }}.
        {% endif %}
    </a>
{% endif %}

<div class="ui header medium">
    {% if lesson.show_number %}
    <!-- title -->
    {{ lesson.lesson_nr }}. {{ lesson.title }}
    {% else %}
    ({{ lesson.nr }}) {{ lesson.title }}
    {% endif %}

    <!-- update -->
    <a href="{{ lessonupdate_url }}">
       <i class="icon write"></i>
    </a>

    <!-- delete -->
    <a href="{{ delete_url }}">
       <i class="icon trash"></i>
    </a>

</div>

<!-- meta -->
<p style="color:grey">
   (zuletzt geändert {{ lesson.modified |date:'d.m.Y' }})
</p>

{% if lesson.text != '' %}

    <!-- froala -->
    <div class="fr-view">
       {{ lesson.text | safe }}
    </div>

{% endif %}
