{% url 'coursebackend:lesson:stepupdate'  course_slug=cs pk=lessonstep.pk as stepupdate_url %}
{% url 'coursebackend:lesson:delete'  course_slug=cs pk=lessonstep.pk as delete_url %}

<div class="ui header medium">
    {{ lessonstep.lesson_nr }} {{ lessonstep.title }}

    <a href="{{ stepupdate_url }}">
       <i class="icon write"></i>
    </a>

    <a href="{{ delete_url }}">
       <i class="icon trash"></i>
    </a>

    {% if lessonstep.material %}
        <a href="{{ lessonstep.material.file.url }}">
            <i class="icon file"></i>
        </a>

        {% if lessonstep.material.pdf_download_link %}
            <a href="{% url 'download' slug=lessonstep.material.slug %}">
                <i class="download icon blue"></i>
            </a>
        {% endif %}
    {% endif %}

</div>

<div class="froala-view">
    {{ lessonstep.text | safe }}
</div>

{% if lessonstep.material %}

    {% with material=lessonstep.material %}

        {% if lessonstep.material.pdf_viewer %}
            <object data="{{ lessonstep.material.file.url }}"
                    type="application/pdf" width="100%" height="800px">
            </object>
        {% endif %}

    {% endwith %}

{% endif %}
