{% url 'coursebackend:lesson:blockupdate'  course_slug=cs pk=lessonblock.pk as blockupdate_url %}
{% url 'coursebackend:lesson:delete'  course_slug=cs pk=lessonblock.pk as delete_url %}
{% url 'coursebackend:lesson:block' course_slug=cs pk=next_node.pk as forward_url %}
{% url 'coursebackend:lesson:block' course_slug=cs pk=previous_node.pk as backward_url %}

<!-- forward -->
{% if next_node %}
    <a href="{{ forward_url }}" class="ui button basic right floated">
        {{ next_node.lesson_nr }}<i class="right arrow icon"></i>
    </a>
{% endif %}

<!-- back -->
{% if previous_node %}
    <a href="{{ backward_url }}" class="ui button basic right floated">
        <i class="left arrow icon"></i>{{ previous_node.lesson_nr }}
    </a>
{% endif %}


<div class="ui header medium">

    <!-- icon -->
    <i class="cube icon"></i>
    <div class="content">
        {{ lessonblock.lesson_nr }} {{ lessonblock.title }}

        <!-- update -->
        <a href="{{ blockupdate_url }}">
           <i class="icon write"></i>
        </a>

        <!-- delete -->
        <a href="{{ delete_url }}">
           <i class="icon trash"></i>
        </a>
    </div>
</div>

<!-- meta -->
<p style="color:grey">
   (zuletzt geändert {{ lessonblock.modified |date:'d.m.Y' }})
</p>

{% if lessonblock.text != '' %}

    <!-- froala -->
    <div class="froala-view">
       {{ lessonblock.text | safe }}
    </div>

{% endif %}