{% url 'coursebackend:lesson:blockcreate'  course_slug=cs as createblock_url %}
{% url 'coursebackend:lesson:lessoncreate'  course_slug=cs as createlesson_url %}
{% url 'coursebackend:lesson:stepcreate'  course_slug=cs as createstep_url %}
{% url 'coursebackend:material:create' course_slug=cs as material_create_url %}

<a href="{{ createblock_url }}" class="item" >
    <i class="plus icon blue"></i>Block
</a>
<a href="{{ createlesson_url }}" class="item" >
    <i class="plus icon blue"></i>Lektion
</a>
<a href="{{ createstep_url }}" class="item" >
    <i class="plus icon blue"></i>Lernabschnitt
</a>


