{% load mptt_tags %}
<div class="ui divided list">

    {% recursetree nodes %}

        <div class="item">
            {% include 'coursebackend/lesson/fragments/_instance_node_icon.html' %}
            <div class="content">

                <a
                    {% include 'coursebackend/lesson/fragments/_instance_node_href.html' %}
                >
                     {{ node.title }}
                </a>

                {% include 'coursebackend/lesson/fragments/_instance_node_worklinks.html' %}

                {% if node.material.all %}
                    {% for material in node.material.all %}
                        <i class="icon file outline "></i> {{ material }}
                        {% if not for_loop.last %}, {% endif %}
                    {% endfor %}
                {% endif %}

                {%  if node.courseeventpublications.all %}
                    <div class="ui message info">
                        <div class="ui list green bulleted">
                            {% for courseeevent in node.courseeventpublications.all %}
                                <a class="item"
           {% comment %} href="{% url 'classroom:lesson:lesson_detail' course_slug=course.slug slug=courseevent.slug %}"
                       {% endcomment %}                 >
                                    in Kurs {{ courseeevent }}
                                    <i class="icon checkmark green"></i>
                                </a>
                                <a class="item"
            href="{% url 'coursebackend:homework:create' course_slug=course.slug slug=courseeevent.slug %}"
                                   >
                                    <i class="icon plus"></i>Aufgabe
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {% if node.decription != "" %}
                    <p>
                        {{ node.description }}
                    </p>
                {% endif %}

                {% if not is_leaf %}
                    <div class="list">
                        {{ children }}
                    </div>
                {% endif %}

            </div>
        </div>

    {% endrecursetree %}

</div>

