{% load mptt_tags %}
<div class="ui divided list">

    {% recursetree nodes %}

        <div class="item">

            {% include 'coursebackend/lesson/fragments/_icon_node.html' %}

            <div class="content">

                {{ node.title }}

                {% if node.published %}
                    <i class="icon checkmark green"></i>
                {% endif %}

                {% if node.decription != "" %}
                    <p>
                        {{ node.description }}
                    </p>
                {% endif %}

                {% if not is_leaf %}
                    <div class="list">
                        {{ children }}
                    </div>
                {% endif %}

            </div>
        </div>

    {% endrecursetree %}

</div>

