{% extends "email/base_internal_email.html" %}

{% block email_to %}
    {{ courseevent.title }}: Aufgaben
{% endblock %}

{% block email_title %}
    Es gibt einen neuen Kommentar von {{ comment.author }} zu "{{ studentswork.title }}":
{% endblock %}

{% block email_text %}
    <h2>{{ comment.title }}</h2>
    <p>{{ comment.text | safe}}</p>
    <a href="http://{{ site }}{%  url 'classroom:classlesson:publicstudentswork' work_pk=studentswork.pk pk=homework.pk slug=courseevent.slug %}">
        Link zum Beitrag im Klassenzimmer
    </a>
{% endblock %}