{% extends "email/base_internal_email.html" %}

{% block email_to %}
     {{ courseevent.email_greeting }}:
{% endblock %}

{% block email_title %}
    Es gibt eine Abgabe zu "{{ homework.title }}" von: {{ studentswork.team_display }}.
{% endblock %}

{% block email_text %}
    <p>Du erhältst diese Nachricht, weil Du Kursleiter bist oder der Arbeitsgruppe angehörst.</p>
    <hr>
    <h2>{{ studentswork.title }}</h2>
    <p>{{ studentswork.text | safe}}</p>
    <a href="http://{{ site }}{%  url 'classroom:classlesson:studentswork' work_pk=studentswork.pk pk=homework.pk slug=courseevent.slug %}">
        Link zum Beitrag im Klassenzimmer
    </a>
{% endblock %}
