
    <h4>Bewerbung für den Mentoki Starterkurs</h4>
    <hr>
    <h4>Kontaktdaten</h4>
    <p><strong>Name:</strong> {{name}}</p>
    <p><strong>email:</strong> {{email}}</p>

    <hr>
    <h4>Kursprojekt</h4>
    <p><strong>Arbeitstitel:</strong> {{projecttitle}}</p>
    <p><strong>Beschreibung:</strong> {{ projectdescription}}</p>
    <p><strong>Warum wollen Sie den Kurs halten?</strong> {{motivation}}</p>
    <p><strong>Was qualifiziert Sie für diesen Kurs?</strong> {{qualification}}</p>

    <hr>
    <h4>Vorherige Unterrichtserfahrungen</h4>
    <p><strong>Offline- oder Seminar-Unterricht:</strong> {{priorexperience}}</p>

    <hr>
    <h4>Kontaktinformation:</h4>
    <p>{{ contactinfo }}</p>
