{% extends "email/mentoki.html" %}
{% block email_content %}
<p>
    Hallo {{ name }},
</p>
<p>
    Danke für Deine Bewerbung für den Mentoki-Starterkurs. Wir werden Dich in den nächsten 48 Stunden
    kontaktieren, um ein Gespräch mit Dir zu vereinbaren.
</p>
<p style="padding-left: 30px;  color:grey;">
    Wir freuen uns darauf, Dich kennenzulernen!
</p>
<p  style="padding-left: 50px;  color:grey;">
   Mit freundlichen Grüßen,
</p>
<p  style="padding-left: 70px;  color:grey;>
Sabine Maennel & Anette Pekrul
</p>
{% endblock %}