<h3>Interne Dokumentation Mentoki</h3>
<hr>
<h4>Bewerbungseingang</h4>
<hr>
<h4>Kontaktdaten
<p><strong>Name:</strong> {{name}}</p> 
<p><strong>email:</strong> {{email}}</p> 

<hr>
<h4>Kursprojekt</h4>
<p><strong>Arbeitstitel:</strong> {{projecttitle}}</p> 
<p><strong>Beschreibung:</strong> {{ projectdescription}}</p>
<p><strong>Warum wollen Sie den Kurs halten?</strong> {{motivation}}</p>
<p><strong>Was qualifiziert Sie für diesen Kurs?</strong> {{qualification}}</p>

<hr>
<h4>Unterrichtserfahrungen</h4>
<p><strong>Offline- oder Seminar-Unterricht:</strong> {{experienceoffline}}</p>
<p><strong>Online-Unterricht:</strong> {{experienceonline}}</p>
<p><strong>Welche technischen Werkzeuge kennen Sie bereits?</strong> {{experiencetechnical}}</p>

<hr>
<h4>Anmerkungen:</h4>
<p>{{comment}}</p>