{% extends "email/mentoki.html" %}
{% block email_content %}
<p>
    Hallo {{ name }},
</p>
<p>
    Danke für Dein Interesse für den Mentoki-Kurs "{{ courseevent }}". Wir habe Deine Email erhalten und
    kontaktieren Dich, sobald der Kurs für die Anmeldung geöffnet ist.
</p>
<p style="padding-left: 30px; color:grey;">
    Mit freundlichen Grüssen
</p>
<p  style="padding-left: 50px; color:grey;">
   Dein Mentoki Team
</p>
<p  style="padding-left: 70px; color:grey; >
Sabine Maennel & Anette Pekrul
</p>
{% endblock %}