{% extends "email/mentoki.html" %}
{% block email_content %}
<p>
    Hallo {{ name }},
</p>
<p>
    Danke für Dein Interesse für den Kurs {{ courseevent }}. Wir habe Deine Email notiert und
    kontaktieren Dich sobald der Kurs für die ANmeldung geöffnet ist.
</p>
<p style="padding-left: 30px;">
    Mit freundlichen Grüssen und wir freuen uns auf ein Gespräch mit Dir
</p>
<p  style="padding-left: 50px;">
   Dein Mentoki Team
</p>
<p  style="padding-left: 70px; font-family:monospace">
Sabine Maennel und Anette Pekrul
</p>
{% endblock %}