<form class="ui form" method="post" action="">{% csrf_token %}
    {{ form.non_field_errors }}
    <div class="ui form">
        {% include 'coursebackend/lesson_update/_form_fields_update.html' %}
        {% include 'coursebackend/lesson_update/_form_field_move.html' %}
        <button type="submit" value="post" class="ui button">
            Speichern
        </button>
        <a href="{% url 'coursebackend:lesson:start' course_slug=course.slug %}" class="ui button">
            Abbruch
        </a>
    </div>
</form>
