{% extends "coursebackend/base.html" %}

{% load mptt_tags %}

{% block help %}

    {% include 'coursebackend/lessons/_help_lessons.html' %}

{% endblock %}

{% block page_topic %}
    <a class="item" href="{% url 'coursebackend:lesson:start' course_slug=course.slug %}">
        Unterricht {{ course.title }}
    </a>
{% endblock %}

{% block page_content %}

    {% block nodes_breadcrumb %}
    {% endblock %}

    {% block node %}
    {% endblock %}

    {% block form %}
    {% endblock %}

{% endblock %}