{% extends "coursebackend/base_courseevent.html" %}

{% block breadcrumbs %}
    <!-- links for list and detail view -->
    {% include 'coursebackend/announcement/fragments/_breadcrumb_unspecific.html' %}
{% endblock %}

{% block page_content %}

    <div class="row coursebackend_white">
        <div class="sixteen wide column" id="whitepaper">

            <!-- create form -->
            {% include 'coursebackend/forms/update_create/_announcement.html' %}

        </div>
    </div>

{% endblock %}
{% block rows %}{% endblock %}
