{% extends "coursebackend/base_courseevent.html" %}

{% block page_content %}

    <div class="row classroom_background">
        <div class="sixteen wide column">

            {% include 'coursebackend/announcement/fragments/_breadcrumbs.html' %}

        </div>
    </div>

    <div class="row classroom_emphasis">
        <div class="sixteen wide column">

            {% include 'coursebackend/announcement/fragments/_instance_announcement.html' %}

        </div>
    </div>

    <div class="row classroom_white">
        <div class="sixteen wide column">

            {% include 'coursebackend/forms/delete/_announcement.html' %}

        </div>
    </div>
{% endblock %}