{% extends "coursebackend/base_courseevent.html" %}

{% block breadcrumbs %}
    {% include 'coursebackend/announcement/fragments/_breadcrumbs.html' %}
{% endblock %}

{% block page_content %}

    <div class="row coursebackend_white">
        <div class="sixteen wide column" id="whitepaper">

            <!-- annonucement -->
            {% include 'coursebackend/announcement/fragments/_instance_announcement.html' %}

            <!-- delete form -->
            {% include 'coursebackend/forms/delete/_announcement.html' %}

        </div>
    </div>

{% endblock %}