{% extends "coursebackend/base_courseevent.html" %}

{% block courseevent_menu_items %}
    <!-- links for create and to the classroom -->
    {% include 'coursebackend/announcement/fragments/_top_links.html' %}
{% endblock %}

{% block breadcrumbs %}
    <!-- links for list and detail view -->
    {% include 'coursebackend/announcement/fragments/_breadcrumb_specific.html' %}
{% endblock %}

{% block page_content %}

    <div class="row coursebackend_white">
        <div class="sixteen wide column" id="whitepaper">

            <!-- messages -->
            {% include 'base/fragments/_messages.html' %}

            <!-- annonucement -->
            {% include 'coursebackend/announcement/fragments/_instance_announcement.html' %}

        </div>
    </div>

{% endblock %}
