{% extends "coursebackend/base.html" %}

{% block page_subsection %}
    {% include 'coursebackend/announcement/fragments/_link_subsection.html' %}
{% endblock %}

{% block controls %}
    {% include 'coursebackend/_control_help.html' %}
    {% include 'coursebackend/announcement/fragments/_link_create_announcement.html' %}
{% endblock %}

{% block page_subsection_css_id %}announcements{% endblock %}

{% block page_content %}

    <div class="row classroom_background">
        <div class="sixteen wide column">

            {% include 'coursebackend/announcement/fragments/_help_announcements.html' %}

            {% include 'coursebackend/announcement/fragments/_list_announcements_table.html' %}

        </div>
    </div>

{% endblock %}
{% block rows %}{% endblock %}