{% extends "coursebackend/base_courseevent.html" %}

{% block courseevent_menu_items %}
    {% include 'coursebackend/announcement/fragments/_top_links.html' %}
{% endblock %}

{% block breadcrumbs %}
    {% include 'coursebackend/announcement/fragments/_breadcrumbs.html' %}
{% endblock %}

{% block page_content %}

    <div class="row classroom_background">
        <div class="sixteen wide column">

            <!-- messages -->
            {% include 'base/fragments/_messages.html' %}

            <!-- list -->
            {% include 'coursebackend/announcement/fragments/_list_announcements_table.html' %}

        </div>
    </div>

{% endblock %}