#content {
    padding-top:80px;
    padding-bottom:50px;
}

#logo {
    padding-top:0;
    margin-top:0;
    height:36px;
}

#logo2 {
    padding-top:10px;
    padding-bottom:50px;
}


#classroom_menu ul li {
    list-style-type: none;
}

#heading {
    background-color: #92c9c6;
    background-color: #89ba53;
    background-color: #d9edd1;
    background-color: #CFEAD2;
    background-color: #E4FFAE;
    background-color: #A9EFA4;
    background-color: #d9edd1;
    background-color: #D5F0AF;
    background-color: #E2FFB7;
    background-color: #F2FFE1;
    background-color: #F2FFE1;
    background-color:white;
    background-color: #9DEB39;
    background-color: #86BA6E;
    background-color: #A0B06E;
    background-color: #ADDE81;
    background-color: #E3EEDF;
    padding-bottom:0px;
    padding-top: 70px;
}

#heading h2 {
   margin-top:0px;
}

#heading-order {
    background-color: white;
    padding-bottom:0px;
}




#searchform {
    padding-top:100px;
}

#navloggedin a.active {
    color: white;
}

#pageend {
    margin-bottom: 100px;
}

.hint {
    color:gray;
}

#construction #desk {
    height:200px;
}

#img-thumb {
    height:50px;
}

#pilotkurs, #img-pilot {
    height: 150px;
}

#img-pilot {
    height: 300px;
}

#img-boat {
    height: 100px;
}

#img-road {
    height: 400px;
}
#img-start {
    height: 300px;
}

#better_offer_exists {
    text-decoration: line-through;
    color:darkred;
}

#price_regular {
}


.img-team {
    height:150px;
}

#promotion {
    border:3px solid darkred;
    background:white;

}

#heading .small_text {
    font-size:80%;
}

#construction {
    height:300px;
}

#login_form input {
    background:white;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: green;
}

.you {
    color:darkred;
    font-weight:bold;
}

.important {
    font-size: 1.2em;
    font-family: "Lucida Grande";
}

#img-road {
   height:250px;
    width:200px;
   margin-top: 0;
   padding-top: 0;
}

#road {
    background-image: url(/static/img/road.jpg);
    width: 450px;
    height: 285px;

}

#img-header{
    height:180px;
}

.topquote {
    margin-top: 10px;
}

#headline {
    font-size: 3em;
}

#application {

}

#beta {
    height:50px;
}

#intern {
    display:none;
}

#div_id_application_status {
    display:none;
}

#header-application {
    margin-top:50px;
    padding-top:0;
    background-color: #d9edd1;
    padding-bottom:0;
    margin-bottom: 0;
}

#teachers-img {
    height:200px
}

#prezi_placeholder {
    max-height:180px;
}

#prezi_placeholder2 {
    max-height:150px;
}

#infotext {
    padding-left: 60px;
}

#application_form ul li {
    list-style: none;
}

span.glyphicon-file {
    font-size: 6em;
}

#ausschreibung, #prinzipien {
    text-align: center;
}

#img-textdocument{
   height:300px;
}

.bigger-font {
    font-size:1.2em;
}

#img-pilotkurs {
    width:800px;
}

#googledocs_homepage{

}

#angebot {
    background:yellow;
}

.text-you {
    background:#FFFF00;
    background:#82FF00;
}

#application_form legend {
    margin-bottom:0;
    border-bottom:0;
}

#application_form  {
    padding-top:10px;
    padding-bottom:50px;
}

.signature {
    margin-left:100px;
    font-family: "Lucida Grande";
}

.indented {
     margin-left:60px;
}

#vorblatt {
    background-color:#d9edd1;
    padding-bottom:100px;
}

#frage {
    height:300px;
}

#img-steckbrief {
    height:270px;
}

#img-bewerbung {
    height:350px;
}

#img-feature-bewerbung {
    height:150px;
}

#img-brand {
    width:350px;
}

#businessstart {
    font-size:1.4em;
}

#form_buttons {
    padding-top: 10px;
}

#subforumlist td {
    min-width: 250px;
}

#thread .post-header {
    margin-top:30px;
    margin-bottom:10px;
}

#thread .edit-link {

}


#material-breadcrumb.breadcrumb > li + li:before,
#lesson-breadcrumb.breadcrumb > li + li:before
{
    color: #ccc;
    content: ">> ";
    padding: 0 5px;
}

#menu-breadcrumb.breadcrumb > li + li:before
{
    color: #ccc;
    content: "|";
    padding: 0 5px;
}

#menu-breadcrumb.breadcrumb > li.active,
#material-breadcrumb.breadcrumb > li.active,
#lesson-breadcrumb.breadcrumb > li.active {
    color:black;
}

.subforum-lower {
    margin-left:50px;
}

.feature img{
    align-content: center;
}

#classroom_menu ul.nav-pills > li.active > a {
    background-color:#E6F1FC;
    background: #DCEBEB;
    color:black;
}

#classroom_menu ul.nav-pills > li > a:hover {
    background-color:#E6F1FC;
    background: #DCEBEB;
    color:black;
}

#classroom_menu  ul a {
    color:black;
}

#heading-desk {
    background-color: #EEDE9C;
    background-color:#FFFBDA;
    background-color:#F9FBDA;
    background:#FFF3D9;
    background:#E1D7C9;
    background:#C4BCAF;
    background:#A39E96;
    background:#EBE8CF;
    padding-bottom:0px;
}

#heading-classroom {
    background-color: #fbf6dd;
    background-color: #FFFAED;
    background-color: #cae6f4;
    background: #CEDEF4;
    background: #E6F1FC;
    background: #DCEBEB;
    padding-bottom:0px;
}

#heading-course {
    padding-bottom:0px;
    background: #E8F5FF;
    background: #C1CBD4;
    background: #D4D0D4;
}

#desk_menu ul.nav-pills > li.active > a {
    background-color: #EEDE9C;
    background-color:#FFFBDA;
    background-color:#F9FBDA;
    background:#FFF3D9;
    background:#E1D7C9;
    background:#C4BCAF;
    background:#A39E96;
    background:#EBE8CF;
    color:black;
}

#desk_menu ul.nav-pills > li > a:hover {
    background-color:#E6F1FC;
    background-color: #EEDE9C;
    background-color:#FFFBDA;
    background-color:#F9FBDA;
    background:#FFF3D9;
    background:#E1D7C9;
    background:#C4BCAF;
    background:#A39E96;
    background:#EBE8CF;
    color:black;
}

#desk_menu  ul a {
    color:black;
}

#desk_menu .breadcrumb {
    background:#E1D7C9;
    background:#C4BCAF;
    background:#A39E96;
    background:#EBE8CF;
}

#main-classroom .breadcrumb,
#main-classroom .tree {
    background-color:#DCEBEB;
}

/* course */

#course_menu ul.nav-pills > li.active > a {
    background-color:#f5f5f5;
    background:#C1CBD4;
    background:#D4D0D4;
    color:black;
}


#course_menu ul.nav-pills > li > a:hover {
    background-color:#f5f5f5;
    background:#C1CBD4;
    background:#D4D0D4;
    color:black;
}

#course_menu .breadcrumb {
    background:#C1CBD4;
    background:#D4D0D4;
}



#course_menu ul.nav-pills > li > a{
    color:black;
}


#course_menu .panel-heading {
   background:#C1CBD4;
   background:#D4D0D4;
}

/* classroom backend */


#classroombackend_menu .tree {
    background:#E5EBEB;
}

#classroombackend_menu ul.nav-pills > li.active > a {
    background-color:#f5f5f5;
    background:#E5EBEB;
    color:black;
}


#classroombackend_menu ul.nav-pills > li > a:hover {
    background-color:#f5f5f5;
    background:#E5EBEB;
    color:black;
}

#classroombackend_menu .breadcrumb {
    background:#E5EBEB;
}


#classroombackend_menu ul.nav-pills > li > a{
    color:black;
}


#classroombackend_menu .panel-heading {
   background:#E5EBEB;
}




#heading-classroombackend {
    background:#E5EBEB;
    padding-bottom:0px;
}

/* classroom */

#classroom .panel {
    word-wrap:break-word;
}


#main-classroom .panel-heading {
   background:#DCEBEB;
}



#netteachers a {
    color:#1E88CF;
    color:#A3332B;
}


/* accordion for lessons */

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

/* tree for forum */
.tree {
    min-height:20px;
    padding:19px;
    margin-bottom:20px;
    background-color:#fbfbfb;
    border:1px solid #999;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}
.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:5px;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000
}

#buildannouncements > td {
    width:100px
}

#buildforumtree .active {
    color:#A3332B;
    border: 1px solid #A3332B;
}

#btn-classroom,  #btn-classroom:hover {
    background-color:#DCEBEB;
    color:black;
}

#btn-course, #btn-course:hover {
    background: #C1CBD4;
    background:#D4D0D4;
    color:black;
}

#btn-classroombackend,  #btn-classroombackend:hover {
    background-color:#E5EBEB;
    color:black;

}

#btn-classroombackend.active {
    border:1px solid #A3332B;
}

#btn-classroom.active {
    border:1px solid #A3332B;
}

#btn-course.active {
    border:1px solid #A3332B;
}


a.btn-classroom,  a.btn-classroom:hover {
    background-color:#DCEBEB;
    color:black;
}

a.btn-course, a.btn-course:hover {
    background: #D4D0D4;
    background:#D4D0D4;
    color:black;
}

a.btn-classroombackend,  a.btn-classroombackend:hover {
    background-color:#E5EBEB;
    color:black;

}

#messages .alert-success {
    background:black;
    color:#A4E12B;
    padding:5px;
    margin:5px;
}

#messages button.close {
    color:black;
}

.announcement {
    margin:5px;
    padding:10px;
}

.announcement-divider {
    border-top:2px solid #DCEBEB;
    margin:10px 50px
}

.netteachers.jumbotron {
    margin-bottom:5px
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset;
}

