/* Custom Styles */

/* ------------------------- */
/*         backend           */
/* ------------------------- */
/* Select radio boxes on the top of the page */
#pageselects {
    float:right
}

/* Prevent images from being too large */
.img {
    max-width: 600px;
}


/* embeding pdf files */
object.htmlembed {
    max-width: 600px;
    height: 900px;
}



/* desk */
#desk {
  background-image: url('/static/img/normaldesk.jpg');
  background-size: cover;
  background-attachment: fixed;
}

#helpinstructions, .displaynr, .publishinfo, .lessonlinks, .contentdescription {
    display:none;
}

.accomplishment {
    display:none;
}

.last_modified {
    color:grey;
}


/* Work on lessons: make title input field longer */
input#id_title {
    width:500px;
}

/* Work on lessons: make title input field longer */
input#id_description {
    width:700px;
}



/* ------------------------- */
/*      responsiveness       */
/* ------------------------- */

/* when not mobile menu button is hidden */
#mobile_button {
    display:none;
}

/* when mobile: do not show navbar */
@media all and (max-width:630px){
    #mainNavbar{display:none;}
    /* show menu button instead */
    #pageImage{
        display:none;
    }
    #mobile_button {
        display:inline-block;
    }
    /* Header in die Mitte rücken, damit der Menu-Button in der Mitte ist*/
    #mainHeader {
        text-align: center;
    }
    #homepage-web{
        display:none;
    }
    #main {
        margin-top:0;
    }
    #newscolumn{
        padding:0;
    }
    #public {
        background:white;
    }
    #starterkurs {
        background:white;
    }
}


/* for webpages */
@media all and (min-width:631px){
    #homepage-mobile {
        display:none;
    }
/* content must be below navbar */
    #main {
        margin-top:60px;
    }
    #public, #starterkurs {
        background-image: url('/static/img/21349832_ml_lighter.jpg');
        background-size: cover;
        background-attachment: fixed;
     }
}

/* ------------------------- */
/*      general              */
/* ------------------------- */

/* makes background of main block headers white */
#mainheader {
    background:white;
}

a, a:hover, #courselink, #courselink:hover  {
    color:teal;
}


#logo {
    height:50px; width:auto;
}

#logo_big {
    height:100px; width:auto;
}


/* ------------------------- */
/*          homepage         */
/* ------------------------- */
#home {
  /* Location of the image */
  background-image: url('/static/img/homepage.jpg');
  background-size: cover;
  background-attachment: fixed;

}

#home #mainheader {
    opacity: 0.8;

}


#home .ui.grid>.row {
    padding:0;
}

/* cards get a frame */
#homesegment1, #homesegment2, #homesegment3, #homesegment4 {
    background:#aeb3a4;
    opacity: 0.9;
}

/* ------------------------- */
/*          footer           */
/* ------------------------- */

#footer {
  background:white;
  position:static;
}


#footer .ui.segment  {
    padding:0;
    margin:0;
}

#footercolumn {
    padding:0;
    margin:0;
}

#footer {
    padding:0;
    margin:0;
}

/* ------------------------- */
/*      starterkurspage      */
/* ------------------------- */
/* starterkurspage */
#starterkurs #tabgrid, #public #tabgrid #tabgridcolumn {
    padding:0;
    margin:0;
}

#starterkurs  .ui.tabular.menu .item {
    background-color: white;
    color:teal;
    opacity:1;
}

#starterkurs  .ui.tabular.menu .item.active {
    background:#c8d0dd;
    opacity:1;
    color:black;
}

#starterkurs .bottom.attached.tab.segment {
    background-color: #c8d0dd;
}

#starterkurs .bottom.attached.tab.segment .testimonial {
    background-color: white;
    padding:5px;
    margin-bottom: 10px;
}


#starterkurs blockquote {
    background:white;
    padding:10px;
    color:teal;
}


#starterkurs #buttonbook {
    background:#009b98;
    color:white;
}

#starterkurs #buttonbook h3 {
    color:white;
}

/* ------------------------- */
/*     courselistpage        */
/* ------------------------- */
#publiclist {
    background-image: url('/static/img/21349832_ml_lighter.jpg');
    background-size: cover;
    background-attachment: fixed;
}

#publiclist .segment {
    border: 2px solid #968D96;
}

#publiclist #courselist_menu .header {
    background: #968D96;
    color:white;
    /* background: hsla(300,4%,2%,0.1); */
    border: 5px solid #968D96;

}

#publiclist #mainheader, #publiclist #mainheader div {
    color:white;
    background:teal;
    opacity: 0.8;
}


#publiclist #courselist_menu  {
    /* opacity: 0.9; /* CSS3 Standard */
        opacity: 0.9;
}

#publiclist #courselist_menu a div {
    color:black;
}

/* ------------------------- */
/*     coursedetailpage      */
/* ------------------------- */

#public #mainheader {
    border:1px solid #c8d0dd;

}

#public #coursedetail {
   background-color: #c8d0dd;
}

#public #buttonprebook {
    background:#009b98;
    color:white;
}

#courseowner_img {
    max-width:350px;
    display: block;
    margin-left: auto;
    margin-right: auto

}

/* ------------------------- */
/*     webinar               */
/* ------------------------- */

#webinar {
    background:#c8d0dd;
}

#webinar .ui.button {
    background:#009b98;
    color:white;
}

#webinar #mainheader {
    opacity: 0.8;
}


/* ------------------------- */
/*     contact               */
/* ------------------------- */
#contact {
  background: #c8d0dd;
}

#application {
  background-color:#c8d0dd;
}

#application #formsubmit {
    background-color:#009b98;
    color:white;
}

#prebook {
  background-color:#c8d0dd;
}



/* Handwriting for the contact page answer */
#handwriting h2 {
    font: 400 2.5em/125% 'Petit Formal Script', Helvetica, Sans-serif;
}

#handwriting p {
    font: 400 1.5em/125% 'Petit Formal Script', Helvetica, Sans-serif;
}


/* ------------------------- */
/*     team and impressum    */
/* ------------------------- */

#team, #impressum {
    background-image: url('/static/img/12052071_ml.jpg');
    background-size: cover;
    background-attachment: fixed;
}

#teamcard {
    background: #ede1dd;
}

#team #mainheader, #impressum #mainheader {
    opacity:0.8;
}





