/* Custom Styles */

/* Semantic UI Tutorial */
/* Header */
#mainHeader {
    margin: 0 40px 0 40px;
}

/* Semantic UI Tutorial */
/* Header */
#homepageHeader {
    margin: 22px 22px 0 22px;
}

/* container for the header: is needed because the child element has position absolute */
#containerHeader {
    position: relative;
    height: auto;
    padding-bottom: 20px;
    overflow:hidden;
}

/* main Navigation Bar */
#mainNavbar {
    max-width: 1024px;
    margin: 0 auto;
}

/* Background image */
#mainImg {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    z-index: -1;
}

/* when not mobile menu button is hidden */
#mobile_button {
    display:none;
}

/* when mobile: do not show navbar */
@media all and (max-width:630px){
    #mainNavbar{display:none;}
    /* show menu button instead */
    #mobile_button {
        display:inline-block;
    }
    /* Header in die Mitte rücken, damit der Menu-Button in der Mitte ist*/
    #mainHeader {
        text-align: center;
    }
}




