/* Custom Styles */
/* Background pattern from subtlepatterns.com */

/* Select radio boxes on the top of the page */
#pageselects {
   float:right
}

/* Prevent images from being too large */
.img {
    max-width: 600px;
}


/* embeding pdf files */
object.htmlembed {
    max-width: 600px;
    height: 900px;
}


/* For mobile devices */
@media only screen and (max-width: 767px) {
  body {
    /* The file size of this background image is 93% smaller
     * to improve page load speed on mobile internet connections */
    /* background-image: url('/static/img/background3.jpg'); */
  }
}

/* Semantic UI Tutorial */
/* Header */

/* when not mobile menu button is hidden */
#mobile_button {
    display:none;
}

/* when mobile: do not show navbar */
@media all and (max-width:630px){
    #mainNavbar{display:none;}
    /* show menu button instead */
    #pageImage{display:none;}
    #mobile_button {
        display:inline-block;
    }
    /* Header in die Mitte rücken, damit der Menu-Button in der Mitte ist*/
    #mainHeader {
        text-align: center;
    }
    #homepage-web{display:none; }
}

@media all and (min-width:631px){
   #homepage-mobile{display:none;}
}

/* content must be below navbar */
#main {
    margin-top:60px;
}

/* makes background of blocks white */
#mainheader {
    background:white;
}


/* Background Images
 * Tutorial URL: http://sixrevisions.com/css/responsive-background-image/
*/

/* homepage */
#home {
  /* Location of the image */
  background-image: url('/static/img/homepage.jpg');
  background-size: cover;
  background-attachment: fixed;

}

#home #mainheader {
    opacity: 0.8;

}

#homesegment1, #homesegment2, #homesegment3, #homesegment4 {
    background:#aeb3a4;
    background:#e8c9bf;
    background:teal;
    background:#aeb3a4;

      opacity: 0.9;
    /* background:#968D96; */
}

#footer {
  /* Location of the image */
  /* background-image: url('/static/img/12052071_l.jpg'); */
  background: #f4ffff;
  background:white;
  opacity:0.8;
}

/* starterkurspage */
#starterkurs {
  background-image: url('/static/img/background_yellow.jpg');
}

/* course list */
#publiclist {
  background-image: url('/static/img/21349832_ml.jpg');
  background-image: url('/static/img/21349832_ml_lighter.jpg');
  background-size: cover;
  background-attachment: fixed;
}

#publiclist .segment, #courseheader a {
    /* background: hsl(300,4%,57%);
    border: 5px solid #968D96;
    opacity: 0.9; /* CSS3 Standard */
    /* background: rgba(150,141,150,0.2); */
    color:#5d565d;
}

#courselist_menu .header {
    background: #968D96;
    color:white;
    /* background: hsla(300,4%,2%,0.1); */
    border: 5px solid #968D96;

}

#publiclist #mainheader, #publiclist #mainheader div {
    color:white;
    background:teal;
    opacity: 0.8;
}


#courselist_menu  {
    /* opacity: 0.9; /* CSS3 Standard */
        opacity: 0.9;
}

#courselist_menu a div {
    color:black;
}

/* course list */
#public {
  /* background-image: url('/static/img/12052071_l.jpg');
   background-image: url('/static/img/21349832_ml_lighter.jpg');
  background-size: cover;
  background-attachment: fixed; */
   background-color:#a5bacb;
  /* background-color: #98bcd4; */
}

/* course list */
#webinar {
  /* background-image: url('/static/img/12052071_l.jpg');
  background-size: cover;
  background-attachment: fixed; */

  background-color: #f4ffff;
  background-color:#c3d4c9;
}

#webinar #mainheader {
    opacity: 0.8;
}


/* contact */
#contact {
  background-color:#b0d6d7;
  background: #ede1dd;
}

/* application */
#application {
  background-color:#a5bacb;
    /* background-color:#f2e2d2; */
}


/* prebook */
#prebook {
  background-color:#bfd6c6;
}


/* desk */
#desk {
  background-image: url('/static/img/normaldesk.jpg');
  background-size: cover;
  background-attachment: fixed;
}

#team {
  background-image: url('/static/img/12052071_ml_brown.jpg');
  background-size: cover;
  background-attachment: fixed;
}

#teamcard {
    background:#d3e5e5;
    background: #ede1dd;
}

#team #mainheader {
      opacity:0.8;
}

a, a:hover {
    color:teal;
}

/* Work on lessons: make title input field longer */
input#id_title {
    width:500px;
}

/* Work on lessons: make title input field longer */
input#id_description {
    width:700px;
}


/* Handwriting for the contact page answer */
#handwriting h2 {
    font: 400 2.5em/125% 'Petit Formal Script', Helvetica, Sans-serif;
}

#handwriting p {
    font: 400 1.5em/125% 'Petit Formal Script', Helvetica, Sans-serif;
}

#logo {
    height:50px; width:auto;
}

#logo_big {
    height:100px; width:auto;
}

#quote {
    background-image: url('/static/img/quote.jpg');
    background-repeat: no-repeat;
    height:100px;
}

#helpinstructions, .displaynr, .publishinfo, .lessonlinks, .contentdescription {
    display:none;
}

.accomplishment {
    display:none;
}

.last_modified {
    color:grey;
}