/* ------------------------- */
/* Variables                 */
/* ------------------------- */
/* ------------------------- */
/* Mixins                    */
/* ------------------------- */
/* ------------------------- */
/* base templates for        */
/* different media           */
/*                           */
/*                           */
/* ------------------------- */
@media only screen and (min-width: 1160px) {
  #mobile_menu,
  #mobile_navbar,
  #medium_navbar {
    display: none;
  }
  #base_content {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  #coursemenu_mobile {
    display: none;
  }
  .homepage_fixed {
    height: 150px;
  }
}
/* media tablet */
@media only screen and (min-width: 768px) and (max-width: 1160px) {
  #mobile_menu,
  #mobile_navbar,
  #pc_navbar {
    display: none;
  }
  #base_content {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  #coursemenu_mobile {
    display: none;
  }
  .homepage_fixed {
    height: 200px;
  }
}
/* media mobile */
@media only screen and (max-width: 767px) {
  /* phones */
  #pc_navbar,
  #medium_navbar {
    display: none;
  }
  #home .divider_header.ui.header {
    font-size: 1.5em;
  }
  #base_content {
    padding-top: 0;
    padding-bottom: 0px;
  }
  #public,
  #desk {
    padding-top: 15px;
  }
  /* reset margin, so that navbar is on top */
  #mobile_navbar {
    margin: 0px;
  }
  #coursemenu_pc {
    display: none;
  }
}
/* --------------------------------- */
/* Base template                     */
/* --------------------------------- */
#base_wrapper {
  min-height: 100%;
  height: auto !important;
  margin: 0 auto -142px;
  background-size: cover;
  background-attachment: fixed;
}
#base_navbar_logo {
  padding: 0px;
  margin: 0px;
}
#base_navbar_logo img {
  padding: 0px;
  margin: 0px;
}
#base_navbar_logo_mobile {
  padding: 0px;
  margin: 0px;
}
#base_navbar_logo_mobile img {
  padding: 0px;
  margin: 0px;
}
#base_public_main {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 70px;
  padding-bottom: 142px;
}
#base_public_main .mentoki_nice_font {
  color: black;
  opacity: 0.7;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3em;
  font-weight: 400;
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
}
/* --------------------------------- */
/* Styling homepage                  */
/* --------------------------------- */
#homepage_main_grid {
  padding: 0px;
  /* Logo on homepage */
}
#homepage_main_grid .mentoki_color {
  color: #148582;
  font-size: 1.1em;
}
#homepage_main_grid #mentoki_logo_homepage {
  opacity: 0.9;
}
#homepage_main_grid h1.ui.header {
  padding-top: 0px;
  margin-top: 0px;
  font-size: 2em;
  line-height: 1.2em;
  padding-bottom: 0px;
}
#homepage_main_grid .image_container {
  height: 200px;
}
#homepage_main_grid .button_container {
  padding-bottom: 30px;
}
#homepage_main_grid .public_button {
  height: 80px;
}
/* ------------------------- */
/* desk page                 */
/* ------------------------- */
#desk {
  background-image: url("/static/img/normaldesk.jpg");
  background-size: cover;
  background-attachment: fixed;
}
