{% extends "base/base_course.html" %}
{% load i18n %}
{% load cache %}
{% comment %}USED BY info.py{% endcomment %}
{% load activelink %}
{% block meta_post_title %}{{ meta.title }}{% endblock %}
{% block meta_post_title_tmp %}{{ meta.title }}{% endblock %}

{% block  main_content %}
{% cache 50000 productgroup_menu courseproductgroup.slug %}
    {% url 'home:home' as home_url %}
    {% url 'storefront:list_now' as course_url %}

    <div class="ui menu fixed center aligned top three item fluid" id="coursemenu_pc">

        <div class="ui left dropdown item" id="#start" style="padding:0px; margin: 0px;
        background:white!important;">
        <img  class="ui image" style="padding:0px; margin: 0px;
            "
              src="/static/img/mentoki_logo_33.png"
        >
            <i class="dropdown icon" ></i>
            <div class="menu">
        <a class="item" href="{{ home_url }}" >
            zurück zur Homepage
        </a>
        <a class="item" href="{{ course_url }}" >
            zurück zur Kursübersicht
        </a>
            </div>
        </div>

            <div class="ui left dropdown item" id="#start" style=" background:white!important;">
                 {{ courseproductgroup.menu_name }}
                <i class="dropdown icon"  style="color: #eb3d00!important;
               "
                ></i>
                <div class="menu">
        <a class="item" href="#start" >
            Seitenanfang
        </a>
                {% if courseproductgroup.can_be_booked_now %}
            <a class="item" href="#bookingoptions" style="color: #eb3d00!important;">
                jetzt buchen!
            </a>
                {% endif %}

                    {% for product_field in product_fields %}
                    <a class="item" href="#{{ product_field.pagemark }}"
                       style="line-height:0.2em">
                        {{ product_field.title }}
                    </a>
                    {% endfor %}

                </div>
            </div>
    {% if courseproductgroup.can_be_booked_now %}
            <a class="item" href="#bookingoptions" style="color: #eb3d00;">
                jetzt buchen!
            </a>
        {% else %}
          <div class="item" href="#start">
             Vorschau
          </div>

{% endif %}
        </div>

        <div class="ui menu fixed center aligned top one item fluid" id="coursemenu_mobile">

            <div class="ui left dropdown item" id="#start" style="background:white!important;">
             <img  class="ui image" style="padding:0px; margin: 0px;
            padding-right:5px; "
                  src="/static/img/mentoki_logo_33.png"
            >
                 {{ courseproductgroup.menu_name }}
                <i class="dropdown icon" style="color: #eb3d00!important;"></i>
                <div class="menu">
            <a class="item" href="#start" >
                Seitenanfang
            </a>
                {% if courseproductgroup.can_be_booked_now %}
            <a class="item" href="#bookingoptions" style="color: #eb3d00!important;">
                jetzt buchen!
            </a>
                {% endif %}
                    {% for product_field in product_fields %}
                    <a class="item" href="#{{ product_field.pagemark }}" style="line-height:0.2em">
                        {{ product_field.title }}
                    </a>
                    {% endfor %}

             <a class="item" href="{{ home_url }}" >
                zurück zur Homepage
            </a>
            <a class="item" href="{{ course_url }}" >
                zurück zur Kursübersicht
            </a>
                </div>
            </div>

        </div>
{% endcache %}
        {% block courseproductpage %}

        {% endblock %}


{% endblock %}