{% extends "base/base_public.html" %}

{% block page_section_css_id %}home{% endblock %}

{% block main_content %}

    <!-- text page -->
    <div class="ui grid container" style="padding-bottom:100px;
          padding-top:40px;"  >

        <div class="content ui column sixteen wide">

                <div class="ui two column stackable grid">
                    <div class="column five wide">

                        <!-- course card -->
                        <div class="ui cards centered">
                            {% include 'storefront/fragments/_coursecard_detail.html' %}
                        </div>

                    </div>

                <div class="column ten wide">

                    {% include 'storefront/fragments/_course_menu.html' %}

                    {% include 'base/fragments/_messages.html' %}

                    {% block course_detail %}{% endblock %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}