{% extends "base/base_public.html" %}
{% load activelink %}
{% block background_image %}background: url('/static/img/board2.png');{% endblock %}
<!-- 47632557  45169729 -->

{% block main_content %}

    <!-- urls -->
    {% url 'storefront:detail' slug=courseproductgroup.slug  as detail_url %}
    {% url 'storefront:mentors' slug=courseproductgroup.slug  as mentors_url %}
    {% url 'storefront:offer' slug=courseproductgroup.slug as offer_url %}
    <!-- text page -->


                <div class="ui two column stackable grid"
                     style="padding-top:20px; padding-bottom:20px;">
                    <div class="column five wide">

                        <!-- course card -->
                        <div class="ui cards centered">
                            {% include 'storefront/fragments/_coursecard_detail.html' %}
                        </div>

                    </div>

                <div class="column ten wide">

                <div class="ui segment"
                    style="
                    background: transparent;
                    border:none;
                    padding:0;
                    ">
                    {% url 'desk:updateprofile' pk=user.pk as userprofile_url  %}
                    <div class="ui top attached stackable three item  fluid tabular menu"
                         style="
                         margin-bottom:0px;
                         background:transparent;
                         ">
                        <a  href="{{ offer_url }}" class="item
                            {% ifactive offer_url %}active {% endifactive %}"
                            style="
                            color:white;
                            opacity:0.6;
                            {% ifactive offer_url %}
                                background-color:white;
                                color:black;
                            {% endifactive %}
                        ">
                            Angebote
                        </a>
                        <a href="{{ detail_url }}" class="item
                           {% ifactive detail_url %}active {% endifactive %}"
                            style="
                            color:white;
                            opacity:0.6;
                            {% ifactive detail_url %}
                                 background-color:white;
                                color:black;
                            {% endifactive %}
                            ">
                            Kursbeschreibung
                        </a>
                        <a href="{{ mentors_url }}" class="item
                            {% ifactive mentors_url %}active{% endifactive %}"
                            style="
                            opacity:0.6;
                            color:white;
                            {% ifactive mentors_url %}
                                background-color:white;
                                color:black;
                            {% endifactive %}
                            ">
                            Kursleitung
                        </a>
                    </div>

                    {% include 'base/fragments/_messages.html' %}

                    {% block course_detail %}{% endblock %}

                </div>
            </div>
        </div>


{% endblock %}

