{% extends "base/base_public.html" %}
{% load i18n %}

{% block meta_post_title %}{{ meta.title }} | Kurse bei mentoki{% endblock %}
{% block meta_post_title_tmp %}{{ meta.title }} | Kurse bei mentoki{% endblock %}

{% block  main_content %}


<div class="ui centered grid">

  <div class="six wide column" style="background: url('/static/img/board3.jpg');">
    <div class="ui vertical fluid tabular menu">
      <a class="active item" href="#start">
        Bio
      </a>
      <a class="item" href="#termine">
        Pics
      </a>
      <a class="item" href="#kursleitung">
        Companies
      </a>
      <a class="item" href="#gliederung">
        Links
      </a>
    </div>
  </div>
</div>
  <div class="sixteen wide tablet eight wide computer column center aligned">
    <div class="ui segment" id="start">
            <h1 class="ui center aligned header large">{{ courseproductgroup.course.title }}</h1>
            {{ courseproductgroup.video | safe }}
    </div>
  </div>

</div>
    <div class="sixteen wide tablet eight wide computer column center aligned">
<h3>Kursformat</h3>

<p>Der Kurs wird als gef&uuml;hrter Gruppenkurs angeboten</p>

<h3>Starttermine</h3>

<p>Zur Einf&uuml;hrung des Kurses ist zun&auml;chst ein Termin geplant</p>

<ul>
  <li>24.3.2016</li>
</ul>

<h3>Teilnehmerzahl</h3>

<p>Mindestteilnehmerzahl ist 10, maximale Teilnehmerzahl 30.&nbsp; Sollte ein Kurs die Minimalteilnehmerzahl nicht erreichen, so erhalten gebuchte Interessenten ihre bereits gezahlten Kursgeb&uuml;hren in voller H&ouml;he zur&uuml;ck. Dar&uuml;ber hinausgehende Anspr&uuml;che sind ausgeschlossen.</p>

<h3>Kursdauer: 20 Wochen&nbsp;&nbsp;</h3>

<p>Eine Einf&uuml;hrungswoche, sieben thematische Etappen von jeweils zwei Wochen und eine Abschlusswoche</p>

<h3>Buchungsarten</h3>

<p>Der Kurs kann nur als ganzes Paket gebucht werden.</p>
        </div>

    <div class="ui centered grid" id="termine">

        <div class="sixteen wide tablet eight wide computer column">
             {% include 'storefront/fragments/_offers.html' %}
        </div>
    </div>
    <div class="ui centered grid" id="kursleitung">

         <div class="froala-view ">
             {{ courseproductgroup.mentors | safe }}
         </div>
    </div>

    <div class="ui centered grid" id="termine">

        <div class="sixteen wide tablet eight wide computer column">
             {% include 'storefront/fragments/_offers.html' %}
        </div>
    </div>
    <div class="eight wide column" id="gliederung" >
          <div class="froala-view ">
             {{ courseproductgroup.about | safe }}
         </div>
    </div>
   </div>
</div>
      <div class="ui centered grid">


<div class="row">

 <div class="sixteen wide tablet twelve wide computer column">
 <div class="sixteen wide tablet twelve wide computer column">
{{ courseproductgroup.about | safe }}
</div>
    </div>
 </div>
</div>
<div class="ui internally celled stackable grid" id="angebote">
  <div class="row">
    <div class="four wide column">

    </div>
    <div class="eight wide column" >
          <div class="froala-view ">
             {{ courseproductgroup.about | safe }}
         </div>
    </div>
    <div class="four wide column" >
      {% include 'storefront/fragments/_offers.html' %}
    </div>
  </div>

{% endblock %}