{% extends "base/base_public.html" %}
{% load i18n %}

{% block meta_post_title %}{{ meta.title }} | Kurse bei mentoki{% endblock %}
{% block meta_post_title_tmp %}{{ meta.title }} | Kurse bei mentoki{% endblock %}

{% block  main_content %}

<div class="ui sidebar left visible">
  <div class="six wide column" style="background: url('/static/img/board3.jpg');
  padding-top:200px;
  "
          >
    <div class="ui vertical menu">
      <a class="active item" href="#start">
        Bio
      </a>
      <a class="item" href="#termine">
        Pics
      </a>
      <a class="item" href="#kursleitung">
        Companies
      </a>
      <a class="item" href="#gliederung">
        Links
      </a>
    </div>
  </div>

</div>

{% endblock %}