{% extends "base/base_course.html" %}
{% load i18n %}
{% load activelink %}
{% block meta_post_title %}{{ meta.title }} | Kurse bei mentoki{% endblock %}
{% block meta_post_title_tmp %}{{ meta.title }} | Kurse bei mentoki{% endblock %}

{% block  main_content %}
    {% url 'home:home' as home_url %}
    {% url 'storefront:list_now' as course_url %}

    <div class="ui menu fixed center aligned top three item fluid" id="coursemenu_pc">

            <div class="ui left dropdown item" id="#start" style="padding:0px; margin: 0px;">
            <img  class="ui image" style="padding:0px; margin: 0px;"
                  src="/static/img/mentoki_logo_65.png"
            >
                <i class="dropdown icon"></i>
                <div class="menu">
            <a class="item" href="{{ home_url }}" >
                zurück zur Homepage
            </a>
            <a class="item" href="{{ course_url }}" >
                zurück zur Kursübersicht
            </a>


                </div>
            </div>

            <div class="ui left dropdown item" id="#start">
                 {{ courseproductgroup.menu_name }}
                <i class="dropdown icon"></i>
                <div class="menu">
            <a class="item" href="#start" style="color: #eb3d00!important;">
                jetzt buchen!
            </a>

                    {% for product_field in product_fields %}
                    <a class="item" href="#{{ product_field.pagemark }}" style="line-height:1em">
                        {{ product_field.title }}
                    </a>
                    {% endfor %}

                </div>
            </div>
            <a class="item" href="#start" style="color: #eb3d00;">
                jetzt buchen!
            </a>

        </div>
        <div class="ui menu fixed center aligned top two item fluid" id="coursemenu_mobile">

            <div class="ui left dropdown item" id="#start" style="padding:0px; margin: 0px;">
            <img  class="ui image" style="padding:0px; margin: 0px;"
                  src="/static/img/mentoki_logo_65.png"
            >
                <i class="dropdown icon"></i>
                <div class="menu">
            <a class="item" href="{{ home_url }}" >
                zurück zur Homepage
            </a>
            <a class="item" href="{{ course_url }}" >
                zurück zur Kursübersicht
            </a>


                </div>
            </div>



            <div class="ui left dropdown item" id="#start">
                 {{ courseproductgroup.menu_name }}
                <i class="dropdown icon"></i>
                <div class="menu">
            <a class="item" href="#start">
                <i class="icon home"></i> Seitenanfang
            </a>
            <a class="item" href="#start" style="color: #eb3d00!important;">
                jetzt buchen! {{ courseproductgroup.discount_text_long }}
            </a>
                    {% for product_field in product_fields %}
                    <a class="item" href="#{{ product_field.pagemark }}" style="line-height:1em">
                        {{ product_field.title }}
                    </a>
                    {% endfor %}

                </div>
            </div>

        </div>

<div class="ui centered grid" id="start" style="
padding-top:60px;
background: url('/static/img/15447605_xxl1.jpg');
">

<div class="sixteen wide tablet twelve wide computer column"
     >








            {% include 'storefront/fragments/_product_list.html' %}

</div>


</div>

<div style="background: url('/static/img/15447605_xxl1.jpg');">

     {% for product_field in product_fields %}
<div class="ui centered  grid" id="{{ product_field.pagemark }}"
     style="padding-top:60px;padding-bottom:60px;">

<div class="sixteen wide tablet twelve wide computer column">
<div class="ui segment">
            <h2 class="ui center aligned header large">{{ product_field.title }}</h2>
            {{ product_field.text | safe }}
</div>
</div>
</div>

        {% endfor %}

</div>

{% endblock %}