{% extends "storefront/pages/base_detail.html" %}
{% load i18n %}

{% block meta_title %}{{ courseproductgroup.meta_title }}{% endblock %}

{% block meta_description %}{{ courseproductgroup.meta_description }}{% endblock %}
{% block meta_keywords %}{{ courseproductgroup.meta_keywords }}{% endblock %}

{% block course_detail %}

<div style="
          background: white;
          padding: 30px;
          ">

    {% if courseproductgroup.discount_text %}
        <!-- red: #eb3d00; -->
        <div class="extra content" style="color:#eb3d00; min-height: 150px;" >
            <img class="ui medium floated right image" src="/static/img/einfuehrungsrabatt.png">
            <br> {{ courseproductgroup.discount_text_long }}
        </div>
    {% endif %}
    <!-- urls --->
    {% url 'home:agb' as agb_url %}

    <h3 class="ui left floated header" style="color:#eb3d00;">
        Leistungsangebote im Detail
    </h3>
    <div class="ui clearing divider"></div>


     <div class="froala-view" >
          {{ courseproductgroup.conditions | safe }}
     </div>
     <p style="color:grey;">* Es gelten unsere <a href="{{ agb_url }}">AGBs</a>.</p>


    <h3 class="ui left floated header" style="color:#eb3d00;">
        Jetzt buchen
    </h3>
    <div class="ui clearing divider"></div>
    <div class="ui middle aligned divided list" >

        {% for item in product_list %}
            <div class="item">
            {% url 'checkout:redirect_to_product' pk=item.courseproduct.id as pay_url %}
            {% url 'desk:learn' as desk_url %}

                 {% if item.can_buy %}
                      <div class="right floated content">
                            <div style="padding: 10px;">
                       {% if item.has_parts %}
                            <i class="icon green checkmark"></i>
                              bereits bezahlt bis zu {{ item.order.nr_parts_paid }}. Etappe

                       {% endif %}
                            </div>
                            <a href="{{ pay_url }}" class="ui button teal basic"
                               style="
                                    background: 0 0!important;
                                    box-shadow: 0 0 0 2px #009c95 inset!important;
                                    color: #009c95!important;"
                                    >
                       {% if item.has_parts %}

                           {{ item.buy_part_nr}}. Etappe:
                       {% endif %}
                                {% if item.is_on_sale %}
                                    jetzt<span style="color:#eb3d00">
                                    {{ item.amount_sale }}</span>
                                    statt
                                    {{ item.amount_original }}
                                {% else %}
                                    jetzt kaufen für
                                    {{ item.amount_original }}
                                {% endif %}
                                {{ item.courseproduct.get_currency_display }}
                            </a>
                      </div>

                 {% elif item.payment_complete %}

                      <div class="right floated content">

                            <div style="padding: 10px;">

                                <i class="icon green checkmark"></i>
                                Buchung komplett
                            </div>
                      </div>

                 {% elif item.prebook %}

                       <div class="right floated content">

                            <a href="{{prebook_url }}" class="ui button basic teal"
                                    style="
                                    background: 0 0!important;
                                    box-shadow: 0 0 0 2px #009c95 inset!important;
                                    color: #009c95!important;"
                                    >
                                Bitte benachrichtigen sobald die Buchung geöffnet ist
                            </a>
                      </div>

                 {% else %}

                       <div class="right floated content">

                            <div class="ui button basic">
                       {% if item.has_parts %}
                           {{ item.buy_part_nr}}. Etappe:
                       {% endif %}
                                {% if item.is_on_sale %}
                                    jetzt<span style="color:#eb3d00">
                                    {{ item.amount_sale }}</span>
                                    statt
                                    {{ item.amount_original }}
                                {% else %}
                                    jetzt kaufen für
                                    {{ item.amount_original }}
                                {% endif %}
                                {{ item.courseproduct.get_currency_display }}
                            </div>
                      </div>

                 {% endif %}
                 <div class="content">
                     <div class="header">
                              {% if item.payment_complete %}
                               <a href="{{ desk_url }}">
                               {{ item.courseproduct.courseevent.title }}
                                 {{ item.courseproduct.courseevent.start_date }}
                              </a>
                              {% else %}

                               {{ item.courseproduct.courseevent.title }}
                                 {{ item.courseproduct.courseevent.start_date }}

                              {% endif %}
                     </div>
                     <p>{{ item.courseproduct.name }}</p>
                     <div class="froala-view">{{ item.courseproduct.description | safe }}</div>
                 </div>

            </div>

        {% endfor %}

    </div>
    </div>


{% endblock %}
