{% extends "storefront/pages/base_detail.html" %}
{% load i18n %}

{% block meta_title %}Mentoki - Lehr- und Lernplattform | Lernen und Lehren lebenslang{% endblock %}

{% block meta_description %}Wir sind eine Lehr- und Lern-Plattform für unabhängiger Mentoren und ihre Schüler{% endblock %}
{% block meta_keywords %}mentoren netzwerk, lern plattform, erwachsenen bildung, online unterrichten, lehr plattform{% endblock %}

{% block course_detail %}

    <!-- urls --->
    {% url 'home:agb' as agb_url %}

     <div class="froala-view">
          {{ courseproductgroup.conditions | safe }}
     </div>
    <p style="color:grey;">* Es gelten unsere <a href="{{ agb_url }}">AGBs</a>.</p>
    {% if courseproductgroup.discount_text %}
        <!-- red: #eb3d00; -->
        <div class="extra content" style="color:#eb3d00; min-height: 150px;" >
            <img class="ui medium floated right image" src="/static/img/einfuehrungsrabatt.png">
            <br> {{ courseproductgroup.discount_text_long }}
        </div>
    {% endif %}

    <div class="ui middle aligned divided list">

        {% for item in product_list %}
            <div class="item">

            {% if item.status == ProductToCustomer.AVAILABLE %}

                {% url 'checkout:redirect_to_product' slug=item.courseproduct.slug as pay_url %}

                <div class="right floated content">
                    <a href="{{ pay_url }}" class="ui button">
                        {% if item.courseproduct.sales_price != item.courseproduct.price %}
                            jetzt<span style="color:#eb3d00">
                            {{ item.courseproduct.sales_price }}</span>
                            statt
                            {{ item.courseproduct.price }}
                        {% else %}
                            jetzt kaufen für
                            {{ item.courseproduct.price }}
                        {% endif %}
                        {{ item.courseproduct.get_currency_display }}
                    </a>
                </div>

            {% else %}

                <div class="right floated content">
                    {% if item.status == 'booked' %}
                        <i class="icon green checkmark"></i>
                    {% endif %}
                    <div class="ui button basic">
                        {% if item.courseproduct.sales_price != item.courseproduct.price %}
                            jetzt<span style="color:#eb3d00">
                            {{ item.courseproduct.sales_price }}</span>
                            statt
                            {{ item.courseproduct.price }}
                        {% else %}
                            jetzt kaufen für
                            {{ item.courseproduct.price }}
                        {% endif %}
                        {{ item.courseproduct.get_currency_display }}
                    </div>
                </div>

            {% endif %}


                <div class="content">
                    <div class="header">
                        {{ item.courseproduct.name }}
                    </div>
                    <p>{{ item.courseproduct.description | safe }}</p>
                </div>
            </div>

        {% endfor %}

    </div>

{% endblock %}
