{% extends "storefront/pages/base_detail.html" %}
{% load i18n %}

{% block meta_title %}Mentoki - Lehr- und Lernplattform | Lernen und Lehren lebenslang{% endblock %}

{% block meta_description %}Wir sind eine Lehr- und Lern-Plattform für unabhängiger Mentoren und ihre Schüler{% endblock %}
{% block meta_keywords %}mentoren netzwerk, lern plattform, erwachsenen bildung, online unterrichten, lehr plattform{% endblock %}

{% block course_detail %}
     <div class="froala-view">
         {{ courseproductgroup.mentors | safe }}
     </div>
{% endblock %}