{% extends "storefront/pages/base_detail.html" %}
{% load i18n %}

{% block meta_title %}{{ courseproductgroup.meta_title_description }} | Mentoki{% endblock %}

{% block meta_description %}{{ courseproductgroup.meta_description_description }}{% endblock %}
{% block meta_keywords %}{{ courseproductgroup.meta_keywords_description }}{% endblock %}

{% block course_detail %}
     <div class="froala-view"
          style="
          background: white;
          padding: 10px;
          ">
         {{ courseproductgroup.about |safe }}
     </div>
{% endblock %}
