{% extends "base/base_course.html" %}
{% load i18n %}
{% load activelink %}
{% block meta_post_title %}{{ meta.title }} | Kurse bei mentoki{% endblock %}
{% block meta_post_title_tmp %}{{ meta.title }} | Kurse bei mentoki{% endblock %}

{% block  main_content %}
    {% url 'home:home' as home_url %}
    <div class="ui menu fixed center aligned top three item fluid" >

            <a class="item" style="padding:0px; margin: 0px;"
            href="{{ home_url }}">
            <img  class="ui image" style="padding:0px; margin: 0px;" src="/static/img/mentoki_logo_65.png"
            >
            </a>


            <div class="ui left dropdown item" id="#start">
                 {{ courseproductgroup.menu_name }}
                <i class="dropdown icon"></i>
                <div class="menu">
            <a class="item" href="#start">
                <i class="icon home"></i> Seitenanfang
            </a>

                    {% for product_field in product_fields %}
                    <a class="item" href="#{{ product_field.pagemark }}" style="line-height:1em">
                        {{ product_field.title }}
                    </a>
                    {% endfor %}

                </div>
            </div>
            <a class="item" href="#preise" style="color: #eb3d00;">
                jetzt buchen! {{ courseproductgroup.discount_text_long }}
            </a>

        </div>
        <div class="ui menu fixed center aligned top two item fluid" id="mobile_navbar">

            <a class="item" style="padding:0px; margin: 0px;"
            href="{{ home_url }}">
            <img  class="ui image" style="padding:0px; margin: 0px;" src="/static/img/mentoki_logo_65.png"
            >
            </a>


            <div class="ui left dropdown item" id="#start">
                 {{ courseproductgroup.menu_name }}
                <i class="dropdown icon"></i>
                <div class="menu">
            <a class="item" href="#start">
                <i class="icon home"></i> Seitenanfang
            </a>
            <a class="item" href="#preise" style="color: #eb3d00!important;">
                jetzt buchen! {{ courseproductgroup.discount_text_long }}
            </a>
                    {% for product_field in product_fields %}
                    <a class="item" href="#{{ product_field.pagemark }}" style="line-height:1em">
                        {{ product_field.title }}
                    </a>
                    {% endfor %}

                </div>
            </div>

        </div>

<div class="ui centered grid" id="start" style="padding-left:50px;
padding-right:50px; padding-top:100px;">

<div class="sixteen wide tablet twelve wide computer column"
     >
        <a class="image ui floated left medium" href="#">
        {% if courseproductgroup.foto %}

          <img src="{{ courseproductgroup.foto.url }}">
        {% endif %}
    </a>
 <h1 class="ui center aligned header large"
         style="color:#19aaa6;
                font-family: 'Montserrat', sans-serif;
                font-size: 1.6em;
                font-weight: 400;
                line-height: 1.5em;
                -webkit-font-smoothing: antialiased;
                "
         >{{ courseproductgroup.course.title }}<br> von
 {{ courseproductgroup.course.teachersrecord }}</h1>
     <p>{{ courseproductgroup.in_one_sentence }}</p>

</div>
</div>


<div class="ui centered  grid" id="preise" style="padding-left:50px;
padding-right:50px; padding-top:150px;">

<div class="sixteen wide tablet twelve wide computer column"
    >


            {% include 'storefront/fragments/_product_list.html' %}

</div>


</div>


     {% for product_field in product_fields %}
<div class="ui centered  grid" id="{{ product_field.pagemark }}" style="padding-left:50px;
padding-right:50px; padding-top:150px;">

<div class="sixteen wide tablet twelve wide computer column">

            <h2 class="ui center aligned header large">{{ product_field.title }}</h2>
            {{ product_field.text | safe }}

</div>
</div>

        {% endfor %}

<div style="padding-bottom:100px;"></div>
{% endblock %}