{% extends "base/base_public.html" %}
{% load i18n %}

{% block meta_title %}Mentoki - Lehr- und Lernplattform | Lernen und Lehren lebenslang{% endblock %}

{% block meta_description %}Wir sind eine Lehr- und Lern-Plattform für unabhängiger Mentoren und ihre Schüler{% endblock %}
{% block meta_keywords %}mentoren netzwerk, lern plattform, erwachsenen bildung, online unterrichten, lehr plattform{% endblock %}


{% block page_section_css_id %}home{% endblock %}

{% block main_content %}

    <!-- urls --->

    <!-- text page -->
    <div class="ui grid container" style="padding-bottom:100px;
          padding-top:40px;"  >

        <div class="content ui column sixteen wide">


                <div class="ui two column stackable grid">
                  <div class="column five wide">

                         <div class="ui cards centered">
                  {% include 'storefront/fragments/_coursecard_detail.html'  %}

                        </div>
                  </div>
                  <div class="column ten wide">

                         {% include 'storefront/fragments/_course_menu.html' %}


                        <div class="froala-view">
                             {{ courseproductgroup.mentors | safe }}
                         </div>




                </div>
            </div>
        </div>

{% endblock %}