{% extends "base/base_public.html" %}
{% load i18n %}

{% block meta_post_title %}{{ meta.title }} | Kurse bei mentoki{% endblock %}
{% block meta_post_title_tmp %}{{ meta.title }} | Kurse bei mentoki{% endblock %}

{% block background_image %}background: url('/static/img/45169729_l_l.jpg');{% endblock %}
<!-- 47632557  45169729 -->


{% block main_content %}

    <!-- text page -->
    <div class="ui grid container" style="padding-bottom:100px;">

        <div class="content ui column sixteen wide">

                <div class="ui header center aligned  large" style="color:#19aaa6;
                font-family: 'Montserrat', sans-serif;
                font-size: 2em;
                font-weight: 400;
                line-height: 1.5em;
                -webkit-font-smoothing: antialiased;
                ">
                    mentoki<sub>&reg;</sub> Kurse - für Administration

                </div>
            <div class="ui centered one column grid">

                <div class="column">
                    <div class="ui cards centered">
                        {% for courseproductgroup in courseproductgroups %}
                            {% include 'storefront/fragments/_coursecard.html' %}
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
