{% extends "base/base_landing.html" %}
{% load i18n %}
{% load cache %}
{% comment %}USED BY info.py{% endcomment %}
{% load activelink %}
{% block meta_post_title %}{{ meta.title }}{% endblock %}
{% block meta_post_title_tmp %}{{ meta.title }}{% endblock %}

{% block page %}
    {% url 'home:home' as home_url%}
    <div class="ui vertical segment">
        <div class="ui header center aligned" >
            <a class=item" href="{{ home_url }}">
                 <img  class="ui image center aligned
                    " src="/static/img/logo/mentoki_logo_navbar.png">
            </a>
        </div>
    </div>


    <main id="base_public_main" style="background: {{ courseproductgroup.background_color_hex }};">

    <div class="ui grid container "  style="padding-bottom:100px;">
        <div class="row">
            <div class="column">
                <h1 class="item ui header huge" >
                    {% url 'storefront:landingpage' slug=courseproductgroup.slug  as landing_url %}
                    {{ courseproductgroup.title }}
                    <a href="{{ landing_url }}">
                        <img class="ui image medium floated left "
                        src="{{ courseproductgroup.foto.url }}">
                    </a>

                </h1>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <h1 class="ui large medium" >Angebot Selbstlernen</h1>
                <h2 class="ui header medium">Was Sie erhalten</h2>
                <div class="ui list">
                    <div class="item">
                        <
                    </div>
                    Hier finden Sie nach Themenblöcken geordent alles was Sie zum Abschluss Ihrer Arbeit
                brauchen. Sie können in Ruhe eine Thema nach dem anderen angehen und checken,
                    dass Sie auch alles berücksichtigt haben
                </div>
                <h2 class="ui header medium">

                    Wäre es nicht schön für Sie gelassen der Abgabe entgegenblicken zu können?
                </h2>
                <p>In der Schreibwerkstatt gibt es eine Forum, wo Sie Ihre Fragen stellen können
                und von Ihrem Mentor Franz Neff kompetente Antworten auf Ihre Fragen erhalten.
                </p>
                <h2 class="ui header medium">Aber ...</h2>
                <p>Ja ich weiss, Sie machen das zum ersten Mal, so eine grosse wissenschaftliche
                Arbeit und keiner hat Sie richtig darauf vorbereitet. Ich erlebe das in meinen
                Präsenzseminaren, die ich für Studenten an den Universitäten gebe täglich. Sie sind nicht der
                einzige, der mit der Abschlussarbeit Mühe hat</p>
                <h2 class="ui header medium">Wollen Sie ein Präsenzseminar besuchen?</h2>
                <p>Sie könnten zu mir in einen Präsenzseminar reisen, dort bekommen erzähle ich Ihnen das alles
                    live in zwei Tagen</p>
                <h2 class="ui header medium">Oder ist online für Sie die bessere Option?</h2>
                <p>Online können Sie das Studium praktisch projektbegleitend machen. Sie erarbeiten sich einen
                Abschnitt, stellen ihr Fragen im Forum und los gehts: glcih bei der eigenen Arbeit umsetzen.
                    Und wenn dann etwas unklar geblieben ist der Kurs ist dann ja anders als der Seminarraum
                    immer noch da und ich warte dort auf Ihre Praxis Fragen.</p>

                <h2 class="ui header medium">

                    Und das alles zu Studentenpreisen!
                </h2>
                <p>Wissen Sie ich kenne die Situation von Studenten und ihr Budget. Deshalb habe ich mein Angebot
                    exakt für Ihre Situation zugeschnitten. Den besten Deal erhalten Sie bei den Gruppenkursen.
                    Denn dann haben Sie noch Mitstudenten und können sich mit Ihnen gegenseitig helfen.
                </p>
        <a class="ui button large blue "
           href="{{ offer_url }}"     >
            Ja, das passt für mich, bitte verbindlich anmelden
        </a>
            </div>
        </div>
    </div>
    </main>
{% endblock %}
