<table class="ui celled table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td  class="ui positive">Sie lernen am liebsten in der Gruppe</td>
      <td class="ui positive">100 €</td>
      <td class="ui positive"><div class="ui button large blue">Jetzt buchen</div></td></td>
    </tr>
    <tr >
      <td>Sie brauchen Beratung</td>
      <td >60 €</td>
      <td ><div class="ui button large blue">Jetzt buchen</div></td>
    </tr>
    <tr>
      <td>Sie sind ein Selbstläufer</td>
      <td>10 €</td>
      <td ><div class="ui button large blue">Jetzt buchen</div></td>
    </tr>

  </tbody>
</table>