<!-- mobile version of the header -->
<div class="ui left vertical inverted labeled icon sidebar menu" id="mobile_menu">
      <a class="active green item" href="{% url 'home:home' %}">
        Mentoki
      </a>
    {% if user.is_authenticated %}
      <a class="item" href="{% url 'courseevent:internallist' %}" >Kurse</a>
        Kurse
      </a>
      <a  href="{% url 'desk:start' %}" class="item">
        Schreibtisch
      </a>
      <a href="{% url "userauth:logout" %}" class="item">
        Logout
      </a>
    {% else %}
      <a class="item">
        Kurse
      </a>
      <a class="item" href="{% url 'userauth:login' %}" >Login</a>
        Login
      </a>
    {% endif %}
</div>
<div class="ui labeled icon button black" id="mobile_button">
  <i class="align justify icon"></i>
  Menu
</div>