{% load activelink %}
<!DOCTYPE html>
<html>
<head>
{% include 'base_semantic/head.html' %}
</head>
{% block body %}
<body>
{% endblock %}
<div class="mobile only narrow row">
    {% include 'base_semantic/_mobile_menu.html' %}
</div>
<div class="computer tablet only row">
    <div class="ui menu fixed center aligned top inverted" id="mainNavbar">
      <a class="item
          {% ifactive "home:home" %}
              active
          {% endifactive %}
          " href="{% url 'home:home' %}">
          <img  id="logo" src="/static/img/mentoki-logo.png">
      </a>
      {% if user.is_authenticated %}
          <a class="item
              {% ifactive "courseevent:internallist" %}
                  active
              {% endifactive %}
            " href="{% url 'courseevent:internallist' %}">Kurse</a>
            Kurse
          </a>
          <a  href="{% url 'desk:start' %}" class="item
              {% ifactive "desk:start" %}
                  active
              {% endifactive %}          ">
              Schreibtisch
          </a>
    {% block custom_menu_item %}
    {% endblock %}
          <div class="right menu">
              <a class="item">{{ user.username }}</a>
              <a href="{% url "userauth:logout" %}" class="item">
                Logout
              </a>
          </div>
      {% else %}
          <a class="item
              {% ifactive "courseevent:publiclist" %}
                  active
              {% endifactive %}        " href="{% url 'courseevent:publiclist' %}">
              Kurse
          </a>
          <a class="item
              {% ifactive "home:starterkurs" %}
                  active
              {% endifactive %}        " href="{% url 'home:starterkurs' %}">
              Starterkurs
          </a>
          <div class="ui dropdown link item

          ">
              Kontakt
              <i class="dropdown icon"></i>
              <div class="menu">
                <div class="item">Kontakt</div>
                <div class="item">Bewerbung für den Starterkurs</div>
              </div>
                  <div class="menu">
                      <a class="item
                          {% ifactive "contact:contact" %}
                          active
                          {% endifactive %}
                          " href="{% url 'contact:contact' %}">
                              Kontaktiere uns
                      </a>
                      <a class="item
                          {% ifactive "contact:application" %}
                          active
                          {% endifactive %}
                          " href="{% url 'contact:application' %}">
                              Bewerbung für den Starterkurs
                      </a>
                      <a class="item
                          {% ifactive "contact:prebook" %}
                          active
                          {% endifactive %}
                          " href="{% url 'contact:prebook' %}">
                              Kursvoranmeldung
                      </a>
                </div>
          </div>
          <div class="right menu">
              <a class="item" href="{% url 'userauth:login' %}" >Login</a>
                Login
              </a>
          </div>
      {% endif %}
    </div>
</div>
<div class="ui page grid" >
    <div class="row" id="firstcontainer">
        <div id="main">
        {% block main %}
        {% endblock %}
        </div>
    </div>
</div>
{% block footer %}
{% endblock %}
</body>
</html>










