<!DOCTYPE html>
<html>
<head>
   {% include 'base_semantic/head.html' %}
</head>
{% block body %}
<body>
{% endblock %}
{% load activelink %}
<div class="mobile only narrow row">
<!-- mobile version of the header -->
    <div class="ui left vertical inverted labeled icon sidebar menu" id="mobile_menu">
        <a class="item"
            style="padding:0; margin:0; padding-left:30px;"
            href="{% url 'home:home' %}">
            <img  id="logo" src="/static/img/mentoki_logo_inverted.jpg"
                  style="height:30px; padding:0; margin:0;">
        </a>
        {% if user.is_authenticated %}
            {% comment %}
            <a class="item
                {% ifactive "courseevent:internallist" %}
                    active
                {% endifactive %}
                " href="{% url 'courseevent:internallist' %}">
                Kurse
            </a>
            {% endcomment %}
            <a class="item
                {% ifactive "courseevent:publiclist" %}
                    active
                {% endifactive %}
                " href="{% url 'courseevent:publiclist' %}">
                Kurse
            </a>
            <a  href="{% url 'desk:start' %}" class="item
                {% ifactive "desk:start" %}
                      active
                {% endifactive %}
                ">
                Schreibtisch
            </a>

            <a class="item">
                {{ user.username }}
            </a>
            <a href="{% url "userauth:logout" %}" class="item">
                Logout
            </a>
        {% else %}
            <div class="header ui teal item">
                Starterkurs
            </div>
            <a class="item
              {% ifactive 'home:starterkurs' tab="video" %}
              active
              {% endifactive %}
              " href="{% url 'home:starterkurs' tab="video" %}">
                  Videoeinführung
            </a>
            <a class="item
              {% ifactive 'home:starterkurs' tab="detail" %}
              active
              {% endifactive %}
              " href="{% url 'home:starterkurs' tab="detail" %}">
                  Deine Perspektive
            </a>
            <a class="item
              {% ifactive 'home:starterkurs' tab="testimonials" %}
              active
              {% endifactive %}
              " href="{% url 'home:starterkurs' tab="testimonials" %}">
                  Testimonials
            </a>
            <a class="item
              {% ifactive 'courseevent:publicdetail' slug="starterkurs2" %}
              active
              {% endifactive %}
              " href="{% url 'courseevent:publicdetail' slug="starterkurs2" %}">
                  Kurs-Ausschreibung
            </a>
            <a class="item
              {% ifactive 'contact:application' %}
              active
              {% endifactive %}
              " href="{% url 'contact:application' %}">
                  Anmeldung zum Vorgespräch
            </a>
            <div class="header ui teal item">
                Vorschau Herbst
            </div>
            <a class="item
                {% ifactive "courseevent:publiclist" %}
                    active
                {% endifactive %}
                " href="{% url 'courseevent:publiclist' %}">
                 Kurse
            </a>
            <a class="item" href="{% url 'userauth:login' %}" >
                Login
            </a>
        {% endif %}
    </div>
    <div class="ui labeled icon button black" id="mobile_button">
      <i class="align justify icon"></i>
      Menu
    </div>
</div>
<div class="computer tablet only row">
    <div class="ui menu fixed center aligned top inverted" id="mainNavbar">
        <a class="item"
            style="padding:0; margin:0; padding-left:30px;"
            href="{% url 'home:home' %}">
            <img  id="logo" src="/static/img/mentoki_logo_inverted.jpg"
                  style="height:30px; padding:0; margin:0;">
        </a>
        {% if user.is_authenticated %}
             {% comment %}
            <a class="item
                {% ifactive "courseevent:internallist" %}
                    active
                {% endifactive %}
                " href="{% url 'courseevent:internallist' %}">
                Kurse
            </a>
            {% endcomment %}
            <a class="item
                {% ifactive "courseevent:publiclist" %}
                    active
                {% endifactive %}
                " href="{% url 'courseevent:publiclist' %}">
                Kurse
            </a>
            {% if is_owner %}
               <a  href="{% url 'course:courseevent' ce_slug=courseevent.slug slug=course.slug %}" class="item
                    ">
                    Kursbearbeitung
                </a>
            {% endif %}
            <a  href="{% url 'desk:start' %}" class="item
                {% ifactive "desk:start" %}
                      active
                {% endifactive %}
                ">
                Schreibtisch
            </a>
            {% block custom_menu_item %}
            {% endblock %}
            <div class="right menu">
                <a class="item">
                    {{ user.username }}
                </a>
                <a href="{% url "userauth:logout" %}" class="item">
                    Logout
                </a>
            </div>
        {% else %}
            <div class="ui dropdown link item
              ">
                  Starterkurs
                  <i class="dropdown icon"></i>
                  <div class="menu">
                    <div class="item">Videoeinführung</div>
                    <div class="item">Deine Perspektive</div>
                    <div class="item">Testimonials</div>
                    <div class="item">Anmeldung</div>
                  </div>
                      <div class="menu">
                          <a class="item
                              {% ifactive 'home:starterkurs' tab="video" %}
                              active
                              {% endifactive %}
                              " href="{% url 'home:starterkurs' tab="video" %}">
                                  Videoeinführung
                          </a>
                          <a class="item
                              {% ifactive 'home:starterkurs' tab="detail" %}
                              active
                              {% endifactive %}
                              " href="{% url 'home:starterkurs' tab="detail" %}">
                                  Deine Perspektive
                          </a>
                          <a class="item
                              {% ifactive 'home:starterkurs' tab="testimonials" %}
                              active
                              {% endifactive %}
                              " href="{% url 'home:starterkurs' tab="testimonials" %}">
                                  Testimonials
                          </a>
                          <a class="item
                              {% ifactive 'courseevent:publicdetail' slug="starterkurs2" %}
                              active
                              {% endifactive %}
                              " href="{% url 'courseevent:publicdetail' slug="starterkurs2" %}">
                                  Kurs-Ausschreibung
                          </a>
                          <a class="item
                              {% ifactive 'contact:application' %}
                              active
                              {% endifactive %}
                              " href="{% url 'contact:application' %}">
                                  Anmeldung zum Vorgespräch
                          </a>
                    </div>

              </div>
            <a class="item
                {% ifactive "home:news" %}
                    active
                {% endifactive %}
                " href="{% url 'home:news' %}">
                Aktuelles
            </a>
            <a class="item
                {% ifactive "courseevent:publiclist" %}
                    active
                {% endifactive %}
                " href="{% url 'courseevent:publiclist' %}">
                Kurse
            </a>
            <div class="right menu">
                <a class="item" href="{% url 'userauth:login' %}" >
                    Login
                </a>
            </div>
        {% endif %}
    </div>
</div>
<div class="ui page grid" >
    <div class="row" id="firstcontainer">
        <div id="main">
        {% block main %}
        {% endblock %}
        </div>
    </div>
</div>
{% block footer %}
{% endblock %}
</body>
</html>










