<!DOCTYPE html>
<html>
<head>
{% include 'base_semantic/head.html' %}
</head>
{% block body %}
<body>
{% endblock %}
<div class="mobile only narrow row">
    {% include 'base_semantic/_mobile_menu.html' %}
</div>
{% load activelink %}
<div class="computer tablet only row">
{% load activelink %}
<div class="ui menu fixed center aligned top inverted">
    <a class="item"
        style="padding:0; margin:0; padding-left:30px;"
        href="{% url 'home:home' %}">
        <img  id="logo" src="/static/img/mentoki-logo.png"
              style="height:30px; padding:0; margin:0;">
    </a>
    {% if user.is_authenticated %}
        <a class="item
            {% ifactive "courseevent:internallist" %}
                active
            {% endifactive %}
            " href="{% url 'courseevent:internallist' %}">
            Kurse
        </a>
        <a  href="{% url 'desk:start' %}" class="item
            {% ifactive "desk:start" %}
                  active
            {% endifactive %}
            ">
            Schreibtisch
        </a>
        {% block custom_menu_item %}
        {% endblock %}
        <div class="right menu">
            <a class="item">
                {{ user.username }}
            </a>
            <a href="{% url "userauth:logout" %}" class="item">
                Logout
            </a>
        </div>
    {% else %}
        <a class="item
            {% ifactive "courseevent:publiclist" %}
                active
            {% endifactive %}
            " href="{% url 'courseevent:publiclist' %}">
            Kurse
        </a>
        <a class="item
            {% ifactive "home:starterkurs" %}
                active
            {% endifactive %}
            " href="{% url 'home:starterkurs' tab="video" %}">
            Starterkurs
        </a>
        <a class="item
            {% ifactive "contact:contact" %}
                active
            {% endifactive %}
            " href="{% url 'contact:contact' %}">
            Kontakt
        </a>
        <div class="right menu">
            <a class="item" href="{% url 'userauth:login' %}" >
                Login
            </a>
        </div>
    {% endif %}
</div>
</div>
<div class="ui page grid" >
    <div class="row" id="firstcontainer">
        <div id="main">
        {% block main %}
        {% endblock %}
        </div>
    </div>
</div>
{% block footer %}
{% endblock %}
</body>
</html>










