{% extends 'base_semantic/base.html' %}
{% block footer %}
    <div id="home2" class="ui white vertical segment">
    <div class="ui page grid">
          <div class="four wide column">
              <p>
                  <a href="{% url 'contact:contact' %}">Kontakt</a>
              </p>
          </div>
          <div class="four wide column">
              <p>
                  <a href="{% url 'home:team' %}">Team</a>
              </p>
          </div>
          <div class="four wide column">
              <p>
                  <a href="{% url 'home:impressum' %}">Impressum</a>
              </p>
          </div>
          <div class="four wide column">
              <p>
                <a href="https://twitter.com/netTeachers_de" rel="publisher">
                <i class="icon twitter"></i>
                </a>
                <a href="https://www.facebook.com/pages/Mentoki/817018935034557" rel="publisher">
                <i class="icon facebook"></i>
                </a>
            <a href="https://plus.google.com/103798240760001676686" rel="publisher">
               <i class="icon google plus"></i>
            </a>
              </p>
          </div>
        </div>
    </div>
    </div>
{% endblock %}











