<!DOCTYPE html>
<html>
<head>
{% include 'base_semantic/head.html' %}
</head>
{% block body %}
<body>
{% endblock %}
<div class="mobile only narrow row">
    {% include 'base_semantic/_mobile_menu.html' %}
</div>
{% load activelink %}
<div class="computer tablet only row">
  {% include 'base_semantic/_website_menu.html' %}
</div>
<div class="ui page grid" >
    <div class="row" id="firstcontainer">
        <div id="main">
        {% block main %}
        {% endblock %}
        </div>
    </div>
</div>
{% block footer %}
{% endblock %}
</body>
</html>










