{% load static %}
<!-- Meta information -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Teachers Net - Learning Platform">
<meta name="author" content="Sabine Maennel">
<title>{% block title %}{% endblock %}</title>

<!-- google site veification code -->
<meta name="google-site-verification" content="mxd7wHh8P4QFFW-V0tYqmHAUB5Yz3MydQOpyiRiyGbg" />

<!-- CSS -->
<link href="{% static "js/semantic.min.css" %}" rel="stylesheet">
<link href="{% static "js/redactor.min.css" %}" rel="stylesheet">
<link href="{% static "css/customstyles.css" %}" rel="stylesheet" >
<link href="{% static "css/normalize.css" %}" rel="stylesheet" >

<!-- CSS as link: font for thank you pages -->
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Petit+Formal+Script" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57" href="/static/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/static/favicon//apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/static/favicon//apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/static/favicon//apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/static/favicon//apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/static/favicon//apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/static/favicon//apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/static/favicon//apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon//apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/static/favicon//android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon//favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/static/favicon//favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon//favicon-16x16.png">

<!-- manifest.json ??? -->
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<!-- Jquery -->
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<!-- Semantic JS -->
<script src="/static/js/semantic/semantic.min.js"></script>
<!-- Braintree JS -->
<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
<!-- Redactor JS -->
<script src="/static/js/redactor.min.js"></script>
<script src="/static/js/redactor/plugins/table.js"></script>
<script src="/static/js/redactor/plugins/video.js"></script>
<script src="/static/js/redactor/plugins/fullscreen.js"></script>
<script src="/static/js/redactor/plugins/fontsize.js"></script>
<script src="/static/js/redactor/plugins/fontcolor.js"></script>
<script src="/static/js/redactor/plugins/imagemanager.js"></script>
<!-- custom html -->
{% include 'base_semantic/custom_scripts/_redactor.html' %}
{% include 'base_semantic/custom_scripts/_semantic.html' %}