<table class="ui table">
    <thead>
        <tr>
            <th>Benutzername</th>
            <th>Name</th>
            <th>Email</th>
            <th>sichtbar</th>
            <th>Sichtbarkeit ändern?</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for participant in participants %}

            {% url 'coursebackend:participant:hide' slug=es course_slug=cs pk=participant.pk as hide_url %}
            {% url 'coursebackend:participant:unhide' slug=es course_slug=cs pk=participant.pk as unhide_url %}
            <tr>
                <td>{{ participant.user.username }}</td>
                <td>{{ participant.user.first_name }} {{ participant.user.last_name }}</td>
                <td>{{ participant.user.email }}</td>
                <td>
                {% if participant.hidden %}
                   <i class="icon remove"></i>
                {% else %}
                    <i class="icon checkmark green"></i>
                {% endif %}
                </td>
                <td>
                {% if participant.hidden %}
                   <a href="{{ unhide_url }}"><i class="icon unhide"></i></a>
                {% else %}
                    <a href="{{ hide_url }}"><i class="icon hide"></i></a>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
