<div class="h3 ui header">Unterricht</div>
<p>
    Der Unterricht ist folgendermassen gegliedert
</p>
<p>
    Zu einem Block gehören alle Lektionen, die später im selben Klassenzimmer an der selben Position
    und auf dieselbe Art angezeigt werden.
</p>
<p>
    Ein Block kann auch nur eine Lektion enthalten. Das macht etwa Sinn, wenn man etwas sehr wichtiges an
    prominienter Stelle im Klassenzimmer anzeigen will, wie etwa den Kursfahrplan.
</p>
<div class="h4 ui header">
    Checkboxen
</div>
<p>
    Mit den Checkboxen oben kannst Du Dir bei allen Unterrichtseinheiten extra Informationen anzeigen lassen:
</p>
<ul class="ui list" style="padding-left:20px;">
    <li>die Links zum Bearbeiten</li>
</ul>