            <li><a href="https://twitter.com/netTeachers_de" rel="publisher">
                <img src="/static/img/twitter_icon.png" alt="twitter icon" style="heigth:25px; width:25px; margin:0; padding:0">
            </a></li>
            <li><a href="https://www.facebook.com/internetteachers" rel="publisher">
                <img src="/static/img/facebook_icon.png" alt="facebook icon" style="heigth:25px; width:25px; margin:0; padding:0">
            </a></li>
            <li><a href="https://plus.google.com/103798240760001676686" rel="publisher">
                <img src="/static/img/google_icon.png" alt="facebook icon" style="heigth:25px; width:25px; margin:0; padding:0">
            </a></li>