<h3>Anette Pekrul</h3>

<h5>Selbstständige Medien-, Marketing- und Projektmanagerin, Projektentwicklerin.</h5>
<h5>
    {% include 'externallinks/_team_anette.html' %}
</h5>
<h5>
    Anette ist bei netTeachers verantwortlich für Marketing und Geschäftsabwicklung
</h5>
<p>
    Anette ist Unternehmerin und Visionärin und Bestsellerautorin. Sie hat als Ingenieurin
    grosse Bauprojekte gemeistert, einen Ausbildungsoskar für die Schaffung neuer
    Medienberufe erhalten und das Marketing von diversen Grossereignissen erfolgreich gemanagt.
    Derzeit arbeitet sie neben netTeachers noch an einem ganzheitliches Wohn- und Arbeitsmodell,
    das insbesondere
    älteren Menschen eine neue Perspektive für die zweite Lebenshälfte bieten will.
    In balance4yourlife ist ein
    völlig neues Bildungskonzept integriert und natürlich lebenslanges Lernen.
    Net-teachers passt perfekt in Anettes Vision.
</p>