<!DOCTYPE html>
<html>
<head>
   {% include 'base_semantic/head.html' %}
</head>
<body>
{% block menu %}
{% endblock %}
{% block main %}
{% endblock %}
{% block footer %}
    <div id="footer" class="ui white segment">
        <div class="ui  grid">
            <div class="column" id="footercolumn">
                <div class="ui fluid three item menu">
                  <a class="item" href="{% url 'contact:contact' %}">Kontakt</a>
                  <a class="item"  href="{% url 'home:team' %}">Team</a>
                  <a class="item"  href="{% url 'home:impressum' %}">Impressum</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>










