{% extends "base_semantic/base.html" %}
{% block body %}
<body id="home" >
{% endblock %}
{% block main %}
    <main class="ui grid">
        <div class="row">
how-to-start-a-twitter-account-for-your-business
How to Start a Twitter Account for Your Business
By Anna Washenko on June 17, 2014



inShare
9
Twitter
Every business should be on Twitter. It’s a powerful tool for companies of every shape and size to reach out to customers, promote their brand, and connect with the rest of their industry. If the social media world is a little overwhelming to your brand and you’re not sure how to get started, here’s a step-by-step guide to setting up your company.
Once you’ve started your Twitter account, start scheduling tweets with a free 30-day trial from Sprout Social.
Happy tweeting!
1. Sign Up For Twitter
twitter for business sign up
Your Twitter experience starts with creating an account. Go to twitter.com and sign up. The lower box on the right side of your screen has fields for your full name, email address, and password.
One you enter that information, you’ll be taken to a screen to fill out the rest of your account’s details. This includes choosing your username. That’s an important step, because it’s how your industry and your customers will see your brand.
Generally, the best practice is to use the shortest form of the name of your business or brand. Twitter messages are only 140 characters long, and your entire username goes in the message when somebody tweets at you, so you don’t want the handle to take up too much space. You also want the username to be simple enough that people will remember it, so avoid extra strings of numbers or letters.
        </div>
        <div class="row">
            <div class="column">
                <h1 class="ui header block" id="mainheader">Mentoki
                    <div class="sub header">Die neue Lernplattform Online-Mentoren und ihre Schüler.
                        Wir stehen für projektbasiertes Lernen. Unsere Lehrer sind Mentoren,
                        die Hilfe zur Selbsthilfe geben. Und wir bilden Spezialisten zu Online-Mentoren aus.</div>
                </h1>
                <div class="ui three column grid">
                    <div class="column column-addon"></div>
                    <div class="column block column-addon">
                        <div class="ui piled segment">
                            <div class="ui raised blue segment">
                                <h3 class="ui header">Willst Du etwas spezielles Lernen?</h3>
                                <p>Dann bist Du bei Mentoki gut aufgehoben. Erste Kurse starten im September, etwa:
                                <div class="ui cards">
                                    <div class="ui card">
                                        <div class="content">
                                            <div class="header">Selbstführung</div>
                                            <div class="meta">Christine Radomsky</div>
                                            <div class="description">
                                                <p>Wie Du mehr aus Deinem Leben machst.</p>
                                                <a class="ui tag blue label"
                                                   href="{% url 'courseevent:publiclist' %}">Vorankündigung
                                                </a>
                                             </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="content">
                                            <div class="header">EasyWriter</div>
                                            <div class="meta">Franz Neff</div>
                                            <div class="description">
                                                <p>Wie Du Deine akademische Arbeit mit Lust
                                                    statt Frust zu einem guten Ende bringst.
                                                </p>
                                                <a class="ui tag blue label" href="{% url 'courseevent:publiclist' %}">
                                                    Vorankündigung
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column column-addon">
                        <div class="ui piled segment">
                            <div class="ui raised green segment">
                                <h3 class="ui header">Oder hast Du etwas zu unterrichten?</h3>
                                <p>Bist Du ein Spezialist, der gerne sein Wissen teilt? Dann bietet Mentoki Die eine
                                   Ausbildung zum Online-Mentor an:
                                </p>
                                <p>Im Mai startet unser zweiter Starterkurs, der Dir als Spezialisten dabei
                                    hilft, Deinen Unterricht auch online an Mann oder Frau zu bringen.
                                </p>
                                <a class="fluid green ui button" href="{% url 'home:starterkurs' %}">
                                    Hier erfährst Du mehr darüber.
                                </a>
                                <div class="ui cards">
                                    <div class="ui card">
                                        <div class="content">
                                            <div class="header">Starterkurs</div>
                                            <div class="meta">Sabine Maennel</div>
                                            <div class="description">
                                                <p>Wie Du Online unterrichtest</p>
                                                <a class="ui tag green label"
                                                   href="{% url 'courseevent:publiclist' %}">jetz buchbar
                                                </a>
                                             </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="row">
how-to-start-a-twitter-account-for-your-business
How to Start a Twitter Account for Your Business
By Anna Washenko on June 17, 2014



inShare
9
Twitter
Every business should be on Twitter. It’s a powerful tool for companies of every shape and size to reach out to customers, promote their brand, and connect with the rest of their industry. If the social media world is a little overwhelming to your brand and you’re not sure how to get started, here’s a step-by-step guide to setting up your company.
Once you’ve started your Twitter account, start scheduling tweets with a free 30-day trial from Sprout Social.
Happy tweeting!
1. Sign Up For Twitter
twitter for business sign up
Your Twitter experience starts with creating an account. Go to twitter.com and sign up. The lower box on the right side of your screen has fields for your full name, email address, and password.
One you enter that information, you’ll be taken to a screen to fill out the rest of your account’s details. This includes choosing your username. That’s an important step, because it’s how your industry and your customers will see your brand.
Generally, the best practice is to use the shortest form of the name of your business or brand. Twitter messages are only 140 characters long, and your entire username goes in the message when somebody tweets at you, so you don’t want the handle to take up too much space. You also want the username to be simple enough that people will remember it, so avoid extra strings of numbers or letters.
        </div>
    </main>
{% endblock %}
