{% extends "base_test.html" %}
{% block menu %}
    <div class="pc">
        <div class="ui menu fixed center aligned top inverted" id="mainNavbar">
            <a class="item"
                style="padding:0; margin:0; padding-left:30px;"
                href="{% url 'home:home' %}">
                <img  id="logo" src="/static/img/mentoki_logo_inverted.jpg"
                      style="height:30px; padding:0; margin:0;">
            </a>
            <a class="item">
                Kurse
            </a>
            <div class="right menu">
                <a class="item" href="https://twitter.com/Mentoki_com" rel="publisher">
                <i class="icon twitter"></i>
                </a>
                <a class="item" href="https://www.facebook.com/internetteachers" rel="publisher">
                <i class="icon facebook"></i>
                </a>
                <a class="item"  href="https://plus.google.com/+Mentoki3l" rel="publisher">
                   <i class="icon google plus"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
{% block main %}
<div class="ui page grid main centered" id="home" style="height:800px;">
    <div class="row">
        <div class="column twelve wide">
            <h1 class="ui block header center aligned" id="frontheader">
               <img id="logo_big" src="/static/img/mentoki_logo_untertitel.jpg">
               <div class="content center aligned">
                   Die neue Lernplattform für Online-Mentoren<br> und ihre Schüler.
               </div>
            </h1>
        </div>
    </div>
</div>
<div class="ui vertical segment" id="learn">
    <div class="stackable very relaxed ui page grid homepage" >
        <div class="row">
            <div class="seven wide column">
                <h1 class="ui large header">Bei uns kannst Du lernen:</h1>
                <p>
                    Wir starten im September 2015 mit den ersten Kursen:
                    In der Liste links siehst Du die Kurse in der Vorankündigung.
                    Klicke die Links um zu den Kursausschreibungen zu gelangen!
                </p>
                  <a class="ui button basic" href="http://eepurl.com/bnHpAP">Jetzt als Interessent anmelden</a>
            </div>
            <div class="nine wide column">
                <div class="ui animated list">
                    <a class="item" href="{% url 'courseevent:publicdetail' slug="selbstfuehrung" %}">
                        <img class="ui avatar image" src="/static/img/christine.jpg">
                        <div class="content">
                            <div class="header">Christine Radomsky: Selbstführung</div>
                        </div>
                    </a>
                    <a class="item" href="{% url 'courseevent:publicdetail' slug="schreibwerkstatt" %}">
                        <img class="ui avatar image" src="/static/img/franz3.jpg">
                        <div class="content">
                            <div class="header">Franz Neff: 24/7 Schreibwerkstatt</div>
                        </div>
                    </a>
                    <a class="item" href="{% url 'courseevent:publicdetail' slug="balance4yourlife" %}">
                        <img class="ui avatar image" src="/static/img/anette-229x300.jpg">
                        <div class="content">
                            <div class="header">Anette Pekrul: Keine Angst vorm Alter</div>
                        </div>
                    </a>
                    <a class="item" href="{% url 'courseevent:publicdetail' slug="schnellerlesen" %}">
                        <img class="ui avatar image" src="/static/img/bea3.jpg">
                        <div class="content">
                            <div class="header">Bea Ribaux: Schneller Lesen</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui vertical segment" id="teach">
    <div class="stackable very relaxed ui page grid">
        <div class="row">
            <div class=" seven wide column">
                <h1 class="ui large header">Bei uns kannst Du auch unterrichten:</h1>
                <p>
                    Hast Du schon Erfahrung mit dem Online-Unterrichten?
                    Der Starterkurs bildet Dich zum Online-Trainer aus und unterstützt Dich beim
                    entwickeln Deines Kursangebots für Mentoki

                </p>
                <a class="ui button basic" href="http://eepurl.com/bnwrzv">Jetzt als Interessent anmelden</a>
            </div>
            <div class=" nine wide column">
                <div class="ui animated list">
                    <a class="item" href="{% url 'home:starterkurs' tab="video" %}">
                        <img class="ui avatar image" src="/static/img/pilotkurs.jpg">
                        <div class="content">
                            <div class="header">Video zur Einführung</div>
                        </div>
                    </a>
                    <a class="item" href="{% url 'home:starterkurs' tab="detail" %}">
                        <img class="ui avatar image" src="/static/img/15743592_s.jpg">
                        <div class="content">
                            <div class="header">Die Details</div>
                        </div>
                    </a>
                    <a class="item" href="{% url 'home:starterkurs' tab="testimonials" %}">
                        <img class="ui avatar image" src="/static/img/3062926_s.jpg">
                        <div class="content">
                            <div class="header">Was die ersten Teilnehmer sagen</div>
                        </div>
                    </a>
                    <a class="item" href="{% url 'home:webinar' %}">
                        <img class="ui avatar image" src="/static/img/23865010_s.jpg">
                        <div class="content">
                            <div class="header">Anmeldung zum Gratis Webinar</div>
                        </div>
                    </a>
                    <a class="item" href="{% url 'home:newsletter' %}">
                        <img class="ui avatar image" src="/static/img/sabine_100_100.jpg">
                        <div class="content">
                            <div class="header">Zur Kursausschreibung</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui vertical segment" id="newsletter_homepage">
    <div class="stackable very relaxed ui page grid">
        <div class="row">
            <div class="seven wide column">
                <h1 class="ui large header">Bestelle unseren Newsletter</h1>

                <p>
                    Bleibe auf dem Laufenden über die neuesten Lerntechniken und die coolsten Werkzeuge!
                </p>
                 <a class="ui button basic" href="http://eepurl.com/bnHpAP">Jetzt als Abonnent anmelden</a>
            </div>
            <div class="nine wide column">
                <img class="ui image" src="/static/img/post_mentoki_newsletter_400.jpg">
            </div>
        </div>
    </div>
</div>
<div class="ui vertical segment" id="toolbox">
    <div class="stackable very relaxed ui page grid">
        <div class="row">
            <div class="seven wide column">
                <h1 class="ui large header">Sieh Dir unsere Werkzeugkiste an</h1>
                <p>
                    Unsere Werkzeugkiste
                </p>
            </div>
            <div class="nine wide column">
                <img class="ui image" src="/static/img/38425202_s.jpg">
            </div>
        </div>
    </div>
</div>
{% endblock %}

