how-to-start-a-twitter-account-for-your-business
How to Start a Twitter Account for Your Business
By Anna Washenko on June 17, 2014



inShare
9
Twitter
Every business should be on Twitter. It’s a powerful tool for companies of every shape and size to reach out to customers, promote their brand, and connect with the rest of their industry. If the social media world is a little overwhelming to your brand and you’re not sure how to get started, here’s a step-by-step guide to setting up your company.
Once you’ve started your Twitter account, start scheduling tweets with a free 30-day trial from Sprout Social.
Happy tweeting!
1. Sign Up For Twitter
twitter for business sign up
Your Twitter experience starts with creating an account. Go to twitter.com and sign up. The lower box on the right side of your screen has fields for your full name, email address, and password.
One you enter that information, you’ll be taken to a screen to fill out the rest of your account’s details. This includes choosing your username. That’s an important step, because it’s how your industry and your customers will see your brand.
Generally, the best practice is to use the shortest form of the name of your business or brand. Twitter messages are only 140 characters long, and your entire username goes in the message when somebody tweets at you, so you don’t want the handle to take up too much space. You also want the username to be simple enough that people will remember it, so avoid extra strings of numbers or letters.
