{% if start_forum.can_have_threads %}

    <div class="ui comments">

        <h3 class="ui dividing header">Beiträge</h3>

        <a href="">
            Willst Du einen eigenen Beitrag schreiben?
        </a>

        {% for thread in threads %}

        <div class="comment">

            <a class="avatar">
            <img src="{{ thread.author.profile_image.url }}">
            </a>

            <div class="content">

                <a href="{% url 'classroom:forum:thread' slug=courseevent.slug pk=thread.pk %}"
                    class="author">
                    {{ thread.author }}: {{ thread.title }}
                </a>

                {% if thread.post_count > 0 %}
                    <div class="ui circular label">
                        {{ thread.post_count }}
                    </div>
                {% endif %}

                <div class="metadata">

                    <span class="date">{{ thread.created }},</span>
                    <span class="date">letzter Post von {{ tread.last_author }}</span>
                    <span class="date">{{ thread.modified }}</span>

                </div>

                <div class="actions" >
                    <a class="reply" href="{% url 'classroom:forum:thread' slug=courseevent.slug pk=thread.pk %}">
                    Antworten?
                    </a>
                </div>

            </div>

        </div>

        {% endfor %}

    </div>

{% endif %}