{% extends "classroom/forum/base.html" %}

{% comment %}

    Blocks filled here:
    -------------------
    {% block page_section_css_id %}classroombackend{% endblock %}

    {% block sidebar_menu %}{% include 'coursebackend/_menu.html' %}{% endblock %}

    {% block page_content %}...(see below){% endblock %}

    {% block page_subsection %}{% endblock %}

    Additional inherited blocks: see coursebackend/base.html, they still have to be filled
    --------------------------------------------------------------------------------------
    {% block controls %}{% endblock %}

{% endcomment %}

<!-- BLOCK: css id subsection: filled! -->

{% load mptt_tags %}

{% block controls %}
    {% include 'classroom/_control_fulltext.html' %}
{% endblock %}

{% block nodes_breadcrumb %}

    <div class="ui large breadcrumb" id ="page-breadcrumb">

        {% include 'classroom/forum/_breadcrumbs.html' %}

    </div>

{% endblock %}


{% block node %}<div class="ui header huge">
    {{ start_node.title }}
</div>
{% endblock %}


{% block recursetree_item %}
    {{ node.title }}
{% endblock %}

{% block recursetree_item_more %}
    {{ node.text | safe }}
{% endblock %}

