{% extends "classroom/forum/base_forum.html" %}

{% comment %}

    Blocks filled here:
    -------------------
    {% block page_section_css_id %}classroombackend{% endblock %}

    {% block sidebar_menu %}{% include 'coursebackend/_menu.html' %}{% endblock %}

    {% block page_content %}...(see below){% endblock %}

    {% block page_subsection %}{% endblock %}

    Additional inherited blocks: see coursebackend/base.html, they still have to be filled
    --------------------------------------------------------------------------------------
    {% block controls %}{% endblock %}

{% endcomment %}

<!-- BLOCK: css id subsection: filled! -->

{% load mptt_tags %}

{% block breadcrumbs %}

    <div class="ui large breadcrumb" id ="page-breadcrumb">

        {% include 'classroom/forum/_breadcrumbs.html' %}

    </div>

{% endblock %}

{% block recursetree_item %}
    <a href="{% url "classroom:forum:detail" slug=courseevent.slug pk=node.pk %}">
       {{ node.title }}
    </a>
{% endblock %}

{% block recursetree_item_more %}
    {{ node.text | safe }}
{% endblock %}


