{% extends "classroom_base/base.html" %}
{% block classroom_header %}
    <h2 class="ui block header">
       {{ courseevent.courseevent_title }}
       : Ankündigungen
    </h2>
{% endblock %}
{% block regular_page_content %}
            <h2 class="ui  header">
            Ankündigungen
                <div class="ui checkbox" id="expandcontent">
                    <input type="checkbox">
                    <label>den vollen Text anzeigen</label>
                </div>
            </h2>
            {% for announcement in announcement_list %}
                <div class="ui raised segment">
                    {{ announcement.published_at_date |date:'d.m.Y' }}
                    <h3 class="ui header">
                        <a href="{% url 'classroom:announcementdetail' slug=match.kwargs.slug id=announcement.id %}">
                            {{ announcement.title }}
                        </a>
                    </h3>
                    <div class="fullcontent">{{ announcement.text | safe }}</div>
                </div>
            {% endfor %}
{% endblock %}