{% extends "classroom_base/base.html" %}
{% block classroom_header %}
    <h2 class="ui block header">
        {{ courseevent.courseevent_title }} : Ankündigungen
    </h2>
{% endblock %}
{% block regular_page_content %}
    <h2 class="ui  header">
        Ankündigungen
    </h2>
    <div class="ui tabular menu">
        <a class="item" href="{% url 'classroom:start' slug=match.kwargs.slug %}">
            Liste
        </a>
        <a class="active blue item">
            Einzelansicht
        </a>
    </div>
    <div class="segment raised ui">
       {{ announcement.published_at_date |date:'d.m.Y' }}
       <h3 class="ui header">
            {{ announcement.title }}
       </h3>
       <div>{{ announcement.text | safe }}</div>
    </div>
{% endblock %}