{% extends "base_semantic/base_public.html" %}
{% block body %}
    <body id="newsletter" >
{% endblock %}
{% block main %}
    <main class="ui grid">
    <div class="column">
    <div class="ui piled segment" >
    <div class="ui two column doubling grid" id="#newscolumn">
        <div class="row">
            {% block newsletter_header %}
            {% endblock %}
            <div class="eight wide column">
                {% block left_column %}
                {% endblock %}
            </div>
            <div class="eight wide column">
                {% block right_column %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>

    </div>
    </div>
    </main>
    <h3></h3>
{% endblock %}