{% extends "base_semantic/base_public.html" %}
{% block body %}
    <body id="webinar" >
{% endblock %}
{% block main %}
    <main class="ui grid">
    <div class="column">
    <div class="ui piled segment" >
        <div class="row">
            {% block newsletter_header %}
            {% endblock %}
            <div class="column">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>

    </div>
    </div>
    </main>
    <h3></h3>
{% endblock %}