{% extends "base_semantic/base_public.html" %}
{% block body %}
    <body id="webinar" >
{% endblock %}
{% block main %}
    <main class="ui grid">
        <div class="column">
            <div class="ui piled segment" >
                <div class="ui grid" >
                    <div class="row">
                        <div class="column">
                            <h1 class="ui header aligned center" id="mainheader">
                                <img id="logo_big" src="/static/img/mentoki_logo_untertitel.jpg">
                                Newsletter
                                {% include 'mailchimp/_mailchimp_newsletter.html' %}
                            </h1>
                            {% for newsletter in newsletter_list %}
                                <div class="ui segment raised">
                                {{ newsletter.published_at_date |date:'d.m.Y' }}
                                <h3 class="ui header">
                                      <a href="{% url 'newsletters:single' id=newsletter.id %}" >
                                          {{ newsletter.title }}
                                      </a>
                                </h3>
                                <div>{{ newsletter.excerpt | safe }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <h3></h3>


{% endblock %}