{% extends "coursebackend/base_course.html" %}

{% block page_content %}

    <div class="row coursebackend_course">
        <div class="sixteen wide column">

            <div class="ui large breadcrumb" id ="page-breadcrumb">

                {% include 'coursebackend/course/fragments/_breadcrumbs.html' %}
                <i class="right chevron icon divider"></i>
                <a class="item">
                    Kurseereignisse
                </a>

            </div>

        </div>
    </div>

    <div class="row classroombackend_white">
        <div class="sixteen wide column">

            {% include 'coursebackend/course/fragments/_list_courseevents_table.html' %}

        </div>
    </div>

{% endblock %}