<!-- urls -->

{% url 'coursebackend:lesson:start' course_slug=course.slug as teach_url %}
{% url 'coursebackend:course:detail' course_slug=course.slug as course_url %}

<div class="content">
    <div class="header">{{ course.title }}</div>
    Zur Unterrichtsvorbereitung gehen
</div>
<a class="ui bottom attached  button"
   href="{{ course_url }}">
    <i class="wrench icon"></i>
    Kursvorlage bearbeiten
</a>

<a class="ui bottom attached  button"
   href="{{ teach_url }}">
    <i class="wrench icon"></i>
    Unterricht vorbereiten
</a>