<div class="content">

    <div class="header">{{ courseevent.title }} von {{ courseevent.course.teachersrecord }}</div>

    <div class="description">

       {% if courseevent.start_date %}

       Start: {{ courseevent.start_date | date:"SHORT_DATE_FORMAT" }}

        {% endif %}

    </div>

</div>
    {%  if courseevent.classroom_open %}
<a class="ui bottom attached button" href="{% url 'classroom:start' slug=courseevent.slug %}">

    <i class="arrow right icon"></i>
    Zum Klassenzimmer gehen
</a>
{% endif %}
