<p>Hier können Sie einstellen in welchen Fällen Sie als <strong>Teilnehmer</strong>
    <strong>Email-Benachrichtigungen</strong> aus den Kursen
   erhalten möchten:
</p>
<table class="ui table">
    <thead>
        <tr>
            <th>Kurs</th>
            <th>Forum</th>
            <th>Arbeiten</th>
            <th>bearbeiten</th>
        </tr>
    </thead>
    <tbody>
        {% for participation in participations %}
            {% url 'desk:notificationsupdate' pk=participation.pk as update_url%}
            <tr>
                <td>
                    {{ participation.courseevent.title }}
                </td>
                <td>
                    {{ participation.get_notification_forum_display }}
                    {% if participation.notification_forum == NotificationSettings.NONE %}
                        <i class="icon remove"></i>
                    {% elif participation.notification_forum == NotificationSettings.ALL  %}
                         <i class="icon checkmark green"></i>
                    {% endif %}
                </td>
                <td>
                    {{ participation.get_notification_work_display }}
                    {% if participation.notification_work == NotificationSettings.NONE %}
                        <i class="icon remove"></i>
                    {% elif participation.notification_work == NotificationSettings.ALL  %}
                         <i class="icon checkmark green"></i>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ update_url }}">
                    bearbeiten <i class="icon write"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>