{% url 'desk:notifications' as back_url %}

<form id="edit" class="ui form" method="post" action="#target" onsubmit="return checkForm(this);">

    {% csrf_token %}

    {% include 'coursebackend/forms/fragments/_form_non_field_errors.html' %}

    <div class="ui dividing large header">Benachrichtigungseinstellungen anpassen</div>
    <div class="fields inline">
        <div class="field eight wide">
            <label style="padding-right:10px;">Im Forum:</label>
            Wann willst Du email-Nachrichten erhalten?
        </div>
        <div class="field eight wide">
            {% if form.notification_forum.errors %}
                <div class="ui negative floating message">
                    {{ form.notification_forum.errors }}
                </div>
            {% endif %}
            {{ form.notification_forum }}
        </div>
    </div>
    <div class="fields inline">
        <div class="field eight wide">
            <label style="padding-right:10px;">Bei Kurs-Arbeiten:</label>
            Wann willst Du email-Nachrichten erhalten?
        </div>
        <div class="field eight wide">
            {% if form.notification_work.errors %}
                <div class="ui negative floating message">
                    {{ form.notification_work.errors }}
                </div>
            {% endif %}
            {{ form.notification_work }}
        </div>
    </div>

    <button type="submit" value="post" class="ui button" id="formsubmitonce">
        Speichern
    </button>
    <a href="{{ request.session.last_url }}" class="ui button">
        Abbruch
    </a>

</form>