<table class="ui table">
    <thead>
        <tr>
            <th>Thema</th>
            <th>Kurs</th>
            <th>Startdatum</th>
            <th>bezahlt</th>
            <th>ganz bezahlt? oder noch offen?</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}

            <tr>
                <td>{{ order.courseproduct.course.title }}</td>
                <td>{{ order.courseproduct.name }}
                </td>
                <td>{{ order.courseproduct.courseevent.start_date | date:"SHORT_DATE_FORMAT" }}</td>
                <td>{{ order.amount_paid |floatformat:2}} {{ order.get_currency_display }}</td>

                <td>
                    {% if order.fully_paid %}
                        <i class="icon checkmark green"></i>
                    {% else %}
                        {{ order.amount_outstanding|floatformat:2}} {{ order.get_currency_display }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>