
{% url 'home:mentor' username=mentor.user.username  as mentor_url %}

<div class="ui card">
    <div class="image" >
        {% if user.profile_image %}
            <img src="{{ user.profile_image.url }}">
        {% endif %}
    </div>
    <div class="content">
        <div class="header">
            {{ user.get_full_name }}
        </div>
    </div>
      <div class="content">
          <div class="event">
              <h4 class="ui sub header">Benutzername</h4>
              <div class="content">
                  {{ user.username }}
              </div>
          </div>
      </div>
      <div class="content">
          <div class="event">
              <h4 class="ui sub header">Email</h4>
              <div class="content">
                  {{ user.email }}
              </div>
          </div>
       </div>
    <div class="extra content">
        beigetreten: {{ user.created | date:'Y.d.m' }}
    </div>
</div>
