{% extends "classroom/base.html" %}

{% block controls %}
    {% include 'classroom/_control_fulltext.html' %}
{% endblock %}

{% block page_subsection %}
    {% include 'classroom/announcement/_element_subsection_header.html' %}
{% endblock %}

{% block classroom_page %}

    {% for announcement in announcements %}

        <div class="ui raised segment">

            {{ announcement.published_at |date:'d.m.Y' }}

            <h3 class="ui header">
                <a href="{% url 'classroom:announcement:detail' slug=courseevent.slug pk=announcement.pk %}">
                    {{ announcement.title }}
                </a>
            </h3>

            <div class="fullcontent">{{ announcement.text | safe }}</div>

        </div>

    {% endfor %}

{% endblock %}