{% extends "base_course/base.html" %}
{% block header %}
     Kursereignis {{ courseevent.courseevent_title }}
{% endblock %}
{% block header_controls %}
    {% include 'base_course/_worklinkscheckbox.html' %}
    {% include 'base_course/_helpcheckbox.html' %}
{% endblock %}
{% block help %}
    {% include 'base_course/_help_courseevent.html' %}
{% endblock %}
{% block page_content %}
        <div class="ui tabular menu">
            <a class="active blue item">
            Ansehen
            </a>
            <a class="item"
                href="{% url 'course:createsubforum' slug=match.kwargs.slug ce_slug=match.kwargs.ce_slug %}">
                Unterforum anlegen<i class="icon plus blue"></i>
            </a>
        </div>
     <div class="ui segment">
        <h1 class="ui h1 header">Forum</h1>
        <div class="ui list">
          {% for item in output_list %}
          <div class="item">
            <div class="content">
              <div class="header">
                  <a href="{% url 'forum:subforum' slug=match.kwargs.slug subforum=item.subforum_id %}">
                  {{ item.subforum_title }}
                  {% if item.subforum_threadcount > 0 %}
                        <div class="ui circular label fullcontent">
                             {{ item.subforum_threadcount }}
                        </div>
                  {% endif %}
                  </a>
              </div>
              <div class="list">
                {% for item in item.level_2_output_list %}
                <div class="item">
                  <i class="right triangle icon"></i>
                  <div class="content">
                    <a class="header"
                       href="{% url 'forum:subforum' slug=match.kwargs.slug subforum=item.subforum_id %}">
                       {{ item.subforum_title }}
                  {% if item.subforum_threadcount > 0 %}
                        <div class="ui circular label fullcontent">
                             {{ item.subforum_threadcount }}
                        </div>
                  {% endif %}
                    </a>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          {% endfor %}
      </div>
     </div>
{% endblock %}