{% extends "base/base_public.html" %}

{% block page_section_css_id %}desk{% endblock %}

{% block main %}

    <div class="ui page grid doubling two column">

        <div class="row">

            {% include 'base/fragments/_messages.html' %}

        </div>

        <div class="row">

            <div class="column">

                {% block learn_records %}{% endblock %}

            </div>

            <div class="column">

                {% block teach_records %}{% endblock %}

                {% block admin_access %}{% endblock %}

            </div>

        </div>

    </div>

{% endblock %}









