{% extends "base/plain.html" %}
{% load mptt_tags %}
{% block plain %}


    <hr>
    <h2>breadcrumbs</h2>
    <ul>
    {% for breadcrumb in breadcrumbs %}
        <li><a href="{% url 'classroom:lesson:detail' slug=courseevent.slug pk=breadcrumb.pk %}">
            {{ breadcrumb.lesson_nr }}{{ breadcrumb.title }}</a></li>
    {% endfor %}
    </ul>
    <hr>

    <h2>lesson</h2>
    {{ lesson.title }}
        <li><a href="{% url 'classroom:lesson:detail' slug=courseevent.slug pk=lesson.pk %}">
            {{ lesson.lesson_nr }} {{ lesson.title }}</a></li>
    <hr>

    <h2>next_node</h2>
    {% if next_node %}
    {{ next_node.title }}
        <li><a href="{% url 'classroom:lesson:detail' slug=courseevent.slug pk=next_node.pk %}">
            {{ next_node.lesson_nr }} {{ next_node.title }}</a></li>
    <hr>
    {% endif %}

    <h2>previous_node</h2>
    {% if previous_node %}
    {{ previous_node.title }}
    {% if previous_node %}
        <li><a href="{% url 'classroom:lesson:detail' slug=courseevent.slug pk=previous_node.pk %}">
            {{ previous_node.lesson_nr }} {{ previous_node.title }}</a></li>
    {% endif %}
    {% endif %}
    <hr>

    <ul class="root">
        {% recursetree nodes %}
            <li>
                {{ node.lesson_nr }} {{ node.title }}
                {% if not node.is_leaf_node %}
                    <ul class="children">
                        {{ children }}
                    </ul>
                {% endif %}
            </li>
        {% endrecursetree %}
    </ul>

{% endblock %}
