{% url 'coursebackend:lesson:start' course_slug=cs as back_url %}

{{ form.media }}

<form class="ui form" method="post" action="#target" onsubmit="return checkForm(this);">

    {% csrf_token %}

    <div class="ui dividing large header">Lernschritt</div>
    <div class="ui blue message">
        <ul>
            <li>In den Lernschritte passiert das eigentliche Lernen. Sie können interaktiv sein.</li>
            <li><a class="ui orange label">interaktiv</a>markiert die Stellung einer Aufgabe</li>
            <li><a class="ui orange label">interaktiv</a><i class="icon orange privacy"></i>
                markiert eine Aufgabe mit privatem Arbeitsbereich</li>
            <li><a class="ui purple label">nachgefragt</a></i>
                markiert, dass man direkt unter dem Lernabschnitt Fragen stellen kann.</li>
        </ul>
    </div>
    <div class="ui info message">
        Lernschritte sind Teil einer <strong>Lektion</strong>.
    </div>
    <div class="fields inline">
        <div class="field sixteen wide">
            <label>Lektion</label>
            {% if form.parent.errors %}
                <div class="ui negative floating message">
                    {{ form.parent.errors }}
                </div>
            {% endif %}
            {{ form.parent }}
        </div>
    </div>
    <div class="ui info message">
        Du kannst entscheiden, ob <strong>Nr.</strong> nur intern zur Steuerung der
        <strong>Anzeigenreihenfolge</strong> dienen soll, oder ob er sich um eine nach aussen sichtbare
        <strong>Lernschrittnummer</strong> handelt:
    </div>
    <div class="inline fields">
        <div class="field eight wide">
            <label>{{ form.nr.label_tag }}</label>
            {% if form.nr.errors %}
                <div class="ui negative floating message">
                    {{ form.nr.errors }}
                </div>
            {% endif %}
            {{ form.nr }}
        </div>
        <div class="field eight wide">
            <label>Nr. ist Lernschrittnummer</label>
            {% if form.show_number.errors %}
                <div class="ui negative floating message">
                    {{ form.show_number.errors }}
                </div>
            {% endif %}
            {{ form.show_number }}
        </div>
    </div>
    <div class="ui info message">
        Die <strong>Überschrift</strong> der Lektion:
    </div>
    <div class="inline fields">
        <div class="field sixteen wide">
            <label>Überschrift</label>
            {% if form.title.errors %}
                <div class="ui negative floating message">
                    {{ form.title.errors }}
                </div>
            {% endif %}
            {{ form.title }}
        </div>
    </div>
    <div class="ui info message">
        Die <strong>Kurz-Beschreibungen</strong> wird für die Listenansichten verwendet.
    </div>
    <div class="inline fields">
        <div class="field sixteen wide">
            <label>
                {{ form.description.label_tag }}
            </label>
            {% if form.description.errors %}
                <div class="ui negative floating message">
                    {{ form.description.errors }}
                </div>
            {% endif %}
            {{ form.description }}
        </div>
    </div>

    <div class="field sixteen wide">
        {% if form.text.errors %}
            <div class="ui negative floating message">
                {{ form.text.errors }}
            </div>
        {% endif %}

        {{ form.text }}


    </div>

    <div class="ui dividing large header">Zugeordnetes Lernmaterial</div>
    <div class="ui info message">
        Du kannst <strong>PDFs</strong> einbinden, die Du vorher hochgeladen haben musst.
        Das Hochladen ist unter dem <strong>Menüpunkt "Material"</strong> möglich.
    </div>
    <div class="inline fields">
    <div class="field sixteen wide">
        <label>Dateiname (Dateityp)</label>
        {% if form.material.errors %}
            <div class="ui negative floating message">
                {{ form.material.errors }}
            </div>
        {% endif %}
        {{ form.material }}
    </div>
    </div>

    <div class="ui dividing medium header">Interaktiv?</div>
    <div class="ui info message">
        <a class="ui orange label">interaktiv</a>Beinhaltet der Lernabschnitt eine Aufgabe?</li>
    </div>
    {% if form.is_homework.errors %}
        <div class="ui negative floating message">
            {{ form.is_homework.errors }}
        </div>
    {% endif %}
    <div class="inline fields">
        <div class="field sixteen wide">
            <label>Ja, es geht um eine Aufgabe.</label>
            {% if form.is_homework.errors %}
                <div class="ui negative floating message">
                    {{ form.is_homework.errors }}
                </div>
            {% endif %}
            {{ form.is_homework }}
        </div>
    </div>
    <div class="ui info message">
        <i class="icon orange privacy"></i>Bei privaten Aufgaben, wird eine Arbeitsumgebung mit angezeigt.
        Aufgaben können dort geschützt vorbereitet und anschliessend veröffentlicht
        und von den Kurs-Teilnehmern kommentiert werden.
    </div>
    {% if form.show_work_area.errors %}
        <div class="ui negative floating message">
            {{ form.show_work_area.errors }}
        </div>
    {% endif %}
    <div class="inline fields">
        <div class="field sixteen wide">
            <label>Ja, eine Arbeitsumgebung wird benötigt.</label>
            {% if form.show_work_area.errors %}
                <div class="ui negative floating message">
                    {{ form.show_work_area.errors }}
                </div>
            {% endif %}
            {{ form.show_work_area }}
        </div>
    </div>
    <div class="ui info message">
        <a class="ui purple label">nachgefragt</a>Soll es bei diesem Lernabschnitt möglich sein Fragen zu stellen?
    </div>
    {% if form.allow_questions.errors %}
        <div class="ui negative floating message">
            {{ form.allow_questions.errors }}
        </div>
    {% endif %}
    <div class="inline fields">
        <div class="field sixteen wide">
            <label>Ja, es soll möglich sein Fragen zu stellen.</label>
            {% if form.allow_questions.errors %}
                <div class="ui negative floating message">
                    {{ form.allow_questions.errors }}
                </div>
            {% endif %}
            {{ form.allow_questions }}
        </div>
    </div>
    <button type="submit" value="post" class="ui button" id="formsubmitonce">
        Speichern
    </button>
    <a href="{{ request.session.last_url }}" class="ui button">
        Abbruch
    </a>

</form>