{% extends "coursebackend/base_course.html" %}

{% block course_menu_items %}
    {% include 'coursebackend/lesson/fragments/menus/_links_create_block.html' %}
{% endblock %}

{% block breadcrumbs %}
    {% include 'coursebackend/lesson/fragments/breadcrumbs/_breadcrumbs_blocks.html' %}
    {% include 'coursebackend/lesson/fragments/menus/_menu_blocks.html' %}
{% endblock %}

{% block page_content %}

    <div class="row coursebackend_white">
        <div class="sixteen wide column"  id="whitepaper">

            <!-- messages -->
            {% include 'base/fragments/_messages.html' %}

            <!-- nodetree -->
            {% include 'coursebackend/lesson/fragments/data_lists/_block_table.html' %}

        </div>
    </div>

{% endblock %}