{% extends "coursebackend/base_course.html" %}

{% block course_menu_items %}
    {% include 'coursebackend/lesson/fragments/menus/_links_create_lessonstep.html' %}
{% endblock %}

{% block breadcrumbs %}
    {% include 'coursebackend/lesson/fragments/breadcrumbs/_breadcrumbs.html' %}
{% endblock %}

{% block page_content %}

    <div class="row coursebackend_white" id="whitepaper">
        <div class="sixteen wide column">

            {% include 'base/fragments/_messages.html' %}

            {% include 'coursebackend/lesson/fragments/data_single/_instance_lesson.html' %}

            {% include 'coursebackend/lesson/fragments/data_lists/_recursetree_lesson_with_lessonsteps.html' %}

        </div>
    </div>

{% endblock %}