{% comment %}

the breadcrumb for materials

for list/update/detail/create/delete

{% endcomment %}

{% url 'coursebackend:material:list' course_slug=cs as list_url %}
{% url 'coursebackend:material:detail' course_slug=cs pk=material.pk as detail_url %}

<div class="ui large breadcrumb" id ="page-breadcrumb">

    {% if url_name == 'list' or url_name == 'create'%}

        <!-- section active -->
        <div class="section active">
            Material
        </div>

    {% else %}

        <!-- section link -->
        <a href="{{ list_url }}" class="section">
            Material
        </a>

        <i class="right chevron icon divider"></i>

        <!-- material -->
        <div class="section active">
            {{ material }}
        </div>

    {% endif %}

</div>