<form class="ui form" method="post" action="" enctype="multipart/form-data">{% csrf_token %}
    {{ form.non_field_errors }}
    <div class="ui form">
    <div class="ui segment">
        {% include 'coursebackend/material/_form_fields_update.html' %}
    </div>
    <button type="submit" value="post" class="ui button">
        Speichern
    </button>
    <a href="{% url 'coursebackend:material:list' course_slug=course.slug %}" class="ui button">
        Abbruch
    </a>
    <a href="{% url 'coursebackend:material:delete' course_slug=course.slug pk=material.pk %}" class="ui button">
        Löschen
    </a>
</form>
