<div id="helpinstructions">
    <div class="ui segment message">

        <div class="h3 ui header">Materialien</div>
        <p>Materialen sind die kleinsten Einheiten beim Unterricht. Sie sind normalerweise so konzipiert,
            dass sie in einer Selbstlernlektion erarbeitet werden können.
        </p>
        <p>Bei den Materialien können PDF Dateien hochgeladen werden und es gibt verschiedene Optionen sie dann
            zugänglich zu machen. Genauer gibt es drei Optionen Materialien anzuzeigen:
        </p>
        <ul class="ui list" style="padding-left:20px;">
          <li>den Status.</li>
          <li>die Links zum Bearbeiten</li>
          <li>Kurzbeschreibungen zu den Untereinheiten falls vorhanden</li>
        </ul>
        <p></p>
        <div class="h4 ui header">Checkboxen</div>
        <p>Mit den Checkboxen ganz oben in der Titelleiste kannst Du Dir bei allen Unterrichtseinheiten extra Informationen anzeigen lassen:</p>
        <p>
        <ul class="ui list" style="padding-left:20px;">
          <li>den Status.</li>
          <li>die Links zum Bearbeiten</li>
          <li>Kurzbeschreibungen zu den Untereinheiten falls vorhanden</li>
        </ul>
        </p>

    </div>
</div>