{% url 'download' slug=material.slug as download_url %}

<div class="ui message warning">
    Soll das Material wirklich gelöscht werden?
</div>

<div class="ui header medium">
    {{ material.title }}
</div>

<div class="ui dividing medium header">Das Material wird angeboten als:</div>

    {% if material.file %}

    <div class="ui list">
      <div class="item">
        <i class="icon file"></i>
        <div class="content">

          Link zur Datei: (Standard, funktioniert auch auf IPads oder
                Handys)
          <a href="{{ material.file.url }}">
            {{ material.file.url }}
           </a>
        </div>
      </div>
      {% if material.pdf_viewer %}
          <div class="item">
            <i class="unhide icon"></i>
            <div class="content">

              PDF-Viewer (siehe unten)
            </div>
          </div>
      {% endif %}
      {% if material.pdf_download_link %}
      <div class="item">
        <i class="download icon"></i>
        <div class="content">
          Download-Link:
            <a href={{ download_url }}>
                {{ material.slug  }}
            </a>
        </div>
      </div>
      {% endif %}
    </div>

    {% endif %}

<div class="ui dividing medium header">Verwendet in Lernabschnitten</div>

<div class="ui list bulleted">

  {% for lesson in material.lesson_set.all %}

      {% url 'coursebackend:lesson:step' course_slug=cs pk=lesson.pk as lesson_update_url %}

      {% if not lesson.courseevent_id %}

          <a href="{{ lesson_update_url }}" class="item">
              {{ lesson.lesson_nr }} {{ lesson.title }}
          </a>

      {% endif %}

  {% empty %}
      -
  {% endfor %}

</div>








