    {% if material.file %}
        <p>

        <a href="{{ material.file.url }}">
            <i class="icon file"></i>
        </a>

        <a href="{% url 'coursebackend:material:detail' course_slug=course.slug pk=material.pk %}">
            <i class="unhide icon blue"></i>
        </a>

        {% if material.pdf_download_link %}
            <a href="{% url 'download' slug=material.slug %}">
                <i class="download icon blue"></i>
            </a>
        {% endif %}

        </p>

    {% endif %}
