<table class="ui table stackable">
  <thead>
    <tr>
      <th class="three wide">Bearbeitung</th>
      <th class="three wide">Titel</th>
      <th class="three wide">Datei</th>
      <th class="three wide">eingebunden in</th>
    </tr>
  </thead>
  <tbody>
  {% for material in materials %}
    <tr>

      <td>
          <p>
              <a href="{% url 'coursebackend:material:update' course_slug=course.slug pk=material.pk %}">
                <i class="write blue icon"></i>
              </a>
              <a href="{% url 'coursebackend:material:delete' course_slug=course.slug pk=material.pk %}">
                <i class="trash blue icon"></i>
              </a>
          </p>
      </td>

      <td>
          <a href="{% url 'coursebackend:material:detail' course_slug=course.slug pk=material.pk %}">
          {{ material.title }}
          </a>
      </td>

      <td>{{ material.file  }}<br>
          <a href={% url 'download' slug=material.slug %}>{{ material.slug  }}</a><br>
          {% include 'coursebackend/material/fragments/_instance_material_file.html' %}
      </td>

      <td>
          {% include 'coursebackend/material/fragments/_list_material_lesson_set.html' %}
      </td>

    </tr>
  {% endfor %}
  </tbody>
</table>