{% comment %}

table of all materials

for list

{% endcomment %}

<table class="ui table">

    <thead>
        <tr>
            <th>Bearbeitung</th>
            <th>Titel</th>
            <th>Datei</th>
            <th>eingebunden in</th>
        </tr>
    </thead>

    <tbody>

        {% for material in materials %}

            {% url 'coursebackend:material:detail' course_slug=cs pk=material.pk as material_detail_url %}
            {% url 'download' slug=material.slug as download_url %}

            <tr>

                <td>
                    <p>
                        {% include 'coursebackend/material/fragments/_material_update_delete.html' %}
                    </p>
                </td>

                <td>
                    <a href="{{ material_detail_url }}">
                       {{ material.title }}
                    </a>
                </td>

                <td>

                    {% if material.file %}

                        <p>

                            <a href="{{ material.file.url }}">
                                <i class="icon file"></i>
                            </a>

                            <a href="{{ material_detail_url }}">
                                <i class="unhide icon blue"></i>
                            </a>


                            {% if material.pdf_download_link %}
                                <a href="{{ download_url }}">
                                    <i class="download icon blue"></i>
                                </a>
                            {% endif %}

                        </p>

                    {% endif %}
                </td>

                <td>

                    <div class="ui list bulleted">

                        {% for lesson in material.lesson_set.all %}

                              {% url 'coursebackend:lesson:step' course_slug=cs pk=lesson.pk as lesson_url %}

                              <a href="{{ lesson_url }}" class="item">
                                  {{ lesson.lesson_nr }} {{ lesson.title }}
                              </a>
                        {% endfor %}

                        {% for classlesson in material.classlesson_set.all %}

                              {% url 'coursebackend:classlesson:step' course_slug=cs slug=classlesson.courseevent.slug pk=classlesson.pk as classlesson_url %}

                              <a href="{{ classlesson_url }}" class="item published_in_class">
                                  {{ classlesson.lesson_nr }} {{ classlesson.title }}
                              </a>

                        {% endfor %}

                    </div>
                </td>

            </tr>

        {% endfor %}

    </tbody>

</table>