<!-- 3 step checkout process -->
<div class="ui ordered stackable steps">
  <div class="completed step">
    <div class="content">
      <div class="title">Registrieren</div>
      <div class="description">email bestätigen</div>
    </div>
  </div>
  <div class="active step">
    <div class="content">
      <div class="title">Zahlungsdaten</div>
      <div class="description">aufnehmen</div>
    </div>
  </div>
  <div class="disabled step">
    <div class="content">
      <div class="title">Buchung</div>
      <div class="description"> bestätigen</div>
    </div>
  </div>
</div>