
                  <div class="card">
                    <a class="image" href="#">
                        {% if product.foto %}
                            <img src="{{ product.foto.url }}">
                        {% endif %}
                    </a>
                    <div class="content">
                      <div class="header">{{ product.courseevent.title }}</div>

                        <div class="description">
                        {{ product.in_one_sentence }}
                      </div>
                    </div>
                  <div class="content">
                   {{ courseevent.get_event_type_display }}
                  </div>
                    <a class="ui bottom attached button" href="{{ detail_url }}">
                      Zur Buchung und Vorinformation
                    </a>
                  </div>