{% load activelink %}
<!-- urls -->

{% url 'courseoffer:pay_per_mail' pk=product.pk slug=slug  as pay_url %}
{% url 'courseoffer:registration' slug=slug pk=product.pk as register_url %}
{% url 'courseoffer:braintreemethod' slug=slug pk=product.pk as test_url %}

<div class="card">
    <a class="image" href="#">
        {% if product.foto %}
            <img src="{{ product.foto.url }}">
        {% endif %}
    </a>
    <div class="content">
      <div class="header">{{ product.courseevent.title }}
      </div>
    </div>
    <div class="content">
      <div class="header">Kursleitung</div>
           {{ courseevent.teachersrecord }}
    </div>
    <div class="content">
      <div class="header">Kursformat</div>

        <div class="description">
        {{ product.format }}
      </div>
    </div>

    <a class="ui bottom attached button" href="{{ pay_url }}">
      {{ product.price_total }} {{ product.currency }}
      Kaufen
    </a>

    </div>