{% load activelink %}

<!-- urls -->
{% url 'courseoffer:detail' slug=slug  as detail_url %}
{% url 'courseoffer:mentors' slug=slug  as mentors_url %}
{% url 'courseoffer:offer' slug=slug as offer_url %}

<div class="ui three item menu">
    <a href="{{ detail_url }}" class="
      {% ifactive detail_url %}active {% endifactive %}
    item">
        Kursbeschreibung
    </a>
    <a href="{{ mentors_url }}" class="item
    {% ifactive mentors_url %}active {% endifactive %}
    ">
        Kursleitung
    </a>
    <a href="{{ offer_url }}" class="item
    {% ifactive offer_url %}active {% endifactive %}
    ">
        Angebot
    </a>
</div>
<span style="color:grey; font-size:0.8em; padding:0; margin:0;">
</span>