
                 {% url 'home:mentor' username=mentor.user.username  as mentor_url %}

                  <!-- Christines Kurs -->
                  <div class="card">
                    <div class="image" >
                        {% if mentor.foto %}
                            <img src="{{ mentor.foto.url }}">
                        {% endif %}
                    </div>

                    <div class="content">
                      <div class="header">{{ mentor.user.get_full_name }}</div>
                    </div>
                      <div class="content">
                          <div class="event">
                              <h4 class="ui sub header">bei Mentoki</h4>
                              <div class="content">
      {{ mentor.at_mentoki }}</div>
                            </div>
                       </div>
                       <div class="content">
                        <div class="description">
                        {{ mentor.special_power }}

                      </div>
                    </div>
                    <a class="ui bottom attached button" href="{{ mentor_url }}">
                      Mehr über {{ mentor.user.first_name }} erfahren
                    </a>
                  </div>