<div class="pull-right">
<div class="tree well" id="buildsubforum">
{% include 'classroombackend/forum/_breadcrumb_subforum.html' %}
    <ul>
        <li>
            <span class="active">
                <i class="icon-folder-open"></i>
                {{ subforum.title }}
                ( {{ threadcount }} )

            </span>
            <ul>
            {% for item in forumtree.list  %}
                <li style="display:none">
                {% if item.is_leaf %}
                    {% include 'classroombackend/forum/_leaf.html' %}
                {% else %}
                    {% include 'classroombackend/forum/_folder.html' %}
                    </a>
                    <ul>
                    {% for item in item.list %}
                        <li>
                        {% if item.is_leaf %}
                             {% include 'classroombackend/forum/_leaf.html' %}
                        {% else %}
                             {% include 'classroombackend/forum/_folder.html' %}
                            <ul>
                            {% for item in item.list %}
                                <li>
                                {% if item.is_leaf %}
                                     {% include 'classroombackend/forum/_leaf.html' %}
                                {% else %}
                                     {% include 'classroombackend/forum/_folder.html' %}
                                {% endif %}
                                </li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
                </li>
            {% endfor %}
            </ul>
        </li>
    </ul>
</div>
</div>