{% extends "classroombackend/base.html" %}
{% load crispy_forms_tags %}
{% block whereami %}
        <div class="pull-right">
    {%  include 'classroombackend/forum/_menutree_buildforum.html' %}
</div>
{% endblock %}
{% block class_content %}

        <h3>{{ subforum.title }}</h3>
    <p>{{ subforum.text | safe }}</p>
    <form id="subforum_delete_form" method="post" action="">
        {% csrf_token %}
        <button type="submit" value="delete" class="btn btn-default" >
            Wollen Sie das Unterforum löschen?
        </button>
    </form>
{% endblock %}