{% extends "coursebackend/base_courseevent.html" %}

{% block courseevent_menu_items %}

    {% url 'courseoffer:detail' slug=cs as courseoffer_url %}

    <a class="item" href="{{ courseoffer_url }}">
        <i class="unhide icon blue"></i>Vorschau
    </a>

{% endblock %}

{% block page_content %}

     <div class="row coursebackend_background">
        <div class="sixteen wide column">

            <div class="ui large breadcrumb" id ="page-breadcrumb">

                {% include 'coursebackend/courseevent/fragments/_breadcrumbs.html' %}

            </div>

        </div>
    </div>

    <div class="row classroombackend_white">
        <div class="sixteen wide column" id="whitepaper">

            {% include 'base/fragments/_messages.html' %}
            {% include 'coursebackend/courseevent/fragments/_instance_courseevent.html' %}

        </div>
    </div>

{% endblock %}