{% extends "classroom/base.html" %}

{% block controls %}
    {% include 'classroom/_control_fulltext.html' %}
{% endblock %}

{% block page_subsection %}
    {% include 'classroom/studentswork/_element_subsection_header.html' %}
{% endblock %}

{% block classroom_page %}

    {% for work in studentworks %}

        <div class="ui raised segment">

            <h3 class="ui header">

                <a href="{% url 'classroom:studentswork:detail' slug=courseevent.slug pk=work.pk %}">
                    {{ work.title }} / Aufgabe: {{ work.homework.title }}
                </a>

            </h3>

            <p>

                Abgabedatum: {{ work.homework.due_date | date:'d.m.Y' }},

                {% if work.published %}
                    {{ work.published | yesno:"abgegeben, " }}: {{ work.published_at | date:'d.m.Y' }}
                    <i class="green icon check"></i>
                {% else %}
                    <i class="red icon warning"></i>
                {% endif %}
            </p>

            <p>
                Team: {{ work.team | join:', ' }}
            </p>

            <div class="fullcontent">

                <div class="ui divider fitted"></div>

                <div class="ui header medium">
                    Aufgabe:
                </div>

                {{ work.homework.text | safe }}

                <div class="ui header medium">
                    Deine Lösung:
                </div>

                 <div class="fullcontent">{{ work.text | safe }}</div>

            </div>



        </div>

    {% endfor %}

{% endblock %}