{% extends "base/base_public.html" %}

{% block page_section_css_id %}desk{% endblock %}

{% block main_content %}

    <!-- text page -->
    <div class="ui grid container">
        <div class="content ui column sixteen wide">
            <div class="sixteen wide column" >

                <div class="ui large header">Dein Schreibtisch: {{ request.user.get_full_name }}</div>

                    {% include 'desk/fragments/_menu.html' %}

                    {% include 'base/fragments/_messages.html' %}

                    <div>
                    {% block work %}{% endblock %}
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}