{% for courseevent in courseevents_now %}
    <div class="ui fluid segment">
    <h3 class="ui header" id="courseheader">
        <a class="ui header" href="{% url 'courseoffer:detail' slug=courseevent.slug %}">
            {{ courseevent.title }} mit {{ courseevent.teachersrecord }}
        </a>
        <a class="ui tag teal label" href="{% url 'courseoffer:detail' slug=courseevent.slug %}">
            jetzt buchbar
        </a>
    </h3>
    {{ courseevent.excerpt |safe}}
    </div>
{% endfor %}