{% load mptt_tags %}
<div class="ui relaxed divided list">

    {% recursetree nodes %}

        <div class="item">
            <i class="top aligned icon">{{ node.lesson_nr }}</i>
            <div class="content">

                <a class="header"
                   href="{% url "classroom:lesson:detail" slug=courseevent.slug pk=node.pk %}">
                   {{ node.title }}
                </a>
                <div class="description">{{ node.description }}</div>
                {% if not is_leaf %}
                    <div class="list">
                        {{ children }}
                    </div>
                {% endif %}

            </div>
        </div>

    {% endrecursetree %}

</div>