{% extends "classroom/base.html" %}

{% block page_subsection %}
    {% include 'classroom/participant/fragments/_element_subsection_header.html' %}
{% endblock %}

{% block breadcrumb_row_css_class %}classroom_display_none{% endblock %}
{% block form_content_row_css_class %}classroom_display_none{% endblock %}
{% block top_content_row_css_class %}classroom_background{% endblock %}
{% block middle_content_row_css_class %}classroom_display_none{% endblock %}
{% block detail_content_row_css_class %}classroom_display_none{% endblock %}

{% block top_content_row %}

    <table class="ui table">

        <thead>
            <tr>
                <th>Benutzername</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>

        <tbody>

            {% for participant in participants %}

                <tr>
                    <td>
                        <h4 class="ui image header">
                            <img src="{{ participant.profile_image.url }}" class="ui tiny rounded image">
                            <div class="content">
                                {{ participant.username }}
                            </div>
                        </h4>
                    </td>
                    <td>{{ participant.first_name }} {{ participant.last_name }}</td>
                    <td>{{ participant.email }}</td>
                </tr>

            {% endfor %}

        </tbody>

    </table>

{% endblock %}