{% extends "classroom/base.html" %}

{% block classroom_menu_items %}
    {% include 'classroom/announcement/fragments/_top_links.html' %}
{% endblock %}

{% block breadcrumbs %}
   {% include 'classroom/announcement/fragments/_breadcrumb_unspecific.html' %}
{% endblock %}

{% block page_content %}

    <div class="row classroom_white">
        <div class="sixteen wide column" id="whitepaper">

            {% include 'classroom/announcement/fragments/_list_annoucements.html' %}

        </div>
    </div>

{% endblock %}
