<div class="ui large breadcrumb" id ="page-breadcrumb">

    {% for breadcrumb in breadcrumbs %}

        <a href="{% url 'classroom:lesson:lesson_detail' slug=courseevent.slug pk=breadcrumb.pk %}" class="section">
            {% if breadcrumb.level != 0 %}
                {{ breadcrumb.lesson_nr }}.
            {% endif %}
            {{ breadcrumb.title }}
        </a>
        <i class="right chevron icon divider"></i>

    {% endfor %}

    {% if previous_lesson %}

        <a href="{% url "classroom:lesson:lesson_detail" slug=courseevent.slug pk=previous_lesson.pk %}">
           <i class="write chevron left icon"></i>
        </a>

    {% endif %}

    <div class="section active">
       {{ lesson.lesson_nr }}. {{ lesson.title }}
    </div>

    {% if next_lesson %}

        <a href="{% url "classroom:lesson:lesson_detail" slug=courseevent.slug pk=next_lesson.pk %}">
           <i class="write chevron right icon"></i>
        </a>

    {% endif %}
</div>