{% extends "base_semantic/base_page.html" %}
{% block body %}
<body id="team" >
{% endblock %}
{% block main %}
    <main class="ui two column doubling page grid">
        <div class="row">
            <h1 class="ui header center aligned" id="mainheader">Mentokis Team
                <div class="sub header">Mentoki wird von zwei Power-Frauen geführt
                </div>
            </h1>
            <div class="eight wide column">
                 <div class="ui piled segment">
                     <div class="ui card fluid" id="teamcard" >
                         <img  class="ui image small centered circular bordered" src="/static/img/sabine3.jpg">
                         <div class="header ui center aligned">
                             Sabine Maennel
                         </div>
                         <div class="content">
                             <div class="description">
                       <div class="ui list">
                                  <div class="item">
                                    <div class="header ui aligned center">Bei Mentoki ...</div>
                                    ... ist Sabine Maennel verantwortlich für den Bau
                                    und die Betreuung der Plattform. Außerdem
                                    leitet sie den Mentoki Starterkurs.
                                  </div>
                                  <div class="item">
                                    <div class="header ui aligned center">Ausbildung</div>
                                    Sabine ist Diplom-Mathematikerin und Software-Ingenieurin.
                                  </div>
                                  <div class="item">
                                    <div class="header ui aligned center">Sabine brennt für Mentoki ...</div>
                                    ... weil sie seit ihrer Zeit als ehrenamtliche Übersetzerin einer amerikanischen
                                    Online-Pioneer-Plattform, davon träumt, selbst so etwas auf die Beine zu stellen.
                                    Und weil sie am eigenen Leib erfahren hat, dass Online-Unterricht Spaß macht, billiger
                                    und effizienter als Präsenzunterricht sein kann und dabei hilft, sich
                                    ortsübergreifend mit Gleichgesinnten zu vernetzen.
                                  </div>
                                </div>
                             </div>
                         </div>
                     </div>
                 </div>
            </div>
            <div class="eight wide column">
                <div class="ui piled segment">
                    <div class="ui card fluid">
                        <img  class="ui image small centered circular bordered" src="/static/img/anette-229x300.jpg">
                         <div class="header ui h2 center aligned">
                             Anette Pekrul
                         </div>
                        <div class="content">
                            <div class="description">
                       <div class="ui list">
                                  <div class="item">
                                    <div class="header ui aligned center">Bei Mentoki ...</div>
                                    ... ist Anette verantwortlich für Marketing, das Geschäftsmodell
                                    und die Geschäftsabwicklung. Außerdem ist sie Online-Mentorin in ihren
                                      Spezialgebieten.
                                  </div>
                                  <div class="item">
                                    <div class="header ui aligned center">Ausbildung:</div>
                                   Anette ist Projekt- und Marketingmanagerin und wurde als Entwicklerin neuer
                                      Medienberufe 1997 mit dem Ausbildungs-Oskar ausgezeichnet.
                                  </div>
                                  <div class="item">
                                    <div class="header ui aligned center">Anette brennt für Mentoki, ...</div>
                                    ... weil es perfekt zu ihrem neuen Wohn- und Lebensmodell
                                    <a href="http://balance4yourlife.org" target="_blank">balance4yourlife</a>,
                                    passt, das
                                    Menschen eine neue Perspektive für die zweite Lebenshälfte bieten will und
                                    und lebenslanges Lehren und Lernen enthält.
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
