{% extends "base/base_public.html" %}

{% block background_image %}background-image: url('/static/img/backgrounds/normaldesk.jpg');{% endblock %}

{% block main_content %}

    <!-- text page -->
    <div class="ui grid centered">

        <div class="sixteen wide tablet fourteen wide computer column" style="margin-bottom:20px;">

            {% include 'base/fragments/_messages.html' %}

            <h2 style="
                 padding:20px;
                 margin:10px 0px;
                 opacity:0.5;
                 background:white;
            ">
                {% block desk_header %}{% endblock %}
            </h2>

            {% block work %}{% endblock %}
        </div>

    </div>


{% endblock %}