{% extends "desk/pages/base.html" %}
{% block desk_header %}Kurszugang für Adminstratoren{% endblock %}
{% block work %}
    <div class="ui segment teal">

    <div class="ui header large">Offene Kurseereignisse</div>

    <table class="ui table">

        <thead>
            <tr>
                <th>Kurs</th>
                <th>Kursereignis</th>
            </tr>
        </thead>

        <tbody>
        {% for courseevent in courseevents_open %}
           {% url 'coursebackend:courseevent:detail' course_slug=courseevent.course.slug slug=courseevent.slug as launchpad_url %}
           {% url 'classroom:start' slug=courseevent.slug as classroom_url %}

           <tr>

                <td>
                      {{ courseevent.course.title }}
                </td>

                <td>
                        {{ courseevent.title  }}
                        {% if courseevent.start_date %}
                           Start: {{ courseevent.start_date }}
                        {% endif %}
                        {% if courseevent.classroom_open %}
                            <i class="icon checkmark green"></i>
                        {% else %}
                            <i class="icon lock red"></i>
                        {% endif %}
                        <a href="{{ launchpad_url }}">
                        <i class="rocket icon green"></i>
                        </a>
                        <a href="{{ classroom_url }}">
                        <i class="student icon"></i>
                        </a>

               </td>


           </tr>
         {% endfor %}
        </tbody>
    </table>

   </div>
   <div class="ui segment teal">
   <div class="ui header large">Kursvorlagen</div>
   <div class="ui list">
   {% for course in courses %}
       {% url 'coursebackend:lesson:start' course_slug=course.slug as course_url %}
       <a class="item" href="{{ course_url }}">{{ course.title }}</a>
   {% endfor %}
   </div>
   </div>



    <div class="ui segment teal">

    <div class="ui header large">Geschlossene Aktive Kurseereignisse</div>

    <table class="ui table">

        <thead>
            <tr>
                <th>Kurs</th>
                <th>Kursereignis</th>
            </tr>
        </thead>

        <tbody>
        {% for courseevent in courseevents_active %}
           {% url 'coursebackend:courseevent:detail' course_slug=courseevent.course.slug slug=courseevent.slug as launchpad_url %}
           {% url 'classroom:start' slug=courseevent.slug as classroom_url %}

           <tr>

                <td>
                      {{ courseevent.course.title }}
                </td>

                <td>
                        {{ courseevent.title  }}
                        {% if courseevent.start_date %}
                           Start: {{ courseevent.start_date }}
                        {% endif %}
                        {% if courseevent.classroom_open %}
                            <i class="icon checkmark green"></i>
                        {% else %}
                            <i class="icon lock red"></i>
                        {% endif %}
                        <a href="{{ launchpad_url }}">
                        <i class="rocket icon green"></i>
                        </a>
                        <a href="{{ classroom_url }}">
                        <i class="student icon"></i>
                        </a>

               </td>


           </tr>
         {% endfor %}
        </tbody>
    </table>

   </div>

{% endblock %}