{% extends "desk/pages/base.html" %}

{% block desk_header %}Deine Kursausschreibungen{% endblock %}

{% block work %}

    {% for productgroup in productgroups %}

        <div class="ui segment teal">

            {% url 'desk:updategroup' pk=productgroup.id as group_url  %}
            {% url 'storefront:detail' slug=productgroup.slug as view_url  %}

            <div class="ui top attached tabular menu" style="margin-bottom:20px;">
                <a class="active item"><h3>{{ productgroup.course.title }}</h3></a>
                <a href="{{ view_url }}" class="item">Auf der Webseite</a>
                <a href="{{ group_url }}" class="item">Bearbeiten</a>
            </div>

        </div>
    {% endfor %}

{% endblock %}