{% extends "desk/pages/base.html" %}
{% block desk_header %}Ihr Lernen{% endblock %}
{% block work %}


    <div class="ui cards centered" style="padding-top:20px; padding-bottom:30px;">
        {% for courseevent in study_courseevents %}
            <div class="ui card">
                {% include 'desk/fragments/_courseevent_learn_record.html' %}
            </div>
        {% empty %}
            {% url 'storefront:list_now' %}
            Hier geht es zu mentoki<sub>&reg;</sub>s Kursangebot
            <a href="{{ course_url }}"></a>
        {% endfor %}
    </div>

{% endblock %}










