    {% if mentor %}

    <div class="ui segment"
        style="
        background: transparent;
        border:none;
        padding:0;
        ">
        {% url 'desk:updatementor' pk=mentor.pk as mentor_url  %}
        <div class="ui top attached tabular menu three item fluid stackable  "
             style="
             margin-bottom:0px;
             background:transparent;
             ">
            <a class="active item"
                style="
                #background-color:#19aaa6;
                backgroundcolor:white;
                #color:white;
                color:black;
                #opacity:0.6;
                ">
                <h3>Mentorenprofil</h3>
            </a>
            <a href="{{ mentor.get_absolute_url }}" class="item"
                style="
                background:white;
                opacity:0.8;
                ">
                Auf der Webseite
            </a>
            <a href="{{ mentor_url }}" class="item"
                style="
                background:white;
                opacity:0.8;
                ">
                Bearbeiten
            </a>
        </div>

        <div class="ui grid two columns stackable"
            style="
            margin:0px 0px;
            background:white;
            padding:20px;
            ">

            <div class="ui five wide column">
                <div class="ui list">
                    <div class="item">
                        <div class="header">Rolle bei Mentoki</div>
                        {{ mentor.at_mentoki }}
                    </div>
                    <div class="item">
                        <div class="header">Charakteristik</div>
                        {{ mentor.special_power }}
                    </div>
                </div>
            </div>
            <div class="ui ten wide column">
                <div class="ui small image ">
                    {% if mentor.foto %}
                        <img src="{{ mentor.foto.url }}">
                    {% endif %}
                </div>
                <div class="froala-view">
                    {{ mentor.text | safe }}
                </div>
            </div>
        </div>
    </div>
    {% endif %}