{% extends "desk/pages/base.html" %}

{% block work %}

    <div class="ui one column grid" style="padding-bottom:50px;">

        <div class="column">

            <div class="ui cards">
                {% for course in teach_courses %}
                    <div class="ui card">
                        {% include 'desk/fragments/_courseevent_teach_record.html' %}
                    </div>
                {% empty %}
                    Du hast noch keinen Kurs gebucht.
                {% endfor %}
            </div>

        </div>

    </div>

{% endblock %}








