{% extends "desk/pages/base.html" %}

{% block desk_header %}Text-Korrekturen{% endblock %}

{% block work %}
    <div class="ui segment">
    {% url 'storefront:list' as view_url  %}
    <div class="ui header medium">Kurse Listenansicht

    </div>
    <div class="ui list">
    {% for productgroup in productgroups %}
            {% url 'desk:updategroup' pk=productgroup.id as group_url  %}
            {% url 'storefront:admin' pk=productgroup.pk as view_url  %}
            <div class="item">
                    {% if productgroup.is_ready %}
                        <i class="icon checkmark green"></i>
                    {% endif %}
                    <div class="content">
                {{ productgroup.course.title }} |

                <a href="{{ view_url }}">ansehen</a> |
                <a href="{{ group_url }}">bearbeiten</a>

       </div>
        </div>
    {% endfor %}
    </div>
    </div>

    <div class="ui segment">
    <div class="ui header medium">Kurse Einzelseiten</div>
    {% for course in courselist %}
        <div class="ui header small">{{ course.group }}
        {% url 'storefront:detail' slug=course.group.slug as group_url  %}

        </div>

            <div class="ui list">
            {% for field in course.field_list %}
                    {% url 'desk:updategroupfield' pk=field.id as fieldupdate_url  %}
                    <div class="item">
                    {% if field.is_ready %}
                        <i class="icon checkmark green"></i>
                    {% endif %}
                    <div class="content">
                        {{field.title }} |
                        <a href="{{ group_url }}#{{ field.pagemark }}">ansehen</a> |
                        <a href="{{ fieldupdate_url }}">bearbeiten</a>


                    </div>

                </div>
            {% endfor %}
            </div>

    {% endfor %}
    </div>
    {% if request.user.is_staff or resquest.user.is_lektor %}
    <div class="ui segment">
    <div class="ui header medium">Allgemeine Seiten
    </div>
    <div class="ui list">
    {% for page in staticpublicpages %}
            {% url 'home:public' slug=page.slug as page_url  %}
            {% url 'desk:updatepage' pk=page.pk as pageupdate_url  %}
            <div class="item">
                    {% if page.is_ready %}
                        <i class="icon checkmark green"></i>
                    {% endif %}
                    <div class="content">
                {{ page.title }} |
            <a href="{{ page_url }}">ansehen</a> |
                        <a href="{{ pageupdate_url }}">bearbeiten</a>
            </div></div>
    {% endfor %}
    </div>
    </div>

    <div class="ui segment">
    <div class="ui header medium">Mentoren-Seiten
    </div>
    <div class="ui list">
    {% for mentor in mentors %}
            {% url 'home:mentor' slug=mentor.slug as mentor_url  %}
            {% url 'desk:updatementor' pk=mentor.pk as mentorupdate_url  %}
            <div class="item">
                    {% if mentor.is_ready %}
                        <i class="icon checkmark green"></i>
                    {% endif %}
                    <div class="content">
                {{ mentor.get_full_name }} |
            <a href="{{ mentor_url }}">ansehen</a> |
                        <a href="{{ mentorupdate_url }}">bearbeiten</a>
           </div>
            </div>
    {% endfor %}
    </div>
    </div>
    {% endif %}

{% endblock %}