{% extends "desk/pages/base.html" %}

{% block desk_header %}Ihr Benutzerprofil{% endblock %}

{% block work %}

    <div class="ui segment"
        style="
        background: transparent;
        border:none;
        padding:0;
        ">
        {% url 'desk:updateprofile' pk=user.pk as userprofile_url  %}
        <div class="ui top attached two item fluid stackable tabular menu"
             style="
             margin-bottom:0px;
             background:transparent;
             ">
            <a class="active item"
                style="
                #background-color:#19aaa6;
                backgroundcolor:white;
                #color:white;
                color:black;
                #opacity:0.6;
                ">
                <h3>Ansehen</h3>
            </a>
            <a href="{{ userprofile_url }}" class="item"
                style="
                background:white;
                opacity:0.8;
                ">
                Bearbeiten
            </a>
        </div>

        <div class="ui grid two columns stackable"
            style="
            margin:0px 0px;
            padding:20px;
            background:white;
            ">
            <div class="ui column five wide ">
                <div class="ui list">
                    <div class="item">
                        <div class="header">Benutzername</div>
                        {{ user.username }}
                    </div>
                    <div class="item">
                        <div class="header">Email</div>
                        {{ user.email }}
                    </div>
                    <div class="item">
                        <div class="header">Name</div>
                        {{ user.get_full_name }}
                    </div>
                </div>
            </div>
            <div class="ui ten wide column">
                <div class="ui small image ">
                    {% if user.profile_image %}
                        <img src="{{ user.profile_image.url }}">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}