{% extends "classroom/base.html" %}

{% block classroom_menu_items %}
    {% include 'classroom/classlesson/fragments/_top_links.html' %}
{% endblock %}

{% block breadcrumbs %}
   {% include 'classroom/classlesson/fragments/_breadcrumbs.html' %}
{% endblock %}

{% block page_content %}

    <div class="row classroom_white">
        <div class="sixteen wide column" id="whitepaper">

            {% include 'classroom/classlesson/fragments/_instance_lesson.html' %}
            {% include 'classroom/classlesson/fragments/_list_lessonsteps_for_lesson.html' %}

        </div>
    </div>

{% endblock %}