{% extends "classroom/base.html" %}

{% block breadcrumbs %}
   {% include 'classroom/classlesson/fragments/_breadcrumbs.html' %}
{% endblock %}

{% block classroom_menu_items %}
    {% if request.user in course.teachers or request.user.is_superuser %}
        {% url 'coursebackend:forum:list' course_slug=cs slug=es as back_link %}

        <a href="{{ back_link }}" class="item" >
            <i class="wrench icon blue"></i>
        </a>
    {% endif %}
{% endblock %}

{% block page_content %}

    <div class="row classroom_white">
        <div class="sixteen wide column" id="whitepaper">

            {% include 'classroom/classlesson/fragments/_instance_lessonblock.html' %

            {% include 'classroom/classlesson/fragments/_list_lessons_for_lessonblock.html' %}

        </div>
    </div>


{% endblock %}
{% block rows %}{% endblock %}