{% extends "classroom/base.html" %}

{% block classroom_menu_items %}
    {% include 'classroom/classlesson/fragments/_top_links.html' %}
{% endblock %}

{% block breadcrumbs %}
   {% include 'classroom/classlesson/fragments/_breadcrumbs.html' %}
{% endblock %}

{% block page_content %}

    <div class="row classroom_white">
        <div class="sixteen wide column" id="whitepaper">

            {% url 'classroom:homework:list' slug=es pk=lessonstep.pk as homework_url %}
            {% url 'classroom:studentswork:list' slug=es as private_url %}

            {% include 'classroom/classlesson/fragments/_instance_lessonstep.html' %}
            <h4 class="ui horizontal divider header">
                 Abgegebene Arbeiten
            </h4>
            {% include 'classroom/classlesson/fragments/_list_stundentsworks.html' %}

        </div>
    </div>

{% endblock %}