{% extends "classroom/base.html" %}

{% block classroom_menu_items %}
    {% if request.user in course.teachers or request.user.is_superuser %}
        {% url 'coursebackend:classlesson:start' course_slug=cs slug=es as back_link %}

        <a href="{{ back_link }}" class="item" >
            <i class="wrench icon blue"></i>
        </a>
        {% url 'coursebackend:menu:preview' course_slug=cs slug=es as menu_link %}
        <a href="{{ menu_link }}" class="item" >
            <i class="sidebar icon blue"></i>
        </a>

    {% endif %}
{% endblock %}

{% block breadcrumbs %}
   {% include 'classroom/classlesson/fragments/_breadcrumbs.html' %}
{% endblock %}

{% block page_content %}

    <div class="row classroom_white">
        <div class="sixteen wide column">

            {% url 'classroom:homework:list' slug=es pk=lessonstep.pk as homework_url %}
            {% url 'classroom:studentswork:list' slug=es as private_url %}

            {% include 'classroom/classlesson/fragments/_instance_lessonstep.html' %}
            {% if lessonstep.is_homework %}

                <h4 class="ui horizontal divider header">
                     <i class="users icon"></i>
                </h4>

                <a href="{{ homework_url }}" class="ui button">
                     <i class="users icon"></i>Zu den abgegebenen Aufgaben
                </a>

                <a href="{{ private_url }}" class="ui button">
                     <i class="write icon"></i>Zur Deinem Arbeitsbereich?
                </a>

            {% endif  %}
        </div>
    </div>

{% endblock %}