{% extends "classroom/base.html" %}

{% block breadcrumbs %}
   {% include 'classroom/classlesson/fragments/_breadcrumbs.html' %}
{% endblock %}

{% block page_content %}

    <div class="row classroom_white">
        <div class="sixteen wide column" id="whitepaper">

            {% include 'classroom/classlesson/fragments/_menu_work.html' %}

            {% include 'classroom/classlesson/fragments/_instance_stundentswork_work.html' %}

            <h4 class="ui horizontal divider header">
                <i class="comments outline icon"></i>
                Kommentare
            </h4>

            {% if url_name != 'updatepublic' %}
                <a href="{{ comment_url }}" class="ui button">
                    <i class="write icon blue"></i>Kommentar anfügen?
                </a>
            {% endif %}

            {% include 'classroom/classlesson/fragments/_instance_studentswork_comments.html' %}

        </div>
    </div>

{% endblock %}
