{% extends "base/base_public.html" %}

{% block page_section_css_id %}standard_public_page_body_2{% endblock %}

{% block main_content %}

    <!-- text page -->
    <div class="ui grid container" style="padding-bottom:100px;
          padding-top:40px;"  >

        <div class="content ui column sixteen wide">
            <div class="ui two column stackable grid">
                <div class="column five wide">

                    <!-- courseproduct group -->
                    <div class="ui cards centered">
                        {% include 'checkout/fragments/_coursecard_details.html' with product=courseeventproduct %}
                    </div>

                </div>

                <div class="column ten wide">

                    {% include 'checkout/fragments/_2steps_checkout_1.html' %}
                    {% include 'checkout/fragments/_courseproduct.html' %}

                    <!-- participant data ----->

                    <form id="checkout-form" method="post" class="ui form" autocomplete="off">
                        {% csrf_token %}

                        {% if form.non_field_errors %}
                            <div class="ui negative floating message">
                                {{ form.non_field_errors }}
                            </div>
                        {% endif %}

                        <!-- particpant data are part of the form -->
                        <h4 class="ui dividing header">Schritt 1: Teilnehmer-Daten aufnehmen</h4>
                        {% include 'checkout/fragments/_participant_form.html' %}
                        <input class="ui button" type="submit" value="weiter">
                    </form>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
