{% extends "base/base_public.html" %}

{% block page_section_css_id %}home{% endblock %}

{% block main_content %}

    <!-- text page -->
    <div class="ui grid container" style="padding-bottom:100px;
          padding-top:40px;"  >

        <div class="content ui column sixteen wide">

            <div class="ui two column stackable grid">

                <div class="column five wide">

                    <!-- courseevent detail -->

                    Leider ist bei Ihrer Bestellung etwas schief gegangen!

                <p>Mit lieben Grüssen</p>
                <p id="signature">Sabine Maennel und Anette Pekrul</p>

                </div>
            </div>

        </div>

    </div>
{% endblock %}