{% extends "checkout/pages/base.html" %}

{% block context_course %}

    <div class="ui cards centered">
        {% include 'checkout/fragments/_coursecard_details.html' with product=courseeventproduct %}
    </div>

{% endblock %}

{% block checkout_product %}

    {% include 'checkout/fragments/_2steps_checkout_1.html' %}
    {% include 'checkout/fragments/_courseproduct.html' %}

    <!-- participant data ----->

    <form id="checkout-form" method="post" class="ui form" autocomplete="off">
        {% csrf_token %}

        {% if form.non_field_errors %}
            <div class="ui negative floating message">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <!-- particpant data are part of the form -->
        <h4 class="ui dividing header">Schritt 1: Teilnehmer-Daten aufnehmen</h4>

        {% include 'checkout/fragments/_participant_form.html' %}

        <input class="ui button" type="submit" value="weiter">

    </form>

{% endblock %}
