{% extends "storefront/pages/base_courseproductgroup_pay.html" %}
{% block courseproductpage %}
    <div style="background: url('/static/img/15447605_xxl1.jpg');">
        <div class="ui centered grid" id="start" style="
            padding-top:60px;">
            <div class="sixteen wide tablet twelve wide computer column">
            <div class="ui segment">

    {% url 'account_reset_password' as password_reset_url %}
    <!-- text page -->


            {% url 'desk:learn' as desk_url %}
            {% url 'desk:bookings' as desk_bookings_url %}


                    <!-- page content -->


                    <div class="ui header">Hallo {{ user.get_full_name }}!</div>
                <p>Vielen Dank, wir haben Ihre Zahlung erhalten
                    und Sie sind jetzt angemeldet für:</p>
                <h4 class="ui dividing header">Kurs-Daten</h4>
                            <h1 style="color:#19aaa6;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 1.3em;
                    font-weight: 400;
                    line-height: 1.2em;
                    -webkit-font-smoothing: antialiased;
                ">
                        {{ courseproductgroup.course.title }}<br> von
                        {{ courseproductgroup.course.teachersrecord }}
                        </h1>
                                     <div class="ui middle aligned divided list">
                      <div class="item" >
                        <div class="content">
                            <div class="header">
                          {{ courseproduct.name }}
                            </div>
                            <p>
                                {{ courseproduct.description | safe }}
                            </p>
                            <p>
                                {{ courseproduct.courseproductsubgroup.description | safe }}
                            </p>
                        </div>
                      </div>
                         </div>
                    <!-- participant data ----->
                        <!-- payment data part of the form -->
                        <h4 class="ui dividing header">Teilnehmer-Daten</h4>

                        {% if user.is_authenticated %}
                        <p>{{ user.first_name }} {{ user.last_name }}
                            <br>{{ user.email }}<br>Benutzername: {{ user.username }}
                        </p>

                        {% else %}
                        <p>{{ newuser.first_name }} {{ newuser.last_name }}
                            <br>{{ newuser.email }}<br>Benutzername: {{ newuser.username }}
                        </p>
                        {% endif %}


                    <p>Den Zugang zum Kurs finden Sie auf Ihrem
                        <a href="{{ desk_url }}">Schreibtisch.
                        </a> Von dort kommen Sie ins Klassenzimmer, sobald der Kurs beginnt.
                    </p>
                    <p>Ihre Buchungen können Sie ebenfalls vom
                        <a href="{{ desk_bookings_url }}">Schreibtisch
                        </a> aus einsehen. Ausserdem haben wir gerade per Email eine Buchungsbestätigung
                        an Sie geschickt.
                    </p>
                <p>Mit lieben Grüssen</p>
                <p id="signature">Sabine Maennel und Anette Pekrul</p>



                </div>
            </div>
        </div>
    </div>
{% endblock %}