{% extends "base/base_public.html" %}

{% block page_section_css_id %}standard_public_page_body_2{% endblock %}

{% block main_content %}

    <!-- text page -->
    <div class="ui grid container" style="padding-bottom:100px;
          padding-top:40px;"  >

        <div class="content ui column sixteen wide">


            <div class="ui two column stackable grid">

                <div class="column five wide">

                    <!-- courseevent detail -->

                    <div class="ui cards centered">
                        {% include 'checkout/fragments/_coursecard_details.html' with product=courseeventproduct %}
                    </div>

                </div>
                <div class="column ten wide">
                    <!-- page content -->

                    <div class="ui header">Hallo {{ request.user.first_name }} {{ request.user.last_name }}</div>
                <p>Vielen Dank, für Ihr Interesse an {{ transaction.coursproduct.name }}.</p>
                {{ transaction.error_message }}{{ transaction.error_code }}
                    {{ transaction }}
                <p>Leider ist Ihre Zahlung fehlgschlagen ...
                <p>Mit lieben Grüssen</p>
                <p id="signature">Sabine Maennel und Anette Pekrul</p>

                </div>
            </div>

        </div>

    </div>
{% endblock %}