{% extends "storefront/pages/base_courseproductgroup.html" %}
{% block courseproductpage %}
    <div style="background: url('/static/img/15447605_xxl1.jpg');">
        <div class="ui centered grid" id="start" style="
            padding-top:60px;">
            <div class="sixteen wide tablet twelve wide computer column">
                <div class="ui segment">
                    <div class="ui header">Hallo {{ request.user.first_name }} {{ request.user.last_name }}</div>
                    <p>Vielen Dank, für Ihr Interesse an {{ transaction.coursproduct.name }}.</p>
                    {{ transaction.error_message }}{{ transaction.error_code }}
                        {{ transaction }}
                    <p>Leider ist Ihre Zahlung fehlgschlagen ...
                        {% include 'base/fragments/_messages_error.html' %}
                    <p>Mit lieben Grüssen</p>
                    <p id="signature">Sabine Maennel und Anette Pekrul</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}