{% extends "base/base_public.html" %}

{% block page_section_css_id %}standard_public_page_body_2{% endblock %}

{% block main_content %}

    <!-- text page -->
    <div class="ui grid container" style="padding-bottom:100px;
          padding-top:40px;"  >

        <div class="content ui column sixteen wide">


            <div class="ui two column stackable grid">

                <div class="column five wide">

                    <!-- courseevent detail -->

                    <div class="ui cards centered">
                        {% include 'checkout/fragments/_coursecard_details.html' with product=courseeventproduct %}
                    </div>

                </div>

                <div class="column ten wide">

                    {% include 'checkout/fragments/_2steps_checkout.html' %}
                {% include 'checkout/fragments/_courseproduct.html' %}
                {% if request.user.is_authenticated %}

                    <h4 class="ui dividing header">Teilnehmer-Daten</h4>

                    <p>{{ request.user.get_full_name }}</p>

                    <h4 class="ui dividing header">Bezahlung mit</h4>
                    <p>Bitte entweder Paypal auswählen oder direkt Ihre Kreditkartendaten eingeben.</p>


                   {% endif %}
                    <form id="checkout-form" method="post" class="ui form" autocomplete="off">
                      {% csrf_token %}
                        {% if form.non_field_errors %}
                            <div class="ui negative floating message">
                                {{ form.non_field_errors }}
                            </div>
                        {% endif %}
                      {% if not request.user.is_authenticated %}
                         <h4 class="ui dividing header">Teilnehmer-Anmeldung</h4>
                          {{ form.non_field.errors }}



                         <div class="fields">
                         <label>Vorname</label>
                            {{ form.first_name.errors }}
                            <div class="field eight wide">
                           {{ form.first_name }}
                            </div>
                             <label>Nachname</label>
                             {{ form.last_name.errors }}
                            <div class="field eight wide">
                           {{ form.last_name }}
                            </div>
                         </div>
                          <div class="fields">
                          <label>Benutzername</label>
                          {{ form.username.errors }}
                             <div class="field eight wide">
                           {{ form.username }}
                            </div>
                          <label>Email</label>
                          {{ form.email.errors }}
                             <div class="field eight wide">
                           {{ form.email }}
                            </div>
                          </div>
                    <h4 class="ui dividing header">Zahlungs-Daten</h4>
                         <div class="field">
                         <label>Ist der Teilnehmer identisch mit dem Bezahlenden?</label>
                            {{ form.payer_is_participant.errors }}
                            <div class="field eight wide">
                           {{ form.payer_is_participant }}
                            </div>
                          </div>
                          <p>Wenn Nein bitte auch Name und email des Zahlenden angeben</p>

                         <div class="fields">
                         <label>Vorname</label>
                            {{ form.payment_first_name.errors }}
                            <div class="field eight wide">
                           {{ form.payment_first_name }}
                            </div>
                             <label>Nachname</label>
                             {{ form.payment_last_name.errors }}
                            <div class="field eight wide">
                           {{ form.payment_last_name }}
                            </div>
                         </div>
                          <div class="fields">
                          <label>Email</label>
                          {{ form.payment_email.errors }}
                             <div class="field eight wide">
                           {{ form.payment_email }}
                            </div>
                          </div>
                    <p>Bitte entweder Paypal auswählen oder direkt Ihre Kreditkartendaten eingeben.</p>

                      {% endif %}

                      <div id="dropin-container"></div>
                      <input class="ui button" type="submit" value="jetzt zahlen">
                    </form>
                </div>

                <script src="https://js.braintreegateway.com/v2/braintree.js"></script>

                <script type="text/javascript">
                    // Execute on DOM Ready ($(function(){}))
                    braintree.setup("{{ client_token }}", "dropin", {
                      container: "dropin-container",  // id of the container div
                      form: "checkout-form"  // id of the form
                    });
                </script>
            </div>
        </div>
    </div>

{% endblock %}
