{% extends "checkout/pages/base_courseproductgroup_pay.html" %}
{% block courseproductpage %}

        <div class="ui centered grid" id="start" style="
            padding-top:60px;
            padding-bottom:80px;">
            <div class="sixteen wide tablet twelve wide computer column">
            <div class="ui segment">
                {% include 'checkout/fragments/_2steps_checkout_2.html' %}

                <!-- messages -->
                {% for message in messages %}{{ message }}{% endfor %}

                <!-- participant data ----->
                <h4 class="ui dividing header">Teilnehmer-Daten</h4>
                <p>
                    {{ user.first_name }} {{ user.last_name }}
                    <br>{{ user.email }}
                    <br>Benutzername: {{ user.username }}
                </p>

                <!-- product ------>
                <h4 class="ui dividing header">Buchung</h4>
                <h1 style="color:#19aaa6;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 1.3em;
                    font-weight: 400;
                    line-height: 1.2em;
                    -webkit-font-smoothing: antialiased;
                ">
                        {{ courseproductgroup.course.title }}<br> von
                        {{ courseproductgroup.course.teachersrecord }}
                        </h1>
                <div class="ui middle aligned divided list">
                    <div class="item" >
                        <div class="content">
                            <div class="right floated content">
                                jetzt buchen für
                                {% if amount != courseproduct.price %}
                                    <span style="color:#eb3d00">
                                    {{ amount }}</span>
                                    statt
                                    {{ courseproduct.price }}
                                {% else %}
                                    Preis
                                    {{ amount }}
                                {% endif %}
                                {{ currency }}
                            </div>
                            <div class="header">

                                {{ courseproduct.name }}
                            </div>
                            <p>
                                {{ courseproduct.description | safe }}
                            </p>
                            <p>
                                {{ courseproduct.courseproductsubgroup.description | safe }}
                            </p>
                        </div>
                    </div>
                </div>

                <!-- payment form -->
                <form id="checkout-form" method="post" class="ui form" autocomplete="off">
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                        <div class="ui negative floating message">
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}
                    <!-- payment data part of the form -->
                    <h4 class="ui dividing header">Zahlung</h4>
                    {{ amount }} {{ currency }}
                    {% include 'checkout/fragments/_payers_info_form.html' %}

                    <p>Bitte entweder Paypal auswählen oder direkt Ihre Kreditkartendaten eingeben.</p>

                    <div id="dropin-container"></div>
                    <input class="ui button" type="submit" value="jetzt zahlen">
                </form>
                <script src="https://js.braintreegateway.com/v2/braintree.js"></script>

                <script type="text/javascript">
                // Execute on DOM Ready ($(function(){}))
                braintree.setup("{{ client_token }}", "dropin", {
                  container: "dropin-container",  // id of the container div
                  form: "checkout-form"  // id of the form
                });
                </script>
            </div>
        </div>
    </div>


{% endblock %}