{% extends "base/base_public.html" %}

{% block page_section_css_id %}standard_public_page_body_2{% endblock %}

{% block main_content %}

    {% url 'account_reset_password' as password_reset_url %}
    <!-- text page -->
    <div class="ui grid container" style="padding-bottom:100px;
          padding-top:40px;"  >

        <div class="content ui column sixteen wide">

            {% url 'desk:learn' as desk_url %}
            <div class="ui two column stackable grid">

                <div class="column five wide">

                    <!-- courseevent detail -->

                    <div class="ui cards centered">
                        {% include 'checkout/fragments/_coursecard_details.html' with product=courseeventproduct %}
                    </div>

                </div>
                <div class="column ten wide">
                    <!-- page content -->


                    <div class="ui header">Hallo {{ order.customer.first_name }} {{ order.customer.last_name }}</div>
                <p>Vielen Dank, wir haben Deine Zahlung erhalten
                    und Du bist jetzt angemeldet für:</p>
                <h4 class="ui dividing header">Kurs-Daten</h4>
                                     <div class="ui middle aligned divided list">
                      <div class="item" >
                        <div class="content">
                            <div class="header">
                          {{ courseproduct.name }}
                            </div>
                           <p>{{ courseproduct.description | safe }}</p>
                        </div>
                      </div>
                         </div>
                    <!-- participant data ----->
                        <!-- payment data part of the form -->
                        <h4 class="ui dividing header">Teilnehmer-Daten</h4>

                        {% if user.is_authenticated %}
                        <p>{{ user.first_name }} {{ user.last_name }}
                            <br>{{ user.email }}<br>Benutzername: {{ user.username }}
                        </p>

                        {% else %}
                        <p>{{ newuser.first_name }} {{ newuser.last_name }}
                            <br>{{ newuser.email }}<br>Benutzername: {{ newuser.username }}
                        </p>
                        {% endif %}


                {% if not request.user.is_authenticated %}
                    <div class="ui header medium">Setze Dein Passwort!</div>
                    <p>Du bist bereits im System registriert. Damit Du Dich einloggen kannst,
                    wurde eine email zu Setzen Deines Passworts an Dich geschickt.
                    </p>

                        <p></p>
                        <p>Wenn Du sonst noch Fragen hast, schreibe uns gerne:
                        <strong>mentoki@mentoki.com</strong></p>
                    </p>
                {% else %}
                    <p>Den Zugang zum Kurs findest Du auf Deinem
                        <a href="{{ desk_url }}">Schreibtisch.</a></p>
                {% endif %}
                <p>Mit lieben Grüssen</p>
                <p id="signature">Sabine Maennel und Anette Pekrul</p>

                </div>
            </div>

        </div>

    </div>
{% endblock %}