{% extends "checkout/pages/base_courseproductgroup_pay.html" %}
{% block courseproductpage %}

        <div class="ui centered grid" id="start" style="
            padding-top:60px;padding-bottom:80px;">
            <div class="sixteen wide tablet twelve wide computer column">
                <div class="ui segment">
                    <div class="ui header">Hallo {{ request.user.first_name }} {{ request.user.last_name }}</div>
                    <p>Vielen Dank, für Ihr Interesse an</p>
                                        <h1 style="color:#19aaa6;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 1.3em;
                    font-weight: 400;
                    line-height: 1.2em;
                    -webkit-font-smoothing: antialiased;
                ">
                        {{ courseproductgroup.course.title }}<br> von
                        {{ courseproductgroup.course.teachersrecord }}
                        </h1>
                        <p>{{ courseproduct.name }}</p>
                        <p>{{ courseproduct.courseproductsubgroup.description |safe }}
                    </p>
                    {{ transaction.error_message }}{{ transaction.error_code }}
                        {{ transaction }}
                    <p>Leider ist Ihre Zahlung fehlgschlagen. Kontaktieren Sie uns gerne!
                        {% include 'base/fragments/_messages_error.html' %}
                    <p>Mit lieben Grüssen</p>
                    <p id="signature">Sabine Maennel und Anette Pekrul</p>
                </div>
            </div>
        </div>

{% endblock %}