{% extends "base/base_public.html" %}


{% block main_content %}

    {% url 'account_reset_password' as password_reset_url %}
    <!-- text page -->
    <div class="ui grid container" style="padding-bottom:100px;
          padding-top:40px;"  >

        <div class="content ui column sixteen wide">

            {% url 'desk:learn' as desk_url %}
            {% url 'desk:bookings' as desk_bookings_url %}
            <div class="ui two column stackable grid">

                <div class="column five wide">

                    <!-- courseevent detail -->

                    <div class="ui cards centered">
                        {% include 'checkout/fragments/_coursecard_details.html' with product=courseeventproduct %}
                    </div>

                </div>
                <div class="column ten wide">
                    <!-- page content -->


                    <div class="ui header">Hallo {{ user.get_full_name }}!</div>
                <p>Vielen Dank, wir haben Ihre Zahlung erhalten
                    und Sie sind jetzt angemeldet für:</p>
                <h4 class="ui dividing header">Kurs-Daten</h4>
                                     <div class="ui middle aligned divided list">
                      <div class="item" >
                        <div class="content">
                            <div class="header">
                          {{ courseproduct.name }}
                            </div>
                           <p style="color:black !important;">{{ courseproduct.description | safe }}</p>
                        </div>
                      </div>
                         </div>
                    <!-- participant data ----->
                        <!-- payment data part of the form -->
                        <h4 class="ui dividing header">Teilnehmer-Daten</h4>

                        {% if user.is_authenticated %}
                        <p>{{ user.first_name }} {{ user.last_name }}
                            <br>{{ user.email }}<br>Benutzername: {{ user.username }}
                        </p>

                        {% else %}
                        <p>{{ newuser.first_name }} {{ newuser.last_name }}
                            <br>{{ newuser.email }}<br>Benutzername: {{ newuser.username }}
                        </p>
                        {% endif %}


                    <p>Den Zugang zum Kurs findest Du auf Deinem
                        <a href="{{ desk_url }}">Schreibtisch.
                        </a> Von dort kommst Du ins Klassenzimmer, sobald der Kurs beginnt.
                    </p>
                    <p>Deine Buchungen findest Du ebenfalls auf Deinem
                        <a href="{{ desk_bookings_url }}">Schreibtisch.
                        </a>Ausserdem haben wir Dir gerade noch per email eine Buchungsbestätigung geschickt.
                    </p>
                <p>Mit lieben Grüssen</p>
                <p id="signature">Sabine Maennel und Anette Pekrul</p>

                </div>
            </div>

        </div>

    </div>
{% endblock %}