{% extends "base/base_public.html" %}
{% load i18n %}

{% block page_section_css_id %}standard_public_page_body_1{% endblock %}

{% block page_content %}

    {% if validlink %}

        <h1>{% trans 'Enter new password' %}</h1>

        <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

        <form class="ui form fluid" action="" method="post">
            {% csrf_token %}

            {{ form.new_password1.errors }}
            <div class="required field">
                <label>{% trans 'New password:' %}</label>
                <div class="ui input">
                    {{ form.new_password1 }}
                </div>
            </div>

            {{ form.new_password2.errors }}
                <div class="required field">
                    <label>{% trans 'Confirm password:' %}</label>
                    <div class="ui input">
                        {{ form.new_password2 }}
                    </div>
                </div>

            <p>
                <input class="ui button teal" type="submit" value="{% trans 'Change my password' %}" />
            </p>

        </form>

    {% else %}

        <h1>{% trans 'Password reset unsuccessful' %}</h1>

        <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

    {% endif %}

{% endblock %}
