{% extends "base/base_public.html" %}
{% load i18n %}

{% block page_section_css_id %}standard_public_page_body_1{% endblock %}

{% block main_content %}

    <!-- text page -->
    <div class="ui grid container" style="padding-bottom:100px; padding-top:50px;">

        <div class="content ui column sixteen wide">

            <div class="sixteen wide column" id="whitepaper">

                <h1>{% trans 'Password reset complete' %}</h1>

                <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>

                <p><a href="{{ login_url }}">{% trans 'Log in' %}</a></p>

            </div>
        </div>
    </div>

{% endblock %}