{% extends "base/base_public.html" %}
{% load i18n %}

{% block page_section_css_id %}standard_public_page_body_1{% endblock %}

{% block page_content %}

    <!-- content -->
    <h2 class="ui header large">In Bearbeitung ...</h2>
    <p>
        {% trans "We've emailed you instructions for setting your password. You should be receiving them shortly." %}
    </p>
    <h4 class="ui header small">
        ... bitte prüfen Sie Ihre Email
    </h4>
    <p>
        {% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}
    </p>
    <!-- end content -->

{% endblock %}
