{% extends "classroom/base.html" %}

{% block page_subsection %}
    {% include 'classroom/participant/_element_subsection_header.html' %}
{% endblock %}

{% block header %}
    Kursereignis {{ courseevent.title }}
{% endblock %}

{% block classroom_page %}

    <div class="ui piled segment">

    <h1 class="ui header">Teilnehmerliste</h1>

        <table class="ui table">

            <thead>
                <tr>
                    <th>Benutzername</th>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
            </thead>

            <tbody>

                {% for participant in participants %}

                    <tr>
                        <td>{{ participant.username }}</td>
                        <td>{{ participant.first_name }} {{ participant.last_name }}</td>
                        <td>{{ participant.email }}</td>
                    </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

{% endblock %}