{% extends "coursebackend/base_courseevent.html" %}

{% block courseevent_menu_items %}
        {% url 'classroom:participant:list' slug=es as back_link %}

        <a href="{{ back_link }}" class="item" >
            <i class="student icon blue"></i>
        </a>
{% endblock %}

{% block breadcrumbs %}
    {% include 'coursebackend/homework/fragments/_breadcrumbs.html' %}
{% endblock %}

{% block page_content %}

    <div class="row coursebackend_background">
        <div class="sixteen wide column">

            <div class="ui large breadcrumb" id ="page-breadcrumb">

                {% include 'coursebackend/homework/fragments/_breadcrumbs.html' %}
                <a class="item">
                    {{ homework.title  }}
                </a>

            </div>

        </div>
    </div>

    <div class="row coursebackend_white">
        <div class="sixteen wide column">

            {% include 'coursebackend/homework/fragments/_instance_classlessonstep.html' with classlessonstep=homework.classlesson %}

            <h4 class="ui horizontal divider header">
                 <i class="users icon"></i>
            </h4>

            {% include 'coursebackend/homework/fragments/_instance_homework.html' %}

        </div>
    </div>

{% endblock %}
