{% url 'coursebackend:classlesson:start' slug=cs course_slug=es as start_url %}

<div class="ui large breadcrumb" id ="page-breadcrumb">

    {% if url_name == 'start' %}
        <div class="section active">
        Unterricht
        </div>
    {% elif url_name == 'list' %}
        <div class="section active">
        Aufgaben
        </div>

    {% else %}

        <a href="{{ start_url }}" class="section">
        Unterricht
        </a>
        <i class="right chevron icon divider"></i>

        {% if url_name == 'copy' %}
            <div class="section active">
                Lektionen kopieren
            </div>


        {% elif  url_name == 'meta'%}
            <div class="section active">
                Letzte Änderung
            </div>
        {% else %}

            {% for breadcrumb in breadcrumbs %}

                {% if not forloop.first %}
                     <i class="right chevron icon divider"></i>
                {% endif %}

                {% if forloop.last %}

                    {% if previous_node and not previous_node.published %}
                        {% with node=previous_node %}
                            <a
                                {% include 'coursebackend/classlesson/fragments/_link_node_detail.html' %}
                            >
                                <i class="icon angle double left"></i>
                            </a>
                        {% endwith %}
                    {% endif %}

                {% endif %}

                {% with node=breadcrumb %}
                    {% if forloop.last %}
                         <div class="section active">
                             {% if node.is_block %}<i class="icon cube"></i>{% endif %}
                             {{ node.breadcrumb }}
                         </div>
                    {% else %}
                     <a
                     {% include 'coursebackend/classlesson/fragments/_link_node_detail.html' %}
                     class="section">
                         {% if node.is_block %}<i class="icon cube"></i>{% endif %}
                         {{ node.breadcrumb }}
                     </a>
                    {% endif %}
                {% endwith %}

                {% if forloop.last %}

                    {% if next_node and not next_node.published %}
                        {% with node=next_node %}
                            <a
                            {% include 'coursebackend/classlesson/fragments/_link_node_detail.html' %}
                            >
                                <i class="icon angle double right"></i>
                            </a>
                        {% endwith %}
                    {% endif %}

                {% endif %}

            {% endfor %}
        {% endif %}
    {% endif %}
</div>