{% url 'coursebackend:classlesson:start' slug=cs course_slug=es as start_url %}

<div class="ui large breadcrumb" id ="page-breadcrumb">

    {% if not breadcrumbs %}

        {% if url_name != 'list' and not breadcrumbs %}

            <!-- section active: lesson start -->
            <div class="section active">
                Unterricht {{ courseevent.title }}
            </div>

        {% elif url_name == 'list' %}

            <!-- section active: homeworks list -->
            <div class="section active">
                Aufgaben {{ courseevent.title }}
            </div>

        {% endif %}

    {% else %}

        <!-- section link -->
        <a href="{{ start_url }}" class="section">
            <i class="home icon"></i>
        </a>

        {% for breadcrumb in breadcrumbs %}

            <!-- get links -->
            {% if breadcrumb.is_block %}
                {% url 'coursebackend:classlesson:block' slug=es course_slug=cs pk=breadcrumb.pk as detail_url %}
            {% elif breadcrumb.is_lesson %}
                {% url 'coursebackend:classlesson:lesson' slug=es course_slug=cs pk=breadcrumb.pk as detail_url%}
            {% elif breadcrumb.is_step %}
                {% url 'coursebackend:classlesson:step' slug=es course_slug=cs pk=breadcrumb.pk as detail_url%}
            {% endif %}

                 <i class="right chevron icon divider"></i>

                {% if forloop.last %}

                     <!-- active breadcrumb -->
                     <div class="section active">
                         {% if breadcrumb.is_block %}<i class="icon cube"></i>{% endif %}
                         {{ breadcrumb.breadcrumb }}
                     </div>

                {% else %}

                     <!-- link breadcrumb -->
                     <a href="{{ detail_url }}" class="section">
                         {% if breadcrumb.is_block %}<i class="icon cube"></i>{% endif %}
                         {{ breadcrumb.breadcrumb }}
                     </a>
                {% endif %}

        {% endfor %}

    {% endif %}

</div>
