<div class="ui large breadcrumb" id ="page-breadcrumb">

    <a href="{% url 'coursebackend:lesson_courseevent:start' slug=courseevent.slug course_slug=course.slug %}" class="section">
        Unterricht {{ course.title }}
    </a>

    <i class="right chevron icon divider"></i>

    {% for breadcrumb in breadcrumbs %}

        {% if not forloop.first %}
            <i class="right chevron icon divider"></i>
        {% endif %}

        {% if forloop.last %}

            <div class="ui header medium">

            {% if previous_node %}
                {% with node=previous_node %}
                    <a
                        {% include 'coursebackend/classlesson/fragments/_instance_node_href.html' %}
                    >
                    <i class="icon chevron left"></i>
                    </a>
                {% endwith %}
            {% endif %}

        {% endif %}

        {% with node=breadcrumb %}
             <a
             {% include 'coursebackend/classlesson/fragments/_instance_node_href.html' %}
             class="section">
                 {{ node.breadcrumb }}
             </a>
             {% include 'coursebackend/classlesson/fragments/_instance_node_worklinks.html' %}
        {% endwith %}

        {% if forloop.last %}

            {% if next_node %}
                {% with node=next_node %}
                    <a
                    {% include 'coursebackend/classlesson/fragments/_instance_node_href.html' %}
                    >
                        <i class="icon chevron right"></i>
                    </a>
                {% endwith %}
            {% endif %}

            </div>

        {% endif %}

    {% endfor %}

</div>