{% url 'coursebackend:classlesson:stepupdate'  course_slug=cs slug=es pk=classlessonstep.pk as update_url %}
{% url 'coursebackend:classlesson:delete'  course_slug=cs slug=es pk=classlessonstep.pk as delete_url %}
{% url 'classroom:classlesson:step'  slug=es pk=classlessonstep.pk as class_url %}
{% url 'coursebackend:classlesson:step' course_slug=cs slug=es pk=next_node.pk as forward_url %}
{% url 'coursebackend:classlesson:step' course_slug=cs slug=es pk=previous_node.pk as backward_url %}
  {% url 'coursebackend:lesson:step' course_slug=cs pk=classlessonstep.original_lesson_id as course_url %}
<!-- forward -->
{% if next_node %}
    <a href="{{ forward_url }}" class="ui button basic right floated">
        <i class="right arrow icon"></i>
    </a>
{% endif %}

<!-- back -->
{% if previous_node %}
    <a href="{{ backward_url }}" class="ui button basic right floated">
        <i class="left arrow icon"></i>
    </a>
{% endif %}

<div class="ui header medium"
    {% if classlessonstep.is_visible_in_classroom %}
         id="published_in_class"
    {% endif %}
    >
    {% if classlessonstep.show_number %}
    <!-- title -->
    {{ classlessonstep.lesson_nr }}. {{ classlessonstep.title }}
    {% else %}
    ({{ classlessonstep.nr }}) {{ classlessonstep.title }}
    {% endif %}


    <span style="font-size: 0.9em; font-weight:normal;
    {% if not node.modified == node.original_lesson.modified and node.is_original_lesson %}
         color:purple;
    {% else %}
         color:grey;
    {% endif %}
    ">
       {% if not classlessonstep.modified == classlessonstep.original_lesson.modified and classlessonstep.is_original_lesson %}
           (veraltet)
       {% endif %}
       {{ classlessonstep.modified |date:'d.m.Y' }}
    </span>

    <!-- homework -->
    {% if classlessonstep.is_homework %}
         <a class="ui orange label">interaktiv</a>
    {% endif %}
    {% if classlessonstep.show_work_area %}
         <i style="display:inline;" class="icon orange privacy"></i>
    {% endif %}
    {% if classlessonstep.allow_questions %}
         <a class="ui orange label">nachgefragt</a>
    {% endif %}

    <!-- class link -->
    {% if classlessonstep.original_lesson %}

        <a href="{{ course_url }}">
            <i class="icon purple external"></i>
        </a>


    {% endif %}
    {% if classlessonstep.material %}

        <!-- link to file -->
        <a href="{{ classlessonstep.material.file.url }}">
            <i class="icon file pdf outline"></i>
        </a>

        <!-- download-link -->
        {% if classlessonstep.material.pdf_download_link %}
            <a href="{% url 'download' slug=classlessonstep.material.slug %}">
                <i class="download icon blue"></i>
            </a>
        {% endif %}

    {% endif %}



    <!-- class -->
    {% if classlessonstep.is_visible_in_classroom %}
        <a href="{{ class_url }}">
           <i class="icon teal student"></i>
        </a>
    {% endif %}

</div>

{% if classlessonstep.text != '' %}

    <!-- froala -->
    <div class="fr-view">
       {{ classlessonstep.text | safe }}
    </div>

{% endif %}

<!-- material viewer -->
{% if classlessonstep.material %}

        {% if classlessonstep.material.pdf_viewer %}
            <object data="{{ classlessonstep.material.file.url }}"
                    type="application/pdf" width="100%" height="800px">
            </object>
        {% endif %}

{% endif %}



