{% url 'coursebackend:classlesson:lessonupdate'  course_slug=cs slug=es pk=classlesson.pk as update_url %}
{% url 'coursebackend:classlesson:delete'  course_slug=cs slug=es pk=classlesson.pk as delete_url %}
{% url 'coursebackend:classlesson:lesson' course_slug=cs slug=es pk=next_node.pk as forward_url %}
{% url 'coursebackend:classlesson:lesson' course_slug=cs slug=es pk=previous_node.pk as backward_url %}
{% url 'classroom:classlesson:lesson' slug=es pk=classlesson.pk as class_url %}

<!-- forward -->
{% if next_node %}
    <a href="{{ forward_url }}" class="ui button basic right floated">
        {{ next_node.lesson_nr }}.<i class="right arrow icon"></i>
    </a>
{% endif %}

<!-- back -->
{% if previous_node %}
    <a href="{{ backward_url }}" class="ui button basic right floated">
        <i class="left arrow icon"></i>{{ previous_node.lesson_nr }}.
    </a>
{% endif %}

<div class="ui header medium"
    {% if classlesson.is_visible_in_classroom %}
         id="published_in_class"
    {% endif %}
    >

    <!-- title -->
    {{ classlesson.lesson_nr }}. {{ classlesson.title }}

    <!-- update -->
    <a href="{{ update_url }}" class="{{ published }}">
       <i class="icon write"></i>
    </a>

    <!-- delete -->
    <a href="{{ delete_url }}">
       <i class="icon trash"></i>
    </a>

    <!-- class -->
    {% if classlesson.is_visible_in_classroom %}
        <a href="{{ class_url }}">
           <i class="icon large student"></i>
        </a>
    {% endif %}

</div>

{% if lesson.text != '' %}

    <!-- froala -->
    <div class="froala-view">
       {{ lesson.text | safe }}
    </div>

{% endif %}








