{% url 'coursebackend:classlesson:blockupdate' slug=es course_slug=cs pk=classlessonblock.pk as update_url %}
{% url 'coursebackend:classlesson:delete' slug=es course_slug=cs pk=classlessonblock.pk as delete_url %}
{% url 'coursebackend:classlesson:block' slug=es course_slug=cs pk=next_node.pk as forward_url %}
{% url 'coursebackend:classlesson:block' slug=es course_slug=cs pk=previous_node.pk as backward_url %}

<!-- forward -->
{% if next_node %}
    <a href="{{ forward_url }}" class="ui button basic right floated">
        {{ next_node.lesson_nr }}<i class="right arrow icon"></i>
    </a>
{% endif %}

<!-- back -->
{% if previous_node %}
    <a href="{{ backward_url }}" class="ui button basic right floated">
        <i class="left arrow icon"></i>{{ previous_node.lesson_nr }}
    </a>
{% endif %}
{% url 'coursebackend:classlesson:unlock' slug=es course_slug=cs pk=classlessonblock.pk as unlock_url %}
{% url 'lesson:copy_block' courseevent_pk=courseevent.pk block_pk=classlessonblock.original_lesson_id as copy_url %}

<div class="ui header medium">

    <!-- icon -->


    <div class="content">

       <i class="cube icon"></i> {{ classlessonblock.lesson_nr }} {{ classlessonblock.title }}

    <!-- class link -->
    {% if classlessonblock.original_lesson %}
<i class="icon lock purple"></i>
<br>
                        <a class="ui button" href="{{ unlock_url }}">
                            <i class="icon blue unlock"></i>abkoppeln?
                        </a>
                        <a class="ui button" href="{{ copy_url }}">
                            <i class="icon blue copy"></i>neu übernehmen?
                        </a>
                                        {% if not node.is_visible_in_classroom  %}
                                <a href="{{ delete_url }}">
                                   <i class="icon blue trash"></i>
                                </a>
                                {% endif %}

                <!-- meta -->
                <p style="font-size: 0.9em; color:grey; font-weight:normal;">
                   {% if not classlessonblock.original_lesson and not classlessonblock.original_lesson_id %}
                       angelegt: {{ classlessonblock.created |date:'d.m.Y' }}, letzte Änderung: {{ classlessonblock.modified |date:'d.m.Y' }}

                   {% elif classlessonblock.outdated %}
                                 {%  if not classlessonblock.original_lesson %}
                                     Original wurde gelöscht!
                                 {% endif %}
                                 <span class="outdated" >
                                     Original wurde aktualisert:
                                     {{ classlessonblock.original_lesson.modified |date:'d.m.Y'}},
                                     {{ classlessonblock.original_lesson.modified|time:"H:i" }}
                                    <a href="{{ course_url }}">
                                        <i class="icon blue external"></i>
                                    </a>


                                 </span>
                   {% endif %}
                </p>
    {% else %}
    <!-- update -->
        <a href="{{ update_url }}">
           <i class="icon blue write"></i>
        </a>
        {% if not classlessonblock.is_visible_in_classroom  %}
        <a href="{{ delete_url }}">
           <i class="icon blue trash"></i>
        </a>
        {% endif %}
    {% endif %}
    </div>
</div>

{% if lessonblock.text != '' %}

    <!-- froala -->
    <div class="fr-view">
       {{ lessonblock.text | safe }}
    </div>

{% endif %}
