{% url 'coursebackend:classlesson:lessonupdate'  course_slug=cs slug=es pk=classlesson.pk as lessonupdate_url %}
{% url 'coursebackend:classlesson:delete'  course_slug=cs slug=es pk=classlesson.pk as delete_url %}

<div class="ui header medium">
    {{ classlesson.lesson_nr }}.
    <span {% if classlesson.published %}class="published_in_class"{% endif %} >
        {{ classlesson.title }}
    </span>
    {{ classlesson.is_published }}
    <a href="{{ lessonupdate_url }}">
       <i class="icon write"></i>
    </a>
    {% if not classlesson.published %}
        <a href="{{ delete_url }}">
           <i class="icon trash"></i>
        </a>
    {% endif %}
</div>

{{ classlesson.text | safe }}




