<table class="ui table stackable">

    <thead>
        <tr>
            <th class="eight wide">Kopieren</th>
            <th class="eight wide">Vorlage</th>
        </tr>
    </thead>

    <tbody>

        {% for block in blocks %}

            {% url 'coursebackend:lesson:lesson' pk=block.pk course_slug=cs as block_url%}
            {% url 'lesson:copy_block' courseevent_pk=courseevent.pk block_pk=block.pk as copyall_url%}
            {% url 'coursebackend:classlesson:lessoncopy' slug=es course_slug=cs pk=lesson.pk as copypart_url %}
            {% url 'coursebackend:classlesson:lesson' slug=es course_slug=cs pk=lesson.classlesson.pk as class_url %}
            {% url 'coursebackend:classlesson:lessoncopy' slug=es course_slug=cs pk=lesson.classlesson.pk as classlesson_url %}
            <tr>

                <td>
                    <p>
                        <a href="{{ copyall_url }}" class="ui button">
                            jetzt Kopieren
                        </a>
                    </p>
                </td>

                <td>
                    <a
                            href="{{ block_url }}"
                    >
                            {{ block }}
                    </a>
                </td>
            </tr>

        {% endfor %}

    </tbody>

</table>

