{% load mptt_tags %}

<div class="ui divided list">

    {% recursetree nodes %}

        <!-- get urls: block/lesson or step; published or unpublished -->
        {% if node.is_block %}
            {% url 'coursebackend:classlesson:block' slug=es course_slug=cs pk=node.pk as detail_url %}
            {% url 'coursebackend:classlesson:unlock' slug=es course_slug=cs pk=node.pk as unlock_url %}
            {% url 'coursebackend:classlesson:blockupdate' slug=es course_slug=cs pk=node.pk as update_url %}
            {% url 'coursebackend:lesson:block' course_slug=cs pk=node.original_lesson_id as course_url %}
            {% url 'lesson:copy_block' courseevent_pk=courseevent.pk block_pk=node.original_lesson_id as copy_url %}

        {% elif node.is_lesson %}
            {% url 'classroom:classlesson:lesson' slug=es pk=node.pk as class_url %}
            {% url 'coursebackend:classlesson:lesson' slug=es course_slug=cs pk=node.pk as detail_url%}
            {% url 'coursebackend:classlesson:lessonupdate' slug=es course_slug=cs pk=node.pk as update_url %}
            {% url 'coursebackend:lesson:lesson' course_slug=cs pk=node.original_lesson_id as course_url %}
        {% elif node.is_step %}
            {% url 'classroom:classlesson:step' slug=es pk=node.pk as class_url %}
            {% url 'coursebackend:classlesson:step' slug=es course_slug=cs pk=node.pk as detail_url%}
            {% url 'coursebackend:classlesson:stepupdate' slug=es course_slug=cs pk=node.pk as update_url %}
            {% url 'coursebackend:lesson:step' course_slug=cs pk=node.original_lesson_id as course_url %}
        {% endif %}
        {% url 'coursebackend:classlesson:delete'  course_slug=cs slug=es pk=node.pk as delete_url %}
        {% url 'coursebackend:material:update' course_slug=cs pk=node.material_id as material_url %}

        <div class="item">
            {% if node.is_block %}
                <i class="top cube icon"
                   {% if node.original_lesson %}
                        style="padding-top:10px;"
                   {% endif %}
                        >({{ node.nr }})</i>
            {% elif not node.show_number %}
                <i class="top aligned icon">({{ node.nr }})</i>
            {% else %}
                <i class="top aligned icon">{{ node.lesson_nr }}</i>
            {% endif %}
            <div class="content">

                <div class="header"
                    {% if node.is_visible_in_classroom %}
                         id="published_in_class"
                    {% endif %}
                    >
                    {% if node.is_root_node %}
                        <div class="ui header large">{{ node.title }}</div>
                    {% else %}

                        <!-- title with detail link -->

                        <a href="{{ detail_url }}" {% if node.is_step %}style="
                            font-weight:normal;
                        "{% endif %}>
                            {{ node.title }}
                        </a>


                        <!-- homework icon -->
                        {% if node.is_homework %}
                             <a class="ui orange label">interaktiv</a>
                        {% endif %}
                        {% if node.show_work_area %}
                             <i class="icon orange privacy"></i>
                        {% endif %}
                        {% if node.allow_questions %}
                             <a class="ui orange label">nachgefragt</a>
                        {% endif %}

                    {% endif %}
                    {% if not node.is_root_node %}
                         {% if not  node.original_lesson %}
                                <a href="{{ update_url }}">
                                   <i class="icon write"></i>
                                </a>

                                <!-- delete -->
                                <a href="{{ delete_url }}">
                                   <i class="icon trash"></i>
                                </a>

                         {% endif %}

                            <span style="font-size: 0.9em; font-weight:normal;
                            {% if not node.modified == node.original_lesson.modified and node.is_original_lesson %}
                                 color:purple;
                            {% else %}
                                 color:grey;
                            {% endif %}
                            ">
                               {% if not node.modified == node.original_lesson.modified and node.is_original_lesson %}
                                   (veraltet)
                               {% endif %}
                               {{ node.modified |date:'d.m.Y' }}
                            </span>


                        {% if node.is_visible_in_classroom %}
                            <a href="{{ class_url }}">
                                <i class="icon teal student"></i>
                            </a>
                        {% endif %}
                    {% endif %}
                    {% if node.material %}
                        <a href="{{ material_url }}">
                            <i class="icon file pdf outline blue "></i>
                        </a>
                    {% endif %}

                    {% if node.original_lesson %}
                        {% if node.is_block %}
                            <i class="icon purple lock"></i>
                            <a class="ui button" href="{{ copy_url }}">
                                <i class="icon purple copy"></i>neu übernehmen?
                            </a>
                            {% if not node.is_visible_in_classroom  %}
                            <a href="{{ delete_url }}">
                               <i class="icon blue trash"></i>
                            </a>
                            {% endif %}

                        {% endif %}
                        {% if not node.is_root_node %}
                            <a href="{{ course_url }}">
                                <i class="external purple icon"></i>
                            </a>
                        {% endif %}
                    {% endif %}
                </div>

                {% if not node.is_step %}
                    <div class="list">
                        {{ children }}
                    </div>
                {% endif %}

            </div>
        </div>

    {% endrecursetree %}

</div>
