{% load mptt_tags %}
<div class="ui divided list">

    {% recursetree nodes %}

        <div class="item">
            {% include 'coursebackend/classlesson/fragments/_icon_node.html' %}
            <div class="content">
                <div class="header">
                <a
                    {% include 'coursebackend/classlesson/fragments/_link_node_detail.html' %}
                >
                     <span
                         {% if node.published %}class="published_in_class"{% endif %}>

                         {{ node.title }}
                     </span>
                </a>
                {% include 'coursebackend/classlesson/fragments/_links_node_update_delete_preview.html' %}
                {% if node.material.all %}
                    {% for material in node.material.all %}
                        <i class="icon file outline "></i> {{ material }}
                        {% if not for_loop.last %}, {% endif %}
                    {% endfor %}
                {% endif %}
                </div>

                <div class="description meta_data">
                 {% if url_name == 'meta' %}
                     <div class="ui list">
                     {% if not node.is_block %}
                         <div class="item">
                             angelegt {{ node.created |date:'d.m.Y' }},
                             {{ node.created |time:"H:i"  }},
                         </div>
                         <div class="item">
                         {% if not node.modified == node.created %}
                            <span class="not_original">
                             geändert: {{ node.modified |date:'d.m.Y' }},
                             {{ node.modified |time:"H:i"  }}
                            </span>
                         {% endif %}
                         </div>
                         <div class="item">
                         {%  if not node.original_lesson %}
                             Original wurde gelöscht!
                         {% elif node.outdated %}
                             <span class="outdated">
                             Original wurde aktualisert:
                             {{ node.original_lesson.modified |date:'d.m.Y'}},
                             {{ node.original_lesson.modified|time:"H:i" }}
                             </span>
                         {% endif %}
                         </div>
                     {% endif %}
                     </div>
                 {% endif %}
                </div>



                {% if node.decription != "" %}
                    {{ node.description }}
                {% endif %}

                {% if not is_leaf %}
                    <div class="list">
                        {{ children }}
                    </div>
                {% endif %}

            </div>
        </div>

    {% endrecursetree %}

</div>

