{% extends "base_semantic/base_page.html" %}
 {% load crispy_forms_tags %}
{% block title %}
   Mentoki: Kontaktseite
{% endblock %}
{% block body %}
   <body id="contact" >
{% endblock %}
{% block main %}
    <div class="ui page main grid centered" id="contactgrid">
        <div class="ui piled segment">
            <h2 class="ui header ">Kontaktiere uns!
                <div class="sub header">Wir freuen uns auf Deine Nachricht.</div>
            </h2>
            <h1>{{ form }}</h1>
            <form class="ui form" action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="ui button fluid teal" id="formsubmit" type="submit" value="Nachricht abschicken" />
            </form>
        </div>
    </div>
{% endblock %}

