{% extends "classroom/base.html" %}

{% block controls %}
    {% include 'classroom/_control_fulltext.html' %}
{% endblock %}

{% block page_subsection %}
    {% include 'classroom/homework/_element_subsection_header.html' %}
{% endblock %}

{% block classroom_page %}

    <p>
        Abgabedatum: {{ homework.due_date | date:'d.m.Y' }},
    </p>

    <h3 class="ui header">

            Aufgabe: {{ homework.title }}

    </h3>

    {{ homework.text | safe }}

    <div class="ui divider fitted"></div>

    {% for work in studentsworks %}

        <div class="ui raised segment">

           <div class="ui header medium">

                {{ work.title }} von {{ work.user.username }}

           </div>

            <div class="fullcontent">

                 <div class="fullcontent">{{ work.text | safe }}</div>

            </div>

        </div>

    {% endfor %}

{% endblock %}