{% extends "coursebackend/base_courseevent.html" %}

{% block courseevent_menu_items %}

    {% url 'coursebackend:menu:list' course_slug=cs slug=es as list_url %}

    <a class="item" href="{{ list_url }}">
        <i class="list icon blue"></i>Link-Liste
    </a>

{% endblock %}

{% block page_content %}

    <div class="row coursebackend_background">

        <div class="sixteen wide column">

            <div class="ui large breadcrumb" id ="page-breadcrumb">

                {% include 'coursebackend/menu/fragments/_breadcrumbs.html' %}

                <a class="item">
                    Menüpunkt anlegen
                </a>

            </div>

        </div>

    </div>

    <div class="row coursebackend_white">

        <div class="eight wide column">

            {% include 'coursebackend/menu/fragments/_list_classroommenuitems_preview.html' %}

        </div>
        <div class="eight wide column">

            {% include 'coursebackend/forms/update_create/_menuitem.html' %}

        </div>
    </div>

{% endblock %}

