{% extends "coursebackend/base_courseevent.html" %}

{% block page_content %}

    <div class="row coursebackend_background">

        <div class="sixteen wide column">

            <div class="ui large breadcrumb" id ="page-breadcrumb">

                {% include 'coursebackend/menu/fragments/_breadcrumbs.html' %}

                <a class="item">
                    Menüpunkt anlegen
                </a>

            </div>

        </div>

    </div>

    <div class="row coursebackend_white">

        <div class="eight wide column">

            {% include 'coursebackend/menu/fragments/_list_classroommenuitems_preview.html' %}

        </div>
        <div class="eight wide column">

            {% include 'coursebackend/forms/update_create/_menuitem.html' %}

        </div>
    </div>

{% endblock %}

