{% extends "coursebackend/base_course.html" %}

{% block courseevent_menu_items %}
    {% include 'coursebackend/menu/fragments/_link_worklinks.html' %}
{% endblock %}

{% block page_content %}

    <div class="row coursebackend_white">
        <div class="eight wide column">

            <div class="ui center aligned header medium">Menü in der Vorschau</div>

            {% include 'coursebackend/menu/fragments/_list_classroommenuitems_preview.html' %}

        </div>
        <div class="eight wide column">

            {% include 'coursebackend/forms/update_create/_menuitem.html' %}

        </div>
    </div>

{% endblock %}