{% extends "coursebackend/base_courseevent.html" %}

{% block breadcrumbs %}
    {% include 'coursebackend/menu/fragments/_breadcrumbs.html' %}
{% endblock %}

{% block page_content %}

    <div class="row coursebackend_white">

        <div class="eight wide column">

            {% include 'coursebackend/menu/fragments/_list_classroommenuitems_preview.html' %}

        </div>

        <div class="eight wide column">

            {% include 'coursebackend/forms/update_create/_menuitem.html' %}

        </div>
    </div>

{% endblock %}