<script type="text/javascript">
        $(function()
        {
            $('#id_excerpt').redactor({
                focus: true,
                plugins: ['html','table','video', 'fullscreen', 'fontsize', 'fontcolor', 'file', 'image', 'imagemanager'],
                imageUpload: '{% url 'upload:upload_photos' %}',
                imageManagerJson: '{% url 'upload:recent_photos' %}'
            });
        });
</script>
<script type="text/javascript">
        $(function()
        {
            $('#id_prerequisites').redactor({
                focus: true,
                plugins: ['html','table','video', 'fullscreen', 'fontsize', 'fontcolor', 'file', 'image', 'imagemanager'],
                imageUpload: '{% url 'upload:upload_photos' %}',
                imageManagerJson: '{% url 'upload:recent_photos' %}'
            });
        });
</script>
<script type="text/javascript">
        $(function()
        {
            $('#id_target_group').redactor({
                focus: true,
                plugins: ['html','table','video', 'fullscreen', 'fontsize', 'fontcolor', 'file', 'image', 'imagemanager'],
                imageUpload: '{% url 'upload:upload_photos' %}',
                imageManagerJson: '{% url 'upload:recent_photos' %}'
            });
        });
</script>
<script type="text/javascript">
        $(function()
        {
            $('#id_project').redactor({
                focus: true,
                plugins: ['html','table','video', 'fullscreen', 'fontsize', 'fontcolor', 'file', 'image', 'imagemanager'],
                imageUpload: '{% url 'upload:upload_photos' %}',
                imageManagerJson: '{% url 'upload:recent_photos' %}'
            });
        });
</script>
<script type="text/javascript">
        $(function()
        {
            $('#id_structure').redactor({
                focus: true,
                plugins: ['html','table','video', 'fullscreen', 'fontsize', 'fontcolor', 'file', 'image', 'imagemanager'],
                imageUpload: '{% url 'upload:upload_photos' %}',
                imageManagerJson: '{% url 'upload:recent_photos' %}'
            });
        });
</script>
<script type="text/javascript">
        $(function()
        {
            $('#id_comment').redactor({
                focus: true,
                plugins: ['html','table','video', 'fullscreen', 'fontsize', 'fontcolor', 'file', 'image', 'imagemanager'],
                imageUpload: '{% url 'upload:upload_photos' %}',
                imageManagerJson: '{% url 'upload:recent_photos' %}'
            });
        });
</script>
<script type="text/javascript">
        $(function()
        {
            $('#id_format').redactor({
                focus: true,
                plugins: ['html','table','video', 'fullscreen', 'fontsize', 'fontcolor', 'file', 'image', 'imagemanager'],
                imageUpload: '{% url 'upload:upload_photos' %}',
                imageManagerJson: '{% url 'upload:recent_photos' %}'
            });
        });
</script>
<script type="text/javascript">
        $(function()
        {
            $('#id_workload').redactor({
                focus: true,
                plugins: ['html','table','video', 'fullscreen', 'fontsize', 'fontcolor', 'file', 'image', 'imagemanager'],
                imageUpload: '{% url 'upload:upload_photos' %}',
                imageManagerJson: '{% url 'upload:recent_photos' %}'
            });
        });
</script>
<script type="text/javascript">
       $(function()
       {
           $('#id_text').redactor({
                focus: true,
                plugins: ['html','table','video', 'fullscreen', 'fontsize', 'fontcolor', 'file', 'image', 'imagemanager'],
                imageUpload: '{% url 'upload:upload_photos' %}',
                imageManagerJson: '{% url 'upload:recent_photos' %}'
           });
       });
</script>




