{% load mptt_tags %}

<div class="ui divided list">

    {% recursetree nodes %}

        <div class="item">



            <div class="content">

                {% block node_header %}
                     {% include 'coursebackend/lessons_view/_node_header.html' %}
                {% endblock %}

                {% block node_main %}
                    <div
                        {% if not node.is_block %}
                            class="contentdescription"
                        {% endif %}
                        >
                        {{ node.text | safe }}
                    </div>
                {% endblock %}

                {% block materials %}
                    {% include 'coursebackend/lessons_view/_material.html' %}
                {% endblock %}

                {% if not is_leaf %}

                    <div class="list">

                        {{ children }}

                    </div>

                {% endif %}

            </div>

        </div>

    {% endrecursetree %}

</div>
