<div class="ui comments" id="forum_thread_comments">

    <h3 class="ui dividing header">Beitrag</h3>

    <div class="comment">

        <a class="avatar">
            {% if thread.author.profile_image %}
                <img src="{{ thread.author.profile_image.url }}">

            {% else %}
                <i class="user icon"></i>
            {% endif %}

        </a>

        <div class="content">

            <a class="author">{{ thread.author }} : {{ thread.title }}</a>

            <div class="metadata">
                <span class="date">{{ thread.created }}</span>
            </div>

            <div class="text">
                {{ thread.text | safe }}
            </div>

        </div>

    </div>

</div>