<h3 class="ui dividing header">Antworten</h3>

<div class="ui comments">

    {% for post in posts %}

        <div class="comment">

            <a class="avatar">

                {% if post.author.profile_img_url %}
                    <img src="{{ post.author.profile_image.url }}">
                {% else %}
                    <i class="icon user"></i>
                {% endif %}

            </a>

            <div class="content">

                <a class="author">{{ post.author }}: {{ post.title }}</a>

                <div class="metadata">
                    <span class="date">{{ post.created }}</span>
                </div>

                <div class="text">
                    {{ post.text | safe }}
                </div>

            </div>

        </div>

    {% endfor %}

</div>
