{% load mptt_tags %}
<div class="ui divided list">

    {% recursetree nodes %}

        <div class="item">
            <i class="top aligned folder outline icon"></i>
            <div class="content">

                <a href="{% url "classroom:forum:detail" slug=courseevent.slug pk=node.pk %}">
                   {{ node.title }}
                    {% if node.can_have_threads %}
                        <div class="ui circular label">
                            {{ node.thread_count }}
                        </div>
                    {% endif %}
                </a>

                <div class="fullcontent">
                    {{ node.text | safe }}
                </div>

                {% if not is_leaf %}
                    <div class="list">
                        {{ children }}
                    </div>
                {% endif %}

            </div>
        </div>

    {% endrecursetree %}

</div>

