<div class="inline fields">

    {% for hidden in form.hidden_fields %}
       {{ hidden }}
    {% endfor %}

    <div class="four wide field">
      {{ form.display_nr }}
    </div>

    {% if form.instance.icon %}
        {{ form.instance.icon.as_html }}
    {% endif %}

    <div class="four wide field"
            {% if form.instance.item_type == form.instance.MENU_ITEM_TYPE.header_item %}
               style="font-type:bold; background:yellow; border:2px solid teal;"
            {% endif %}
            >
      {{ form.display_title }}
    </div>

</div>

