


<form class="ui form" method="post" action="">{% csrf_token %}

         {% include 'coursebackend/forms/fragments/_form_non_field_errors.html' %}

         {{ formset.management_form }}

         {% for form in formset %}
             {% include 'coursebackend/forms/formsets/_formset_fields.html' %}

         {% endfor %}

    <button type="submit" value="post" class="ui button">
        speichern
    </button>

    <a class="ui button" href="{% url 'coursebackend:menu:preview' slug=es course_slug=cs %}">
        Abbrechen
    </a>

</form>


