<table class="ui table">

    <thead>
        <tr>
            <th>Benutzername</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>

    <tbody>

        {% for participant in participants %}

            <tr>
                <td>
                    <h4 class="ui image header">
                        <img src="{{ participant.user.profile_image.url }}" class="ui tiny rounded image">
                        <div class="content">
                            {{ participant.user.username }}
                        </div>
                    </h4>
                </td>
                <td>{{ participant.user.first_name }} {{ participant.user.last_name }}</td>
                <td>{{ participant.user.email }}</td>
            </tr>

        {% endfor %}

    </tbody>

</table>

