
<table class="ui table">

    <thead>
        <tr>
            <th></th>
            <th>Benutzername</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>

    <tbody>
    {% for participant in participants %}
       <tr>
            <td>
            {% if participant.profile_image %}
                <img class="ui image small circular" src="{{ participant.profile_image.url }}">

            {% else %}
                <i class="user icon"></i>
            {% endif %}
           </td>
           <td>{{ participant.user.username }}</td>
           <td>{{ participant.user.first_name }} {{ participant.user.last_name }}</td>
           <td>{{ participant.user.email }}</td>

       </tr>
     {% endfor %}
    </tbody>
</table>