<h1>TABLEX</h1>
{% for participant in participants %}

            <p>{{ participant.user.email }}</p>


        {% endfor %}
<table class="ui table">

    <thead>
        <tr>
            <th>Benutzername</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>

    <tbody>
    {% for participant in participants %}
       <tr>

           <td></td>
           <td>{{ participant.user.first_name }} {{ participant.user.last_name }}</td>
           <td>{{ participant.user.email }}</td>

       </tr>
     {% endfor %}
    </tbody>
</table>