{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Bewerbung per email{% endblock %}
{% block pageheader %}Bewerbung per email{% endblock %}
{% block head_content %}
    <div id="header-application" class="jumbotron">
        <div class="container">
            <div class = "row">
                <div class="col-md-2 col-lg-2 col-sm-2">
                    <a href="{% url 'home:home' %}">
                        {%  include 'media/_base_img_logo_rectangle.html' %}
                    </a>
                </div>
                <div class="col-md-10 col-lg-10 col-sm-10">
                    <h3>
                        Fordern Sie Ihre Bewerbungsunterlagen per Email an:
                    </h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block main_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-4">
                {%  include 'media/_bewerbungsfomular_img_email.html' %}
            </div>
            <div class="col-md-8 col-lg-8 col-sm-8">
                <form id="application_form" method="post" action="">
                    {% crispy form %}
                    {% csrf_token %}
                     <button type="submit" value="Create" class="btn btn-success btn-block" >
                        Abschicken
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}