{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Bewerbungsformular{% endblock %}
{% block pageheader %}Bewerbungsformular{% endblock %}
{% block head_content %}
    <div id="header-application" class="jumbotron">
        <div class="container">
            <div class = "row">
                <div class="col-md-2 col-lg-2 col-sm-2">
                    <a href="{% url 'home:home' %}">
                        {%  include 'media/_base_img_logo_rectangle.html' %}
                    </a>
                </div>
                <div class="col-md-10 col-lg-10 col-sm-10">
                    <h3>
                        Ihre Bewerbung für den netTeachers Starter-Kurs
                    </h3>
                    <p>
                        (6 Wochen, ab dem 15.Januar 2015 mit Ihrem Kursvorhaben)
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block main_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-lg-2 col-sm-2">
                <div id="form_buttons">
                    <p>
                        {% include 'modal/_anmeldung_modal_button.html' %}
                    </p>
                    <p>
                        <a href="{% url 'application:form' %}" class="btn btn-default btn-block " role="button">
                            neuladen <span class="glyphicon glyphicon-refresh"></span>
                        </a>
                    </p>
                    <p>
                        <a href="{% url 'application:cancel' %}" class="btn btn-default btn-block " role="button">
                            abbrechen <span class="glyphicon glyphicon-arrow-left"></span>
                        </a>
                    </p>
                </div>
            </div>
            <div class="col-md-10 col-lg-10 col-sm-10">
                <form id="application_form" method="post" action="">
                    {% crispy form %}
                    {% csrf_token %}
                    <button type="submit" value="Create" class="btn btn-success btn-block" >
                        Abschicken
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}