{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Bewerbungsformular{% endblock %}
{% block pageheader %}Bewerbungsformular{% endblock %}
{% block head_content %}
    <div id="heading" class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-6">
                    <h2><span class="front-emphasize">Ihre</span> Bewerbung <br>für den
                        <a href="{% url 'public:detailcourseevent' slug=courseevent.slug %}">netTeachers Starter-Kurs</a></h2>

                </div>
                <div class="col-md-6 col-lg-6 col-sm-6">
                    <p>
                        6 Wochen, ab dem 15.Januar 2015</p>
                        <p>mit <span class="front-emphasize">Ihrem</span> Kursvorhaben
                    <p><span class="front-emphasize">Start in {{ courseevent.days_to_start }} Tagen</span></p>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block main_content %}
        <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-4">
                {% include 'media/_homepage_img_contactus.html' %}
            </div>
            <div class="col-md-8 col-lg-8 col-sm-8">
                <form id="application_form" method="post" action="">
                    {% crispy form %}
                    {% csrf_token %}
                    <button type="submit"  value="Create" class="btn btn-success  active" >
                        Abschicken
                    </button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
