<table class="ui table">
    <thead>
        <tr>
            <tr>
                <th>veröffentlicht?</th>
                <th>Titel</th>
                <th>Abgabedatum</th>
                <th>Lektion</th>
                <th>im Klassenzimmer</th>
            </tr>
        </tr>
    </thead>
    <tbody>
        {% for homework in homeworks_unpublished %}
            <tr>
                <td>
                    <a href="{{ homework.get_update_url }}">
                        <i class="icon write blue"></i>
                    </a>
                    <a href="{{ homework.get_delete_url }}">
                        <i class="icon trash blue"></i>
                    </a>
                </td>
                <td>
                    <a href="{% url 'coursebackend:homework:detail' course_slug=course.slug slug=courseevent.slug pk=homework.pk %}">
                        {{ homework.title }}
                    </a>
                </td>
                <td>-</td>
                <td>
                    {% if homework.lesson %}
                        <a href="{{ homework.lesson.get_absolute_url }}">
                            {{ homework.lesson.title }}
                        </a>
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    <a href="{{ homework.get_classroom_url }}">
                        -
                    </a>
                </td>
            </tr>
        {% endfor %}
        {% for homework in homeworks_published %}
            <tr>
                <td>
                    <a href="{{ homework.get_update_url }}">
                        <i class="icon write blue"></i>
                    </a>
                    <i class="icon checkmark green"></i>
                </td>
                <td>
                    <a href="{{ homework.get_absolute_url }}">
                        {{ homework.title }}
                    </a>
                </td>
                <td>
                    {{ homework.due_date | date:'d.m.Y'  }}
                </td>
                <td>
                    <a href="{{ homework.lesson.get_absolute_url }}">
                        {{ homework.lesson.title }}
                    </a>
                </td>
                <td>
                    {% if homework.lesson %}
                        <a href="{{ homework.lesson.get_absolute_url }}">
                            {{ homework.lesson.title }}
                        </a>
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>