<table class="ui table">
    <thead>
            <tr>
                <th>Lernabschnitt veröffentlicht?</th>
                <th>Aufgabe veröffentlicht?</th>
                <th>Abgabedatum</th>
                <th>Links</th>
            </tr>
    </thead>
    <tbody>
        {% for homework in homeworks %}

            {% url 'coursebackend:homework:update' course_slug=cs slug=es pk=homework.pk as update_url %}
            {% url 'coursebackend:homework:delete' course_slug=cs slug=es pk=homework.pk as delete_url %}
            {% url 'coursebackend:homework:detail' course_slug=cs slug=es pk=homework.pk as detail_url %}
            {% url 'classroom:homework:list' slug=cs pk=homework.pk as class_url %}
            {% url 'coursebackend:classlesson:step' course_slug=cs slug=es pk=homework.classlesson_id as lesson_url %}
            {% url 'coursebackend:menu:create' course_slug=cs slug=es as menu_url %}
            <tr>
                <td>
                    <a href="{{ lesson_url }}">
                        {{ homework.classlesson }}
                    </a>
                    {% if homework.classlesson.published %}
                        <i class="checkmark green icon"></i>
                    {% else %}
                        <i class="remove icon"></i>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ detail_url }}">
                        {{ homework }}
                    </a>

                    {% if homework.published %}
                        <i class="checkmark green icon"></i>
                    {% else %}
                        <i class="remove icon"></i>
                    {% endif %}
                </td>
                <td>
                    {% if homework.due_date %}
                        {{ homework.due_date | date:'d.m.Y'  }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    <a href="{{ update_url }}">
                        <i class="icon write blue"></i>
                    </a>
                    <a href="{{ delete_url }}">
                        <i class="icon trash blue"></i>
                    </a>
                    <a href="{{ menu_url }}">
                        jetzt veröffentlichen
                    </a>
                    {% if homework.published %}
                        <a href="{{ class_url }}">
                            <i class="icon trash blue"></i>
                        </a>
                    {% endif %}
                </td>
            </tr>

        {% endfor %}

    </tbody>

</table>