{% extends "email/base_internal_email.html" %}

{% block email_to %}
    Betreff: Buchungsbestätigung für Deine Buchung bei Mentoki
{% endblock %}

{% block email_title %}

    Hallo {{ user.get_full_name }},
{% endblock %}

{% block email_text %}


<p style="color:grey;">
    Hiermit bestätigen wir Deine Buchung des Mentoki-Kurses
</p>
    <h4>{{ order.courseproduct.name }}</h4>
    <p> </p>
    <p>Deine Zahlung haben wir erhalten:</p>
    <p>{{ transaction.created | date:"SHORT_DATE_FORMAT" }} {{ order.courseproduct.name }}
        {% if courseproduct.can_be_bought_in_parts %}
        ,{{ order.nr_parts_paid }}. Etappe{% endif %}
        {{ transaction.amount |floatformat:2 }} {{ order.get_currency_display }}
    </p><p>
    {% if not order.fully_paid %}
        Damit hast Du jetzt {{ order.nr_parts_paid }} von
    {{ order.total_parts }} Etappen des Kurses bezahlt. </p><p>Zahlung gesamt:
        {{ order.amount_paid |floatformat:2 }} {{ order.get_currency_display }}</p>
    {% endif %}
        </p>
    {% if courseevent.start_date %}
    <h4>Kursbeginn:</h4>
    <p>Dein Kursbeginn: {{ order.courseproduct.courseevent.start_date | date:"SHORT_DATE_FORMAT" }}</p>
    {% else %}
    <p>Du kannst gleich loslegen. Der Zugang zum Kurs liegt auf Deinem Schreibtisch bereit.</p>
    <a href="http://{{ site }}{%  url 'desk:learn' %}">
        Link zum Kurs auf Deinem Schreibtisch
    </a>
    {% endif %}
    <h4>Dein Schreibtisch bei Mentoki:</h4>
    <p>Du kannst Deine Buchungen auf Deinem Schreibtisch bei Mentoki finden:
    </p><p>
    <a href="http://{{ site }}{%  url 'desk:bookings' %}">
        Link zur Buchungsübersicht
    </a></p>
    <p>Auf Deinem Schreibtisch findest Du auch den Zugang zum Kurs:</p>
    <a href="http://{{ site }}{%  url 'desk:learn' %}">
        Link zu Deinen Kursen
    </a>
    <p>
    Sobald der Kurs startet erhältst Du von der Kursleitung eine Benachrichtigung.
    Danke für Dein Vertrauen in Mentoki.</p>

    <p style="padding-left: 30px;  color:grey;">
    Mit freundlichen Grüssen
</p>
<p style="padding-left: 50px; color:grey;">
Das Mentoki Team
</p>
{% endblock %}
