{% extends "forum/base.html" %}
{% load crispy_forms_tags %}
{% block whereami %}
    {% include 'forum/menutree/_menutree_forum.html' %}
{% endblock %}
{% block header %}
    <div class="breadcrumb post-header">Unterforum umhängen</div>
{% endblock %}
{% block form %}
<div id="subforum">
    <form id="subforum-update-form" method="post" action="">
        {% crispy form %}
        {% csrf_token %}
        <button type="submit" value="update" class="btn btn-default" >
            Aendern
        </button>
    </form>
</div>
{% endblock %}
