{% extends "forum/base.html" %}
{% block whereami %}
    <ol id="forum-breadcrumb" class="breadcrumb">
        {% include 'forum/breadcrumb/_breadcrumb_forum.html' %}
        {% include 'forum/breadcrumb/_breadcrumb_subforum.html' %}
    </ol>
    <div class="pull-right">
        {%  include 'forum/menutree/_menutree_subforum.html' %}
    </div>
{% endblock %}
{% block header %}
    <h3>{{ subforum.title }}</h3>
    <p>{{ subforum.text  }}</p>
{% endblock %}
{% block threads %}
        {% if subforum.can_have_threads %}
            <a class="btn btn-default btn-classroom" href="{% url 'forum:createthread' slug=match.kwargs.slug subforum=subforum.id %}" role="button">
                Neuen Beitrag in diesem Forum schreiben
            </a>
        {% endif %}
     {% if threads  %}
        {%  include 'forum/threadslist/_threads.html' %}
    {% endif %}
{% endblock %}
