<p><span style="font-size: 28px;"><strong>Selbstf&uuml;hrung</strong></span> wird als <span style="font-size: 24px;">gef&uuml;hrter Gruppenkurs</span> angeboten.</p>

<div class="ui relaxed divided list">
  <div class="item"><i class="users icon"></i>
    <div class="content">
      <div class="header"><span style="font-size: 24px; font-weight: normal;">Teilnehmerzahl</span></div>

      <div class="description">Mindestteilnehmerzahl&nbsp;5 (beim&nbsp;Einf&uuml;hrungskurs 3), maximale Teilnehmerzahl 12.&nbsp; Sollte ein Kurs die Minimalteilnehmerzahl nicht erreichen, so k&ouml;nnen bereits gebuchte Interessenten wahlweise auf den n&auml;chsten Kursstart umgebucht werden oder ihre bereits gezahlten Kursgeb&uuml;hren in voller H&ouml;he zur&uuml;ck erhalten. Dar&uuml;ber hinausgehende Anspr&uuml;che sind ausgeschlossen.   </div>
    </div>
  </div>

  <div class="item"><i class="calendar icon"></i>
    <div class="content">
      <div class="header"><span style="font-size: 24px; font-weight: normal;">Kursdauer:&nbsp;15 Wochen</span></div>

      <div class="description">eine Einf&uuml;hrungsetappe von einer Woche, sieben thematische Etappen von jeweils zwei Wochen</div>
    </div>
  </div>

  <div class="item"><i class="marker icon"></i>
    <div class="content">
      <div class="header"><span style="font-size: 24px; font-weight: normal;">Start-Termine</span></div>

      <p>2016 sind 3 Kurse geplant, die an folgenden Tagen starten:<br>
  10.01.2016; 01.05.2016; 21.08.2016</p>
    </div>
  </div>

  <div class="item"><i class="tag icon"></i>
    <div class="content">
      <div class="header"><span style="font-size: 24px; font-weight: normal;">Buchungsarten</span></div>

      <div class="description">Der Kurs kann als ganzes Paket&nbsp;oder in einzelnen Etappen gebucht werden:&nbsp;</div>

      <ol>
        <li><strong>Zahlweise im Voraus f&uuml;r das Paket (alle Kapitel 0 bis 7):&nbsp;</strong><br>
 Gesamtpreis bei Paketkauf: 999,60 &euro; (Ersparnis gegen&uuml;ber Einzelkauf 10,5%) &nbsp;plus Bonusleistungen (siehe unten)<br>
<br>
        </li>

        <li><strong>Zahlweise f&uuml;r jede Etappe im Voraus.</strong>&nbsp;Etappe 0 wird nicht berechnet, allerdings gibt es die&nbsp;Etappen 0+1 nur gemeinsam als Einheit.&nbsp;Ab Etappe 2 kann der Reihe nach einzeln gebucht und bezahlt werden. Da die Etappen aufeinander aufbauen, sind&nbsp;Auslassungen&nbsp;nicht m&ouml;glich. Jedoch kann im Verlauf des Kurses aufgeh&ouml;rt&nbsp;werden. Weitere Etappen werden dann nicht berechnet.&nbsp;Der Gesamtpreis betr&auml;gt&nbsp;bei Einzelkauf brutto 1116,22 &euro;.</li>
      </ol>
    </div>