{% include 'base/fragments/menu/_mobile_logo.html' %}
{% if user.is_authenticated %}
    {% include 'base/fragments/menu/_main_menu_authenticated_left.html' %}
    {% include 'base/fragments/menu/_header_user_nav.html' %}
    {% include 'base/fragments/menu/_main_menu_authenticated_right.html' %}
{% else %}
    {% include 'base/fragments/menu/_main_menu_public_left.html' %}
    {% include 'base/fragments/menu/_header_user_nav.html' %}
    {% include 'base/fragments/menu/_main_menu_public_right.html' %}
{% endif %}