{% extends "base/base_public.html" %}
{% load i18n %}

{% block meta_title %}Mentoki - Lehr- und Lernplattform | Lernen und Lehren lebenslang{% endblock %}

{% block meta_description %}Wir sind eine Lehr- und Lern-Plattform für unabhängiger Mentoren und ihre Schüler{% endblock %}
{% block meta_keywords %}mentoren netzwerk, lern plattform, erwachsenen bildung, online unterrichten, lehr plattform{% endblock %}


{% block page_section_css_id %}home{% endblock %}

{% block main_content %}

    <!-- urls --->


    <!-- banner -->
    <div class="ui grid centered">
        <div class="one column row">
            <div class="ui column sixteen wide">
                <img class="ui image fluid"
                     src="/static/img/anette_and_sabine.jpg">
            </div>
        </div>
    </div>
   {% url 'courseoffer:christine' as christine_url %}

    <!-- text page -->
    <div class="ui grid container" style="padding-bottom:100px;">

        <div class="content ui column sixteen wide">

            <div class="sixteen wide column" id="whitepaper">
                <div class="ui header large" style="color:#19aaa6;
                font-family: 'Montserrat', sans-serif;
                font-size: 1.5em;
                font-weight: 400;
                line-height: 1.5em;
                -webkit-font-smoothing: antialiased;
                ">
                    Sabine Maennel & Anette Pekrul
                </div>
                <p>
                   Mehr als 30 Jahre sind wir zwei Gründerinnen Sabine Maennel und Anette Pekrul
                    schon am Bildungsthema dran. Es muss doch Wege geben, positive Veränderungen
                    auf den Weg zu bringen! Wir sind lebenslang Lernende und kennen uns aus.
                    Also ist es wohl kein Zufall, dass wir uns in 2014 auf einer der modernsten
                    Online-Plattformen in einem Online-Kurs begegnet sind.
                    Unser gemeinsames Studium mündete in unser gemeinsames Start-up mentoki -
                    und gecoacht werden wir nicht nur von unserem gemeinsamen Professor,
                    sondern auch von anderen Mentoren, die wir mit unserer Vision begeistern konnten.
                </p>
            </div>
        </div>
        <div class="content ui column sixteen wide">

            <div class="sixteen wide column">

                <div class="ui header center aligned  large" style="color:#19aaa6;
                font-family: 'Montserrat', sans-serif;
                font-size: 2em;
                font-weight: 400;
                line-height: 1.5em;
                -webkit-font-smoothing: antialiased;
                ">
                    Mentoki Mentoren
                </div>
                 <div class="ui cards centered">

                {% for mentor in mentors %}

                 {% url 'home:mentor' username=mentor.user.username  as mentor_url %}

                  <!-- Christines Kurs -->
                  <div class="card">
                    <div class="image" >
                        {% if mentor.foto %}
                            <img src="{{ mentor.foto.url }}">
                        {% endif %}
                    </div>

                    <div class="content">
                      <div class="header">{{ mentor.user.get_full_name }}</div>
                    </div>
                      <div class="content">
                          <div class="event">
                              <h4 class="ui sub header">bei Mentoki</h4>
                              <div class="content">
      {{ mentor.at_mentoki }}</div>
                            </div>
                       </div>
                       <div class="content">
                        <div class="description">
                        {{ mentor.special_power }}

                      </div>
                    </div>
                    <a class="ui bottom attached button" href="{{ mentor_url }}">
                      Mehr über {{ mentor.user.first_name }} erfahren
                    </a>
                  </div>

                 {% endfor %}




                </div>

        </div>
    </div>
</div></div>
{% endblock %}
