{% extends "base/base_public.html" %}
{% load i18n %}

{% block meta_title %}Mentoki - Lehr- und Lernplattform | Lernen und Lehren lebenslang{% endblock %}

{% block meta_description %}Wir sind eine Lehr- und Lern-Plattform für unabhängiger Mentoren und ihre Schüler{% endblock %}
{% block meta_keywords %}mentoren netzwerk, lern plattform, erwachsenen bildung, online unterrichten, lehr plattform{% endblock %}


{% block page_section_css_id %}home{% endblock %}

{% block main_content %}

    <!-- urls --->


    <!-- banner -->
    <div class="ui grid centered">
        <div class="one column row">
            <div class="ui column sixteen wide">
                <img class="ui image fluid"
                     src="/static/img/anette_and_sabine.jpg">
            </div>
        </div>
    </div>


    <!-- text page -->
    <div class="ui grid container" style="padding-bottom:100px;">

        <div class="content ui column sixteen wide">

            <div class="sixteen wide column" id="whitepaper">
                <div class="ui header large" style="color:#19aaa6;
                font-family: 'Montserrat', sans-serif;
                font-size: 1.5em;
                font-weight: 400;
                line-height: 1.5em;
                -webkit-font-smoothing: antialiased;
                ">
                    Sabine Maennel & Anette Pekrul
                </div>
                <p>
                   Mehr als 30 Jahre sind wir zwei Gründerinnen Sabine Maennel und Anette Pekrul
                    schon am Bildungsthema dran. Es muss doch Wege geben, positive Veränderungen
                    auf den Weg zu bringen! Wir sind lebenslang Lernende und kennen uns aus.
                    Also ist es wohl kein Zufall, dass wir uns in 2014 auf einer der modernsten
                    Online-Plattformen in einem Online-Kurs begegnet sind.
                    Unser gemeinsames Studium mündete in unser gemeinsames Start-up mentoki -
                    und gecoacht werden wir nicht nur von unserem gemeinsamen Professor,
                    sondern auch von anderen Mentoren, die wir mit unserer Vision begeistern konnten.
                </p>
            </div>
        </div>
        <div class="content ui column sixteen wide">

            <div class="sixteen wide column" id="whitepaper2">

                <div class="ui header center aligned  large" style="color:#19aaa6;
                font-family: 'Montserrat', sans-serif;
                font-size: 2em;
                font-weight: 400;
                line-height: 1.5em;
                -webkit-font-smoothing: antialiased;
                ">
                    Mentoki Mentoren
                </div>
                <div class="ui header center aligned medium" style="color:#24678d;
                font-family: 'Montserrat', sans-serif;
                font-size: 1.5em;
                font-weight: 400;
                line-height: 1.5em;
                -webkit-font-smoothing: antialiased;
                ">
                    Sabine Maennel
                    {% url 'home:mentor' username='christine' as mentor_url %}
                    <a href="{{ mentor_url }}">LINK</a>
                </div>
                <div class="ui three column stackable grid">
                    <div class="column">
                       <img class="ui image fluid"
                         src="/static/img/IMG_9789.jpg">
                    </div>
                    <div class="column">
                        <p>
                        Bei mentoki ist Sabine Maennel verantwortlich für den Bau und die Betreuung der
                        Plattform. Außerdem leitet sie den mentoki Starterkurs.
                        </p>
                        <p style="color:grey;">
                        Sabine ist Diplom-Mathematikerin und Software-Ingenieurin.
                        Sabine brennt für mentoki, weil sie seit ihrer Zeit als ehrenamtliche
                        Übersetzerin einer amerikanischen Online-Pioneer-Plattform davon träumt,
                        selbst so etwas auf die Beine zu stellen. Und weil sie am eigenen Leib erfahren hat,
                        dass Online-Unterricht Spaß macht, billiger und effizienter als Präsenzunterricht
                        sein kann und dabei hilft, sich ortsübergreifend mit Gleichgesinnten zu vernetzen.
                        </p>
                    </div>
                    <div class="column">
                        <div class="ui header small">Angebote</div>
                        <div class="ui vertical menu">
                            <a href="http://www.google.com" class="item">
                                Starterkurs
                            </a>
                            <div class="link item">
                                Bildungsmentoring
                            </div>
                            <div class="link item">
                                Online-Unterrichten
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui header center aligned medium" style="color:#24678d;
                font-family: 'Montserrat', sans-serif;
                font-size: 1.5em;
                font-weight: 400;
                line-height: 1.5em;
                -webkit-font-smoothing: antialiased;
                ">
                    Anette Pekrul
                </div>
                <div class="ui three column stackable grid">
                    <div class="column">
                        <div class="ui header small">Angebote</div>
                        <div class="ui vertical menu">
                            <a href="http://www.google.com" class="item">
                                Integrationskurs Deutsch
                            </a>
                            <div class="link item">
                                Keine Angst vorm Alter
                            </div>
                            <div class="link item">
                                Musikschulmarketing
                            </div>
                        </div>
                    </div>


                    <div class="column">
                        <p>
                        Bei mentoki ist Anette verantwortlich für Marketing, PR und die Geschäftsstrategie.
                        Außerdem ist sie Online-Mentorin in ihren Spezialgebieten Integration, Demografie,
                        Medien, Projektmanagement und Marketing.</p>
                        <p style="color:grey;">
                        Anette ist Projekt- und Marketingmanagerin und wurde als Entwicklerin neuer
                        Medienberufe 1997 mit dem Ausbildungs-Oskar ausgezeichnet.
                        Anette brennt für Mentoki, weil mentoki perfekt zu ihrem neuen Bildungskonzept
                        in dem von ihr entwickelten Education Innovation Center innerhalb des
                        neuen Wohn- und Lebensmodells balance4yourlife passt. balance4yourlife
                        bietet Menschen eine neue Perspektive für die zweite Lebenshälfte und enthält
                        lebenslanges Lehren und Lernen.</p>
                    </div>
                    <div class="column">

                       <img class="ui image fluid"
                         src="/static/img/AP_Foto_Soziallotse.jpg">
                        <div class="ui list">
                            Anettes Webseiten:
                            <a class="item">
                                www.anettepekrul.com
                            </a>
                            <a class="item">
                                www.balance4yourlife.org
                            </a>
                            <a class="item">
                                www.balance4yourlifestassfurt.weebly.com
                            </a>
                            <a class="item">
                                www.stassfurt.weebly.com
                            </a>
                        </div>
                    </div>

                </div>
                <div class="ui header center aligned medium" style="color:#24678d;
                font-family: 'Montserrat', sans-serif;
                font-size: 1.5em;
                font-weight: 400;
                line-height: 1.5em;
                -webkit-font-smoothing: antialiased;
                ">
                    Christine und Michael Radomsky
                </div>
                <div class="ui three column stackable grid">
                    <div class="column">

                       <img class="ui image fluid"
                         src="/static/img/christine-und-michael.jpg">
                        <div class="ui list">
                            Christines und Michaels Webseite:
                            <a href="http://alcudina.de/" class="item">
                                alcudina.de
                            </a>
                        </div>
                    </div>
                    <div class="column">
                        <p>
                        Ich bin Trainerin und Coach aus Berlin. Meine Schwerpunkte sind Führung,
                        Veränderungsprozesse und Persönlichkeitsentwicklung.
                        </p><p style="color:grey;">
                        Die Coaching-Kompetenz habe ich in einem Studium an der Freien Universität
                        Berlin erworben und durch mehrere Weiterbildungen ausgebaut.
                        Ich bin zertifizierter Coach des dvct (Deutscher Verband für Coaching
                        und Training).

                        Davor arbeitete ich viele Jahre als Teamleiterin, Software-Ingenieurin und
                        Trainerin in Großkonzernen der Industrie. Ich bin promovierte Physikerin
                        und verfüge über eine Spezialisierung als Virtual Teacher der University
                        of California, Irvine.
                        Mit Leidenschaft begleite ich Menschen bei der Entfaltung ihrer Potenziale.
                        Außerdem begeistere ich mich für lebenslanges Lernen und neue Technologien.
                        Als ehrenamtliche Wahlbeobachterin der OSZE unterstütze ich
                        Demokratisierungsprozesse in den jungen Republiken des ehemaligen
                        Ostblocks – zuletzt in Georgien und der Ukraine.
                        </p>
                    </div>
                    <div class="column">
                        <div class="ui header small">Angebote</div>
                        <div class="ui vertical menu">
                            <a href="http://www.google.com" class="item">
                                Selbstführung
                            </a>
                        </div>
                        <img class="ui image fluid"
                         src="/static/img/SunnySkipper_2.jpg">
                    </div>
                </div>
                <div class="ui header center aligned medium" style="color:#24678d;
                font-family: 'Montserrat', sans-serif;
                font-size: 1.5em;
                font-weight: 400;
                line-height: 1.5em;
                -webkit-font-smoothing: antialiased;
                ">
                    Franz Neff
                </div>
                <div class="ui three column stackable grid">
                    <div class="column">
                        <div class="ui header small">Angebote</div>
                        <div class="ui vertical menu">
                            <a href="http://www.google.com" class="item">
                                Schreibwerkstatt
                            </a>
                        </div>

                       <img class="ui image fluid"
                         src="/static/img/easywriter.png">

                    </div>


                    <div class="column">
                        <p>
                        Ich habe an der Universität Zürich Soziologie, Sonderpädagogik
                        und Geschichte studiert (lic. phil. I) und an der Open University
                        einen MBA erworben. An der Zürcher Hochschule für Angewandte Wissenschaften
                        schloss ich 2014 den CAS Schreibberatung ab.
                        </p><p style="color:grey;">
                        Seit 1988 bin ich selbstständig tätig als Projektbegleiter, Forscher,
                        Moderator in Strategieprozessen, Berater, Schreibender und Schreibcoach.
                        Inhaber der Firma Neff-Pidoux Wissensmanagement GmbH.
                        Erfahrungen: Behörden in Bund, Kantonen und Gemeinden, Gesundheitswesen,
                        öffentlicher Verkehr, Verkehrssicherheit sowie Institutionen mit
                        sozialem Auftrag.

                        Mein Ziel: Werden Sie ein
                        Der Film «Easy Rider» von Dennis Hopper (1969) ging nicht
                        spurlos an mir vorüber. Auch heute kann ich nur die Augen
                        schliessen und mich an unzählige schöne Touren mit dem Motorrad erinnern.
                        Ähnlich gross war seit der Schulzeit meine Freude am Schreiben.
                        Und diese Leidenschaft lässt sich ja ungehemmt ausleben,
                        ohne ökologische Fussabdrücke zu hinterlassen.
                        Beides möchte ich nun mit dem «easyWriter» verbinden.
                        Mit meinen Schreibwerkstätten und in der Schreibberatung möchte
                        ich dazu beitragen, dass Ihnen das Schreiben leichter fällt, ja,
                        dass Sie vielleicht erfahren, wie viel Sie profitieren können,
                        wenn Sie schreibend lernen und lernend schreiben.
                        </p>
                    </div>
                    <div class="column">

                       <img class="ui image fluid"
                         src="/static/img/franz3.jpg">
                        <div class="ui list">
                            Franz Webseite:
                            <a href="http://www.neff-pidoux.ch/" class="item">
                                www.neff-pidoux.ch
                            </a>
                        </div>
                    </div>
                </div>

                <div class="ui header center aligned medium" style="color:#24678d;
                font-family: 'Montserrat', sans-serif;
                font-size: 1.5em;
                font-weight: 400;
                line-height: 1.5em;
                -webkit-font-smoothing: antialiased;
                ">
                    Wolfgang Erdmann
                </div>
                <div class="ui three column stackable grid">
                    <div class="column">

                       <img class="ui image fluid"
                         src="/static/img/wolfgang-erdmann.jpg">
                        <div class="ui list">
                            Wolfgangs Webseite:
                            <a href="http://www.cult5d.de/" class="item">
                                www.cult5d.de
                            </a>
                        </div>
                    </div>
                    <div class="column">
                        <p>
                        Durch die Engagements als freiberuflicher Eventmanager und Chef verschiedener
                        Agenturen lernte ich die unterschiedlichen Disziplinen des Eventbusiness und
                        die verschiedenen Genres der Musik kennen.</p><p style="color:grey;">
                        Erste Stationen waren Wiesbaden und Baden-Baden, wo ich bei VIP-Events,
                        Firmengalas, Konzerten und öffentlichen Veranstaltungen mannigfaltige
                        Möglichkeiten erhielt, ein Gespür für das Publikum und das jeweilig richtige
                        Programm zu entwickeln.
                        Weitere Stationen meiner beruflichen Laufbahn in den Funktionen
                        Regisseur, Programmplaner oder Artistic-Director waren Ereignisse wie
                        "Bundeskanzlerfest", "Ball des Sports", "Theatrium" oder das
                        Comedy-Restaurant-Theater "Panem et Circenses".
                        Im Auftrag von Firmen wie Singapore Airlines (z.B. Vorstellung Airbus A380),
                        Deutsche Börse AG (z.B.: Launch-Party EUREX),Aventis, Procter & Gamble
                        (z.B.: Product Launch Actonel), Stella Musicals (Premierengalas versch. Musicals)
                        , PWC (z.B.: Europäische Partnertagung Berlin), Hessischer Rundfunk
                        (z.B.: künstlerische Besetzung der Sendereihe "Varieté vor 8")
                        Bosch (z.B.: sales meetings), Boston Scientific
                        (z.B.: interaktiver Kardiologenkongress), AVAYA (z.B.: VIP-Events Fußball-WM),
                        etc. wurden im gesamten Bundesgebiet Social-Events, Galas, Konzerte,
                        Eröffnungen, Produktpräsentationen, Tourneen, Kongresse , Messen und
                        Spouse-Programme organisiert.
                        </p>
                    </div>
                    <div class="column">
                        <div class="ui header small">Angebote</div>
                        <div class="ui vertical menu">
                            <a href="http://www.google.com" class="item">
                                Event Management
                            </a>
                        </div>
                        <img class="ui image fluid"
                         src="/static/img/Easi_logo.jpg">
                    </div>
                </div>

                <div class="ui header center aligned medium" style="color:#24678d;
                font-family: 'Montserrat', sans-serif;
                font-size: 1.5em;
                font-weight: 400;
                line-height: 1.5em;
                -webkit-font-smoothing: antialiased;
                ">
                    Beatrice Ribaux-Geier
                </div>
                <div class="ui three column stackable grid">
                    <div class="column">
                        <div class="ui header small">Angebote</div>
                        <div class="ui vertical menu">
                            <a href="http://www.google.com" class="item">
                                Schneller Lesen
                            </a>
                        </div>
                    </div>
                    <div class="column">
                        <p>
                            Beatrice Ribaux-Geier, ist diplomierte Logopädin Universität Fribourg,
                            sowie EMDR-Therapeutin und Coach;
                            Brainlog-Coach; Wingwave-Coach; AWH-Beraterin; NLP Master.
                        </p>
                        <p style="color:grey">Ich bin Expertin für Lernen, Sprechen, Lesen, Schreiben und persönliche Entwicklung
                            mit langjähriger professioneller Erfahrung, sowie Begleiterin beim Lösen innerer
                            Handbremsen. Ich habe mit Erwachsenen, Kindern und Jugendlichen mehr als 10'000
                            umfassende Coachings durchgeführt.
                        </p>

                        <p style="color:grey">Ich liebe es einerseits, Schülern und Erwachsenen zu zeigen, wie sie Lesen und Schreiben
                            optimieren können. Andererseits bin ich Coach. Seit 2004 setze ich limbische Coachingmethoden
                            zur Regulierung von Leistungsstress, zur Lösung innerer Handbremsen und zur Förderung von
                            Kreativität ein. Zusätzlich betätige ich mich als Lerntherapeutin und bin Trainerin für
                            fotografische Lesetechniken.
                        </p>

                        <p style="color:grey">2013 habe ich eine Rechtschreib-App mitentwickelt,</p>
                        <p style="color:grey">2015 erscheint das Rechtschreibung-Übungsbuch dazu http://www.rechtschreibung.li/. </p>
                        <p style="color:grey">Zudem bin ich Mitautorin des 'FiboKids - Clever Lernen' Intensiv Lernprogramms.
                            http://fibokids.com/.
                        </p>

                    </div>

                    <div class="column">

                       <img class="ui image fluid"
                         src="/static/img/bea3.jpg">
                        <div class="ui list">
                            Beas Webseite:
                            <a href="http://www.bea-ribaux.ch/" class="item">
                                http://www.bea-ribaux.ch/
                            </a>
                            <a href="http://www.ribauxpartner.ch/projekte/flow-und-mentale-harte/" class="item">
                                Kursvorankündigung
                            </a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

{% endblock %}
Beatrice Ribaux-Geier
Beatrice Ribaux-Geier, ist diplomierte Logopädin Universität Fribourg, sowie EMDR-Therapeutin und Coach;
Brainlog-Coach; Wingwave-Coach; AWH-Beraterin; NLP Master.

        <p style="color:grey">Ich bin Expertin für Lernen, Sprechen, Lesen, Schreiben und persönliche Entwicklung
        mit langjähriger professioneller Erfahrung, sowie Begleiterin beim Lösen innerer
        Handbremsen. Ich habe mit Erwachsenen, Kindern und Jugendlichen mehr als 10'000
        umfassende Coachings durchgeführt.</p>

        <p style="color:grey">Ich liebe es einerseits, Schülern und Erwachsenen zu zeigen, wie sie Lesen und Schreiben
        optimieren können. Andererseits bin ich Coach. Seit 2004 setze ich limbische Coachingmethoden
        zur Regulierung von Leistungsstress, zur Lösung innerer Handbremsen und zur Förderung von
        Kreativität ein. Zusätzlich betätige ich mich als Lerntherapeutin und bin Trainerin für
        fotografische Lesetechniken.</p>

        <p style="color:grey">2013 habe ich eine Rechtschreib-App mitentwickelt,</p>
        <p style="color:grey">2015 erscheint das Rechtschreibung-Übungsbuch dazu http://www.rechtschreibung.li/. </p>
        <p style="color:grey">Zudem bin ich Mitautorin des 'FiboKids - Clever Lernen' Intensiv Lernprogramms.
        http://fibokids.com/.</p>
