{% extends "base/base_public.html" %}
{% load i18n %}

{% block meta_title %}Mentoki - Lehr- und Lernplattform | Lernen und Lehren lebenslang{% endblock %}

{% block meta_description %}Wir sind eine Lehr- und Lern-Plattform für unabhängiger Mentoren und ihre Schüler{% endblock %}
{% block meta_keywords %}mentoren netzwerk, lern plattform, erwachsenen bildung, online unterrichten, lehr plattform{% endblock %}


{% block page_section_css_id %}home{% endblock %}

{% block main_content %}

    <!-- banner -->
    <div class="ui grid centered">
        <div class="one column row">
            <div class="ui column sixteen wide">
                <img class="ui image fluid"
                     src="/static/img/wordle5.jpg">
            </div>
        </div>
    </div>

{% endblock %}