{% extends "base/base_public.html" %}
{% load i18n %}

{% block main_content %}

    <!-- urls -->
    {% url 'storefront:list_now' as courselist_url %}
    {% url 'home:educationmentor' as educationmonitor_url %}
    {% url 'home:public' slug="online-unterrichten" as teachonline_url %}

    <!-- grid -->
    <div class="ui grid one column centered" id="homepage" style="padding-bottom:0px;">

         <!-- one column -->
         <div class="sixteen wide column">

             <!-- logo -->
             <img class="ui image centered large image" src="/static/img/mentoki_logo_untertitel.jpg"
                  style="opacity:0.9;"
                     alt="mentoki lernen und lehren lebenslang">
             <!-- image -->
             <img class="ui image fluid" src="/static/img/mentoki_start.jpg">

         </div>


<div class="sixteen wide tablet fourteen wide computer column">
        <div class="ui grid centered">
            <div class="row">
                <div class=" column">
             <h1 class="ui header center aligned"
                     style="
                font-family: 'Montserrat', sans-serif;
                padding-top:0px;
                margin-top:0px;
                font-size: 2em;
                font-weight:bold;
                font-weight: 400;
                line-height: 1.2em;
                -webkit-font-smoothing: antialiased;
                padding-bottom:0px;
                "
                     >mentoki Lehr- und Lern-Plattform</h1>
                <div class="ui header center aligned  large" style="color:teal;
                font-family: 'Montserrat', sans-serif;
                padding-top:0px;
                margin-top:0px;
                font-size: 1.5em;
                font-weight: 400;
                line-height: 1.2em;
                -webkit-font-smoothing: antialiased;
                padding-bottom:30px;
                ">
                    <div class="ui list">
                    <div class="item">Wir verstehen uns als Lerngemeinschaft.</div>
                    <div class="item">Wir begleiten Lernprojekte, statt zu belehren.</div>
                    <div class="item">Wir engagieren uns in Themen, die gesellschaftlich relevant sind.</div>
                    <div class="item">Wir sind für Sie da!</div>
                    <div class="item">Wir glauben daran, dass Sie in jedem Alter alles lernen können!</div>

            </div>
            </div>
            </div>
            </div>
             <div class="two column stackable row">
                 <div class="column six wide">
                     <div class="ui header center aligned  large" style="color:black; opacity:0.7;
                font-family: 'Montserrat', sans-serif;
                font-size: 1.3em;
                font-weight: 400;
                line-height: 1.5em;
                -webkit-font-smoothing: antialiased;
                height:200px;
                ">
                         Mit unseren Online-Kursen
                         stehen wir für
                         projektbegleitendes
                         unterstützendes Lernen
                     </div>
                     <div style="height:200px;">
                     <img class="ui image centered medium image"
                              src="/static/img/42308644_s.jpg">
                         </div>
                                          <div class="ui header centered aligned" style="padding-bottom:30px;">
                         <a class="ui basic button large" href="{{ courselist_url }}">
                             Zu unserem Kursprogramm
                         </a>
                     </div>
                 </div>
                 <div class="column six wide">
                     <div class="ui header center aligned  large" style="color:black; opacity:0.7;
                font-family: 'Montserrat', sans-serif;
                font-size: 1.3em;
                font-weight: 400;
                line-height: 1.5em;
                -webkit-font-smoothing: antialiased;
                height:200px;
                ">
                         Wir bilden Online-Mentoren aus und unterstützen Sie bei Ihrem
                         Einstieg in den Online-Unterricht
                    </div>
                     <div style="height:200px;">
                      <img class="ui image centered medium image"
                              src="/static/img/42198953_s.jpg">
                         </div>
                         <div class="ui header centered aligned" style="padding-bottom:30px;">
                             <a class="ui basic button large" href="{{ teachonline_url }}">
                                 Zum Angebot Online-Unterrichten
                             </a>
                         </div>
                 </div>
             </div>
        </div>
    </div>

{% endblock %}

