{% extends "coursebackend/base_courseevent.html" %}

{% block breadcrumbs %}
    {% include 'coursebackend/forum/fragments/_breadcrumbs.html' %}
{% endblock %}

{% block page_content %}

    <div class="row coursebackend_white">
        <div class="sixteen wide column">

            {% include 'coursebackend/forum/fragments/_recursetree_nodes.html' %}

        </div>
    </div>

    <div class="row coursebackend_white">
        <div class="sixteen wide column">

            <div class="ui message warning">
                Vorsicht: Der gesamte abgebildetet Baum wird bei dieser Aktion gelöscht!
            </div>

            {% include 'coursebackend/forms/delete/_forum.html' %}

        </div>
    </div>
{% endblock %}
{% block rows %}{% endblock %}