{% extends "coursebackend/base_courseevent.html" %}

{% block breadcrumbs %}
    {% include 'coursebackend/forum/fragments/_breadcrumbs.html' %}
{% endblock %}

{% block page_content %}

    <div class="row coursebackend_white">
        <div class="sixteen wide column" id="whitepaper">

            {% include 'coursebackend/forum/fragments/_recursetree_nodes.html' %}

            <div class="ui message warning">
                Vorsicht: Der gesamte abgebildetet Baum wird bei dieser Aktion gelöscht!

                <i class="warning sign icon"></i>Es werden auch alle Beiträge in den Foren bei dieser Aktion gelösch!
            </div>

            {% include 'coursebackend/forms/delete/_forum.html' %}

        </div>
    </div>
{% endblock %}
{% block rows %}{% endblock %}