{% extends "coursebackend/base_courseevent.html" %}

{% block courseevent_menu_items %}
    {% include 'coursebackend/forum/fragments/_link_worklinks.html' %}
{% endblock %}

{% block breadcrumbs %}
    {% include 'coursebackend/forum/fragments/_breadcrumbs.html' %}
{% endblock %}

{% block page_content %}

    <div class="row coursebackend_white">
        <div class="sixteen wide column">

            {% include 'base/fragments/_messages.html' %}
            {% include 'coursebackend/forum/fragments/_instance_forum.html' %}

        </div>
    </div>

{% endblock %}

