{% extends "coursebackend/base_courseevent.html" %}

{% block page_content %}

    <div class="row classroom_background">
        <div class="sixteen wide column">

            <div class="ui large breadcrumb" id ="page-breadcrumb">

                {% include 'coursebackend/forum/fragments/_breadcrumbs.html' %}
                <i class="right chevron icon divider"></i>
                <a class="item">
                    ändern
                </a>

            </div>
                
        </div>
    </div>

    <div class="row coursebackend_white">
        <div class="sixteen wide column">

            {% include 'coursebackend/forms/update_create/_forum.html' %}
                <a class="item">
                    ändern
                </a>
        </div>
    </div>

{% endblock %}


