{% extends "coursebackend/base_course.html" %}

{% block course_menu_items %}
    {% include 'coursebackend/lesson/fragments/_link_worklinks.html' %}
{% endblock %}

{% block page_content %}

    <div class="row coursebackend_course">
        <div class="sixteen wide column">

            {% include 'coursebackend/lesson/fragments/_breadcrumbs.html' %}

        </div>
    </div>

    <div class="row coursebackend_white">
        <div class="sixteen wide column">

            {% include 'base/fragments/_messages.html' %}
            {% include 'coursebackend/lesson/fragments/_instance_lessonstep.html' %}

        </div>
    </div>

{% endblock %}