{% extends "coursebackend/base_course.html" %}

{% block course_menu_items %}
    {% include 'coursebackend/lesson/fragments/_links_create.html' %}
{% endblock %}

{% block breadcrumbs %}
    {% include 'coursebackend/lesson/fragments/_breadcrumbs.html' %}
{% endblock %}

{% block page_content %}

    <div class="row coursebackend_white">
        <div class="sixteen wide column" id="whitepaper">

            <!-- messages -->
            {% include 'base/fragments/_messages.html' %}

            <!-- lessonblock -->
            {% include 'coursebackend/lesson/fragments/_instance_lessonblock.html' %}

            <!-- nodetree -->
            {% include 'coursebackend/lesson/fragments/_recursetree_nodes_work.html' %}

        </div>
    </div>

{% endblock %}