{% extends "coursebackend/base.html" %}

{% block controls %}
    {% include 'coursebackend/_control_help.html' %}
    {% include 'coursebackend/_control_worklinks.html' %}
{% endblock %}

{% block page_subsection %}
    {% include 'coursebackend/lesson/fragments/_link_subsection.html' %}
{% endblock %}

{% block page_subsection_css_id %}forum{% endblock %}

{% block page_content %}

    <div class="row classroom_background">
        <div class="sixteen wide column">

            {% include 'coursebackend/forum/fragments/_help_forum.html' %}

            {% include 'coursebackend/forum/fragments/_recursetree_nodes_start.html' %}

        </div>
    </div>

{% endblock %}
{% block rows %}{% endblock %}