{% extends "coursebackend/base.html" %}

{% block page_subsection %}
    {% include 'coursebackend/homework/fragments/_link_subsection.html' %}
{% endblock %}

{% block controls %}
    {% include 'coursebackend/_control_help.html' %}
{% endblock %}

{% block page_subsection_css_id %}homework{% endblock %}

{% block page_content %}

    <div class="row coursebackend_white">
        <div class="sixteen wide column">

            {% include 'coursebackend/homework/fragments/_help_homework.html' %}

            {% include 'coursebackend/forms/_form_homework.html' %}

        </div>
    </div>

{% endblock %}
{% block rows %}{% endblock %}

