{% extends "coursebackend/base_course.html" %}

{% block course_menu_items %}
    {% include 'coursebackend/lesson/fragments/_links_create.html' %}
{% endblock %}

{% block page_content %}

    <div class="row coursebackend_course">
        <div class="sixteen wide column">

            <div class="ui large breadcrumb" id ="page-breadcrumb">

                <a class="item">
                    Startseite Unterricht
                </a>

            </div>

        </div>
    </div>

    <div class="row coursebackend_white">
        <div class="sixteen wide column">
            {% include 'base/fragments/_messages.html' %}
            {% include 'coursebackend/lesson/fragments/_recursetree_nodes_work.html' %}

        </div>
    </div>

{% endblock %}