{% extends "coursebackend/base_course.html" %}

{% block course_menu_items %}
    {% include 'coursebackend/lesson/fragments/_links_create.html' %}
{% endblock %}

{% block breadcrumbs %}
    {% include 'coursebackend/lesson/fragments/_breadcrumbs.html' %}
{% endblock %}

{% block page_content %}

    <div class="row coursebackend_white">
        <div class="sixteen wide column"  id="whitepaper">

             {% url 'coursebackend:lessontest:blockswithlessons'  course_slug=cs  as test_url %}
            <div class="ui secondary menu" >
              <a class="item active"
              href="{{ test_url }}">
                  Testversion: hier kannst Du das neue Layout der Vorlage testen

              </a>
            </div>
            <!-- messages -->
            {% include 'base/fragments/_messages.html' %}

            <!-- nodetree -->
            {% include 'coursebackend/lesson/fragments/_recursetree_nodes_work.html' %}

        </div>
    </div>

{% endblock %}