{% extends "coursebackend/base_course.html" %}

{% block breadcrumbs %}
    {% include 'coursebackend/lesson/fragments/breadcrumbs/_breadcrumbs.html' %}
{% endblock %}

{% block page_content %}

    <div class="row coursebackend_white">
        <div class="sixteen wide column"  id="whitepaper">
            <div class="ui dividing large header">Diese Lektion kopieren:</div>

            {% include 'coursebackend/lesson/fragments/data_lists/_recursetree_nodes.html' %}
            <div class="ui dividing large header">Ziel des Kopierens:</div>
            <p>Unter welchen Block soll diese Lektion eingehängt werden?</p>
            {% include 'coursebackend/lesson/fragments/forms/_lessoncopy.html' %}

        </div>
    </div>

{% endblock %}

