{% extends "base/base_public.html" %}

{% block main_content %}

    <!-- text page -->
    <div class="ui grid container" style="padding-bottom:100px; padding-top:50px;">
        <div class="content ui column sixteen wide">
            <div class="sixteen wide column" id="whitepaper">

                <!-- page content -->

                <div class="column center aligned">
                    <div class="segment ui" id="userlogin_segment">
                        <div class="ui header medium">
                            Sie haben keine Berechtigung für die angeforderte Seite.
                        </div>
                        <a href="{% url 'login' %}">Wollen Sie sich neu anmelden?</a>
                        <a href="{% url 'contact:contact' %}">Oder nehmen Die Kontakt zu uns auf?</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
