{% extends "base_semantic/base_public.html" %}
{% block body %}
<body id="public" >
{% endblock %}
{% block main %}
    <main class="ui grid">
        <div class="row">
            <div class="column">
<h1 class="ui block header" id="mainheader">
  <img id="logo_big" src="/static/img/mentoki_logo_with_subtitle.png">
  <div class="content">
    Die neue Lernplattform für Online-Mentoren<br> und ihre Schüler.
  </div>
</h1>
   </div>
   </div>
    <div class="row">
       <div class="ui piled segment" style="height:600px">
           Die angeforderte Seite wurde nicht gefunden.
       </div>
    </div>
   </main>
    <main class="ui grid">
        <div class="row">
                <h1 class="ui header block">Mentoki
                </h1>
            <div class="column">

            </div>
        </div>
    </main>
{% endblock %}