<div style="padding:0 50px;">
    <img src="static/img/mentoki_start_account error.jpg">
    <div style="max-width:600px;">
        <h1 style="padding-top:0px; color:#1aaba7;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 1.5em;
                        font-weight: 400;
                        line-height: 1.5em;
                        -webkit-font-smoothing: antialiased;">

        Wir führen gerade Wartungsarbeiten durch!</h1>

        <p>Die Wartungarbeiten
            sollten nach spätestens einer Stunde beendet sein. Wir entschuldigen uns
            für die Unannehmlichkeit und hoffen auf Ihr Verständnis</p>
        <p>Schreiben Sie und in dringenden Fällen gerne eine email an unseren Administrator:
            <strong>maennel@mentoki.com</strong></p>
        <p>Mit freundlichen Grüssen
        </p>
        <p>Das Mentoki Team: Sabine Maennel und Anette Pekrul</p>
    </div>
</div>

