{% load activelink %}
{% url 'coursebackend:lesson:start' course_slug=cs as blocklessons_url %}
{% url 'coursebackend:lesson:blocklist' course_slug=cs as blocklist_url %}
{% url 'coursebackend:lesson:complete' course_slug=cs as complete_url %}
<div class="ui secondary menu" >
  <a class="item
  {% ifactive blocklist_url %}active{% endifactive %}"
  href="{{ blocklist_url }}">
      nur Blöcke
  </a>
  <a class="item
  {% ifactive blocklessons_url %}active{% endifactive %}"
  href="{{ blocklessons_url }}">
      mit Lektionen
  </a>
  <a class="item
  {% ifactive complete_url %}active{% endifactive %}"
  href="{{ complete_url }}">
      mit Lernschritten
  </a>
</div>