{% load activelink %}
{% url 'coursebackend:lessontest:blockswithlessons' course_slug=cs as blocklessons_url %}
{% url 'coursebackend:lessontest:blocklist' course_slug=cs as blocklist_url %}
<div class="ui secondary menu" >
  <a class="item
  {% ifactive blocklist_url %}active{% endifactive %}"
  href="{{ blocklist_url }}">
      als Tabelle
  </a>
  <a class="item
  {% ifactive blocklessons_url %}active{% endifactive %}"
  href="{{ blocklessons_url }}">
      mit Lektionen
  </a>
{% url 'coursebackend:lesson:start'  course_slug=cs  as test_url %}
    <a class="item active"
    href="{{ test_url }}">
      Testversion stoppen
    </a>
</div>