{% extends "base/base.html" %}
{% block head_content %}
<div class="jumbotron netteachers" id="heading-classroombackend">
    <div class="container">
        <div class="row">

        <h3><img  id="img-thumb" src="/static/img/classroom-thumb.jpg">

            {% if match.url_name == "buildforum" or match.url_name == "updatesubforum" or match.url_name == "createsubforum" or match.url_name == "deletesubforum" %}

            {{ courseevent.courseevent_title }}
            {% else %}
                {{ courseevent.title }}
            {% endif %}

            <a class="btn btn-classroombackend btn-default"
                         {% if match.url_name == "buildforum" or match.url_name == "updatesubforum" or match.url_name == "createsubforum" or match.url_name == "deletesubforum" %}
                            href="{% url 'course:start' slug=courseevent.course_slug %}">
                         {% else %}
                          href="{% url 'course:start' slug=course.slug %}">
                         {% endif %}
                          Zur Kursvorlage
            </a>
             <a class="btn  btn-classroombackend btn-default activated"
                          href="{% url 'classroom:start' slug=match.kwargs.slug %}">
                          Klassenzimmer einrichten
            </a>
            <a class="btn btn-classroombackend btn-to-classroom btn-default"
                          href="{% url 'classroom:start' slug=match.kwargs.slug %}">
                          Klassenzimmer
            </a>

        </h3>
        </div>
        </div>
    </div>
</div>
{% endblock %}
{% block main_content %}
    <div id="classroombackend_menu classroombackend-main" class="container">
        <div class="row">
            <div class="col-md-3 col-lg-3 col-sm-3">
                {% include 'classroombackend/_menu.html' %}
                {% block sub_menu %}
                {% endblock %}
            </div>
            <div class="col-md-9 col-lg-9 col-sm-9">
                {% block whereami %}
                {% endblock %}
                {% block class_content%}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
