{% extends "base_semantic/base_page.html" %}
{% load crispy_forms_tags %}
{% block body %}
<body id="public" >
{% endblock %}
{% block main %}
    <div class="ui grid page centered">
    <div class="column">
        {% if form.errors %}
            <p>Ihr Passwort und Benutzername passen nicht zusammen..</p>
        {% endif %}
            <form class="ui form" id="login_form" method="post" action="{% url 'userauth:login' %}">
                <div class="two fields">
                    <div class="required field">
                        <label>Username</label>
                        <div class="ui icon input">
                            <input type="text" placeholder="Username" name="username">
                            <i class="user icon"></i>
                        </div>
                    </div>
                    <div class="required field">
                        <label>Password</label>
                        <div class="ui icon input">
                            <input type="password" name="password">
                            <i class="lock icon"></i>
                        </div>
                    </div>
                </div>
                {% csrf_token %}
                <button type="submit" class="ui button teal">Anmelden</button>
                <a style="margin-left: 20px" href="{% url 'password_reset' %}">Ein neues Passwort anfordern?</a>
            </form>
        </div>
    </div>
{% endblock %}
