<div class="ui vertical segment" id="angebote">
    <div class="stackable very relaxed ui page grid homepage" >
        <div class="row">
            <div class="seven wide column">

                <p>
                    Wir starten im September 2015 mit den ersten Kursen:
                    In der Liste rechts siehst Du die Kurse in der Vorankündigung.
                    Klicke die Links, um zu den Kursausschreibungen zu gelangen!
                </p>
                  <a class="ui button yellow" href="http://eepurl.com/bnHpAP">Jetzt als Interessent anmelden</a>
            </div>
            <div class="nine wide column">
                <div class="ui animated list">
                    <a class="item" href="{% url 'courseoffer:detail' slug="selbstfuehrung" %}">
                        <img class="ui avatar image" src="/static/img/christine.jpg">
                        <div class="content">
                            <div class="header">Christine Radomsky: Selbstführung</div>
                        </div>
                    </a>
                    <a class="item" href="{% url 'courseoffer:detail' slug="schreibwerkstatt" %}">
                        <img class="ui avatar image" src="/static/img/franz3.jpg">
                        <div class="content">
                            <div class="header">Franz Neff: 24/7 Schreibwerkstatt</div>
                        </div>
                    </a>
                    <a class="item" href="{% url 'courseoffer:detail' slug="keineangstvormalter" %}">
                        <img class="ui avatar image" src="/static/img/anette-229x300.jpg">
                        <div class="content">
                            <div class="header">Anette Pekrul: Keine Angst vorm Alter</div>
                        </div>
                    </a>
                    <a class="item" href="{% url 'courseoffer:detail' slug="schnellerlesen" %}">
                        <img class="ui avatar image" src="/static/img/bea3.jpg">
                        <div class="content">
                            <div class="header">Bea Ribaux: Schneller Lesen</div>
                        </div>
                    </a>
                </div>
                <a class="ui button yellow" href="{% url 'courseoffer:list'%}">Zur Kursübersicht</a>
            </div>
        </div>
    </div>
</div>