<div class="ui vertical segment" id="vertical-segment-homepage-newsletter">
    <div class="stackable very relaxed ui page grid">
        <div class="row">
            <div class="seven wide column">
                <p>
                    Bleibe auf dem Laufenden über die neuesten Lerntechniken und die coolsten Werkzeuge!
                    Erster Erscheinungstermin: Anfang Juli
                </p>
                 <a class="ui button green" href="http://eepurl.com/bnHpAP">Jetzt als Abonnent anmelden</a>
            </div>
            <div class="nine wide column">
                <img class="ui image" src="/static/img/post_mentoki_newsletter_400.jpg">
            </div>
        </div>
    </div>
</div>