<div class="ui vertical segment" id="vertical-segment-homepage-toolbox">
    <div class="stackable very relaxed ui page grid">
        <div class="row">
            <div class="seven wide column">
                <h5 class="ui header orange">Startet bald!</h5>
                <p>
                    Wir gewähren Euch einen Blick in unsere Werkzeugkiste - kostenlos! Jeden Monat stellen wir
                    Euch im Newsletter ein Werkzeug vor und schenken Euch das dazugehörige Tutorial.
                </p>
            </div>
            <div class="nine wide column">
                <img class="ui image" src="/static/img/38425202_s.jpg">
            </div>
        </div>
    </div>
</div>
