{% extends "email/base_internal_email.html" %}

{% block email_to %}
     {{ courseevent.title }}: Forum
{% endblock %}

{% block email_title %}
    {{ thread.author }} hat seinen Beitrag "{{ thread.title }}" im Forum {{ forum.title }} gelöscht:
{% endblock %}

{% block email_text %}
    <h2>{{ thread.title }}</h2>
    <p>{{ thread.text | safe}}</p>
    <a href="http://{{ site }}{%  url 'classroom:forum:detail' pk=thread.forum_id slug=courseevent.slug %}">
        Link zum Forum im Klassenzimmer
    </a>
{% endblock %}
