
{% url 'classroom:studentswork:list' slug=es as start_url %}
{% url 'classroom:classlesson:step' slug=es as step_url %}

<div class="ui large breadcrumb" id ="page-breadcrumb">

    {% if url_name == 'list' or url_name == 'create' %}
        <!-- section active -->
        <div class="section active" href="{{ start_url }}">
            Privater Arbeitsbereich
        </div>

    {% else %}

        <!-- section active -->
        <a class="section" href="{{ start_url }}">
            Privater Arbeitsbereich
        </a>

        {%  if studentswork %}
            <i class="right chevron icon divider"></i>

            <!-- homework link -->
            <a class="section" href="{{ step_url }}">
                {{ studentswork.homework }}
            </a>
            <i class="right chevron icon divider"></i>

            <!-- work title -->
            <div class="section active">
                {{ studentswork.title }}
            </div>
        {% endif %}

    {% endif %}


</div>


