{% for studentswork in studentsworks %}

    {% if not studentswork.published %}
        {% url 'classroom:studentswork:detail' slug=es pk=studentswork.pk as detail_url %}
    {% else %}
        {% url 'classroom:classlesson:studentswork' slug=es pk=studentswork.homework_id work_pk=studentswork.pk as detail_url %}
    {% endif %}
    {% url 'classroom:classlesson:step' slug=es pk=studentswork.homework_id as step_url %}
    {% url 'classroom:studentswork:update' slug=es pk=studentswork.pk as update_url %}
    {% url 'classroom:studentswork:delete' slug=es pk=studentswork.pk as delete_url %}
    {% url 'classroom:studentswork:addteam' slug=es pk=studentswork.pk as addteam_url %}
    {% url 'classroom:homework:list' slug=es pk=studentswork.homework.pk as homework_url %}

<div class="ui card fluid">
  <div class="content">
    <div class="header">
    <a href="{{ detail_url }}">{{ studentswork.title }}</a>
            {% if not studentswork.published %}
                <a href="{{ update_url }}">
                    <i class="write icon blue"></i>
                </a>
                <a href="{{ delete_url }}">
                    <i class="trash blue icon"></i>
                </a>
                <a href="{{ addteam_url }}">
                    <i class="add user icon blue"></i>
                </a>
            {% endif %}
      zu Lernschritt
      <a href="{{ step_url }}">
        {{ studentswork.homework }}
      </a>
    </div>
    <div class="meta">
      <span class="right time">abgegeben am {{ studentswork.published_at | date:'d.m.Y' }}</span>
    </div>
    <div class="description">
      <span class="category">von: {{ studentswork.team | join:', ' }}</span>
    </div>
  <div class="extra content">

  </div>
</div>
</div>


{% endfor %}