{% extends 'base/base_public.html' %}
{% load i18n %}
{% block meta %}
    <meta name="robots" content="noindex nofollow" />
{% endblock %}
{% block main_content %}
    <div class="ui grid one column centered" style="padding-bottom:50px;padding-top:40px; ">
         <div class="sixteen wide column" style="padding-top:0px;">
             <img class="ui image centered huge image" src="/static/img/mentoki_account1.jpg">
         </div>
         <div class="fourteen wide tablet ten wide computer column" id="whitepaper">
             {% block content %}{% endblock %}
         </div>
    </div>
{% endblock %}
