<!-- urls ----->
{% url 'course_sale:list' as sell_url %}
{% url 'home:home' as home_url %}
{% url 'home:about' as about_url %}
{% url 'home:standard' as standard_url %}
{% url 'home:course_agb' as course_agb_url %}
{% url 'course_sale:detail' pk=1 as course_selbstfuehrung_url %}
{% url 'course_sale:detail' pk=1 as course_schreiben_url %}
{% url 'course_sale:detail' pk=1 as course_deutsch_url %}
{% url 'account_login' as login_url %}
{% url 'account_logout' as logout_url %}
{% url 'desk:profile' as desk_url %}
{% url 'contact:contact' as contact_url %}
{% url 'account_change_password' as change_password_url %}

<a class="item" id="logo_navbar_pc"
    href="{{ home_url }}">
    <img  id="logo_img_navbar" src="/static/img/mentoki_logo.png"
          >
</a>
<div class="ui popup bottom fluid left transition hidden" style="max-width:200px;">

    <div class="ui one column relaxed divided grid">

        <div class="column">

            <div class="ui link list">
                <a href="{{ about_url }}" class="item">
                    Über uns
                </a>
                <a href="{{ motivation_url }}" class="item">
                    Was uns antreibt
                </a>
            </div>

        </div>

    </div>
</div>

    <a class="item browse"
       style="color:grey; border:none;
        " href="{{ course_url }}">
        Kurse
    </a>

    <div class="ui popup bottom fluid left transition hidden" style="max-width:200px;">

        <div class="ui one column relaxed divided grid">

            <div class="column">

                <div class="ui link list">
                    <a href="{{ course_url }}" class="item">
                        Aktuelle Kurse
                    </a>
                    <a href="{{ standard_url }}" class="item">
                        Mentoki Standards
                    </a>
                    <a href="{{ course_agb_url }}" class="item">
                        AGB
                    </a>
                </div>

            </div>

        </div>
    </div>

    <a class="item
        " href="{{ learn_url }}">
        Bildungsmentoring
    </a>
    <a class="item browse"
         href="{{ teach_url }}">
        Unterrichten
        <i class="dropdown icon"></i>
    </a>
    <div class="ui popup bottom fluid left transition hidden" style="max-width:200px;">

        <div class="ui one column relaxed divided grid">

            <div class="column">

                <div class="ui link list">
                    <a href="{{ starterkurs_url }}" class="item">
                        Mentor werden
                    </a>
                    <a href="{{ coaching_url }}" class="item">
                        Online-Kurs anbieten
                    </a>
                </div>

            </div>

        </div>
    </div>

    <div class="right menu">
        <a class="item
            " href="{{ contact_url }}">
            Kontakt
        </a>
        {% if request.user.is_authenticated %}
            <a class="item browse">
                {{ request.user }}
                <i class="dropdown icon"></i>
            </a>
            <div class="ui popup bottom fluid left transition hidden" style="max-width:200px;">

                <div class="ui one column relaxed divided grid">

                    <div class="column">

                        <div class="ui link list">
                            <a href="{{ desk_url }}" class="item">
                                Schreibtisch
                            </a>
                        </div>

                        <div class="ui link list">
                            <a href="{{ logout_url }}" class="item">
                                logout
                            </a>
                        </div>

                    </div>

                </div>
            </div>
        {% else %}
            <a class="item" href="{{ login_url }}" >
                Anmelden
            </a>

        {% endif %}


    </div>