<!-- urls ----->
{% url 'home:home' as home_url %}

{% url 'home:standards' as standards_url %}
{% url 'storefront:list' as course_url %}

{% url 'home:mentorslist' as mentorslist_url %}

{% url 'home:about' as about_url %}
{% url 'contact:contact' as contact_url %}

{% url 'account_login' as login_url %}
{% url 'account_logout' as logout_url %}
{% url 'desk:profile' as desk_url %}

{% url 'home:starterkurs' as starterkurs_url %}
{% url 'home:educationmentor' as educationmentor_url %}
{% url 'home:teachonline' as teachonline_url %}
{% url 'home:teachready' as teachready_url %}


    <a class="item" href="{% url 'home:home' %}">
        <i class="icon home"></i>
    </a>

    <a class="item browse"
       style="color:grey; border:none;
        " href="{{ course_url }}">
        Lernen
    </a>

    <div class="ui popup bottom fluid left transition hidden" style="max-width:300px;">

        <div class="ui one column relaxed divided grid">

            <div class="column">

                <div class="ui link list">
                    <a href="{{ course_url }}" class="item">
                        Aktuelle Kurse
                    </a>
                    <a href="{{ standards_url }}" class="item">
                        Mentoki Standards
                    </a>
                    <a href="{{ mentorslist_url }}" class="item">
                        Mentoren
                    </a>
                </div>

            </div>

        </div>
    </div>
    <a class="item
        " href="{{ educationmentor_url }}">
        Bildungsmentoring
    </a>
    <a class="item browse"
         href="{{ teachonline_url }}">
        Unterrichten
        <i class="dropdown icon"></i>
    </a>
    <div class="ui popup bottom fluid left transition hidden" style="max-width:200px;">

        <div class="ui one column relaxed divided grid">

            <div class="column">

                <div class="ui link list">
                    <a href="{{ starterkurs_url }}" class="item">
                        Mentor werden
                    </a>
                    <a href="{{ teachready_url }}" class="item">
                        Online-Kurs anbieten
                    </a>
                </div>

            </div>

        </div>
    </div>
    <a class="item
        " href="{{ about_url }}">
        Über uns
    </a>
    <div class="right menu">
        {% if request.user.is_authenticated %}
            <a class="item browse">
                {{ request.user }}
                <i class="dropdown icon"></i>
            </a>
            <div class="ui popup bottom fluid left transition hidden" style="max-width:200px;">

                <div class="ui one column relaxed divided grid">

                    <div class="column">

                        <div class="ui link list">
                            <a href="{{ desk_url }}" class="item">
                                Schreibtisch
                            </a>
                        </div>

                        <div class="ui link list">
                            <a href="{{ logout_url }}" class="item">
                                logout
                            </a>
                        </div>

                    </div>

                </div>
            </div>
        {% else %}
            <a class="item" href="{{ login_url }}" >
                Anmelden
            </a>

        {% endif %}


    </div>