<!-- urls ----->
{% url 'home:home' as home_url %}


{% url 'storefront:list' as course_url %}
{% url 'storefront:list_now' as course_now_url %}
{% url 'storefront:list_preview' as course_preview_url %}

{% url 'home:mentorslist' as mentorslist_url %}

{% url 'contact:contact' as contact_url %}

{% url 'account_login' as login_url %}
{% url 'account_logout' as logout_url %}
{% url 'desk:userprofile' as desk_url %}
{% url 'desk:learn' as learn_url %}
{% url 'desk:courseadmin' as courseadmin_url %}
{% url 'desk:pageadmin' as pageadmin_url %}
{% url 'desk:learn' as learn_url %}
{% url 'desk:teach' as teach_url %}
{% url 'desk:bookings' as bookings_url %}

{% url 'home:public' slug="mentoki-starterkurs" as starterkurs_url %}
{% url 'home:public' slug="online-unterrichten" as teachonline_url %}
{% url 'home:public' slug="fertigen-online-kurs-anbieten" as teachready_url %}
{% url 'home:public' slug="mentoki-standards" as standards_url %}
{% url 'home:public' slug="mentoki-kurse" as course_about_url %}
{% url 'home:public' slug="team" as about_url %}
{% load activelink %}
<a class="item" id="logo_mobile_menu"
    href="{{ home_url }}">
    <img  id="logo_img_mobile" src="/static/img/mentoki_logo.png">
</a>

{% load activelink %}
{% if request.user.is_authenticated %}
    <a class="header item" >
        Hallo {{ request.user }}<br>Ihr Benutzermenü
    </a>

        <a href="{{ desk_url }}" class="item
            {% ifactive desk_url %}
                active
            {% endifactive %}
        ">
            Ihr Benutzerprofil
        </a>
        <a href="{{ learn_url }}" class="item
            {% ifactive learn_url %}
                active
            {% endifactive %}
        ">
            Ihr Lernen
        </a>
        <a href="{{ teach_url }}" class="item
            {% ifactive teach_url %}
                active
            {% endifactive %}
        ">
            Ihr Unterricht
        </a>
        {% if request.user.customer %}
            <a href="{{ bookings_url }}" class="item
            {% ifactive bookings_url %}
                active
            {% endifactive %}
            ">
                Ihre Kursbuchungen
            </a>
        {% endif %}
            {% if request.user.is_lektor or request.user.is_superuser %}
                <a href="{{ courseadmin_url }}" class="item
            {% ifactive courseadmin_url %}
                active
            {% endifactive %}
                ">
                    Administration
                </a>
            {% endif %}
        <a class="item" href="{{ logout_url }}">
        Abmelden
        </a>
    {% else %}
        <a class="item" href="{{ login_url }}">
        Anmelden
        </a>
    {% endif %}
