<!-- urls ----->
{% url 'home:home' as home_url %}


{% url 'storefront:list' as course_url %}
{% url 'storefront:list_now' as course_now_url %}
{% url 'storefront:list_preview' as course_preview_url %}

{% url 'home:mentorslist' as mentorslist_url %}

{% url 'contact:contact' as contact_url %}

{% url 'account_login' as login_url %}
{% url 'account_logout' as logout_url %}
{% url 'desk:userprofile' as desk_url %}
{% url 'desk:learn' as learn_url %}
{% url 'desk:courseadmin' as courseadmin_url %}
{% url 'desk:pageadmin' as pageadmin_url %}
{% url 'desk:learn' as learn_url %}
{% url 'desk:teach' as teach_url %}
{% url 'desk:bookings' as bookings_url %}

{% url 'home:public' slug="mentoki-starterkurs" as starterkurs_url %}
{% url 'home:public' slug="online-unterrichten" as teachonline_url %}
{% url 'home:public' slug="online-kurs-anbieten" as teachready_url %}
{% url 'home:public' slug="mentoki-standards" as standards_url %}

{% url 'home:public' slug="mentoki-kurse" as course_about_url %}
{% url 'home:public' slug="team" as about_url %}


<a class="item" id="logo_navbar_pc"
href="{{ home_url }}">
<img  id="logo_img_navbar" src="/static/img/mentoki_logo.png"
>
</a>
<div class="ui left dropdown item">
    Lernen bei mentoki
    <i class="dropdown icon"></i>
    <div class="menu">
        <a href="{{ course_now_url }}" class="item">
            Aktuelle Kurse
        </a>
        <a href="{{ course_preview_url }}" class="item">
            Vorschau
        </a>
        <a class="item" href="{{ course_url }}">
            Das gesamte Angebot
        </a>
    </div>
</div>
<div class="ui left dropdown item">
    Unterrichten bei mentoki
    <i class="dropdown icon"></i>
    <div class="menu">
        <a href="{{ teachonline_url }}" class="item">
            Zwei Wege
        </a>
        <a href="{{ starterkurs_url }}" class="item">
            Der Starterkurs
        </a>
        <a class="item" href="{{ teachready_url }}">
            Wenn Sie bereits Online unterrichten
        </a>
    </div>
</div>
<div class="ui left dropdown item">
    über mentoki
    <i class="dropdown icon"></i>
    <div class="menu">
        <a href="{{ about_url }}" class="item">
            Das Team
        </a>
        <a href="{{ mentorslist_url }}" class="item">
            Die Mentoren
        </a>
        <a class="item" href="{{ standards_url }}">
            Standards
        </a>
        <a class="item" href="{{ conditions_url }}">
            Konditionen
        </a>
        <a class="item" href="{{ contact_url }}">
            Kontaktiere uns
        </a>
    </div>
</div>
<div class="ui right dropdown item">
    {% if request.user.is_authenticated %}
        {{ request.user.username }}
    {% else %}
        Benutzerbereich
    {% endif %}
    <i class="dropdown icon"></i>
    <div class="menu">
        {% if request.user.is_authenticated %}
            <a href="{{ desk_url }}" class="item">
                Benutzerprofil
            </a>
            <a href="{{ learn_url }}" class="item">
                Dein Lernen
            </a>
            <a href="{{ teach_url }}" class="item">
                Dein Unterricht
            </a>
            {% if request.user.customer %}
                <a href="{{ bookings_url }}" class="item">
                    Deine Kursbuchungen
                </a>
            {% endif %}
            {% if request.user.is_teacher %}
                <a href="{{ courseadmin_url }}" class="item">
                    Deine Kursauschreibungen
                </a>
            {% endif %}
            {% if request.user.is_staff %}
                <a href="{{ pageadmin_url }}" class="item">
                    Statische Seiten
                </a>
            {% endif %}
            <a class="item" href="{{ logout_url }}">
            Abmelden
            </a>
        {% else %}
            <a class="item" href="{{ login_url }}">
            Anmelden
            </a>
        {% endif %}
    </div>
</div>

