<!-- urls ----->
{% url 'home:home' as home_url %}


{% url 'storefront:list' as course_url %}
{% url 'storefront:list_now' as course_now_url %}
{% url 'storefront:list_preview' as course_preview_url %}

{% url 'home:mentorslist' as mentorslist_url %}

{% url 'contact:contact' as contact_url %}

{% url 'account_login' as login_url %}
{% url 'account_logout' as logout_url %}
{% url 'desk:userprofile' as desk_url %}
{% url 'desk:learn' as learn_url %}
{% url 'desk:courseadmin' as courseadmin_url %}
{% url 'desk:pageadmin' as pageadmin_url %}
{% url 'desk:learn' as learn_url %}
{% url 'desk:teach' as teach_url %}
{% url 'desk:bookings' as bookings_url %}

{% url 'home:public' slug="mentoki-starterkurs" as starterkurs_url %}
{% url 'home:public' slug="online-unterrichten" as teachonline_url %}
{% url 'home:public' slug="online-kurs-anbieten" as teachready_url %}
{% url 'home:public' slug="mentoki-standards" as standards_url %}
{% url 'home:public' slug="mentoki-agbs" as agbs_url %}
{% url 'home:public' slug="mentoki-kurse" as course_about_url %}
{% url 'home:public' slug="team" as about_url %}

<a class="item" id="logo_mobile_menu"
    href="{{ home_url }}">
    <img  id="logo_img_mobile" src="/static/img/mentoki_logo.png">
</a>

{% load activelink %}
{% if request.user.is_authenticated %}
    <a class="header item">
        Hallo {{ request.user }}
    </a>
    <a href="{{ desk_url }}" class="item">
        Dein Schreibtisch
    </a>
    <a href="{{ logout_url }}" class="item">
        Abmelden?
    </a>
{% endif %}
<a href="{{ course_url }}" class="header item" id="logo_mobile_menu">
    Kurse
</a>
<a class="item
    {% ifactive course_url %}
        active
    {% endifactive %}
    " href="{{ course_url }}">
    Aktuelle Kurse
</a>
<a class="item
    {% ifactive standards_url %}
        active
    {% endifactive %}
    " href="{{ standards_url }}">
    Mentoki Standards
</a>
<a class="header item
    {% ifactive mentorslist_url %}
        active
    {% endifactive %}
    " href="{{ mentorslist_url }}">
    Mentoren
</a>
<a class="item
    {% ifactive educationmentor_url %}
        active
    {% endifactive %}
    " href="{{ educationmentor_url }}">
    Bildungsmentoring
</a>
<a class="item header"
     href="{{ teachonline_url }}">
    Unterrichten
</a>
<a href="{{ starterkurs_url }}" class="item">
    Mentor werden
</a>
<a href="{{ teachready_url }}" class="item">
    Online-Kurs anbieten
</a>
<a class="header item
    " href="{{ about_url }}">
    Über uns
</a>
<a class="item
    " href="{{ contact_url }}">
    Kontakt
</a>

