{% load activelink %}
{% url 'home:home' as home_url %}
{% url 'storefront:list' as course_url %}
{% url 'storefront:list_now' as course_now_url %}
{% url 'storefront:list_preview' as course_preview_url %}
{% url 'home:mentorslist' as mentorslist_url %}
{% url 'contact:contact' as contact_url %}
{% url 'account_login' as login_url %}
{% url 'account_logout' as logout_url %}
{% url 'desk:userprofile' as desk_url %}
{% url 'desk:learn' as learn_url %}
{% url 'desk:courseadmin' as courseadmin_url %}
{% url 'desk:pageadmin' as pageadmin_url %}
{% url 'desk:learn' as learn_url %}
{% url 'desk:teach' as teach_url %}
{% url 'desk:bookings' as bookings_url %}
{% url 'home:public' slug="mentoki-starterkurs" as starterkurs_url %}
{% url 'home:public' slug="online-unterrichten" as teachonline_url %}
{% url 'home:public' slug="fertigen-online-kurs-anbieten" as teachready_url %}
{% url 'home:public' slug="mentoki-standards" as standards_url %}
{% url 'home:public' slug="mentoki-kurse" as course_about_url %}
{% url 'home:public' slug="team" as about_url %}
<nav class="ui menu fixed center aligned top fluid five item" id="pc_navbar">
    {% include 'base/fragments/_navbar_big.html' %}
</nav>
<nav class="ui menu fixed center aligned top fluid five item" id="medium_navbar">
    {% include 'base/fragments/_navbar_medium.html' %}
</nav>
<nav class="ui menu fixed center aligned top two item fluid" id="mobile_navbar" >
    {% include 'base/fragments/_logo_navbar.html' %}
    <a class="item" id="mobile_button">
        <i class="sidebar icon"></i>
    </a>
</nav>
<nav class="ui labeled icon wide left inline vertical sidebar menu mobile only" id="mobile_menu">
    {% include 'base/fragments/_navbar_mobile.html' %}
</nav>