<!-- urls ----->
{% url 'home:home' as home_url %}


{% url 'storefront:list' as course_url %}
{% url 'storefront:list_now' as course_now_url %}
{% url 'storefront:list_preview' as course_preview_url %}

{% url 'home:mentorslist' as mentorslist_url %}

{% url 'contact:contact' as contact_url %}

{% url 'account_login' as login_url %}
{% url 'account_logout' as logout_url %}
{% url 'desk:userprofile' as desk_url %}
{% url 'desk:learn' as learn_url %}
{% url 'desk:courseadmin' as courseadmin_url %}
{% url 'desk:pageadmin' as pageadmin_url %}
{% url 'desk:learn' as learn_url %}
{% url 'desk:teach' as teach_url %}
{% url 'desk:bookings' as bookings_url %}

{% url 'home:public' slug="mentoki-starterkurs" as starterkurs_url %}
{% url 'home:public' slug="online-unterrichten" as teachonline_url %}
{% url 'home:public' slug="fertigen-online-kurs-anbieten" as teachready_url %}
{% url 'home:public' slug="mentoki-standards" as standards_url %}
{% url 'home:public' slug="mentoki-agbs" as agbs_url %}
{% url 'home:public' slug="mentoki-kurse" as course_about_url %}
{% url 'home:public' slug="team" as about_url %}

{% load activelink %}
<a class="item" style="padding:0px; margin: 0px;"
href="{{ home_url }}">
<img  class="ui image" style="padding:0px; margin: 0px;" src="/static/img/mentoki_logo.png"
>
</a>
<div class="ui left dropdown item">
    Lernen
    <i class="dropdown icon"></i>
    <div class="menu">
        <a href="{{ course_now_url }}" class="item
            {% ifactive course_now_url %}
                active
            {% endifactive %}
        ">
            Aktuelle Kurse
        </a>
        <a href="{{ course_preview_url }}" class="item
            {% ifactive course_preview_url %}
                active
            {% endifactive %}
        ">
            Vorschau
        </a>
        <a class="item
            {% ifactive course_url %}
                active
            {% endifactive %}
        " href="{{ course_url }}">
            Das gesamte Angebot
        </a>
    </div>
</div>
<div class="ui left dropdown item">
    Unterrichten
    <i class="dropdown icon"></i>
    <div class="menu">
        <a href="{{ teachonline_url }}" class="item
            {% ifactive teachonline_url %}
                active
            {% endifactive %}
        ">
            Zwei Wege
        </a>
        <a href="{{ starterkurs_url }}" class="item
            {% ifactive starterkurs_url %}
                active
            {% endifactive %}
        ">
            Der Starterkurs
        </a>
        <a class="item
            {% ifactive teachready_url %}
                active
            {% endifactive %}
        " href="{{ teachready_url }}">
            Wenn Sie bereits Online unterrichten
        </a>
    </div>
</div>
<div class="ui left dropdown item">
    über mentoki
    <i class="dropdown icon"></i>
    <div class="menu">
        <a href="{{ about_url }}" class="item
            {% ifactive about_url %}
                active
            {% endifactive %}
        ">
            Das Team
        </a>
        <a href="{{ mentorslist_url }}" class="item
            {% ifactive mentorslist_url %}
                active
            {% endifactive %}
        ">
            Die Mentoren
        </a>
        <a class="item
            {% ifactive standards_url %}
                active
            {% endifactive %}
        " href="{{ standards_url }}">
            Standards
        </a>
        <a class="item
            {% ifactive contact_url %}
                active
            {% endifactive %}
        " href="{{ contact_url }}">
            Kontaktiere uns
        </a>
    </div>
</div>
<div class="ui right dropdown item">
    Dein Bereich
    <i class="dropdown icon"></i>
    <div class="menu">
        {% if request.user.is_authenticated %}
            <a href="{{ desk_url }}" class="item
            {% ifactive desk_url %}
                active
            {% endifactive %}
            ">
                Benutzerprofil
            </a>
            <a href="{{ learn_url }}" class="item
            {% ifactive learn_url %}
                active
            {% endifactive %}
            ">
                Dein Lernen
            </a>
            <a href="{{ teach_url }}" class="item
            {% ifactive teach_url %}
                active
            {% endifactive %}
            ">
                Dein Unterricht
            </a>
            {% if request.user.customer %}
                <a href="{{ bookings_url }}" class="item
            {% ifactive bookings_url %}
                active
            {% endifactive %}
                ">
                    Deine Kursbuchungen
                </a>
            {% endif %}
            {% if request.user.is_teacher %}
                <a href="{{ courseadmin_url }}" class="item
            {% ifactive courseadmin_url %}
                active
            {% endifactive %}
                ">
                    Deine Kursauschreibungen
                </a>
            {% endif %}
            {% if request.user.is_staff %}
                <a href="{{ pageadmin_url }}" class="item
            {% ifactive pageadmin_url %}
                active
            {% endifactive %}
                ">
                    Statische Seiten
                </a>
            {% endif %}
            <a class="item" href="{{ logout_url }}">
            Abmelden
            </a>
        {% else %}
            <a class="item" href="{{ login_url }}">
            Anmelden
            </a>
        {% endif %}
    </div>
</div>