<div class="h3 ui header">Lektionen</div>
<p>Lektionen sind die Grundeinheiten des Unterrichts. Ob sie nummeriert sind oder nicht wird auf Blockebene entscheiden.
</p>
<p>Unter den Lektionen hängen noch die Materialen. Dateien hochladen kannst Du nur bei den Materialien.
</p>
<p></p>
<div class="h4 ui header">Checkboxen</div>
<p>Mit den Checkboxen ganz oben in der Titelleiste kannst Du Dir bei allen Unterrichtseinheiten extra Informationen anzeigen lassen:</p>
<p>
<ul class="ui list" style="padding-left:20px;">
  <li>den Status.</li>
  <li>die Links zum Bearbeiten</li>
  <li>Kurzbeschreibungen zu den Untereinheiten falls vorhanden</li>
</ul>
</p>
