<div class="h3 ui header">Blöcke</div>
<p>Rechts siehst Du Blöcke.
    Sie sind die gröbste Einheit von Unterricht.
</p>
<p>Zu einem Block gehören alle Lektionen, die später im selben Klassenzimmer an der selben Position und auf dieselbe Art
    angezeigt werden.
</p>
<p>Ob die Lektionen nummeriert oder unnummeriert angezeigt werden wird auf der Blockebene entschieden.</p>
<p>Ein Block kann auch nur eine Lektion enthalten. Das macht etwa Sinn, wenn man etwas sehr wichtiges an
prominienter Stelle im Klassenzimmer anzeigen will, wie etwa den Kursfahrplan.</p>
<div class="h4 ui header">Beispiele</div>
<ul class="ui list" style="padding-left:20px;">
  <li>Der Unterricht für ein Kursereignis: er wird meist durchnummeriert sein.</li>
  <li>Eine Biblothek mit Bonusmaterial wird eher unummeriert sein</li>
  <li>Der Fahrplan für den Kurs ist ein Block, der vielleicht aus nur einer Lektion besteht.</li>
</ul>
<p></p>
<div class="h4 ui header">Checkboxen</div>
<p>Mit den Checkboxen ganz oben in der Titelleiste kannst Du Dir bei allen Unterrichtseinheiten extra Informationen anzeigen lassen:</p>
<p>
<ul class="ui list" style="padding-left:20px;">
  <li>den Status.</li>
  <li>die Links zum Bearbeiten</li>
  <li>Kurzbeschreibungen zu den Untereinheiten falls vorhanden</li>
</ul>
</p>