{% extends "coursebackend/base_course.html" %}

{% block course_menu_items %}
    {% url 'coursebackend:material:create' course_slug=cs as material_create_url %}

    <a href="{{ material_create_url }}" class="item" >
        <i class="write plus icon blue"></i>Material
    </a>

{% endblock %}

{% block page_content %}

    <div class="row coursebackend_course">
        <div class="sixteen wide column">

            <div class="ui large breadcrumb" id ="page-breadcrumb">

                {% include 'coursebackend/material/fragments/_breadcrumbs.html' %}

            </div>

        </div>
    </div>

    <div class="row coursebackend_white">
        <div class="sixteen wide column">

            {% include 'base/fragments/_messages.html' %}

            {% include 'coursebackend/material/fragments/_list_materials_table.html' %}

        </div>
    </div>

{% endblock %}


