{% extends "email/base_external_email.html" %}


{% block email_title %}
    Hallo {{ name }},
{% endblock %}

{% block email_text %}

<p style="color:black;">
    danke für Ihr Interesse an mentoki<sub>&reg;</sub>. Wir haben Ihre Nachricht erhalten und
    werden innerhalb von 48 Stunden antworten.
</p>
<p style="color:black;" >
    Mit freundlichen Grüssen
</p>
<p style="color:black;">
Ihr mentoki<sub>&reg;</sub> Team
</p>
<p style="color:black;">
Sabine Maennel & Anette Pekrul
</p>
{% endblock %}
{% block email_content %}

{% endblock %}