{% extends "email/base_internal_email.html" %}

{% block email_to %}
    Danke für Ihr Interesse an Mentoki
{% endblock %}

{% block email_title %}
    Hallo {{ name }},
{% endblock %}

{% block email_text %}
<p>Sie erhalten diese Nachricht, weil Sie auf mentoki.com ins Kontaktformular geschrieben
    haben.</p>

<p style="color:grey;">
    Danke für Ihr Interesse an mentoki<sub>&reg;</sub>. Wir haben Ihre Nachricht erhalten und
    werden innerhalb von 48 Stunden antworten.
</p>
<p style="padding-left: 30px;  color:grey;">
    Mit freundlichen Grüssen
</p>
<p style="padding-left: 50px; color:grey;">
Ihr mentoki<sub>&reg;</sub> Team
</p>
<p style="padding-left: 80px; color:grey;">
Sabine Maennel & Anette Pekrul
</p>
{% endblock %}
{% block email_content %}

{% endblock %}