{% extends "base_semantic/base_page.html" %}
{% block body %}
    <body id="classroombackend" >
{% endblock %}
{% block main %}
    {% with courseprefix=request.resolver_match.kwargs.courseprefix %}
        <div class="ui page grid">
            <div class="ui column">
                <h2 class="ui header" id="backendheader">
                    {% block header %}
                          Vorlage {{ course.title }}
                    {% endblock %}
                    {% block header_controls %}
                         {% include 'coursebackend/_checkbox_help.html' %}
                    {% endblock %}
                    {% block controls %}
                    {% endblock %}
                </h2>
                <div class="ui grid">
                    <div class="five wide column">
                        <div id="helpinstructions">
                            <div class="ui segment info message">
                            {% block help %}
                            {% endblock %}
                            </div>
                        </div>
                        <div id="coursemenu">
                            {% include 'coursebackend/_menu.html' %}
                        </div>
                    </div>
                    <div class="eleven wide column">
                        {% block breadcrumb %}
                        {% endblock %}
                        {% block page_content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    {% endwith %}
{% endblock %}