{% for announcement in announcements %}

    {% url 'classroom:announcement:detail' slug=es pk=announcement.pk as detail_url %}

    <div class="ui card fluid">
      <div class="content">
        <div class="header">
            <a href="{{ detail_url }}">
            {{ announcement.title }}
            </a>
        </div>
        <div class="meta">
           vom {{ announcement.published_at |date:'d.m.Y' }}
        </div>
        {% if forloop.first %}
            <div class="description">
                {{ announcement.text | safe }}
            </div>
        {% endif %}
      </div>
    </div>

{% endfor %}

