{% comment %}

the breadcrumb for classroommenu

for list/update/detail/create/delete

{% endcomment %}

{% url 'coursebackend:menu:list' course_slug=cs slug=es as list_url %}

<div class="ui large breadcrumb" id ="page-breadcrumb">

    <a href="{{ list_url }}" class="item">
        Klassenzimmer-Menü {{ course.title }}
    </a>

    <i class="right chevron icon divider"></i>
   {% if url_name == 'list' %}
    <a class="item">
        veröffentlicht
    </a>
    {% elif url_name == 'preview' %}
    <a class="item">
        Menü bearbeiten
    </a>
    {% elif url_name == 'sort' %}
    <a class="item">
        Menüpunkte sortieren
    </a>
    {% endif %}
</div>