{% comment %}

the breadcrumb for classroommenu

for list/update/detail/create/delete

{% endcomment %}

{% url 'coursebackend:menu:list' course_slug=cs slug=es as list_url %}

<div class="ui large breadcrumb" id ="page-breadcrumb">

    <a href="{{ list_url }}" class="section">
        Klassenzimmer-Menü
    </a>

    <i class="right chevron icon divider"></i>
   {% if url_name == 'list' %}
    <div class="section">
        veröffentlicht
    </div>
    {% elif url_name == 'preview' %}
    <div class="section">
        Menü bearbeiten
    </div>
    {% elif url_name == 'sort' %}
    <div class="section">
        Menüpunkte sortieren
    </div>
    {% endif %}
</div>