{% comment %}

This fragment is a list of the objects attached to menu items

for list

{% endcomment %}
{% if forumitems %}
<table class="ui table">

    <thead>
        <tr>
            <tr>
                <th class="six wide">Eintrag</th>
                <th class="five wide">Forum im Klassenzimmer</th>
            </tr>
        </tr>
    </thead>

    <tbody>

        {% for item in forumitems %}

            {% url 'coursebackend:menu:update' pk=item.pk course_slug=cs slug=es as update_url %}
            {% url 'coursebackend:menu:delete' pk=item.pk course_slug=cs slug=es as delete_url %}
            {% url 'coursebackend:forum:detail' pk=item.forum_id course_slug=cs slug=es as work_url %}
            {% url 'classroom:forum:detail' pk=item.forum_id slug=es as class_url %}

            <tr>

                <td>
                    {{ item.display_title }}

                    <a href="{{ update_url }}">
                        <i class="write icon"></i>
                    </a>
                    <a href="{{ delete_url }}">
                        <i class="trash icon"></i>
                    </a>

                </td>

                <td>
                    <a href="{{ class_url }}" class="published_in_class">
                        {{ item.forum }}
                    </a>
                </td>


            </tr>

        {% endfor %}

    </tbody>

</table>
{% endif %}