{% comment %}

This fragment is a list of the objects attached to menu items

for list

{% endcomment %}
{% if lessonitems %}
<table class="ui table">

    <thead>
        <tr>
            <tr>
                <th class="six wide">Eintrag</th>
                <th class="five wide">Lektion im Klassenzimmer</th>
            </tr>
        </tr>
    </thead>

    <tbody>

        {% for item in lessonitems %}

            {% url 'coursebackend:menu:update' pk=item.pk course_slug=cs slug=es as update_url %}
            {% url 'coursebackend:menu:delete' pk=item.pk course_slug=cs slug=es as delete_url %}
            {% url 'classroom:classlesson:lesson' pk=item.classlesson_id slug=es as class_url %}

            <tr>

                <td>
                    {{ item.display_title }}

                    <a href="{{ update_url }}">
                        <i class="write icon"></i>
                    </a>
                    <a href="{{ delete_url }}">
                        <i class="trash icon"></i>
                    </a>

                </td>

                <td>

                    <a href="{{ class_url }}" class="published_in_class">
                        {{ item.classlesson }}
                    </a>

                    {% if item.classlesson.is_homework %}
                         <a><i class="icon lab orange"></i></a>
                    {% endif %}

                </td>

            </tr>

        {% endfor %}

    </tbody>

</table>
{% endif %}