<a href="{% url 'coursebackend:menu:create' course_slug=course.slug slug=courseevent.slug %}">
    <i class="write plus icon blue"></i>Neuen Menüpunkt anlegen
</a>
<a href="{% url 'coursebackend:menu:preview' course_slug=course.slug slug=courseevent.slug %}">
    <i class="write unhide icon blue"></i>Menü in der Vorschau
</a>
<a href="{% url 'coursebackend:menu:list' course_slug=course.slug slug=courseevent.slug %}">
    <i class="write list icon blue"></i>Komplette Liste
</a>
<a href="{% url 'coursebackend:menu:sort' course_slug=course.slug slug=courseevent.slug %}">
    <i class="write list icon blue"></i>Sortieren
</a>


