{% with e_slug=courseevent.slug c_slug=course.slug %}

    <table class="ui table">

        <thead>
            <tr>
                <tr>
                    <th>bearbeiten?</th>
                    <th>veröffentlicht?</th>
                    <th>Start-Item?</th>
                    <th>Eintrag</th>
                    <th>Eintragsart</th>
                    <th>Verweis auf</th>
                </tr>
            </tr>
        </thead>

        <tbody>
            {% for classroommenuitem in classroommenuitems %}
                <tr>

                    <td>
                        {% with pk=classroommenuitem.pk %}
                            <a href="{% url 'coursebackend:menu:item_update' course_slug=c_slug slug=e_slug pk=pk %}">
                                <i class="icon write blue"></i>
                            </a>
                            <a href="{% url 'coursebackend:menu:item_delete' course_slug=course.slug slug=e_slug pk=pk %}">
                                <i class="icon trash blue"></i>
                            </a>
                        {% endwith %}
                    </td>

                    <td>
                        {% if classroommenuitem.published %}
                            <i class="icon checkmark green"></i>
                        {% endif %}
                    </td>

                    <td>
                        {% if classroommenuitem.is_start_item %}
                            <i class="icon circle red"></i>
                        {% endif %}
                    </td>

                    <td>
                        {{ classroommenuitem.display_title }}
                    </td>

                    <td>
                        {{ classroommenuitem.get_item_type_display }}
                    </td>

                    <td>
                        {% if classroommenuitem.lesson %}
                             {{ classroommenuitem.lesson }}
                        {% elif classroommenuitem.forum %}
                             {{ classroommenuitem.forum }}
                        {% elif classroommenuitem.homework %}
                            {% with pk=classroommenuitem.homework_id %}
                             <a href="{% url 'coursebackend:homework:detail' pk=pk slug=e_slug course_slug=c_slug %}">
                                 {{ classroommenuitem.homework.title }}
                             </a>
                            {% endwith %}
                        {% else %}
                            -
                        {% endif %}
                    </td>

                </tr>

            {% endfor %}

        </tbody>

    </table>

{% endwith %}