{% with e_slug=courseevent.slug c_slug=course.slug %}

    <a href="{{ courseevent.get_absolute_url }}">xx</a>

    <table class="ui table">

        <thead>
            <tr>
                <tr>
                    <th>bearbeiten?</th>
                    <th>Start-Item?</th>
                    <th>Eintrag</th>
                    <th>Eintragsart</th>
                    <th>Verweis auf</th>
                </tr>
            </tr>
        </thead>

        <tbody>
            {% for menuitem in classroommenuitems %}
                {% if menuitem.is_classroom_link %}
                    <tr>

                        <td>
                            {% with pk=menuitem.pk %}
                                {% include 'coursebackend/menu/fragments/_instance_menuitem_worklinks.html' %}
                            {% endwith %}
                        </td>

                        <td>
                            {% if menuitem.is_start_item %}
                                <i class="icon circle red"></i>
                            {% endif %}
                        </td>

                        <td>
                            {{ menuitem.display_title }}
                        </td>

                        <td>
                            {{ menuitem.get_item_type_display }}
                        </td>

                        <td>
                            <a href="{{ menuitem.get_menu_item_classroom_url }}">
                                <i class="icon student"></i>
                            </a>
                            <a href="{{ menuitem.get_menu_item_work_url }}">
                                <i class="icon wrench"></i>
                            </a>
                        </td>

                    </tr>

                {% endif %}
            {% endfor %}

        </tbody>

    </table>

{% endwith %}