<div class="ui fluid vertical menu" id="classroom_preview_menu">

    <div class="header item active" id="classroom_header">
      {{ courseevent.title }}
    </div>

    {% for menuitem in classroommenuitems %}
        {% url 'coursebackend:menu:update' pk=menuitem.pk course_slug=cs slug=es as list_update_url %}
        {% url 'coursebackend:menu:delete' pk=menuitem.pk course_slug=cs slug=es as list_delete_url %}

        <a class="item
        {% if menuitem.pk == object.pk %}active{% endif %}"
        href="{{ list_update_url }}">
            {% if menuitem.pk != object.pk %}
                <i class="write blue icon"></i>
            {% endif %}
            {{ menuitem.display_title }}
        </a>

    {% endfor %}

</div>