<div class="ui fluid vertical menu" id="classroom_menu">

    <div class="header item active" id="classroom_header">
      {{ courseevent.title }}
    </div>

    {% for item in classroommenuitems %}

        {% if item.item_type == item.MENU_ITEM_TYPE.announcements %}
            <a class="item"
                href="{% url 'coursebackend:menu:update' course_slug=course.slug slug=courseevent.slug pk=item.pk %}">
                <i class="announcement icon"></i>
                {{ item.display_title }}
            </a>

        {% elif item.item_type == item.MENU_ITEM_TYPE.forum_item %}
            <a class="item"
                href="{% url 'coursebackend:menu:update' course_slug=course.slug  slug=courseevent.slug pk=item.pk %}">
                <i class="comments outline icon"></i>{{ item.display_title }}
            </a>

        {% elif item.item_type == item.MENU_ITEM_TYPE.homework %}
            <a class="item"
                href="{% url 'coursebackend:menu:update' course_slug=course.slug  slug=courseevent.slug pk=item.pk %}">
                <i class="write icon"></i>{{ item.display_title }}
            </a>

        {% elif item.item_type == item.MENU_ITEM_TYPE.forum_last_posts %}
            <a class="item"
                href="{% url 'coursebackend:menu:update' course_slug=course.slug   slug=courseevent.slug pk=item.pk %}">
                <i class="find icon"></i>{{ item.display_title }}
            </a>

        {% elif item.item_type == item.MENU_ITEM_TYPE.student_private %}
            <a class="item"
                href="{% url 'coursebackend:menu:update' course_slug=course.slug slug=courseevent.slug pk=item.pk %}">
                <i class="privacy icon"></i>{{ item.display_title }}
            </a>

        {% elif item.item_type == item.MENU_ITEM_TYPE.lesson_item %}
            <a class="item"
                href="{% url 'coursebackend:menu:update' course_slug=course.slug slug=courseevent.slug pk=item.pk %}">
                <i class="student icon"></i>{{ item.display_title }}
            </a>

        {% elif item.item_type == item.MENU_ITEM_TYPE.participants_list %}
            <a class="item"
                href="{% url 'coursebackend:menu:update' course_slug=course.slug slug=courseevent.slug pk=item.pk %}">
                <i class="users icon"></i>{{ item.display_title }}
            </a>

        {% elif item.item_type == item.MENU_ITEM_TYPE.header %}
            <a class="header item active"
               href="{% url 'coursebackend:menu:update' course_slug=course.slug slug=courseevent.slug pk=item.pk %}">
                {{ item.display_title }}
            </a>

        {% endif %}

    {% endfor %}

</div>