{% comment %}

This fragment is a list of the objects attached to menu items

for list

{% endcomment %}
{% if listitems %}
<table class="ui table">

    <thead>
        <tr>
            <tr>
                <th class="six wide">Andere Links: Menü-Eintrag</th>
                <th class="five wide">im Klassenzimmer</th>
            </tr>
        </tr>
    </thead>

    <tbody>

        {% for item in listitems %}

            {% url 'coursebackend:menu:update' pk=item.pk course_slug=cs slug=es as update_url %}
            {% url 'coursebackend:menu:delete' pk=item.pk course_slug=cs slug=es as delete_url %}
            {% if item.item_type == item.MENU_ITEM_TYPE.announcements_item %}

                {% url 'coursebackend:announcement:list' course_slug=cs slug=es as work_url %}
                {% url 'classroom:announcement:list' slug=es as class_url %}

            {% elif item.item_type == item.MENU_ITEM_TYPE.last_posts_item %}

                {% url 'classroom:forum:newposts' slug=es as class_url %}
                {% url '' as work_url %}

            {% elif item.item_type == item.MENU_ITEM_TYPE.participants_item %}

                {% url 'coursebackend:participant:list' course_slug=cs slug=es as work_url %}
                {% url 'classroom:participant:list' slug=es as class_url %}

            {% endif %}

            <tr>

                <td>
                    {{ item.display_title }}

                    <a href="{{ update_url }}">
                        <i class="write icon"></i>
                    </a>
                    <a href="{{ delete_url }}">
                        <i class="trash icon"></i>
                    </a>
                    {% if item.is_start_item %}
                        <i class="icon circle red"></i>
                    {% endif %}
                    {% if item.active %}
                        <i class="icon circle green"></i>
                    {% endif %}
                </td>

                <td>
                    <a href="{{ class_url }}" class="published_in_class">
                        {{ item.display_title }}
                    </a>
                </td>

            </tr>

        {% endfor %}

    </tbody>

</table>
{% endif %}
