{% with e_slug=courseevent.slug c_slug=course.slug %}

    <table class="ui table">

        <thead>
            <tr>
                <tr>
                    <th>Eintrag bearbeiten?</th>
                    <th>Start-Item?</th>
                    <th>Eintrag</th>
                    <th>Eintragsart</th>
                    <th>Objekt bearbeiten?</th>
                </tr>
            </tr>
        </thead>

        <tbody>
            {% for item in classroommenuitems %}

                {% url 'coursebackend:menu:update' pk=item.pk course_slug=cs slug=es as update_url %}
                {% url 'coursebackend:menu:delete' pk=item.pk course_slug=cs slug=es as delete_url %}
                {% if item.item_type == item.MENU_ITEM_TYPE.forum_item %}
                    {% url 'coursebackend:forum:detail' pk=item.forum_id course_slug=cs slug=es as forum_url %}
                    {% url 'classroom:forum:detail' pk=item.forum_id slug=es as cforum_url %}
                {% endif %}
                {% if item.is_classroom_link %}
                <tr>

                        <td>
                            <a href="{{ update_url }}">
                                <i class="write icon"></i>
                            </a>
                        </td>

                        <td>
                            {% if item.is_start_item %}
                                <i class="icon circle red"></i>
                            {% endif %}
                            <a href="{{ cforum_url }}">
                                <i class="icon student"></i>
                            </a>
                        </td>

                        <td>
                            {{ item.display_title }}
                        </td>

                        <td>
                            {{ item.get_item_type_display }}
                        </td>

                        <td>
                            <a href="{{ forum_url }}">
                                <i class="icon wrench"></i>
                            </a>
                        </td>

                    </tr>

                {% endif %}

            {% endfor %}

        </tbody>

    </table>

{% endwith %}