{% if node.is_block %}
    <a href="{% url 'coursebackend:lesson_courseevent:blockupdate'  slug=courseevent.slug course_slug=course.slug pk=node.pk %}">
       <i class="icon write"></i>
    </a>
{% elif node.is_lesson %}
    <a href="{% url 'coursebackend:lesson_courseevent:lessonupdate'  slug=courseevent.slug course_slug=course.slug pk=node.pk %}">
       <i class="icon write"></i>
    </a>
{% else %}
    <a href="{% url 'coursebackend:lesson_courseevent:stepupdate'  slug=courseevent.slug course_slug=course.slug pk=node.pk %}">
       <i class="icon write"></i>
    </a>
{% endif %}

{% if node.is_block %}
    <a href="{% url 'coursebackend:lesson_courseevent:delete'  slug=courseevent.slug  course_slug=course.slug pk=node.pk %}">
       <i class="icon trash"></i>
    </a>
{% elif node.is_lesson %}
    <a href="{% url 'coursebackend:lesson_courseevent:delete'  slug=courseevent.slug course_slug=course.slug pk=node.pk %}">
       <i class="icon trash"></i>
    </a>
{% else %}
    <a href="{% url 'coursebackend:lesson_courseevent:delete'  slug=courseevent.slug course_slug=course.slug pk=node.pk %}">
       <i class="icon trash"></i>
    </a>
{% endif %}