{% extends "base_course/base.html" %}
{% block header %}
        Vorlage {{ course.title }} / Unterricht
{% endblock %}
{% block header_controls %}
    {% include 'base_course/_helpcheckbox.html' %}
{% endblock %}
{% block help %}
    {% include 'base_course/_help_materials.html' %}
{% endblock %}
{% block controls %}
    <div class="ui checkbox" id="showdescriptions">
        <input type="checkbox">
        <label>Beschreibungen anzeigen</label>
    </div>
    <div class="ui checkbox" id="status">
        <input type="checkbox">
        <label>Status</label>
    </div>
    <div class="ui checkbox" id="worklinks">
        <input type="checkbox">
        <label>Bearbeitungs-Links</label>
    </div>
{% endblock %}
{% block breadcrumb %}
    <div class="ui breadcrumb">
        <a class="section" href="{% url 'course:lessons' slug=match.kwargs.slug %}">
            {{ course.title }}
        </a>
        <i class="right chevron icon divider"></i>
        <a class="section" href="{% url 'course:blockdetail' slug=match.kwargs.slug block=courseblock.id %}">
            <i class="cube icon"></i>{{ courseblock.title }}
        </a>
        <i class="right chevron icon divider"></i>
        <a class="section" href="{% url 'course:unitdetail' slug=match.kwargs.slug unit=unit.id %}">
            {% if courseblock.is_numbered %}
                {{ unit.display_nr }}.
            {% endif %}
            {{ unit.title }}
        </a>
        <i class="right chevron icon divider"></i>
        <div class="active section">
            {% if courseblock.is_numbered %}
                {{ unit.display_nr }}.{{ material.display_nr }}
            {% endif %}
            {{ material.title }}
        </div>
    </div>
{% endblock %}
{% block page_content %}
    <div class="ui segment">
        <h3 class="ui header">
             <a class="ui header h3"
             href="">
            {% if courseblock.is_numbered %}
                {{ unit.display_nr }}.{{ material.display_nr }}
            {% endif %}
                {{ material.title }}
            </a>
            {% if material.document_type == material.DOCTYPE_PDFVIEWDOWNLOAD or material.document_type == material.DOCTYPE_PDFDOWNLOADONLY %}
                {% if material.file %}
                    <a href="{% url 'course:download' slug=material.slug %}">
                        <i class="download icon blue"></i>
                    </a>
                {% endif %}
            {% endif %}
            {% if material.status == material.STATUS_READY %}
                 <i class="checkmark icon green accomplishment"></i>
            {% endif %}
            <a class="worklink"
                 href="{% url 'course:materialupdate' slug=match.kwargs.slug material=material.id %}">
                 <i class="write blue icon"></i>
            </a>
        </h3>
        <div class="contentdescription">
            {{ unit.description }}
        </div>
        {{ material.text | safe }}
        {% if material.document_type == material.DOCTYPE_PDFVIEWDOWNLOAD %}
            {% if material.file %}
                <object data="{{ material.file.url }}" type="application/pdf" width="100%" height="800px">
                </object>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}