{% extends "base_course/base.html" %}
{% block header %}
    Vorlage {{ course.title }} / Unterricht
{% endblock %}
{% block header_controls %}
    {% include 'base_course/_helpcheckbox.html' %}
{% endblock %}
{% block help %}
    {% include 'base_course/_help_lessons.html' %}
{% endblock %}
{% block controls %}
    <div class="ui checkbox" id="showdescriptions">
        <input type="checkbox">
        <label>Beschreibungen anzeigen</label>
    </div>
    <div class="ui checkbox" id="status">
        <input type="checkbox">
        <label>Status</label>
    </div>
    <div class="ui checkbox" id="worklinks">
        <input type="checkbox">
        <label>Bearbeitungs-Links</label>
    </div>
{% endblock %}
{% block page_content %}
    <div class="ui segment">
    <div class="ui h1 header">Alle Unterrichtsblöcke</div>
    <div class="ui list">
        {% for item in block_list %}

                <div class="item">
                    <i class="top aligned icon cube"></i>
                    <div class="content">
                         <div class="header big">
                            <a
                                href="{% url 'course:blockdetail' slug=match.kwargs.slug block=item.block.id %}">
                                {{ item.block.title }}
                            </a>
                            {% if item.block.status == item.block.STATUS_READY %}
                                 <i class="checkmark icon green accomplishment"></i>
                            {% endif %}
                            <a class="worklink"
                                 href="{% url 'course:blockupdate' slug=match.kwargs.slug block=item.block.id %}">
                                 <i class="write blue icon"></i>
                            </a>
                        </div>
                        <div class="contentdescription">
                        {{ item.block.description }}
                        {{ item.block.text | safe }}
                        </div>
                           <div class="ui divided list">
                                {% for unit in item.units %}
                                    <div class="item">
                      {% if item.block.is_numbered %}
                         <i class="top aligned icon">{{ unit.display_nr }}</i>
                      {% else %}
                         <i class="top aligned thin circle icon"></i>
                      {% endif %}
                                    <div class="content">
                                        <div class="header">
                                           <a href="{% url 'course:unitdetail' slug=match.kwargs.slug unit=unit.id %}"
                                                   >{{ unit.title }}</a>
                                            {% if unit.status == unit.STATUS_READY %}
                                                 <i class="checkmark icon green accomplishment"></i>
                                            {% endif %}
                                            <a class="worklink"
                                                href="{% url 'course:unitupdate' slug=match.kwargs.slug unit=unit.id %}">
                                                <i class="write blue icon"></i>
                                                </a>
                                            </a>

                                        </div>


                                    <div class="contentdescription">
                                        {{ unit.description }}
                                    </div>
                                    </div>
                                 </div>
                                {% endfor %}
                            </div>
                     </div>
                </div>

        {% endfor %}
             </div>
    </div>
{% endblock %}
