{% extends "classroom/base.html" %}



{% block breadcrumbs %}
    {% include 'classroom/forum/fragments/_breadcrumbs.html' %}
{% endblock %}

{% block page_content %}

    <div class="row classroom_white">
        <div class="sixteen wide column" id="whitepaper">

            {% include 'classroom/forum/fragments/_instance_forum.html' %}

            <h4 class="ui horizontal divider header">
                <i class="write icon"></i>
                Beitrag löschen
            </h4>

            {% include 'classroom/forum/fragments/_instance_thread.html' %}
            <div class="ui message warning">
                Willst Du diesen Beitrag wirklich löschen?

            </div>
            {% include 'classroom/forms/_form_delete_thread.html' %}

        </div>
    </div>

{% endblock %}



