{% extends "classroom/base.html" %}


{% block breadcrumbs %}
    {% include 'classroom/forum/fragments/_breadcrumbs.html' %}
{% endblock %}

{% block page_content %}

    <div class="row classroom_white">
        <div class="sixteen wide column" id="whitepaper">

            {% include 'classroom/forum/fragments/_instance_forum.html' %}

            {% include 'classroom/forum/fragments/_recursetree_nodes.html' %}

            {% if forum.can_have_threads %}
                 {% include 'classroom/forum/fragments/_list_threads.html' %}
            {% endif %}

        </div>
    </div>

{% endblock %}
