{% extends "classroom/base.html" %}

{% block classroom_menu_items %}
    {% if request.user in course.teachers or request.user.is_superuser %}
        {% url 'coursebackend:forum:list' course_slug=cs slug=es as back_link %}
        {% url 'coursebackend:menu:preview' course_slug=cs slug=es as menu_link %}   
        <a href="{{ back_link }}" class="item" >
            <i class="wrench icon blue"></i>
        </a>
        <a href="{{ menu_link }}" class="item" >
            <i class="sidebar icon blue"></i>
        </a>
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    {% include 'classroom/forum/fragments/_breadcrumbs.html' %}
{% endblock %}

{% block page_content %}

    <div class="row classroom_white">
        <div class="sixteen wide column" id="whitepaper">

            {% include 'classroom/forum/fragments/_instance_forum.html' %}

            {% include 'classroom/forum/fragments/_recursetree_nodes.html' %}

            {% if forum.can_have_threads %}
                 {% include 'classroom/forum/fragments/_list_threads.html' %}
            {% endif %}

        </div>
    </div>

{% endblock %}
