{% extends "classroom/base.html" %}



{% block breadcrumbs %}
    {% include 'classroom/forum/fragments/_breadcrumbs.html' %}
{% endblock %}

{% block page_content %}

    <div class="row classroom_white">
        <div class="sixteen wide column" id="whitepaper">

            {% include 'classroom/forum/fragments/_instance_thread.html' %}

            {% include 'classroom/forum/fragments/_list_posts.html' %}

            <h4 class="ui horizontal divider header">
                <i class="write icon"></i>
                Einen neue Antwort schreiben?
            </h4>
            {% include 'classroom/forms/_form_post.html' %}

        </div>
    </div>

{% endblock %}