<h2 class="ui aligned center header">
    {{ courseevent.title }} mit  {{ course.teachers_display }}
</h2>
<div class="ui card fluid">
    <div class="content">
        <div class="description">
            <div class="ui grid two columns">
                <div class="column">
                    <div class="ui divided list">
                        <div class="item">
                            <i class="ticket icon"></i>
                            <div class="content">
                                <div class="header">Kursformat:
                                {{ courseevent.get_event_type_display }}</div>
                            </div>
                        </div>
                        {% if courseevent.event_type == courseevent.EVENTTYPE_TIMED_COURSE  %}
                             {% if courseevent.nr_weeks %}
                                  <div class="item">
                                      <i class="map marker icon"></i>
                                      <div class="content">
                                          <a class="header">Dauer: {{ courseevent.nr_weeks }} Wochen</a>
                                      </div>
                                  </div>
                             {% endif %}
                             {% if courseevent.status_external == courseevent.EXTEVENT_OPEN_FOR_BOOKING  %}
                                  <div class="item">
                                      <i class="calendar icon"></i>
                                      <div class="content">
                                          <div class="header">Startdatum:
                                              {{ courseevent.start_date | date:"d. M Y" }}</div>
                                          </div>
                                  </div>
                             {% endif %}
                        {% endif %}
                        <div class="item">
                            <i class="map icon"></i>
                            <div class="content">
                                <div class="header">Status Extern:
                                    {{ courseevent.get_status_external_display }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="ui divided list">
                        {% if courseevent.event_type == courseevent.EVENTTYPE_TIMED_COURSE  %}
                            {% if courseevent.max_participants %}
                                <div class="item">
                                    <i class="users icon"></i>
                                    <div class="content">
                                        <div class="header">maximale Teilnehmeranzahl:
                                            {{ courseevent.max_participants }}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                        <div class="item">
                            <i class="map icon"></i>
                            <div class="content">
                                <div class="header">Status Intern:
                                {{ courseevent.get_status_internal_display }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>