{% extends "coursebackend/base.html" %}
{% block header %}
    Kurseereignis {{ courseevent.title }}
{% endblock %}
{% block header_controls %}
    {{ block.super }}
    <div class="ui checkbox" id="showdescriptions">
        <input type="checkbox">
        <label>Vorlage anzeigen</label>
    </div>
{% endblock %}
{% block help %}
    {% include 'coursebackend/courseevent/_help_update.html' %}
{% endblock %}
{% block page_content %}
    <div class="ui piled segment">
        {% include 'coursebackend/_tabs_course.html' %}
        <div class="contentdescription">
            <div class="ui header">Aus der Kursvorlage:</div>
            {{ exampletext | safe }}
        </div>
        {% include 'coursebackend/_form.html' %}
    </div>
{% endblock %}