            <div class="ui checkbox" id="showdescriptions">
                <input type="checkbox">
                <label>Beschreibungen anzeigen</label>
            </div>
            <div class="ui checkbox" id="expandcontent">
                <input type="checkbox">
                <label>gesamten Text anzeigen</label>
            </div>
            <div class="ui checkbox" id="status">
                <input type="checkbox">
                <label>Status</label>
            </div>
            <div class="ui checkbox" id="worklinks">
                <input type="checkbox">
                <label>bearbeiten</label>
            </div>