<div class="h3 ui header">Kursvorlage</div>
<div class="ui list">
    <div class="item">
        <div class="header">Hier entwirfst Du die Vorlage für Deinen Kursausschreibungen.</div>
        <div class="content">
        <p>Worum geht es in Deinem Kurs? Was erwartet die Teilnehmer?</p>

        <p>Diese Vorlage ist noch nicht die eigentliche Ausschreibung Deines Mentoki-Kurses, aber
        die Gliederung der Texte entspricht bereits der richtigen Kurs-Ausschreibung.

        Du kannst später alle diese Texte als Vorlage für die Ausschreibungen Deiner
        Kurse benutzen.</p>
        </div>
    </div>
</div>