{% extends "coursebackend/base.html" %}

{% block controls %}
    {% include 'coursebackend/_control_help.html' %}
    {% include 'coursebackend/_control_worklinks.html' %}
{% endblock %}

{% block page_subsection %}
    {% include 'coursebackend/course/_element_subsection_header.html' %}
{% endblock %}

{% block page_content %}

    {% include 'coursebackend/course/_element_header.html' %}

    <div id="helpinstructions">
        <div class="ui segment message">
            {% include 'coursebackend/course/_help_detail.html' %}
        </div>
        <p></p>
    </div>

    {% include 'coursebackend/course/_element_detail_display.html' %}

{% endblock %}


