{% extends "classroom/base.html" %}

{% block page_content %}

    <div class="row classroom_background">
        <div class="sixteen wide column">

            <div class="ui large breadcrumb" id ="page-breadcrumb">

                {% include 'classroom/homework/fragments/_breadcrumb.html' %}

            </div>

        </div>
    </div>


    <div class="row classroom_white">
        <div class="sixteen wide column">

            {% include 'classroom/homework/fragments/_instance_stundentswork_work.html' %}

        </div>
    </div>

    <div class="row classroom_white">
        <div class="sixteen wide column">

            {% include 'classroom/forms/_form_studentswork_comment.html' %}

        </div>
    </div>

{% endblock %}
