{% extends "classroom/base.html" %}

{% block classroom_menu_items %}{% endblock %}

{% block page_content %}

    <div class="row classroom_background">
        <div class="sixteen wide column">

            <div class="ui large breadcrumb" id ="page-breadcrumb">

                {% include 'classroom/homework/fragments/_breadcrumb.html' %}

            </div>

        </div>
    </div>

    <div class="row classroom_white">
        <div class="sixteen wide column">

            {% include 'classroom/homework/fragments/_instance_classlessonstep.html' with classlessonstep=homework.classlesson %}

            <h4 class="ui horizontal divider header">
                 <i class="users icon"></i>
            </h4>

            {% include 'classroom/homework/fragments/_instance_homework.html' %}

        </div>
    </div>

    <div class="row classroom_emphasis">
        <div class="sixteen wide column">

            {% include 'classroom/homework/fragments/_list_stundentsworks.html' %}

        </div>
    </div>

{% endblock %}
