{% extends "classroom/base.html" %}

{% block classroom_menu_items %}
    {% if request.user in course.teachers or request.user.is_superuser %}
        {% url 'coursebackend:homework:list' course_slug=cs slug=es as back_link %}

        <a href="{{ back_link }}" class="item" >
            <i class="wrench icon blue"></i>
        </a>

    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    {% include 'classroom/homework/fragments/_breadcrumbs.html' %}
{% endblock %}

{% block page_content %}

    <div class="row classroom_white">
        <div class="sixteen wide column">

            {% include 'classroom/homework/fragments/_instance_stundentswork_work.html' %}

        </div>
    </div>

    <div class="row classroom_white">
        <div class="sixteen wide column">

            {% include 'classroom/homework/fragments/_instance_studentswork_comments.html' %}

        </div>
    </div>

{% endblock %}
