{% comment %}

table of courseowners

for detail/list/update

{% endcomment %}

<table class="ui table">

    <thead>
        <tr>
            <tr>
                <th>bearbeiten / ansehen?</th>
                <th>Name</th>
                <th>Reihenfolge</th>
                <th>anzeigen in der Kursausschreibung?</th>
            </tr>
        </tr>
    </thead>

    <tbody>
        {% for courseowner in courseowners %}

            {% url 'coursebackend:courseowner:update' course_slug=cs pk=courseowner.pk as update_url %}
            {% url 'coursebackend:courseowner:detail' course_slug=cs pk=courseowner.pk as detail_url %}

            <tr>
                <td>
                    <a href="{{ update_url }}">
                        <i class="icon write blue"></i>
                    </a>
                    <a href="{{ detail_url }}">
                        <i class="icon unhide"></i>
                    </a>
                </td>
                <td>
                    <a href="{{ detail_url }}">
                        {{ courseowner.user.get_full_name }}{{ courseowner.username }}
                    </a>
                </td>

                <td>
                    {{ courseowner.display_nr }}
                </td>

                <td>
                    {% if courseowner.display %}
                        ja <i class="icon checkmark green"></i>
                    {% else %}
                        nein
                    {% endif %}
                </td>

            </tr>
        {% endfor %}
    </tbody>
</table>