{% extends "coursebackend/base_course.html" %}

{% block page_content %}

    <div class="row coursebackend_course">
        <div class="sixteen wide column">

            <div class="ui large breadcrumb" id ="page-breadcrumb">

                {% include 'coursebackend/courseowner/fragments/_breadcrumb.html' %}

            </div>

        </div>
    </div>

    <div class="row classroombackend_white">
        <div class="sixteen wide column">

            {% include 'base/fragments/_messages.html' %}

            {% include 'coursebackend/courseowner/fragments/_list_courseowners_table.html' %}

        </div>
    </div>

{% endblock %}