{% url 'coursebackend:course:detail' course_slug=cs as course_url %}

<div class="ui large breadcrumb" id ="page-breadcrumb">

    <!-- section active -->
    {% if url_name != 'list' %}
        <div class="section active">
            Kurs-Vorlage {{ course.title }}
        </div>

    {% else %}

        <!-- section link -->
        <a href="{{ course_url }}" class="section">
            Kurs-Vorlage {{ course.title }}
        </a>

        <i class="right chevron icon divider"></i>

        <!-- list courseevents -->
        <div class="section active">
            Kurs-Ereignisse
        </div>

    {% endif %}

</div>
