{% comment %}

instance course

for detail

{% endcomment %}

{% url 'coursebackend:course:update' course_slug=cs field="title" as update_title_url %}
{% url 'coursebackend:course:update' course_slug=cs field="excerpt" as update_excerpt_url %}
{% url 'coursebackend:course:update' course_slug=cs field="target_group" as update_target_group_url %}
{% url 'coursebackend:course:update' course_slug=cs field="prerequisites" as update_prerequisites_url %}
{% url 'coursebackend:course:update' course_slug=cs field="text" as update_text_url %}
{% url 'coursebackend:course:update' course_slug=cs field="project" as update_project_url %}
{% url 'coursebackend:course:update' course_slug=cs field="structure" as update_structure_url %}

<div class="ui header large">
    Kursvorlage zum Thema: {{ course.title }}
    <a href="{{ update_title_url }}" class= "worklink item">
        <i class="write blue icon"></i>
    </a>
</div>

<div class="ui dividing medium header">Vorlage für die Beschreibung Deiner Kurse</div>
<div class="ui info floating message">
    <p>Was Du hier aufschreibst, kannst Du später in Deine Kurse als Vorlage kopieren. Es
    wird aber nicht direkt für Deine Kursausschreibungen verwendet.</p>
</div>

<h3 class="ui header">
    Abstrakt:
    <a href="{{ update_excerpt_url }}" class= "worklink item">
        <i class="write blue icon"></i>
    </a>
</h3>
{{ course.excerpt |safe  }}

<div class="ui fitted divider"></div>

<h3 class="ui header">
    Zielgruppe:
    <a href="{{ update_target_group_url }}" class= "worklink item">
        <i class="write blue icon"></i>
    </a>
</h3>
{{ course.target_group  | safe }}

<div class="ui fitted divider"></div>

<h3 class="ui header">
    Voraussetzungen:
    <a href="{{ update_prerequisites_url }}" class= "worklink item">
        <i class="write blue icon"></i>
    </a>
</h3>
{{ course.prerequisites |safe }}

<div class="ui fitted divider"></div>

<h3 class="ui header">
    Was nimmt der Teilnehmer aus dem Kurs mit:
    <a href="{{ update_project_url }}" class= "worklink item">
        <i class="write blue icon"></i>
    </a>
</h3>
{{ course.project  |safe  }}

<div class="ui fitted divider"></div>

<h3 class="ui header">
    Gliederung:
    <a href="{{ update_structure_url }}" class= "worklink item">
        <i class="write blue icon"></i>
    </a>
</h3>
{{ course.structure | safe  }}

<div class="ui fitted divider"></div>

<h3 class="ui header">
    Freie Kursbeschreibung:
    <a href="{{ update_text_url }}" class= "worklink item">
        <i class="write blue icon"></i>
    </a>
</h3>
{{ course.text | safe }}