{% comment %}

table of courseevents

for list

{% endcomment %}

<table class="ui table">
    <thead>
        <tr>
            <tr>
                <th>Titel</th>
                <th>Kursformat</th>
                <th>Dauer</th>
                <th>Teilnehmeranzahl</th>
                <th>Startdatum</th>
                <th>Preis</th>
            </tr>
        </tr>
    </thead>
    <tbody>
        {% for courseevent in courseevents %}

            {% url 'coursebackend:courseevent:detail' course_slug=cs slug=courseevent.slug as detail_url %}

            <tr>
                <td>
                    <a href="{{ detail_url }}">
                        {{ courseevent.title  }}
                    </a>
                </td>
                <td>
                    {{ courseevent.get_event_type_display }}
                </td>
                <td>
                    {% if courseevent.nr_weeks %}
                       {{ courseevent.nr_weeks }} Wochen
                    {% endif %}
                </td>
                <td>
                    {% if courseevent.nr_weeks %}
                        {{ courseevent.max_participants }} Teilnehmer
                    {% endif %}
                </td>
                <td>
                    {% if courseevent.start_date %}
                        {{ courseevent.start_date }}
                    {% endif %}
                </td>
                <td>
                    {% if courseevent.price %}
                        {{ courseevent.price }}
                    {% else %}
                        noch nicht bestimmt
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>