{% comment %}

table of courseevents

for list

{% endcomment %}
<p>Wenn das <strong>Klassenzimmer geöffnet</strong> ist gibt es
    für die Teilnehmer einen Link zum Klassenzimmer auf ihrem Schreibtisch.</p>
<p>Wenn der <strong>Kurs unsichtbar</strong> gemacht wird, heisst, dass nur, dass er für Euch im Menü gerade nicht sichtbar ist.
Dadurch wird der Kursraum nicht geschlossen. Ihr könnt das also vorübergehend machen , um an einem Eurer Kurse
zu arbeiten.
</p>
<table class="ui table">
    <thead>
        <tr>
            <th>Kurs</th>
            <th>im Menü sichtbar machen (bearbeiten?)</th>
            <th>Status Klassenzimmer</th>
        </tr>
    </thead>
    <tbody>
        {% for courseevent in courseevents %}

            {% url 'coursebackend:courseevent:detail' course_slug=cs slug=courseevent.slug as detail_url %}
            {% url 'coursebackend:course:alter_courseevent' course_slug=cs pk=courseevent.pk action=AlterCourseEvent.HIDE as hide_url %}
            {% url 'coursebackend:course:alter_courseevent' course_slug=cs pk=courseevent.pk action=AlterCourseEvent.UNHIDE as unhide_url %}
            {% url 'coursebackend:course:alter_courseevent' course_slug=cs pk=courseevent.pk action=AlterCourseEvent.OPEN as open_url %}
            {% url 'coursebackend:course:alter_courseevent' course_slug=cs pk=courseevent.pk action=AlterCourseEvent.CLOSE as close_url %}

            <tr>
                <td>
                    <a href="{{ detail_url }}">
                        {{ courseevent.title  }}<br>
                        {% if courseevent.start_date %}
                           Start: {{ courseevent.start_date }}
                        {% endif %}

                    </a>
                </td>
                <td>
                    {{ courseevent.active | yesno:"angezeigt, versteckt" }}
                    <i class="icon checkmark green"></i>
                    <br>
                    <a href="{{ hide_url }}">verstecken?</a>
                </td>
                <td>
                    {{ courseevent.classroom_open | yesno:"geöffnet, geschlossen" }}
                    {% if courseevent.classroom_open %}
                        <i class="icon checkmark green"></i>
                        <br>
                        <a href="{{ close_url }}"></i>schliessen?</a>
                    {% else %}
                        <i class="icon lock red"></i><br><a href="{{ open_url }}">öffen?</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}

        {% for courseevent in courseevents_hidden %}

            {% url 'coursebackend:courseevent:detail' course_slug=cs slug=courseevent.slug as detail_url %}
            {% url 'coursebackend:course:alter_courseevent' course_slug=cs pk=courseevent.pk action=AlterCourseEvent.HIDE as hide_url %}
            {% url 'coursebackend:course:alter_courseevent' course_slug=cs pk=courseevent.pk action=AlterCourseEvent.UNHIDE as unhide_url %}
            {% url 'coursebackend:course:alter_courseevent' course_slug=cs pk=courseevent.pk action=AlterCourseEvent.OPEN as open_url %}
            {% url 'coursebackend:course:alter_courseevent' course_slug=cs pk=courseevent.pk action=AlterCourseEvent.CLOSE as close_url %}

            <tr style="color:grey;">
                <td>
                    {{ courseevent.title  }}<br>
                    {% if courseevent.start_date %}
                       Start: {{ courseevent.start_date }}
                    {% endif %}
                </td>
                <td>
                    {{ courseevent.active | yesno:"angezeigt, versteckt" }} <i class="icon hide"></i>
                    <br><a href="{{ unhide_url }}">
                    anzeigen?</a>
                </td>
                <td>
                    {{ courseevent.classroom_open | yesno:"geöffnet, geschlossen" }}
                    {% if courseevent.classroom_open %}
                       <i class="icon checkmark green"></i><br>
                       <a href="{{ close_url }}">
                           schliessen?</a>
                    {% else %}
                        <i class="icon lock red"></i>
                        <br><a href="{{ open_url }}">öffen?</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>