{% extends "base_course/base.html" %}
{% load activelink %}
{% block header %}
    Vorlage {{ course.title }}
{% endblock %}
{% block header_controls %}
    {% include 'base_course/_worklinkscheckbox.html' %}
    {% include 'base_course/_helpcheckbox.html' %}
{% endblock %}
{% block help %}
    {% include 'base_course/_help_course.html' %}
{% endblock %}
{% block page_content %}
    <div class="ui piled segment">
        <div class="ui tabular menu">
            <a class="active green item">
            Kursvorlage *
            </a>
            {% for courseevent in courseevents %}
              <a class="item"
                 href="{% url 'course:courseevent' slug=match.kwargs.slug ce_slug=courseevent.slug %}">
                  Kursereignis {{ courseevent.title }}
              </a>
            {% endfor %}
        </div>
        <p>* Diese Beschreibung ist nur für Dich gedacht. Sie dient als Vorlage und wird nicht veröffentlicht.</p>
        <h3 class="ui header">
             Abstrakt
            <a class= "worklink item" href="{% url 'course:courseexcerptupdate' slug=match.kwargs.slug %}">
                <i class="write blue icon"></i>
            </a>
        </h3>
        {{ course.excerpt |safe  }}
        <div class="ui fitted divider"></div>
        <h3 class="ui header">
            Zielgruppe:
            <a class= "worklink item" href="{% url 'course:coursetargetgroupupdate' slug=match.kwargs.slug %}">
                <i class="write blue icon"></i>
            </a>
        </h3>
        {{ course.target_group  |safe }}
        <div class="ui fitted divider"></div>
        <h3 class="ui header">
            Voraussetzungen:
            <a class= "worklink item" href="{% url 'course:courseprerequisitesupdate' slug=match.kwargs.slug %}">
                <i class="write blue icon"></i>
            </a>
        </h3>
        {{ course.prerequisites |safe }}
        <div class="ui fitted divider"></div>
        <h3 class="ui header">
            Was nimmt der Teilnehmer aus dem Kurs mit:
            <a class= "worklink item" href="{% url 'course:courseprojectupdate' slug=match.kwargs.slug %}">
                <i class="write blue icon"></i>
            </a>
        </h3>
        {{ course.project  |safe  }}
        <div class="ui fitted divider"></div>
        <h3 class="ui header">
            Gliederung:
            <a class= "worklink item" href="{% url 'course:coursestructureupdate' slug=match.kwargs.slug %}">
                <i class="write blue icon"></i>
            </a>
        </h3>
        {{ course.structure  |safe  }}
        <div class="ui fitted divider"></div>
        <h3 class="ui header">
            Freie Kursbeschreibung:
            <a class= "worklink item" href="{% url 'course:coursetextupdate' slug=match.kwargs.slug %}">
                <i class="write blue icon"></i>
            </a>
        </h3>
        {{ course.text | safe }}
    </div>
{% endblock %}


