{% extends "classroom/base.html" %}
{% block classroom_header %}
    <h3 class="ui inverted header" id="classroomheader">
        {{ courseevent.courseevent_title }}
        : {{ courseblock.title }} /
        <a href="{% url 'classroom:lesson' slug=match.kwargs.slug unit=unit.id  %}">
            {{ unit.title }}
        </a>
        <div class="ui checkbox" id="expandpage">
            <input type="checkbox">
            <label>Vollbild</label>
        </div>
       {% if previous %}
           <a href="{% url 'classroom:lessonmaterial' slug=match.kwargs.slug material=previous.id unit=match.kwargs.unit %}" >
               <div class="ui label blue circular"><i class="left chevron icon"></i></div>
           </a>
       {% endif %}
       {% if next %}
           <a href="{% url 'classroom:lessonmaterial' slug=match.kwargs.slug material=next.id unit=match.kwargs.unit %}" >
               <div class="ui label blue circular"><i class="right chevron icon"></i></div>
           </a>
       {% endif %}
    </h3>
{% endblock %}

{% block regular_page_content %}
    {% include 'classroom_lessons/_material.html' %}
{% endblock %}
{% block wide_page_content %}
    {% include 'classroom_lessons/_material.html' %}
{% endblock %}
